#refPopup {
  background-color:#F6EDFF;
  position:absolute;
  top:50%;
  left:50%;
  margin-left: -384px;
  margin-top: -298px;  
  opacity:0;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: scale(.2,.2);
  -webkit-transition:1s;
}

#refPopup.displaying {
  opacity:1;
  -webkit-transform: scale(1,1);
}
