#slideCounter {
	background-repeat: no-repeat;
	position: absolute;
	bottom: 34px;
	left: 490px;
	width: 50px;
	text-align: center;
	display: none;
}

#fastTrackSlideCounter {
	background-repeat: no-repeat;
	position: absolute;
	bottom: 34px;
	width: 50px;
	left: 490px;
	text-align: center;
	display: none;
}
#cavitationSlideCounter{
	display: none;
	width: 40px;
	height: 50px;
	position: absolute;
	top: 616px;
	left: 985px;
	font-family:optima;
}
#chemotherapySlideCounter{
	display: none;
	width: 40px;
	height: 50px;
	position: absolute;
	top: 616px;
	left: 985px;
	font-family:optima;
}
#cnsSlideCounter{
	display: none;
	width: 40px;
	height: 50px;
	position: absolute;
	top: 616px;
	left: 985px;
	font-family:optima;
}
#anticoagulationSlideCounter{
	display: none;
	width: 40px;
	height: 50px;
	position: absolute;
	top: 616px;
	left: 985px;
	font-family:optima;
}
#ctlSlideCounter{
	display: none;
	width: 40px;
	height: 50px;
	position: absolute;
	top: 616px;
	left: 985px;
	font-family:optima;
}
#hypertensionSlideCounter{
	display: none;
	width: 40px;
	height: 50px;
	position: absolute;
	top: 616px;
	left: 985px;
	font-family:optima;
}
#elderlySlideCounter{
	display: none;
	width: 40px;
	height: 50px;
	position: absolute;
	top: 616px;
	left: 985px;
	font-family:optima;
}

