<article id="IN_intro" data-ag-slide-name="Inicio" class="slide">
    <div id="fondoSlideIntro" class="fondoSlide"></div>
    <div id="logoSlideIntro" class="logoSlide"></div>
    <div id="img1"></div>
    <div id="img2"></div>
    <div id="tituloNegSlideIntro">
        TODOS LOS
        <br>
        <span id="tituloGdeSlideIntro">BENEFICIOS</span>
        <br> DE HERCEPTIN<sup>&reg;</sup>
        <br> EN 5 MINUTOS
        <br>
    </div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
</article>