<article id="referencias" data-ag-slide-name="Referencias" class="slide">
	<div id="fondo_referencias">
		<div class="glassAvastinColon"></div>
		<div id="texto1_referencias">
			Referencia:
		</div> 
		<div id="texto2_referencias">
			1. Van Cutsem, Arnold and Cervantes. Session XIX: Metastatic Colorectal Cancer.<br/>
			   World Congress on Gastrointestinal Cancer ESMO 2015. 
		</div>
	</div>
</article>