<div class="slide-collection hidden">
	<div class="scroll-horizontal">
		<div>
			<img src="content/img/ST_savedtracks/thumbnail.png"/>
		</div>
	</div>
</div>
<div class="open"></div>
<div class="button-group">
	<button class="start-presentation">Inicio Presentación</button>
	<label>{name}</label>
	<label>Build: {date}</label>
	<button class="edit-presentation">Fin Presentación</button>
</div>
<button class="delete-presentation"></button>