<article id="slide4" data-ag-slide-name="Herceptin&reg; en 5 minutos" class="slide">
    <div class="logoSlide"></div>
    <div class="fondoSlide"></div>
    <div id="tituloSlide">
        Administrar <span>Herceptin<sup>&reg;</sup></span>,
        <br/>
        <span2>como parte del tratamiento, en <span>sólo 5 minutos<sup>3</sup></span></span2>
    </div>
    <div id="subTituloSlide">
        La nueva formulación <span>Herceptin<sup>&reg;</sup> SC 600</span> ofrece los beneficios de <span>Herceptin<sup>&reg;</sup></span> en sólo 5 minutos<sup>3</sup>
    </div>
    <div id="txt1">Mediana del tiempo
        <br/> de administración (min)</div>
    <div id="txt2">
        Tiempo promedio de administración de <span>Herceptin<sup>&reg;</sup> IV</span> <i>vs.</i> <span>Herceptin<sup>&reg;</sup> SC 600<sup>5</sup></span>
    </div>
    <div id="txt3">• Menos tiempo de
        <span> administración <i>vs.</i>
            <br> la formulación IV<sup>3</sup></span>
    </div>
    <div id="txt4">• Menos tiempo total
        <span><br> en el hospital para
        <br> las pacientes<sup>3</sup></span></div>
    <div id="txt5">• Más conveniente para
        <span><br> el paciente<sup>1,3</sup> y para
        <br> los profesionales de
        <br> la salud<sup>6</sup></span></div>
    <div id="textoGrafico1" class="subTituloSlide">
        <span>IV</span>
        <br> Dosis de carga
    </div>
    <div id="textoGrafico2" class="subTituloSlide">
        <span>IV</span>
        <br> Dosificación posterior
    </div>
    <div id="textoGrafico3" class="subTituloSlide">
        <span>SC</span>
        <br> Todas las inyecciones
    </div>
    <div id="textoGrafico4" class="subTituloSlide fadeIn">
        <span>90.5</span> min
    </div>
    <div id="textoGrafico5" class="subTituloSlide fadeIn">
        <span>42.9</span> min
    </div>
    <div id="textoGrafico6" class="subTituloSlide fadeIn">
        <span>3.3</span> min
    </div>
    <div id="subTitulo3Slide4" class="subTituloSlide">
        Estudio HannaH
    </div>
    <div id="img2"></div>
    <div id="zoom"></div>
    <div id="lineas_grafico"></div>
    <div id="contiene_barras">
        <div id="barras" class="mueveBarrasVertical"></div>
    </div>
    <div id="linea_abajo_grafico"></div>
    <div id="fondoPopup">
        <div id="txt6">Tiempo promedio de administración de <span>Herceptin<sup>&reg;</sup> IV</span> vs. <span>Herceptin<sup>&reg;</sup> SC 600<sup>5</sup></span></div>
        <div id="txt7">Mediana del tiempo
            <br/> de administración (min)</div>
        <div id="txt8" class="fadeIn">90.5 <span>min</span></div>
        <div id="txt9" class="fadeIn">42.9 <span>min</span></div>
        <div id="txt10" class="fadeIn">3.3 <span>min</span></div>
        <div id="txt11">IV
            <br/>
            <span>Dosis de carga</span></div>
        <div id="txt12">IV
            <br/>
            <span>Dosificación posterior</span></div>
        <div id="txt13">SC
            <br/>
            <span>Todas las inyecciones</span></div>
        <div id="contiene_barrasPopup">
            <div id="barrasPopup" class="mueveBarrasVertical"></div>
        </div>
        <div id="linea_abajo_grafico_popup"></div>
        <div id="btnCierraZoom"></div>
    </div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
</article>