<article id="slide66" data-ag-slide-name="Dosis y administracón Herceptin SC 1.3" class="slide">
    <div id="fondoSlide66">
        <div id="txtTituloSlide67" class="txtTitulo">Herceptin<sup>&reg;</sup> SC 600 <span>Dosis y administración</span> </div>
        <div id="menuSlide67">
            <div id="dosiSlide66" class="itemMenuSlide67">DOSIS</div>
            <div class="btnDosis"></div>
            <img id="linea1Slide66" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="preparacionSlide66" class="itemMenuSlide67">PREPARACIÓN</div>
            <div class="btnPreparacion2"></div>
            <img id="linea2Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="administracionSlide66" class="itemMenuSlide67">ADMINISTRACIÓN</div>
            <div class="btnAdministracion"></div>
            <img id="linea3Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="almacenamientoSlide66" class="itemMenuSlide67">ALMACENAMIENTO</div>
            <div class="btnAlmacenamiento"></div>
            <img id="linea4Slide67" src="content/img/slide67/lineaActiva.png" alt="">
            <div id="vialSlide66" class="itemMenuSlide67">VIAL</div>
            <div class="btnVital"></div>
            <img id="linea5Slide67" src="content/img/slide67/lineaNormal.png" alt="">
        </div>
        <div class="fondoColumnasSlide67">
            <div id="cuadroAlmacenamiento">
                <div id="txt1Almacenamiento">HERCEPTIN<sup>&reg;</sup> SC
                    <verde>600</verde>
                </div>
                <div id="txt2Almacenamiento">HERCEPTIN<sup>&reg;</sup>
                    <verde>IV</verde>
                </div>
                <img src="content/img/slide67/bullets.png" alt="" id="imgBulletsAlmacenamiento">
                <div id="txt3Almacenamiento">Guarde los viales de 2-8 °C<sup>10</sup> </div>
                <div id="txt4Almacenamiento">Almacenar con el envase original
                    <br> para protegerlo de la luz<sup>10</sup></div>
                <div id="txt5Almacenamiento">No congele<sup>10</sup></div>
                <div id="txt6Almacenamiento">Una vez retirado de la refrigeración,
                    <br> administrar dentro de 6 horas<sup>10</sup></div>
                <div id="txt7Almacenamiento">No mantenga arriba de 25 °C<sup>10</sup></div>
                <div id="txt8Almacenamiento">
                    Guarde los viales de 2–8 ˚C<sup>13</sup>
                    <br> 440 mg Herceptin<sup>&reg;</sup> polvo para
                    <br> reconstitución
                    <sup>13</sup>
                    <br>
                </div>
                <div id="txt9Almacenamiento">
                    – ABPI§ estable durante 28 días
                    <br> &nbsp; &nbsp; almacenada de 2-8°C<sup>13</sup>
                </div>
                <div id="txt10Almacenamiento">
                    – Descartar cualquier porción no
                    <br> &nbsp; &nbsp; utilizada de AEPI§<sup>13</sup>
                </div>
                <div id="txt11Almacenamiento">
                    – Reconstitución de bolsas con 9.0%
                    <br> &nbsp; &nbsp; NaCl almacenado a 2-8°C
                    < 24 h.<sup>13</sup>
                </div>
                <div id="txt12Almacenamiento">
                    – Cualquier resto de solución
                    <br> &nbsp; &nbsp; reconstituida debe desecharse<sup>13</sup>
                </div>
            </div>
        </div>
        <div class="texto_mensaje_footer">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>
</article>