<article id="slide40" data-ag-slide-name="Cierre beneficios Herceptin SC" class="slide">
    <div id="fondo">
        <div id="Fondo_Slide40">
            <div id="txt1">TODOS LOS
                <br/> <span>BENEFICIOS</span>
                <br/> DE HERCEPTIN<sup>&reg;</sup>
                <br/> EN 5 MINUTOS</div>
            <div id="txt2"><span>Herceptin<sup>&reg;</sup> SC 600</span> una administración más rápida<sup>3</sup>
                <br/> y más conveniente<sup>1</sup>, libera recursos de la clínica<sup>6</sup> y ayuda a las pacientes
                <br/> a seguir adelante con sus vidas</div>
            <div id="txt3">ADMINISTRACIÓN
                <br/> EN 5 MINUTOS<sup>3</sup></div>
            <div id="txt4">EFICACIA Y SEGURIDAD
                <br/> COMPARABLE A HERCEPTIN<sup>&reg;</sup> IV<sup>3</sup></div>
            <div id="txt5">AHORRO DE TIEMPO<sup>12</sup>
                <br/> <span>LIBERA RECURSOS CLÍNICOS<sup>6</sup></span></div>
            <div id="txt6">PREFERIDO
                <br/> POR LAS PACIENTES<sup>6</sup></div>
            <div id="txt7">5
                <br/>minutos</div>
            <div id="lupa1"></div>
            <div id="lupa2"></div>
            <div id="lupa3"></div>
            <div id="lupa4"></div>
            <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
        </div>
    </div>
    <div id="popUpLupa1" class="fondoPopUp2">
        <div id="fondoLupa1">
            <div id="txt8"><span>5</span>
                <br/>minutos</div>
            <div id="txt9">ADMINISTRACIÓN
                <br/> EN 5 MINUTOS<sup>3</sup>
            </div>
            <div id="txt10">
                MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
            </div>
            <div id="cierraLupa1"></div>
        </div>
    </div>
    <div id="popUpLupa2" class="fondoPopUp2">
        <div id="fondoLupa2">
            <div id="txt11">EFICACIA Y SEGURIDAD
                <br/> COMPARABLE A HERCEPTIN<sup>&reg;</sup> IV<sup>3</sup>
            </div>
            <div id="txt12">
                MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
            </div>
            <div id="cierraLupa2"></div>
        </div>
    </div>

    <div id="popUpLupa3" class="fondoPopUp2">
        <div id="fondoLupa3">
            <div id="txt13">AHORRO DE TIEMPO<sup>12</sup><br/>
<span>LIBERA RECURSOS CLÍNICOS<sup>6</sup></span> 
            </div>
            <div id="txt14">
                MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
            </div>
            <div id="cierraLupa3"></div>
        </div>
    </div>

    <div id="popUpLupa4" class="fondoPopUp2">
        <div id="fondoLupa4">
            <div id="txt15">PREFERIDO<br/>
POR LAS PACIENTES<sup>6</sup>
            </div>
            <div id="txt16">
                MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
            </div>
            <div id="cierraLupa4"></div>
        </div>
    </div>
</article>