<article id="slide26" data-ag-slide-name="Dosis fija" class="slide">
    <div class="logoSlide"></div>
    <div id="fondo_slide26"></div>
    <div id="txt1"><span>Herceptin<sup>&reg;</sup> SC 600</span>
        <br/>
        <span2><span>eficacia y seguridad</span> comparables a Herceptin<sup>&reg;</sup> IV<sup>3</sup></span2>
    </div>
    <div id="txt2">El perfil de seguridad de <span>Herceptin<sup>&reg;</sup> SC 600</span> es <span>comparable y consistente</span>
        <br/> con el perfil de seguridad conocido de <span>Herceptin<sup>&reg;</sup> IV<sup>3</sup></span></div>
    <div id="txt3">Reporte de EAs en HannaH</div>
    <div id="txt4">EAs<sup>3</sup></div>
    <div id="txt5">Total de pacientes
        <br/> con al menos un EA</div>
    <div id="txt6">Graves (grado&gt;3)</div>
    <div id="txt7">Seguridad cardíaca</div>
    <div id="txt8">Disminución de la FEVI<sup>3</sup></div>
    <div id="txt9">ICC sintomática<sup>3</sup></div>
    <div id="txt10">EAs cardíacos<sup>3</sup></div>
    <div id="txt11">Herceptin<sup>&reg;</sup> SC 600
        <br/>
        <span>Pacientes n(%)</span></div>
    <div id="txt12">Herceptin<sup>&reg;</sup> IV
        <br/><span>Pacientes n(%)</span></div>
    <div id="txt13">289 (97.3%)</div>
    <div id="txt14">154 (51.9%)</div>
    <div id="txt15">7 (2.4%)</div>
    <div id="txt16">2 (0.7%)</div>
    <div id="txt17">4 (1.3%)</div>
    <div id="txt18">280 (93.9%)</div>
    <div id="txt19">155 (52%)</div>
    <div id="txt20">6 (2.1%)</div>
    <div id="txt21">0 (0%)</div>
    <div id="txt22">2 (&lt;1%)</div>
    <div id="txt23">Los eventos adversos
        <br/> más frecuentes
        <br/> (EAs;> 25% en
        <br/> cualquiera de los
        <br/> brazos) fueron
        <br/> alopecia, náusea,
        <br/> neutropenia,
        <br/> diarrea, astenia
        <br/> y fatiga<sup>3</sup></div>
        <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    <div id="zoom"></div>
    <div id="fondoPopup_slide26">
        <div id="scale">
            <div id="txt24">Reporte de EAs en HannaH</div>
            <div id="txt25">EAs<sup>3</sup></div>
            <div id="txt26">Total de pacientes
                <br/> con al menos un EA</div>
            <div id="txt27">Graves (grado&gt;3)</div>
            <div id="txt28">Seguridad cardíaca</div>
            <div id="txt29">Disminución de la FEVI<sup>3</sup></div>
            <div id="txt30">ICC sintomática<sup>3</sup></div>
            <div id="txt31">EAs cardíacos<sup>3</sup></div>
            <div id="txt32">Herceptin<sup>&reg;</sup> SC 600
                <br/>
                <span>Pacientes n(%)</span></div>
            <div id="txt33">Herceptin<sup>&reg;</sup> IV
                <br/><span>Pacientes n(%)</span></div>
            <div id="txt34">289 (97.3%)</div>
            <div id="txt35">154 (51.9%)</div>
            <div id="txt36">7 (2.4%)</div>
            <div id="txt37">2 (0.7%)</div>
            <div id="txt38">4 (1.3%)</div>
            <div id="txt39">280 (93.9%)</div>
            <div id="txt40">155 (52%)</div>
            <div id="txt41">6 (2.1%)</div>
            <div id="txt42">0 (0%)</div>
            <div id="txt43">2 (&lt;1%)</div>
        </div>
        <div id="btnCierraZoom"></div>
    </div>
</article>