<article id="slide46" data-ag-slide-name="18 ciclos son estándar de tratamiento" class="slide">
 <div id="Fondo_Slide46">
     <div id="txt1"><span>18 ciclos de Herceptin<sup>&reg;</sup> SC<sup>3</sup></span><br/>
son el estándar de tratamiento en CMt HER2 positivo<sup>14</sup></div>
     <div id="txt2">1 año de <span>Herceptin<sup>&reg;</sup></span> cambia la historia natural del cáncer de mama<sup>15,16</sup></div>
     <div id="txt3">Supervivencia libre de enfermedad de<br/> 
<span>Herceptin<sup>&reg;</sup></span> 1 año vs. observación<sup>18</sup></div>
     <div id="txt4">Estudio HERA<sup>14</sup></div>
     <div id="txt5">Estudio PHARE<sup>17</sup></div>
     <div id="txt6">1 año de <span>Herceptin<sup>&reg;</sup></span> aporta un beneficio significativo<br/>
   en SLE vs. 2 años<sup>14</sup></div>
     <div id="txt7">PHARE confirmó que 1 año<br/>
  de tratamiento con <span>Herceptin<sup>&reg;</sup></span> es<br/>
  el estándar en CMt HER2 positivo<sup>17</sup></div>
     <div id="txt8"><span>SLE</span> = Supervivencia libre de enfermedad, <span>CMt</span> = Cáncer de mama temprano, <span>RR</span> = Razón de riesgo, <span>m</span> = meses, <span>IC</span> = Intervalo de confianza</div>
     <div id="txt9">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>

     <div id="txt10">0</div>
     <div id="txt11">1</div>
     <div id="txt12">2</div>
     <div id="txt13">3</div>
     <div id="txt14">4</div>
     <div id="txt15">5</div>
     <div id="txt16">6</div>
     <div id="txt17">7</div>
     <div id="txt18">8</div>
     <div id="txt19">9</div>
     <div id="txt20">10</div>

     <div id="txt21">0</div>
     <div id="txt22">1</div>
     <div id="txt23">2</div>
     <div id="txt24">3</div>
     <div id="txt25">4</div>
     <div id="txt26">5</div>
     <div id="txt27">6</div>
     <div id="txt28">7</div>
     <div id="txt29">8</div>
     <div id="txt30">9</div>

     <div id="txt31">0</div>
     <div id="txt32">12</div>
     <div id="txt33">24</div>
     <div id="txt34">36</div>
     <div id="txt35">48</div>

     <div id="txt36">Años desde la aleatorización</div>
     <div id="txt37">Tiempo (años desde la aleatorización)</div>
     <div id="txt38">Meses después de la asignación al azar</div>

     <div id="txt39">Supervivencia libre de enfermedad (%)</div>
     <div id="txt40">AC<span>→</span>P + H</div>
     <div id="txt41">AC<span>→</span>P</div>
     <div id="txt42">73.7%</div>
     <div id="txt43">62.2%</div>
     <div id="txt44">HR, 0.60 (95% IC: 0.53–0.68)<br/>p&#60;0.001</div>
     <div id="txt45">Brazos<br/>de tratamiento</div>
     <div id="txt46">N</div>
     <div id="txt47">Eventos</div>
     <div id="txt48">473</div>
     <div id="txt49">2,028</div>
     <div id="txt50">AC<span>→</span>P + H</div>
     <div id="txt51">AC<span>→</span>P</div>
     <div id="txt52">2,018</div>
     <div id="txt53">680</div>

     <div id="txt54">Supervivencia libre de enfermedad</div>
     <div id="txt55">89.1%</div>
     <div id="txt56">81.6%</div>
     <div id="txt57">75%</div>
     <div id="txt58">76.0%</div>
     <div id="txt59">81.0%</div>
     <div id="txt60">86.7%</div>
     <div id="txt61">Duración de<br/>Herceptin<sup>®</sup></div>
     <div id="txt62">Número de<br/>pacientes</div>
     <div id="txt63">Eventos</div>
     <div id="txt64">RR<br/>(2 años <i>vs.</i> 1 año)</div>
     <div id="txt65">95% IC</div>
     <div id="txt66"><i>p</i>-valor</div>
     <div id="txt67">0.86</div>
     <div id="txt68">0.85–1.14</div>
     <div id="txt69">0.99</div>
     <div id="txt70">367</div>
     <div id="txt71">1,553</div>
     <div id="txt72">2 años</div>
     <div id="txt73">1 año</div>
     <div id="txt74">1,552</div>
     <div id="txt75">367</div>

     <div id="txt76">Supervivencia libre de enfermedad</div>
     <div id="txt77">87.8%</div>
     <div id="txt78">84.9% </div>
     <div id="txt79">Modalidad</div>
     <div id="txt80">Número de<br/> 
        eventos<br/> 
con SLE</div>
     <div id="txt81">RR</div>
     <div id="txt82">95% IC</div>
     <div id="txt83"><i>p</i>-valor</div>
     <div id="txt84">–</div>
     <div id="txt85">–</div>
     <div id="txt86">–</div>
     <div id="txt87">Herceptin<sup>&reg;</sup> 12 m</div>
     <div id="txt88">Herceptin<sup>&reg;</sup> 6 m</div>
     <div id="txt89">219</div>
     <div id="txt90">1.2</div>
     <div id="txt91">1.05–1.56</div>
     <div id="txt92">0.29</div>
     <div id="txt93">175</div>

     <div id="lupa1"></div>
     <div id="lupa2"></div>
     <div id="lupa3"></div>
 </div>
 <div id="popUpLupa1" class="fondoPopUp">
     <div id="fondoLupa1">
        <div id="contenedor_linea"><div id="linea" class="mueveGrafica"></div></div>
         <div id="txt94">Supervivencia libre de enfermedad de<br/> 
Herceptin<sup>&reg;</sup> 1 año <i>vs.</i> observación<sup>18</sup></div>
         <div id="txt95">Supervivencia libre de enfermedad (%)</div>
         <div id="txt96">Años desde la aleatorización</div>
         <div id="txt97">HR, 0.60 (95% IC: 0.53–0.68)<br/>p&#60;0.001</div>
         <div id="txt98">Brazos<br/>de tratamiento</div>
         <div id="txt99">N</div>
         <div id="txt100">Eventos</div>
         <div id="txt101">473</div>
         <div id="txt102">2,028</div>
         <div id="txt103">AC<span>→</span>P + H</div>
         <div id="txt104">AC<span>→</span>P</div>
         <div id="txt105">2,018</div>
         <div id="txt106">680</div>
         <div id="txt107" class="fadeIn">62.2%</div>
         <div id="txt108" class="fadeIn">73.7%</div>
         <div id="txt109" class="fadeIn">AC<span>→</span>P + H</div>
         <div id="txt110" class="fadeIn">AC<span>→</span>P</div>
         <div id="txt111">0</div>
         <div id="txt112">1</div>
         <div id="txt113">2</div>
         <div id="txt114">3</div>
         <div id="txt115">4</div>
         <div id="txt116">5</div>
         <div id="txt117">6</div>
         <div id="txt118">7</div>
         <div id="txt119">8</div>
         <div id="txt120">9</div>
         <div id="txt121">10</div>
         <div id="cierraLupa1"></div>
         <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
     </div>
 </div>

 <div id="popUpLupa2" class="fondoPopUp">
     <div id="fondoLupa2">
        <div id="contenedor_linea2"><div id="linea2" class="mueveGrafica"></div></div>
         <div id="txt122">Estudio HERA<sup>14</sup></div>
         <div id="txt123">Supervivencia libre de enfermedad</div>
         <div id="txt124">Tiempo (años desde la aleatorización)</div>
         <div id="txt125" class="fadeIn">89.1%</div>
         <div id="txt126" class="fadeIn">81.6%</div>
         <div id="txt127" class="fadeIn">75%</div>
         <div id="txt128" class="fadeIn">76.0%</div>
         <div id="txt129" class="fadeIn">81.0%</div>
         <div id="txt130" class="fadeIn">86.7%</div>
         <div id="txt131">Duración de<br/>Herceptin<sup>®</sup></div>
         <div id="txt132">Número de<br/>pacientes</div>
         <div id="txt133">Eventos</div>
         <div id="txt134">RR <br/>(2 años <i>vs.</i> 1 año)</div>
         <div id="txt135">95% IC</div>
         <div id="txt136"><i>p</i>-valor</div>
         <div id="txt137">0.86</div>
         <div id="txt138">0.85–1.14</div>
         <div id="txt139">0.99</div>
         <div id="txt140">367</div>
         <div id="txt141">1,552</div>
         <div id="txt142">1 año</div>
         <div id="txt143">2 años</div>
         <div id="txt144">1,553</div>
         <div id="txt145">367</div>
         <div id="txt146">0</div>
         <div id="txt147">1</div>
         <div id="txt148">2</div>
         <div id="txt149">3</div>
         <div id="txt150">4</div>
         <div id="txt151">5</div>
         <div id="txt152">6</div>
         <div id="txt153">7</div>
         <div id="txt154">8</div>
         <div id="txt155">9</div>
         <div id="cierraLupa2"></div>
         <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
     </div>
 </div>

 <div id="popUpLupa3" class="fondoPopUp">
     <div id="fondoLupa3">
        <div id="contenedor_linea3"><div id="linea3" class="mueveGrafica"></div></div>
        <div id="txt156">Estudio PHARE<sup>17</sup></div>
        <div id="txt157">Supervivencia libre de enfermedad</div>
        <div id="txt158">Meses después de la asignación al azar</div>
        <div id="txt159">0</div>
        <div id="txt160">12</div>
        <div id="txt161">24</div>
        <div id="txt162">36</div>
        <div id="txt163">48</div>
        <div id="txt164">60</div>
        <div id="txt165">0.29</div>
        <div id="txt166">1.05–1.56</div>
        <div id="txt167">1.2</div>
        <div id="txt168">219</div>
        <div id="txt169">Herceptin<sup>&reg;</sup> 6 m</div>
        <div id="txt170">Herceptin<sup>&reg;</sup> 12 m</div>
        <div id="txt171">175</div>
        <div id="txt172">-</div>
        <div id="txt173">-</div>
        <div id="txt174">-</div>
        <div id="txt175"><i>p</i>-valor</div>
        <div id="txt176">95% IC</div>
        <div id="txt177">RR</div>
        <div id="txt178">Número de <br/>
            eventos <br/>
con SLE</div>
        <div id="txt179">Modalidad</div>
        <div id="txt180" class="fadeIn">84.9% </div>
        <div id="txt181" class="fadeIn">87.8%</div>
         <div id="cierraLupa3"></div>
         <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
     </div>
 </div>
</article>