<article id="slide64" data-ag-slide-name="Dosis y administracón Herceptin SC 1.1" class="slide">
    <div id="fondoSlide64">
        <div id="txtTituloSlide67" class="txtTitulo">Herceptin<sup>&reg;</sup> SC 600 <span>Dosis y administración</span> </div>
        <div id="menuSlide67">
            <div id="dosiSlide64" class="itemMenuSlide67">DOSIS</div>
            <div class="btnDosis"></div>
            <img id="linea1Slide66" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="preparacionSlide64" class="itemMenuSlide67">PREPARACIÓN</div>
            <div class="btnPreparacion2"></div>
            <img id="linea2Slide67" src="content/img/slide67/lineaActiva.png" alt="">
            <div id="administracionSlide64" class="itemMenuSlide67">ADMINISTRACIÓN</div>
            <div class="btnAdministracion"></div>
            <img id="linea3Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="almacenamientoSlide64" class="itemMenuSlide67">ALMACENAMIENTO</div>
            <div class="btnAlmacenamiento"></div>
            <img id="linea4Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="vialSlide64" class="itemMenuSlide67">VIAL</div>
            <div class="btnVital"></div>
            <img id="linea5Slide67" src="content/img/slide67/lineaNormal.png" alt="">
        </div>
        <div class="fondoColumnasSlide67">
            <div id="cuadroAlmacenamiento">
                <div id="txt1">HERCEPTIN<sup>&reg;</sup> SC
                    <verde>600</verde>
                </div>
                <div id="txt2">HERCEPTIN<sup>&reg;</sup>
                    <verde>IV</verde>
                </div>
                <img src="content/img/slide64/bullets.png" alt="" id="imgBullets">
                <div id="txt3">Ninguna. Lista para su uso<sup>10</sup> </div>
                <div id="txt4">Una vez transferido el
                    <br> medicamento desde el
                    <br> vial a la jeringa, es física
                    <br> y químicamente <span>estable</span>
                    <br> por <span>48 horas en 2–8 °C <br></span> y posteriormente <span>6 horas <br>
                a temperatura ambiente <br></span> (máx. 25 °C) con luz
                    <br> natural difusa<sup>10</sup></div>
                <div id="txt5">Composición de solución
                    <br> para la infusión IV<sup>13</sup></div>
            </div>
        </div>
        <div class="texto_mensaje_footer">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>
</article>