<article id="slide53" data-ag-slide-name="Video de administración" class="slide">
    <div id="fondo">
        <div id="txtTituloSlide53" class="txtTitulo"><span>Herceptin SC<sup>&reg;</sup> 600</span>
            <span2>Video Administración</span2>
        </div>
        <video id="videoslide53" width="671" height="588" controls poster="content/img/slide53/video1.png" onclick="this.play();">
            <source src="content/video/VIDEO_ADMINISTRACION_COMPLETO/VIDEO_ADMINISTRACION_HERCEPTIN_SC_29AGO17.mp4" type="video/mp4">
        </video>
        <div id="txt1">INTRODUCCIÓN</div>
        <div id="txt2">PREPARACIÓN</div>
        <div id="txt3">ADMINISTRACIÓN</div>
        <div id="enviaIntroducion"></div>
        <div id="enviaPreparacion"></div>
        <div id="enviaAdministra"></div>
    </div>
</article> 