<article id="slide63" data-ag-slide-name="Dosis y administracón Herceptin SC" class="slide">
    <div id="fondoSlide63">
        <div id="txtTituloSlide67" class="txtTitulo">Herceptin<sup>&reg;</sup> SC 600 <span>Dosis y administración</span> </div>
        <div id="menuSlide67">
            <div id="dosiSlide63" class="itemMenuSlide67">DOSIS</div>
            <div class="btnDosis"></div>
            <img id="linea1Slide66" src="content/img/slide67/lineaActiva.png" alt="">
            <div id="preparacionSlide63" class="itemMenuSlide67">PREPARACIÓN</div>
            <div class="btnPreparacion2"></div>
            <img id="linea2Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="administracionSlide63" class="itemMenuSlide67">ADMINISTRACIÓN</div>
            <div class="btnAdministracion"></div>
            <img id="linea3Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="almacenamientoSlide63" class="itemMenuSlide67">ALMACENAMIENTO</div>
            <div class="btnAlmacenamiento"></div>
            <img id="linea4Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="vialSlide63" class="itemMenuSlide67">VIAL</div>
            <div class="btnVital"></div>
            <img id="linea5Slide67" src="content/img/slide67/lineaNormal.png" alt="">
        </div>
        <div class="fondoColumnasSlide67">
            <div id="cuadroAlmacenamiento">
                <div id="txt1">HERCEPTIN<sup>&reg;</sup> SC
                    <verde>600</verde>
                </div>
                <div id="txt2">HERCEPTIN<sup>&reg;</sup>
                    <verde>IV</verde>
                </div>
                <div id="txt3">Dosis fija</div>
                <div id="txt4">600 mg en 5 ml</div>
                <div id="txt5">c3s<sup>10</sup>
                    <br> no se requiere dosis de carga
                </div>
                <div id="txt6">Dosis inicial</div>
                <div id="txt7">8 mg/kg (régimen c3s)<sup>13</sup>
                    <br> 4 mg/kg (régimen c1s)<sup>13</sup>
                </div>
                <div id="txt8">Dosis subsecuente</div>
                <div id="txt9">De acuerdo con el peso corporal
                    <br> 6 mg/kg (c3s)
                    <br> o
                    <br> 2 mg/kg (c1s)<sup>13</sup></div>
            </div>
        </div>
        <div class="texto_mensaje_footer">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>
</article>