<article id="slide56" data-ag-slide-name="Video de administración 1.3" class="slide">
    <div id="fondo">
        <video id="videoslide56" width="1027" height="699" controls poster="content/img/slide56/video1.png" onclick="this.play();">
            <source src="content/video/VIDEO_ADMINISTRACION_POR_PARTES/4_VIDEO_ADMIN_HERCEPTIN_SC.mp4" type="video/mp4">
        </video>
    </div>
</article>