<article id="slide10" data-ag-slide-name="Diseño del estudio Hannah" class="slide">
    <div class="logoSlide"></div>
    <div class="fondoSlide"></div>
    <div class="tituloSlide">
        Administrar <span class="tituloNegSlide">Herceptin</span><sup>&reg;</sup>,
        <br/> como parte del tratamiento, en <span class="tituloNegSlide">sólo 5 minutos<sup>3</sup></span>
    </div>
    <div id="img1Slide10"></div>
    <div id="img2Slide10"></div>
    <div id="TextLat10">
        La nueva formulación
        <br> de <b>Herceptin<sup>&reg;</sup> SC 600</b>
        <br> brinda los beneficios
        <br> de <b>Herceptin®</b> en
        <br> 5 minutos3
        <br>
    </div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    <div class="texto_footer">HERCEPTIN<sup>&reg;</sup> SC EN 5 MINUTOS<sup>3</sup> POR 18 CICLOS<sup>3</sup> MEJORA LA EXPERIENCIA EN LAS PACIENTES HER2&#43;<sup>1</sup></div>
</article>