<article id="slide9" data-ag-slide-name="Eficacia comparable a IV" class="slide">
    <div class="logoSlide"></div>
    <div class="fondoSlide"></div>
    <div class="tituloSlide">
        Administrar <span class="tituloNegSlide">Herceptin</span><sup>&reg;</sup>,
        <br/> como parte del tratamiento, en <span class="tituloNegSlide">sólo 5 minutos<sup>3</sup></span>
    </div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    <div class="texto_footer">HERCEPTIN<sup>&reg;</sup> SC EN 5 MINUTOS<sup>3</sup> POR 18 CICLOS<sup>3</sup> MEJORA LA EXPERIENCIA EN LAS PACIENTES HER2&#43;<sup>1</sup></div>
</article>