<article id="slide34" data-ag-slide-name="Video libera recursos" class="slide">
    <div id="Fondo_Slide34">
        <div id="txt1"><span>Herceptin<sup>&reg;</sup> SC 600</span> formulación lista para usarse<sup>10</sup>,
            <br/>
            <spanpq>impactando en la eficiencia del centro oncológico<sup>6</sup></spanpq>
        </div>
        <div id="txt2"><span>Herceptin<sup>&reg;</sup> SC 600</span> con un vial por paciente
            <br/> puede ayudar a optimizar la eficiencia del centro de infusión<sup>6,12</sup></div>
        <div id="abreVideo"></div>
        <div id="videoSlide34">
            <video width="1024" height="588" controls id="slide34Vid">
                <source src="content/video/VIDEOS_TESTIMONIOS/VIDEO_DAVID_MILES_LIBERA_RECURSOS_BAJA.mp4" type="video/mp4" /> Your browser does not support the video tag.
            </video>
        </div>
    </div>
</article>