<article id="slideReferencias" data-ag-slide-name="Referencias" class="slide">
    <div id="fondo">
        <div id="txtTituloReferencias" class="txtTitulo">Referencias</div>
        <div id="txt1Referencias" class="txtReferencias"><span>1.  Pivot X,</span> et al., Patients’ preferences for subcutaneous trastuzumab versus conventional
            <br>
            <sangria> intravenous infusion for the adjuvant treatment of HER2-positive early breast cancer: final
                <br> analysis of 488 patients in the international, randomized, two-cohort PrefHer study. Annals of
                <br> Oncology. <sincursiva>2014; 25:1979-1987.</sincursiva>
                <br>
                <br> </sangria>
            <span>2.</span> Subcutaneous administration of <span>Herceptin<sup>&reg;</sup></span> preferred by HER2-positive breast cancer patients
            <br>
            <sangria>over IV. <sincursiva>Disponible en:</sincursiva>
                <br> http://www.news-medical.net/news/20130315/Subcutaneous-administration-of-Herceptin-prefer
                <br>red-by-HER2-positive-breast-cancer-patients-over-IV.aspx <sincursiva>Visitada el 11 de junio de 2015.</sincursiva></sangria>
            <br>
            <br>
            <span>3. Ismael G, </span> et al., Subcutaneous versus intravenous administration of (neo)adjuvant
            <br>
            <sangria>trastuzumab in patients with HER2-positive, clinical stage I–III breast cancer (HannaH study): a
                <br> phase 3, open-label, multicentre, randomised trial. Lancet, <sincursiva>2012; 13:869-78.</sincursiva>
                <br>
                <br> </sangria>
            <span>4.   Hortobagyi G,</span> Trastuzumab in the Treatment of Breast Cancer. The New England Journal
            <br>
            <sangria>of Medicine. <sincursiva>2005; 353:1734-36.</sincursiva>
                <br>
                <br> </sangria>
            <span>5.  Pivot X,</span> et al., Subcutaneous injection of trastuzumab – analysis of administration time and
            <br>
            <sangria> injection site reactions. ESMO <sincursiva>2012.</sincursiva>
                <br>
                <br> </sangria>
            <span>6.   De Cock E,</span> et al., Healthcare professionals’ perceptions of the impact on clinical management of
            <br>
            <sangria> switching from the intravenous to the subcutaneous formulation of trastuzumab. <sincursiva>9th EBCC 2014.</sincursiva></sangria>
                <br>
                <br>
                <span>7.   Perez-Garcia J,</span> et al., A roadmap for accelerated drug approval in breast canc (Editorial) Lancet
                <br><sangria> Oncol 2012; <sincursiva>13 (9): 850-851</sincursiva>
                <br>
                <br> </sangria>
            <span>8.   Pivot X,</span> et al., Patient preference for subcutaneous trastuzumab via handheld syringe versus
            <br>
            <sangria> intravenous infusion in HER2-positive early breast cancer: Cohort 2 of the PrefHer study. Poster
                <br> presentation at the 36th Annual San Antonio Breast Cancer Symposium; <sincursiva>2013, (Poster
                <br> P4-12-11).</sincursiva>
                <br>
                <br> </sangria>
            <span>9.   Gligorov J,</span> et. al., SafeHer phase III study primary analysis: Safety of subcutaneous
            <br>
            <sangria>trastuzumab plus chemotherapy for early breast cancer. Poster presentation at the 10th
                <br> European Breast Cancer Congress; 2016. <sincursiva>(Poster Board 142)</sincursiva>
                <br>
                <br> </sangria>
            <span>10.  IPP Herceptin<sup>&reg;</sup> SC.</span>
            <br>
            <br>
            <span>11. Melichar B,</span> et al., Pathological complete response to trastuzumab subcutaneous fixed-dose
            <br>
            <sangria>formulation in the HannaH study: Subgroup analysis of patient demographics and tumour
                <br> characteristics and influence of body weight and serum trough concentration of trastuzumab.
                <br> <sincursiva>ESMO 2012.</sincursiva>
                <br>
                <br> </sangria>
            <span>12. De Cock E,</span> et al., A time and motion study of subcutaneous versus intravenous trastuzumab in
            <br>
            <sangria> patients with HER2-positive early breast cancer. Cancer Medicine; <sincursiva>2015; 1-9.</sincursiva>
                <br>
                <br> </sangria>
            <span>13. IPP Herceptin</span><sup>&reg;</sup>
            <br>
            <br>
            <span>14. Goldhirsh A,</span> et al., 2 years versus 1 year of adjuvant trastuzumab for HER2-positive breast
            <br>
            <sangria>cancer (HERA): an open-label, randomised controlled trial. Lancet. <sincursiva>2013; 382: 1021-1028.</sincursiva>
                <br>
                <br> </sangria>
            <span>15.</span> NCCN clinical practice guidelines in oncology: Breast cancer. Versión 3.2014. Disponible en
            <br>
            <sangria><sincursiva>http://www.nccn.org/professionals/physician_gls/pdf/breast.pdf
                <br> Consultado el 4 de noviembre de 2014.</sincursiva></sangria>
        </div>
        <div class="txtReferencias" id="txt2Referencias">
            <span>16. Gabriel N,</span> et. al., Trastuzumab in the Treatment of Breast Cancer. The New England Journal of
            <br>
            <sangria>Medicine. 2005; 353: <sincursiva>1734-36.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>17. Pivot X,</span> et al., 6 months versus 12 months of adjuvant trastuzumab for patients with
            <br>
            <sangria>HER2-positive early breast cancer (PHARE): a randomised phase 3 trial. <sincursiva>Lancet Oncol, 2013;
                <br> 14 (8): 741-8.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>18. Perez E.,</span> et al., Trastuzumab Plus Adjuvant Chemotherapy for Human Epidermal Growth Factor
            <br>
            <sangria>Receptor 2–Positive Breast Cancer: Planned Joint Analysis of Overall Survival From NSABP B-31
                <br> and NCCTG N9831. Journal Clinical of Oncology. <sincursiva>2014;1–10.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>19. Gianni L,</span> et al., E_cacy and safety of neoadjuvant pertuzumab and trastuzumab in women with
            <br>
            <sangria>locally advanced, inammatory, or early HER2-positive breast cáncer (NeoSphere): a
                <br> randomised multicentre, open-label, phase II trial. Lancet Oncol. <sincursiva>2012;13:25-32.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>20. Schneeweiss A,</span> et al., Pertuzumab plus trastuzumab in combination with standard
            <br>
            <sangria>neoadjuvant anthracycline-containing and anthracycline-free chemotherapy regimens in
                <br> patients with HER2-positive early breast cancer: a randomized phase II cardiac safety study
                <br> (TRYPHAENA). Ann Oncol. <sincursiva>2013; 00: 1–6.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>21. Verma S,</span> et al., Trastuzumab Emtansine for HER2-Positive Advanced Breast Cancer. N Engl J
            <br>
            <sangria>Med. <sincursiva>2012; 367 (19): 1783-91.</sincursiva>
                <br>
            </sangria>
            <br>
            <span>22. Wolff AC,</span> et al., Recommendation for human epidermal growth factor receptor 2 testing in
            <br>
            <sangria>breast cancer: American Society of Clinical Oncology/college of American Pathologists clinical
                <br> practice guideline update. <sincursiva>J Clin Oncol, 2013; 31 (31): 3997-4013.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>23. Wolff AC,</span> et al., Recommendation for human epidermal growth factor receptor 2 testing in
            <br>
            <sangria>breast cancer: American Society of Clinical Oncology/college of American Pathologists clinical
                <br> practice guideline update [data supplement]. J Clin Oncol, 2013; 31 (31): 3997-4013.
                <br> www.asco.org/guidelines/her2. <sincursiva>Visitada en agosto 10 de 2018.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>24. Fidler IJ,</span> Biological heterogeneity of cancer: implication to therapy. Hum Vaccin Immunother,
            <br>
            <sangria><sincursiva>2012; 8 (8): 1141-42.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>25. Rolls G,</span> Fixation and fixatives (1) – the process of fixation and the nature of fixatives. Leica
            <br>
            <sangria>Biosystems website.
            
                <br> <sincursiva>http://www.leicabiosystems.com/pathologyleaders/fixation-and-fixatives-1-the-processof-fixati
                <br> on-and-the-nature-of-fixatives/ actualizado el 6 de marzo de 2012. Visitado el 29 de octubre de
                <br> 2013.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>26. Westra WH,</span> et. al., Surgical Pathology Dissection: An Ilustrated Guide. 2nd ed. New York, NY:
            <br>
            <sangria>Springer-Verlag New York, Inc. <sincursiva>2003.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>27. Fox CH,</span> et al., Formaldehyde fixation. J Histochem Cytochem. <sincursiva>1985; 33 (8): 845-853.</sincursiva>
            <br>
            <span>28. Engel KB,</span> et al., Effects of preanalytical variables on the detection of proteins by
            <br>
            <sangria>immunohistochemistry in formalin-fixed, paraffin-embedded tissue. Arch Patho/Lab Med. <sincursiva>2011;
                <br> 135 (5): 537-543.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>29. Goldstein NS,</span> et al., Minimum formalín fixation time for consistent estrogen receptor
            <br>
            <sangria>immunohistochemical staining of invasive breast carcinoma. Am J Cin Patho. <sincursiva>2003; 120 (1 ):
                <br> 86-92.</sincursiva>
                <br>
                <br>
            </sangria>
            <span>30. Hammond ME,</span> et al., American Society of Clínical Oncology/College Of American Pathologists
            <br>
            <sangria>guideline recommendations for immunohistochemical testing of estrogen and progesterone
                <br> receptors in breast cancer. J Clin Onco. <sincursiva>2010; 28 (16): 2784-2795.</sincursiva>
                <br>
            </sangria>
        </div>
        <div class="numAviso" id="numAvisoReferencias">No. DE AVISO 173501202C0466 SSA. FECHA DE AUTORIZACIÓN 05-NOV-2017. EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD.</div>
    </div>
</article>