<article id="slide19" data-ag-slide-name="Diseño del estudio SafeHEr" class="slide">
    <div class="fondoSlide"></div>
    <div id="fondo_Slide19">
        <div id="txt1">Herceptin<sup>&reg;</sup> SC 600
            <br/>
            <spanpq>eficacia y seguridad</spanpq> <span>comparables a Herceptin<sup>&reg;</sup> IV<sup>3</sup></span></div>
        <div id="txt2"><span>Estudio SafeHer</span> Seguridad de <span>Herceptin<sup>&reg;</sup> SC 600</span> más quimioterapia
            <br/> en cáncer de mama temprano<sup>9</sup></div>
        <div id="txt3">Diseño del estudio:<sup>9</sup></div>
        <div id="txt4">Pacientes
            <br/> con CMt HER2
            <br/> positivo
            <br/> N = 2577</div>
        <div id="txt5">Elección del
            <br/> investigador:</div>
        <div id="txt6">Cohorte*</div>
        <div id="txt7">Régimen de QT</div>
        <div id="txt8">* Dependiendo de la disponibilidad de los cohortes</div>
        <div id="txt9"><span>†  Herceptin<sup>&reg;</sup> SC 600</span> fue administrado en fase adyuvante</div>
        <div id="txt10">en 44 pacientes (Cohorte A, n=20; Cohorte B, n=24)</div>
        <div id="txt11">Cohorte A:</div>
        <div id="txt12">Cohorte B:</div>
        <div id="txt13">Herceptin<sup>&reg;</sup> SC 600 Vial<sup>†</sup> (n=1867)</div>
        <div id="txt14">Herceptin<sup>&reg;</sup> SC 600 dispositivo SID
            <br/> (n=710) <sup>†</sup> con opción de
            <br/> autoadministración supervisada</div>
        <div id="txt15">Finalización del
            <br/> estudio (5 años
            <br/> después de la
            <br/> última dosis del
            <br/> último paciente)</div>
        <div id="txt16"><span>CMt</span> = Cáncer de mama temprano <span>SID</span> = Dispositivo Automático de Aplicación Única <span>QT</span> = Quimioterapia</div>
        <div id="lupa1"></div>
        <div id="popUpLupa1" class="fondoPopUp2">
            <div id="fondoLupa1">
                
                <div id="txt19">Diseño del estudio:<sup>9</sup></div>
                <div id="txt20">Pacientes
                    <br/> con CMt HER2
                    <br/> positivo
                    <br/> N = 2577</div>
                <div id="txt21">Elección del
                    <br/> investigador:</div>
                <div id="txt22">Cohorte*</div>
                <div id="txt23">Régimen de QT</div>
                <div id="txt24">* Dependiendo de la disponibilidad de los cohortes</div>
                <div id="txt25"><span>†  Herceptin<sup>&reg;</sup> SC 600</span> fue administrado en fase adyuvante</div>
                <div id="txt26">en 44 pacientes (Cohorte A, n=20; Cohorte B, n=24)</div>
                <div id="txt27">Cohorte A:</div>
                <div id="txt28">Cohorte B:</div>
                <div id="txt29">Herceptin<sup>&reg;</sup> SC 600 Vial<sup>†</sup> (n=1867)</div>
                <div id="txt30">Herceptin<sup>&reg;</sup> SC 600 dispositivo SID
                    <br/> (n=710) <sup>†</sup> con opción de
                    <br/> autoadministración supervisada</div>
                <div id="txt31">Finalización del
                    <br/> estudio (5 años
                    <br/> después de la
                    <br/> última dosis del
                    <br/> último paciente)</div>
            </div>
            <div id="cierraLupa1"></div>
            <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
        </div>
    </div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
</article>