<article id="slide6" data-ag-slide-name="Tiempo promedio de administración" class="slide">
    <div class="logoSlide"></div>
    <div class="fondoSlide"></div>
    <div class="tituloSlide">
        Administrar <span class="tituloNegSlide">Herceptin<sup>&reg;</sup></span>,
        <br/> como parte del tratamiento, en <span class="tituloNegSlide">sólo 5 minutos<sup>3</sup></span>
    </div>
    <div id="subTituloSlide6" class="subTituloSlide">
        <b>Herceptin<sup>®</sup> SC 600</b> es una experiencia más conveniente para la paciente
        <br> en comparación con <b>Herceptin<sup>®</sup> IV<sup>1</sup></b>
    </div>
    <div id="slide6img1"></div>
    <div id="slide6img2"></div>
    <div id="slide6img3"></div>
    <div id="burbuja1">
        <div id="txt1">Sin la necesidad
            <br/> de un acceso
            <br/> intravenoso<sup>7</sup></div>
    </div>
    <div id="burbuja2">
        <div id="txt2">Las pacientes
            <br/> prefieren
            <br/> <span>Herceptin<sup>&reg;</sup> SC 600</span>
            <br/> por el ahorro de<br/> tiempo y la
            <br/> disminución
            <br/> del dolor<sup>1</sup></div>
    </div>
    <div id="burbuja3">
        <div id="txt3">Los profesionales
            <br/> de la salud
            <br/> prefieren
            <br/> <span>Herceptin<sup>&reg;</sup> SC 600</span>
            <br/> por su
            <br/> conveniencia<sup>6,8</sup></div>
    </div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    <div class="texto_footer">HERCEPTIN<sup>&reg;</sup> SC EN 5 MINUTOS<sup>3</sup> POR 18 CICLOS<sup>3</sup> MEJORA LA EXPERIENCIA EN LAS PACIENTES HER2&#43;<sup>1</sup></div>
</article>