<article id="slide38" data-ag-slide-name="Preferencia de pacientes" class="slide">
    <div id="fondoSlide38">
        <div id="txt1">Herceptin<sup>&reg;</sup> SC 600 <span>preferido por las pacientes<sup>1</sup></span></div>
        <div id="txt2">Las pacientes prefieren la vía de administración SC de <span>Herceptin<sup>&reg;</sup></span> sobre la administración IV<sup>1</sup></div>
        <div id="fondoSlide38_contieneBarras">
            <div id="fondoSlide38_barras" class="mueveBarrasVertical"></div>
        </div>
        <div id="txt3">Preferencia de pacientes<sup>8</sup></div>
        <div id="txt4">Pacientes (%)</div>
        <div id="txt5">86.1%</div>
        <div id="txt6">1.3%</div>
        <div id="txt7">12.6%</div>
        <div id="txt8">Preferencia SC</div>
        <div id="txt9">Sin preferencia</div>
        <div id="txt10">Preferencia IV</div>
        <div id="txt11">Herceptin<sup>&reg;</sup> SC 600, 600 mg (en 5 ml)</div>
        <div id="txt12">Herceptin<sup>&reg;</sup> IV, <span>6 mg/kg (8 mg/kg dosis de carga)</span></div>
        <div id="txt13">Las principales razones
            <br/> por las que las pacientes
            <br/> expresaron una preferencia
            <br/> por <span>Herceptin<sup>&reg;</sup> SC</span> 600
            <br/> fueron:
        </div>
        <div id="txt14">&#8226; 77.5% de las
            <br/> pacientes
            <br/> lo prefieren por el
            <br/> ahorro de tiempo<sup>8</sup>
        </div>
        <div id="txt15">&#8226; 30.7% de las
            <br/> mujeres detectaron
            <br/> una reducción
            <br/> del dolor y de las
            <br/> molestias<sup>8</sup>
        </div>
        <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
        <div id="slide38_btnZoom"></div>
        <div id="fondoPopupSlide38">
            <div id="fondoSlide38_contieneBarras">
                <div id="fondoSlide38_barras" class="mueveBarrasVertical"></div>
            </div>
            <div id="txt3">Preferencia de pacientes<sup>8</sup></div>
            <div id="txt4">Pacientes (%)</div>
            <div id="txt5">86.1%</div>
            <div id="txt6">1.3%</div>
            <div id="txt7">12.6%</div>
            <div id="txt8">Preferencia SC</div>
            <div id="txt9">Sin preferencia</div>
            <div id="txt10">Preferencia IV</div>
            <div id="txt11">Herceptin<sup>&reg;</sup> SC 600, 600 mg (en 5 ml)</div>
            <div id="txt12">Herceptin<sup>&reg;</sup> IV, <span>6 mg/kg (8 mg/kg dosis de carga)</span></div>
            <div id="slide38_btnCierra_zoom"></div>
        </div>
    </div>
</article>