<article id="slide36" data-ag-slide-name="Diseño del estudio PrefHer" class="slide">
    <div id="Fondo_Slide36">
        <div id="txt1"><span>Herceptin<sup>&reg;</sup> SC 600</span> preferido por las pacientes<sup>1</sup></div>
        <div id="txt2">Estudio PrefHer (preferencia de los pacientes por la administración subcutánea)<sup>8</sup>
        </div>
        <div id="txt3">Diseño del estudio:<sup>8</sup></div>
        <div id="txt4"><span>Cohorte 2:*</span>
            <br/> Aplicación manual</div>
        <div id="txt5">IV cada 3 semanas x 4</div>
        <div id="txt6">IV cada 3 semanas x 4</div>
        <div id="txt7">Adenocarcinoma
            <br/> de mama
            <br/> primario e
            <br/> invasivo
            <br/> HER2 positivo
            <br/> (N=240)
        </div>
        <div id="txt8">* La cohorte 2 utilizó un dispositivo de aplicación única</div>
        <div id="txt9">Entrevista a
            <br/> paciente 1</div>
        <div id="txt10">Aleatorización
            <br/> 1:1
        </div>
        <div id="txt11">Brazo A</div>
        <div id="txt12">Brazo B</div>
        <div id="txt13">Jeringa portátil subcutánea
            <br/> cada 3 semanas x 4</div>
        <div id="txt14">Periodo de cruzamiento</div>
        <div id="txt15">Herceptin<sup>&reg;</sup></div>
        <div id="txt16">Jeringa portátil
            <br/> subcutánea cada
            <br/> 3 semanas x 4</div>
        <div id="txt17">Entrevista a
            <br/> paciente 2</div>
        <div id="txt18">Continuar con
            <br/> Herceptin<sup>&reg;</sup>
            <br/> hasta completar
            <br/> 18 ciclos en total</div>
            <div id="lupa1"></div>
            <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    </div>

     <div id="popUpLupa1" class="fondoPopUp">
     <div id="fondoLupa1">
         <div id="txt19">Diseño del estudio:<sup>8</sup></div>
        <div id="txt20"><span>Cohorte 2:*</span>
            <br/> Aplicación manual</div>
        <div id="txt21">IV cada 3 semanas x 4</div>
        <div id="txt22">IV cada 3 semanas x 4</div>
        <div id="txt23">Adenocarcinoma
            <br/> de mama
            <br/> primario e
            <br/> invasivo
            <br/> HER2 positivo
            <br/> (N=240)
        </div>
        <div id="txt24">* La cohorte 2 utilizó un dispositivo de aplicación única</div>
        <div id="txt25">Entrevista a
            <br/> paciente 1</div>
        <div id="txt26">Aleatorización
            <br/> 1:1
        </div>
        <div id="txt27">Brazo A</div>
        <div id="txt28">Brazo B</div>
        <div id="txt29">Jeringa portátil subcutánea
            <br/> cada 3 semanas x 4</div>
        <div id="txt30">Periodo de cruzamiento</div>
        <div id="txt31">Herceptin<sup>&reg;</sup></div>
        <div id="txt32">Jeringa portátil
            <br/> subcutánea cada
            <br/> 3 semanas x 4</div>
        <div id="txt33">Entrevista a
            <br/> paciente 2</div>
        <div id="txt34">Continuar con
            <br/> Herceptin<sup>&reg;</sup>
            <br/> hasta completar
            <br/> 18 ciclos en total</div>
         <div id="cierraLupa1"></div>
         <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
     </div>
 </div>
</article>