<article id="slide22" data-ag-slide-name="Incidencia de eventos adversos" class="slide">
    <div class="fondoSlide"></div>
    <div id="fondo_Slide22">
        <div id="txt1">Herceptin<sup>&reg;</sup> SC 600
            <br/>
            <spanpq>eficacia y seguridad</spanpq> <span>comparables a Herceptin<sup>&reg;</sup> IV<sup>3</sup></span></div>
        <div id="txt2">Incidencia de eventos adversos durante el tratamiento<sup>9</sup></div>
        <div id="txt3">Población general<sup>9</sup></div>
        <div id="txt4">Pacientes (%)</div>
        <div id="txt5">(n=2282)</div>
        <div id="txt6">(n=1439)</div>
        <div id="txt7">(n=634)</div>
        <div id="txt8">(n=596)</div>
        <div id="txt9">(n=470)</div>
        <div id="txt10">(n=88)</div>
        <div id="txt11">(n=326)</div>
        <div id="txt12">(n=252)</div>
        <div id="txt13">(n=52)</div>
        <div id="txt14">6.5%</div>
        <div id="txt15">10.9%</div>
        <div id="txt16">78.9%</div>
        <div id="txt17">93.6%</div>
        <div id="txt18">30.6%</div>
        <div id="txt19">16.4%</div>
        <div id="txt20">12.7%</div>
        <div id="txt21">23.2%</div>
        <div id="txt22">88.7%</div>
        <div id="txt23">Cualquier grado de EA</div>
        <div id="txt24">EA &ge;grado 3 NCI-CTCAE</div>
        <div id="txt25">EAS</div>
        <div id="txt26"><span>En general</span> (n=2573)*</div>
        <div id="txt27"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia recurrente</span> (n=1537)</div>
        <div id="txt28"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia secuencial</span> (n=804)</div>
        <div id="lupa1"></div>
        <div id="popUpLupa1" class="fondoPopUp2">
            <div id="fondoLupa1">
                <div id="contenedor_barrasLupa1">
                    <div id="barrasLupa1" class="mueveBarrasVertical"></div>
                </div>
                <div id="txt29">Población general<sup>9</sup></div>
                <div id="txt30">Pacientes (%)</div>
                <div id="txt31" class="fadeIn">(n=2282)</div>
                <div id="txt32" class="fadeIn">(n=1439)</div>
                <div id="txt33" class="fadeIn">(n=634)</div>
                <div id="txt34" class="fadeIn">(n=596)</div>
                <div id="txt35" class="fadeIn">(n=470)</div>
                <div id="txt36" class="fadeIn">(n=88)</div>
                <div id="txt37" class="fadeIn">(n=326)</div>
                <div id="txt38" class="fadeIn">(n=252)</div>
                <div id="txt39" class="fadeIn">(n=52)</div>
                <div id="txt40" class="fadeIn">6.5%</div>
                <div id="txt41" class="fadeIn">10.9%</div>
                <div id="txt42" class="fadeIn">78.9%</div>
                <div id="txt43" class="fadeIn">93.6%</div>
                <div id="txt44" class="fadeIn">30.6%</div>
                <div id="txt45" class="fadeIn">16.4%</div>
                <div id="txt46" class="fadeIn">12.7%</div>
                <div id="txt47" class="fadeIn">23.2%</div>
                <div id="txt48" class="fadeIn">88.7%</div>
                <div id="txt49">Cualquier grado de EA</div>
                <div id="txt50">EA &ge;grado 3 NCI-CTCAE</div>
                <div id="txt51">EAS</div>
                <div id="txt52"><span>En general</span> (n=2573)*</div>
                <div id="txt53"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia recurrente</span> (n=1537)</div>
                <div id="txt54"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia secuencial</span> (n=804)</div>
                <div id="materialPopUp">
            MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
        </div>
                <div id="cierraLupa1"></div>
            </div>
        </div>
        <div id="graf2">
            <div id="txt55">Cohorte A: <span>Herceptin<sup>®</sup> SC 600</span> Vial<sup>9</sup></div>
            <div id="txt56">Pacientes (%)</div>
            <div id="txt57">(n=1651)</div>
            <div id="txt58">(n=1015)</div>
            <div id="txt59">(n=477)</div>
            <div id="txt60">(n=447)</div>
            <div id="txt61">(n=348)</div>
            <div id="txt62">(n=66)</div>
            <div id="txt63">(n=242)</div>
            <div id="txt64">(n=179)</div>
            <div id="txt65">(n=42)</div>
            <div id="txt66">7%</div>
            <div id="txt67">10.9%</div>
            <div id="txt68">79%</div>
            <div id="txt69">93.6%</div>
            <div id="txt70">32.1%</div>
            <div id="txt71">16.5%</div>
            <div id="txt72">13%</div>
            <div id="txt73">24%</div>
            <div id="txt74">88.6%</div>
            <div id="txt75">Cualquier grado de EA</div>
            <div id="txt76">EA &ge;grado 3 NCI-CTCAE</div>
            <div id="txt77">EAS</div>
            <div id="txt78"><span>En general</span> (n=1864)*</div>
            <div id="txt79"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia recurrente</span> (n=1084)</div>
            <div id="txt80"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia secuencial</span> (n=604)</div>
        </div>
        <div id="lupa2"></div>
        <div id="popUpLupa2" class="fondoPopUp2">
            <div id="fondoLupa2">
                <div id="contenedor_barrasLupa2">
                    <div id="barrasLupa2" class="mueveBarrasVertical"></div>
                </div>
                <div id="txt81">Cohorte A: <span>Herceptin<sup>®</sup> SC 600</span> Vial<sup>9</sup></div>
                <div id="txt82">Pacientes (%)</div>
                <div id="txt83" class="fadeIn">(n=1651)</div>
                <div id="txt84" class="fadeIn">(n=1015)</div>
                <div id="txt85" class="fadeIn">(n=477)</div>
                <div id="txt86" class="fadeIn">(n=447)</div>
                <div id="txt87" class="fadeIn">(n=348)</div>
                <div id="txt88" class="fadeIn">(n=66)</div>
                <div id="txt89" class="fadeIn">(n=242)</div>
                <div id="txt90" class="fadeIn">(n=179)</div>
                <div id="txt91" class="fadeIn">(n=42)</div>
                <div id="txt92" class="fadeIn">7%</div>
                <div id="txt93" class="fadeIn">10.9%</div>
                <div id="txt94" class="fadeIn">79%</div>
                <div id="txt95" class="fadeIn">93.6%</div>
                <div id="txt96" class="fadeIn">32.1%</div>
                <div id="txt97" class="fadeIn">16.5%</div>
                <div id="txt98" class="fadeIn">13%</div>
                <div id="txt99" class="fadeIn">24%</div>
                <div id="txt100" class="fadeIn">88.6%</div>
                <div id="txt101">Cualquier grado de EA</div>
                <div id="txt102">EA &ge;grado 3 NCI-CTCAE</div>
                <div id="txt103">EAS</div>
                <div id="txt104"><span>En general</span> (n=1864)*</div>
                <div id="txt105"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia recurrente</span> (n=1084)</div>
                <div id="txt106"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia secuencial</span> (n=604)</div>
                <div id="txt107">Incidencia de eventos adversos durante el tratamiento<sup>9</sup></div>
                <div id="materialPopUp">
            MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
        </div>
                <div id="cierraLupa2"></div>
            </div>
        </div>
        <div id="graf3">
            <div id="txt108">Cohorte B: <span>Herceptin<sup>®</sup> SC 600</span> dispositivo SID<sup>9</sup></div>
            <div id="txt109">Pacientes (%)</div>
            <div id="txt110">(n=631)</div>
            <div id="txt111">(n=424)</div>
            <div id="txt112">(n=157)</div>
            <div id="txt113">(n=149)</div>
            <div id="txt114">(n=122)</div>
            <div id="txt115">(n=22)</div>
            <div id="txt116">(n=84)</div>
            <div id="txt117">(n=73)</div>
            <div id="txt118">(n=10)</div>
            <div id="txt119">5%</div>
            <div id="txt120">11%</div>
            <div id="txt121">78.5%</div>
            <div id="txt122">93.6%</div>
            <div id="txt123">26.9%</div>
            <div id="txt124">16.1%</div>
            <div id="txt125">11.8%</div>
            <div id="txt126">21%</div>
            <div id="txt127">89%</div>
            <div id="txt128">Cualquier grado de EA</div>
            <div id="txt129">EA &ge;grado 3 NCI-CTCAE</div>
            <div id="txt130">EAS</div>
            <div id="txt131"><span>En general</span> (n=709)*</div>
            <div id="txt132"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia recurrente</span> (n=453)</div>
            <div id="txt133"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia secuencial</span> (n=200)</div>
        </div>
        <div id="lupa3"></div>
        <div id="popUpLupa3" class="fondoPopUp2">
            <div id="fondoLupa3">
                <div id="contenedor_barrasLupa3">
                    <div id="barrasLupa3" class="mueveBarrasVertical"></div>
                </div>
                <div id="txt134">Cohorte B: <span>Herceptin<sup>®</sup> SC 600</span> dispositivo SID<sup>9</sup></div>
                <div id="txt135">Pacientes (%)</div>
                <div id="txt136" class="fadeIn">(n=631)</div>
                <div id="txt137" class="fadeIn">(n=424)</div>
                <div id="txt138" class="fadeIn">(n=157)</div>
                <div id="txt139" class="fadeIn">(n=149)</div>
                <div id="txt140" class="fadeIn">(n=122)</div>
                <div id="txt141" class="fadeIn">(n=22)</div>
                <div id="txt142" class="fadeIn">(n=84)</div>
                <div id="txt143" class="fadeIn">(n=73)</div>
                <div id="txt144" class="fadeIn">(n=10)</div>
                <div id="txt145" class="fadeIn">5%</div>
                <div id="txt146" class="fadeIn">11%</div>
                <div id="txt147" class="fadeIn">78.5%</div>
                <div id="txt148" class="fadeIn">93.6%</div>
                <div id="txt149" class="fadeIn">26.9%</div>
                <div id="txt150" class="fadeIn">16.1%</div>
                <div id="txt151" class="fadeIn">11.8%</div>
                <div id="txt152" class="fadeIn">21%</div>
                <div id="txt153" class="fadeIn">89%</div>
                <div id="txt154">Cualquier grado de EA</div>
                <div id="txt155">EA &ge;grado 3 NCI-CTCAE</div>
                <div id="txt156">EAS</div>
                <div id="txt157"><span>En general</span> (n=709)*</div>
                <div id="txt158"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia recurrente</span> (n=453)</div>
                <div id="txt159"><span>Herceptin<sup>&reg;</sup> SC 600 + quimioterapia secuencial</span> (n=200)</div>
                <div id="txt160">Incidencia de eventos adversos durante el tratamiento<sup>9</sup></div>
                <div id="materialPopUp">
            MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
        </div>
                <div id="cierraLupa3"></div>
            </div>
        </div>
        <div id="txt161"><span>*</span>Incluye el subgrupo “sin quimioterapia”.
            <br/> <span>EA</span>, evento adverso;
            <br/> <span>NCI-CTCAE</span>, National Cancer Institute Common
            <br/> Terminology Criteria for Adverse Events;
            <br/> <span>EAS</span>, evento adverso serio;
            <br/> <span>SC</span>, subcutaneo;
            <br/> <span>SID</span>, Dispositivo Automático de Aplicación Única
            <br/> (single-use injection device).</div>
        <div id="material">
            MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
        </div>
    </div>
</article>