<article id="slide60" data-ag-slide-name="Manejo de tejidos 1.2" class="slide">
    <div id="fondoSlide60">
        <div id="txtTituloSlide60" class="txtTitulo">Manejo de tejido del estudio basado en la Guía 2013
            <br>
            <span>de la ASCO/CAP para pruebas de HER2 en cáncer de mama </span>
        </div>
        <div id="menuSlide67">
            <div id="heterogenidadSlide60" class="itemMenuSlide67">HETEROGENEIDAD</div>
            <div class="btnHeterogeneidad"></div>
            <img id="linea1Slide66" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="preparacionSlide60" class="itemMenuSlide67">PREPARACIÓN</div>
            <div class="btnPreparacion"></div>
            <img id="linea2Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="reaccionSlide60" class="itemMenuSlide67">REACCIÓN</div>
            <div class="btnReaccion"></div>
            <img id="linea3Slide67" src="content/img/slide67/lineaActiva.png" alt="">
            <div id="duracionSlide60" class="itemMenuSlide67">DURACIÓN</div>
            <div class="btnDuracion"></div>
            <img id="linea4Slide67" src="content/img/slide67/lineaNormal.png" alt="">
        </div>
        <div id="txt1">La ASCO/CAP indica que
            <br> cualquier desviación de las
            <br> recomendaciones de la Guía
            <br> para el tiempo de isquemia
            <br> fría, tipo de fijador o
            <br> duración de la fijación,
            <br> deben ser claramente
            <br> registradas en el reporte de
            <br> patología.
            <sup>22</sup></div>
        <div id="txt2">† La guía ASCO/CAP no especifica una proporción exacta de NBF/Tejido
            <br>
            <br> * Las imágenes son solamente para concepto de ilustración y no se pretende describir prácticas de laboratorio específicas.
            <br>
            <br>
            <span>ASCO/CAP:</span> Sociedad Americana de Oncología Clínica/Colegio Americano de Patólogos
            <br><br>
            <span>HER2:</span> Receptor de factor de crecimiento epidérmico humano 2</div>
        <div id="cuadro">
            <div id="txt1Cuadro">REACCIÓN DEL FIJADOR</div>
            <ul id="txt2Cuadro">
                <li> El uso de un fijador distinto a la formalina neutra amortiguada (NBF) al 10%
                    <br> puede afectar los resultados de las pruebas<sup>22,26</sup></li>
                <li> Las moléculas activas del fijador son depletadas con cada reacción de fijación<sup>27</sup></li>
                <li>El uso de fijador antiguo o expirado puede disminuir la confiabilidad de los
                    <br> resultados de la prueba de HER2<sup>28</sup> </li>
            </ul>
            <ul id="txt3Cuadro">
                <li>Fijar solamente en un
                    <br> volumen suficiente
                    <br> de NBF fresco
                    <br> al 10%<sup>22,26</sup>
                </li>
            </ul>
            <ul id="txt4Cuadro">
                <li>Se recomienda una
                    <br> proporción de
                    <br> NBF-tejido 10:1<sup>26,28,†</sup></li>
            </ul>
            <div id="txt5Cuadro">Recomendación:</div>
            <div id="txt6Cuadro">Proporción NBF
                <br> sobre tejido 10:1
            </div>
            <div id="txt7Cuadro">NBF fresco
                <br> al 10%
            </div>
            <div id="txt8Cuadro">Proteína
                <br> HER2
            </div>
            <div id="txt9Cuadro"> Formalina </div>
            <div id="txt10Cuadro"> Enlace
                <br> cruzado
            </div>
        </div>
    </div>
    <div class="texto_mensaje_footer">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>
</article>