<article id="slide15" data-ag-slide-name="Eficacia comparable a IV" class="slide">
    <div class="logoSlide"></div>
    <div id="fondo_slide15"></div>
    <div id="txt1"><span>Herceptin<sup>&reg;</sup> SC 600</span>
        <br/>
        <span2><span>eficacia y seguridad</span> comparables a Herceptin<sup>&reg;</sup> IV<sup>3</sup></span2>
    </div>
    <div id="txt2"><span>Herceptin<sup>&reg;</sup> SC 600</span> demuestra eficacia comparable a <span>Herceptin<sup>&reg;</sup> IV<sup>3</sup></span></div>
    <div id="txt3">Porcentaje de pacientes que alcanzaron RpC<sup>3</sup></div>
    <div id="contiene_barras">
        <div id="barras"></div>
    </div>
    <div id="linea_abajo_grafico"></div>
    <div id="txt4">45.4</div>
    <div id="txt5">40.7</div>
    <div id="txt6">39.2</div>
    <div id="txt7">34.2</div>
    <div id="txt8">Pacientes que alcanzaron RpC(%)</div>
    <div id="txt8_1">Estudio HannaH</div>
    <div id="txt9"><span>RpC</span>
        <br/> (mama)
    </div>
    <div id="txt10"><span>Rpc</span>
        <br/> (mama y ganglios)</div>
    <div id="txt11"><span>Herceptin<span><sup>&reg;</sup></span> SC 600</span>, 600 mg (en 5 ml) (n=260)</div>
    <div id="txt12"><span>Herceptin<sup>&reg;</sup> IV</span> 6 mg/kg (8 mg/kg dosis de carga) (n=263)</div>
    <div id="txt13">Las tasas de RpC fueron
        <br/> comparables entre
        <br/> <span>Herceptin<sup>&reg;</sup> SC 600</span>
        <br/> y <span>Herceptin<sup>&reg;</sup> IV<sup>3</sup></span></div>
        <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    <div id="zoom"></div>
    <div id="fondoPopup_slide15">
        <div id="txt14">Porcentaje de pacientes que alcanzaron RpC<sup>3</sup></div>
        <div id="contiene_barras_popup">
            <div id="barras_popup" class="mueveBarrasVertical"></div>
        </div>
        <div id="linea_abajo_grafico_popup"></div>
        <div id="txt15" class="fadeIn">45.4</div>
        <div id="txt16" class="fadeIn">40.7</div>
        <div id="txt17" class="fadeIn">39.2</div>
        <div id="txt18" class="fadeIn">34.2</div>
        <div id="txt19">Pacientes que alcanzaron RpC(%)</div>
        <div id="txt19_1">Estudio HannaH</div>
        <div id="txt20"><span>RpC</span>
            <br/> (mama)
        </div>
        <div id="txt21"><span>Rpc</span>
            <br/> (mama y ganglios)</div>
        <div id="txt22"><span>Herceptin<span><sup>&reg;</sup></span> SC 600</span>, 600 mg (en 5 ml) (n=260)</div>
        <div id="txt23"><span>Herceptin<sup>&reg;</sup> IV</span> 6 mg/kg (8 mg/kg dosis de carga) (n=263)</div>
        <div id="btnCierraZoom"></div>
    </div>
</article>