<article id="slide32" data-ag-slide-name="Impactando en la eficiencia del centro" class="slide">
    <div class="fondoSlide"></div>
    <div id="fondo_Slide32">
        <div id="txt1"><span>Herceptin<sup>&reg;</sup> SC 600</span> formulación lista para usarse<sup>10</sup>,</div>
        <div id="txt2">impactando en la eficiencia del centro oncológico<sup>6</sup></div>
        <div id="txt3"><span>Herceptin<sup>&reg;</sup> SC 600</span> optimiza la eficiencia del centro de infusión<sup>6,12</sup></div>
        <div id="txt4">ADMINISTRACIÓN
            <br/> EN 5 MINUTOS<sup>3</sup></div>
        <div id="txt5">REDUCCIÓN DE TIEMPO
            <br/> <span>DE LOS PROFESIONALES DE SALUD</span> </div>
        <div id="txt6">MENOS TIEMPO
            <br/> DE PREPARACIÓN
        </div>
        <div id="txt7">AHORRO DE TIEMPO
            <br/> PARA LAS PACIENTES
        </div>
        <div id="txt8">Aproximadamente <span>13 veces
            <br/> más rápido</span> que la administración
            <br/> de Herceptin<sup>&reg;</sup> IV<sup>5</sup></div>
        <div id="txt9">Hasta <span>70% de ahorro</span>
            <br/> de tiempo<sup>12</sup></div>
        <div id="txt10"><span>Dosis fija</span> que no
            <br/> requiere dilución<sup>10</sup> ni cálculo
            <br/> de peso corporal<sup>10</sup></div>
        <div id="txt11">Reducción de <span>71% del tiempo</span><sup>12</sup>
            <br/> ofreciendo la posibilidad de optimizar
            <br/> los recursos clínicos<sup>12</sup></div>
        <div id="material">
            MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
        </div>
    </div>
</article>