<article id="slide55" data-ag-slide-name="Video de administración 1.2" class="slide">
    <div id="fondo">
        <video id="videoslide55" width="1027" height="699" controls poster="content/img/slide55/video1.png" onclick="this.play();">
            <source src="content/video/VIDEO_ADMINISTRACION_POR_PARTES/4_VIDEO_PREPARACION_HERCEPTIN_SC.mp4" type="video/mp4">
        </video>
    </div>
</article>