<article id="slide59" data-ag-slide-name="Manejo de tejidos 1.1" class="slide">
    <div id="fondoSlide59">
        <div id="txtTituloSlide59" class="txtTitulo">Manejo de tejido del estudio basado en la Guía 2013
            <br>
            <span>de la ASCO/CAP para pruebas de HER2 en cáncer de mama </span>
        </div>
        <div id="menuSlide67">
            <div id="heterogenidadSlide59" class="itemMenuSlide67">HETEROGENEIDAD</div>
            <div class="btnHeterogeneidad"></div>
            <img id="linea1Slide66" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="preparacionSlide59" class="itemMenuSlide67">PREPARACIÓN</div>
            <div class="btnPreparacion"></div>
            <img id="linea2Slide67" src="content/img/slide67/lineaActiva.png" alt="">
            <div id="reaccionSlide59" class="itemMenuSlide67">REACCIÓN</div>
            <div class="btnReaccion"></div>
            <img id="linea3Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="duracionSlide59" class="itemMenuSlide67">DURACIÓN</div>
            <div class="btnDuracion"></div>
            <img id="linea4Slide67" src="content/img/slide67/lineaNormal.png" alt="">
        </div>
        <div id="txt1">La ASCO/CAP indica que
            <br> cualquier desviación de las
            <br> recomendaciones de la Guía
            <br> para el tiempo de isquemia
            <br> fría, tipo de fijador o
            <br> duración de la fijación,
            <br> deben ser claramente
            <br> registradas en el reporte de
            <br> patología.
            <sup>22</sup></div>
        <div id="txt2">
            * Las imágenes son solamente para concepto de ilustración y no se pretende describir prácticas de laboratorio específicas.
            <br>
            <br>
            <span>ASCO/CAP:</span> Sociedad Americana de Oncología Clínica/Colegio Americano de Patólogos
            <br><br>
            <span>HER2:</span> Receptor de factor de crecimiento epidérmico humano 2</div>
        <div id="cuadro">
            <div id="txt1Cuadro">PREPARACIÓN DE LA MUESTRA</div>
            <ul id="txt2Cuadro">
                <li> La degradación del tejido inicia cuando la muestra es removida
                    <br> del paciente, modificando las proteínas y genes<sup>25</sup></li>
                <li> La fijación inmediata ayuda a preservar la calidad de la muestra<sup>26</sup></li>
                <li>El retraso en la fijación puede afectar adversamente al HER2
                    <br> y el análisis de los receptores hormonales<sup>22</sup> </li>
                <li>Realizar cortes de muestras más grandes ayuda a asegurar una
                    <br> penetración completa y constante del fijador<sup>22,26</sup></li>
            </ul>
            <ul id="txt3Cuadro">
                <li>El tiempo desde la
                    <br> simple adquisición de
                    <br> la muestra hasta la
                    <br> fijación (tiempo de
                    <br> isquemia en frío) no
                    <br> debería exceder
                    <br> 1 hora<sup>22</sup>
                </li>
            </ul>
            <ul id="txt4Cuadro">
                <li>Antes de la fijación,
                    <br> las muestras tumora-
                    <br> les más grandes se
                    <br> les debería realizar
                    <br> un corte cada 5 a 10
                    <br> mm durante el
                    <br> examen macros-
                    <br> cópico
                    <sup>22</sup></li>
            </ul>
            <div id="txt6Cuadro">Tejido fijado</div>
            <div id="txt7Cuadro">Tejido
                <br> degradado
            </div>
            <div id="txt8Cuadro">Muestra
                <br> sin cortar
            </div>
            <div id="txt9Cuadro"> NBF fresco
                <br> al 10% </div>
        </div>
    </div>
    <div class="texto_mensaje_footer">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>
</article>