<article id="slide33" data-ag-slide-name="Satisfacción de los profesionales de salud" class="slide">
    <div id="fondoSlide33">
        <div id="txt1"><span id="txt1sup1">Herceptin<sup>&reg;</sup> SC 600</span> formulación lista para usarse<sup>10</sup>,
            <br><span id="txt1sup2">impactando en la eficiencia del centro oncológico<sup>6</sup></span>
        </div>
        <div id="img1"></div>
        <div id="img2"></div>
        <div id="txt2">Estudio PrefHer</div>
        <div id="txt3"><span>Satisfacción de los
            <br>profesionales de salud:<sup>8</sup>
            <br>· 81% <pequeno>Herceptin<sup>&reg;</sup> SC 600</pequeno></span>
            <br><span>· 4.3% <pequeno>Herceptin<sup>&reg;</sup> IV</pequeno></span>
            <br><span>· 14.5%</span> <pequeno>no expresó preferencia</pequeno></div>
        <div id="txt4"><span id="txt4span1">Herceptin<sup>&reg;</sup> SC 600</span>
            <br> Una administración <span id="txt4span2">más rápida<sup>5</sup>
            <br> y más conveniente<sup>8</sup></span>, impacta en
            <br>la eficiencia del centro oncológico<sup>6</sup>
            <br> y ayuda a los pacientes a seguir
            <br>adelante con sus vidas</div>
         <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    </div>
</article>