<article id="slide21" data-ag-slide-name="El estudio SafeHEr confirma seguridad" class="slide">
    <div class="fondoSlide"></div>
    <div id="fondo_Slide21">
        <div id="txt1">Herceptin<sup>&reg;</sup> SC 600
            <br/>
            <spanpq>eficacia y seguridad</spanpq> <span>comparables a Herceptin<sup>&reg;</sup> IV<sup>3</sup></span></div>
        <div id="txt2"><span>Estudio SafeHer</span> Seguridad de <span>Herceptin<sup>&reg;</sup> SC 600</span> más quimioterapia
            <br/> en cáncer de mama temprano<sup>9</sup></div>
        <div id="txt3"><span>SafeHer es el estudio fase III</span> más grande que evalúa la seguridad
            <br/> de la formulación SC de Herceptin<sup>&reg;</sup> al incluir más de 2577 pacientes
            <br/> en etapas tempranas, en 59 países (incluyendo México)</div>
        <div id="txt4">La evaluación se realizó tanto en la aplicación manual como en la
            <br/> aplicación mediante el dispositivo automático (SID)</div>
        <div id="txt5">El estudio <span>SafeHer</span> confirmó la <span>seguridad y tolerabilidad de
            <br/> Herceptin<sup>&reg;</sup> SC 600 como terapia adyuvante</span> al ser consistente
            <br/> con el régimen basado en Herceptin<sup>&reg;</sup> IV</div>
        <div id="material">
            MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
        </div>
</article>