<article id="slide58" data-ag-slide-name="Manejo de tejidos" class="slide">
    <div id="fondoSlide58">
        <div id="txtTituloSlide58" class="txtTitulo">Manejo del tejido del cáncer de mama
            <br>
            <span>Basado en la Guía ASCO / CAP 2013 para la prueba de HER2 en cáncer de mama* </span>
        </div>
        <div id="menuSlide67">
            <div id="heterogenidadSlide58" class="itemMenuSlide67">HETEROGENEIDAD</div>
            <div class="btnHeterogeneidad"></div>
            <img id="linea1Slide66" src="content/img/slide67/lineaActiva.png" alt="">
            <div id="preparacionSlide58" class="itemMenuSlide67">PREPARACIÓN</div>
            <div class="btnPreparacion"></div>
            <img id="linea2Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="reaccionSlide58" class="itemMenuSlide67">REACCIÓN</div>
            <div class="btnReaccion"></div>
            <img id="linea3Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="duracionSlide58" class="itemMenuSlide67">DURACIÓN</div>
            <div class="btnDuracion"></div>
            <img id="linea4Slide67" src="content/img/slide67/lineaNormal.png" alt="">
        </div>
        <div id="txt1">La ASCO/CAP indica que
            <br> cualquier desviación de las
            <br> recomendaciones de la Guía
            <br> para el tiempo de isquemia
            <br> fría, tipo de fijador o
            <br> duración de la fijación,
            <br> deben ser claramente
            <br> registradas en el reporte de
            <br> patología.
            <sup>22</sup></div>
        <div id="txt2">
            * Las imágenes son solamente para concepto de ilustración y no se pretende describir prácticas de laboratorio específicas.
            <br>
            <br>
            <span>ASCO/CAP:</span> Sociedad Americana de Oncología Clínica/Colegio Americano de Patólogos
            <br/>
            <br/>
            <span>HER2:</span> Receptor de factor de crecimiento epidérmico humano 2</div>
        <div id="cuadro">
            <div id="txt1Cuadro"> HETEROGENEIDAD DE HER2</div>
            <ul id="txt2Cuadro">
                <li> Las muestras de tumores mamarios pueden presentar heterogeneidad de HER2<sup>22-24</sup></li>
                <li> La heterogeneidad genética HER2 se produce cuando el HER2 se amplifica
                    <br> en algunas partes del tumor, pero no en otros<sup>22-24</sup></li>
            </ul>
            <ul id="txt3Cuadro">
                <li>Se debe considerar repetir las pruebas si los resultados pare- cen discordantes con otros hallazgos histopatológicos
                    <sup>22</sup>
                </li>
            </ul>
            <div id="txt6Cuadro">Muestra
                <br> de biopsia
                <br> de núcleo</div>
            <div id="txt7Cuadro">Sobrexpresión
                <br> de células HER2
            </div>
            <div id="txt8Cuadro">Muestra
                <br> excisional
            </div>
            <div id="txt9Cuadro"> Tumor </div>
        </div>
    </div>
    <div class="texto_mensaje_footer">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>
</article>