<article id="slide2" data-ag-slide-name="Tiempo en el Hospital" class="slide">
    <div class="fondoSlide"></div>
    <div class="logoSlide"></div>
    <!-- <div class="fondoSlide"></div> -->
    <div id="tituloSlide2">
        <span>Menos</span> tiempo en el hospital y <span>más</span> tiempo para ellas
        <br/>
        <span2>Ahora <span>Herceptin<sup>&reg;</sup></span> es subcutáneo</span2>
    </div>
    <div id="subTituloSlide2">
        La administración IV demanda tiempo de las pacientes
    </div>
    <div id="img1"></div>
    <div id="TextoRegGde" class="TextoRegular">
        “Me afecta
        <br/> estar ahí
        <br/> tantas
        <br/> horas”<sup style="font-size: 27%;position: absolute;top: 136px;">1</sup>
    </div>
    <div id="txt1">
        “El tiempo es muy valioso
        <br/> para las mujeres con
        <br/> cáncer de mama, demasiado
        <br/> valioso como para estar
        <br/> esperando en los centros
        <br/> de quimioterapia”<sup>2</sup>
        <br/>
    </div>
    <div id="txt2">
        Profesora Lesley Fallowfield
        <br/> <span>Directora de Sussex Health Outcomes
        <br/> Research &amp; Education in Cancer</span>
        <br/>
    </div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    <div class="texto_footer">HERCEPTIN<sup>&reg;</sup> SC EN 5 MINUTOS<sup>3</sup> POR 18 CICLOS<sup>3</sup> MEJORA LA EXPERIENCIA EN LAS PACIENTES HER2+<sup>1</sup></div>
</article>