<article id="slide52" data-ag-slide-name="NSABP-NCCTG, HERA, PHARE 1.1" class="slide">
    <div id="fondoSlide52">
        <div id="txt1">Portafolio HER2</div>
        <div id="txt2">Actualización de las opciones de tratamiento en cáncer de mama temprano </div>
        <div id="logo-herceptin" class="bounce"></div>
        <div id="logo-perjeta" class="bounce"></div>
        <div id="logo-kadcyla" class="bounce"></div>
        <div id="txt3">Asociación de RPc
            <br/> con beneficios clínicos
            <br/> a largo plazo</div>
        <div id="cuadro-morado" class="fadeInDown">
            <div id="txt4"><span>HannaH</span>
                <br/> comparación de Herceptin<sup>&reg;</sup> IV
                <br/> y Herceptin<sup>&reg;</sup> SC<sup>3</sup></div>
        </div>
        <div id="cuadro-celeste" class="fadeInUp">
            <div id="txt5"><span>NeoSphere:</span>
                <br/> eficacia y seguridad
                <br/> de PERJETA<sup>&reg;</sup> + Herceptin<sup>&reg;19</sup></div>
            <div id="txt6"><span>TRYPHAENA:</span>
                <br/> seguridad y esquemas de combinación
                <br/> de PERJETA<sup>&reg;</sup> + Herceptin<sup>&reg;20</sup> </div>
        </div>
        <div id="cuadro-fucsia" class="fadeIn">
            <div id="txt7"><span>EMILIA</span>
                <br/> Progresión
                <br/> durante
                <br/> tratamiento
                <br/> con Herceptin<sup>&reg;</sup>
                <br/> ‹6 meses de
                <br/> finalizar
                <br/> tratamiento
                <br/> adyuvante
                <br/> con
                <br/> Herceptin<sup>&reg;21</sup></div>
        </div>
    </div>
</article>