<article id="slide68" data-ag-slide-name="Videos y animaciones" class="slide">
    <div id="fondoSlide68">
        <div id="txtTituloSlide68" class="txtTitulo">Videos</div>
        <div id="txt1Slide68">MdA
            <br> Herceptin<sup>&reg;</sup></div>
        <video id="video1Slide68" width="241" height="137" controls poster="content/img/slide68/video1.png" onclick="this.play();">
            <source src="content/video/ANIMACIONES_MdA/3.2.1_ANIMA_MdA_HERCEPTIN_IV_AUDIO_4MAYO16.mp4" type="video/mp4">
        </video>
        <div id="txt2Slide68">
            MdA
            <br>
            <span>Hialuronidasa humana recombinante</span>
        </div>
        <video id="video2Slide68" width="241" height="137" controls poster="content/img/slide68/video2.png" onclick="this.play();">
            <source src="content/video/ANIMACIONES_MdA/3.2.3_ANIMA_MdA_HIALURONIDASA_4MAYO16.mp4" type="video/mp4">
        </video>
        <div id="txt3Slide68">
            MdA
            <br> Herceptin<sup>&reg;</sup> SC 600
        </div>
        <video id="video3Slide68" width="241" height="137" controls poster="content/img/slide68/video3.png" onclick="this.play();">
            <source src="content/video/ANIMACIONES_MdA/3.2.2_ANIMA_MdA _HERCEPTIN_SC_4MAYO2016.mp4" type="video/mp4">
        </video>
        <div id="txt4Slide68">
            Dr. David Miles
            <br>
            <span>El estándar de tratamiento en 5 minutos</span>
        </div>
        <video id="video4Slide68" width="241" height="137" controls poster="content/img/slide68/video4.png" onclick="this.play();">
            <source src="content/video/VIDEOS_TESTIMONIOS/VIDEO_DAVID_MILES_5_MIN_BAJA.mp4" type="video/mp4">
        </video>
        <div id="txt5Slide68">
            Dr. David Miles
            <br>
            <span>Libera Recursos</span>
        </div>
        <video id="video5Slide68" width="241" height="137" controls poster="content/img/slide68/video4.png" onclick="this.play();">
            <source src="content/video/VIDEOS_TESTIMONIOS/VIDEO_DAVID_MILES_LIBERA_RECURSOS_BAJA.mp4" type="video/mp4">
        </video>
        <div id="txt6Slide68">
            Dr. Christian Jackisch
            <br>
            <span>Estudio HannaH: Eficacia y seguridad <br>
            de</span> Herceptin<sup>&reg;</sup> SC 600
        </div>
        <video id="video6Slide68" width="241" height="137" controls poster="content/img/slide68/video6.png" onclick="this.play();">
            <source src="content/video/VIDEOS_TESTIMONIOS/VIDEO_CHRISTIAN_JACKISCH_EFICACIA_SEGURIDAD_BAJA.mp4" type="video/mp4">
        </video>
    </div>
    <div class="texto_mensaje_footer" style="z-index: 3px;">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>
</article>