<article id="slide54" data-ag-slide-name="Video de administración 1.1" class="slide">
    <div id="fondo">
        <video id="videoslide54" width="1027" height="699" controls poster="content/img/slide54/video1.png" onclick="this.play();">
            <source src="content/video/VIDEO_ADMINISTRACION_POR_PARTES/4_VIDEO_INTRO_HERCEPTIN_SC.mp4" type="video/mp4">
        </video>
    </div>
</article>