<article id="slide12" data-ag-slide-name="Diseño del estudio Hannah" class="slide">
    <div class="logoSlide"></div>
    <div class="fondoSlide"></div>
    <div class="tituloSlide">
        <span class="tituloNegSlide">Herceptin<sup>&reg;</sup> SC 600</span>
        <br>
        <b>eficacia y seguridad</b> comparables a Herceptin<sup>&reg;</sup> IV<sup>3</sup>
    </div>
    <div class="subTituloSlide12">
        <b>Estudio HannaH (tratamiento mejorado con Herceptin<sup>&reg;</sup> neoadyuvante)</b>
        <br>
    </div>
    <div id="subTitulo2Slide12" class="subTituloSlide12">
        Estudio aleatorizado, internacional, abierto, fase 3 en terapia (neo) adyuvante
        <br>
    </div>
    <div id="img1Slide12"></div>
    <div id="TextLat12">
        <span>C<sub>valle</sub></span> = Concentración sérica mínima, <span>RpC</span> = Respuesta patológica completa
    </div>
    <div id="txt1">Pacientes con
        <br/> cáncer de mama
        <br/> temprano
        <br/> HER2 positivo<sup>3</sup></div>
    <div id="txt2">Aleatorización
        <br/> 1:1
    </div>
    <div id="txt3"> Tratamiento neoadyuvante</div>
    <div id="txt4">Tratamiento adyuvante</div>
    <div id="txt5">Herceptin<sup>&reg;</sup> SC 600</div>
    <div id="txt6">Herceptin<sup>&reg;</sup> IV</div>
    <div id="txt7">Cirugía</div>
    <div id="txt8">18 ciclos / 1 año</div>
    <div id="txt9">Seguimiento: 2 años</div>
    <div id="txt10">Criterios de valoración coprimarios: C<sub>valle</sub> y RpC</div>
    <div id="txt11"><span>Herceptin<sup>&reg;</sup> SC 600</span> (5mL) cada 3 semanas</div>
    <div id="txt12"><span>Herceptin<sup>&reg;</sup> IV</span> con dosis de carga de 8 mg/kg,
        <br/> seguido de 6 mg/kg; cada 3 semanas</div>
    <div id="txt13"><span>Docetaxel</span> 75 mg/m<sup>2</sup></div>
    <div id="txt14"><span>5-FU</span> (500 mg/m<sup>2</sup>), <span>epirrubicina</span> (75 mg/ m<sup>2</sup>), y
        <br/> <span>ciclofosfamida</span> (500 mg/ m<sup>2</sup>); cada 3 semanas</div>
    <div id="txt15">Diseño del estudio<sup>3</sup></div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>

    <div id="lupaSlide12"></div>
    <div id="popUpLupa1" class="fondoPopUp">
        <div id="fondoPopUp12">
             <div id="txt16">Pacientes con
        <br/> cáncer de mama
        <br/> temprano
        <br/> HER2 positivo<sup>3</sup></div>
    <div id="txt17">Aleatorización
        <br/> 1:1
    </div>
    <div id="txt18"> Tratamiento neoadyuvante</div>
    <div id="txt19">Tratamiento adyuvante</div>
    <div id="txt20">Herceptin<sup>&reg;</sup> SC 600</div>
    <div id="txt21">Herceptin<sup>&reg;</sup> IV</div>
    <div id="txt22">Cirugía</div>
    <div id="txt23">18 ciclos / 1 año</div>
    <div id="txt24">Seguimiento: 2 años</div>
    <div id="txt25">Criterios de valoración coprimarios: C<sub>valle</sub> y RpC</div>
    <div id="txt26"><span>Herceptin<sup>&reg;</sup> SC 600</span> (5mL) cada 3 semanas</div>
    <div id="txt27"><span>Herceptin<sup>&reg;</sup> IV</span> con dosis de carga de 8 mg/kg,
        <br/> seguido de 6 mg/kg; cada 3 semanas</div>
    <div id="txt28"><span>Docetaxel</span> 75 mg/m<sup>2</sup></div>
    <div id="txt29"><span>5-FU</span> (500 mg/m<sup>2</sup>), <span>epirrubicina</span> (75 mg/ m<sup>2</sup>), y
        <br/> <span>ciclofosfamida</span> (500 mg/ m<sup>2</sup>); cada 3 semanas</div>
    <div id="txt30">Diseño del estudio<sup>3</sup></div>
        </div>
        <div id="cierraLupa1"></div>
        <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    </div>
    <!-- <div class="texto_footer">HERCEPTIN<sup>&reg;</sup> SC EN 5 MINUTOS<sup>3</sup> POR 18 CICLOS<sup>3</sup> MEJORA LA
		EXPERIENCIA EN LAS PACIENTES HER2&#43;<sup>1</sup></div> -->
</article>