<article id="slide61" data-ag-slide-name="Manejo de tejidos 1.3" class="slide">
    <div id="fondoSlide61">
        <div id="txtTituloSlide61" class="txtTitulo">Manejo de tejido del estudio basado en la Guía 2013
            <br>
            <span>de la ASCO/CAP para pruebas de HER2 en cáncer de mama </span>
        </div>
        <div id="menuSlide67">
            <div id="heterogenidadSlide61" class="itemMenuSlide67">HETEROGENEIDAD</div>
            <div class="btnHeterogeneidad"></div>
            <img id="linea1Slide66" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="preparacionSlide61" class="itemMenuSlide67">PREPARACIÓN</div>
            <div class="btnPreparacion"></div>
            <img id="linea2Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="reaccionSlide61" class="itemMenuSlide67">REACCIÓN</div>
            <div class="btnReaccion"></div>
            <img id="linea3Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="duracionSlide61" class="itemMenuSlide67">DURACIÓN</div>
            <div class="btnDuracion"></div>
            <img id="linea4Slide67" src="content/img/slide67/lineaActiva.png" alt="">
        </div>
        <div id="txt1">La ASCO/CAP indica que
            <br> cualquier desviación de las
            <br> recomendaciones de la Guía
            <br> para el tiempo de isquemia
            <br> fría, tipo de fijador o
            <br> duración de la fijación,
            <br> deben ser claramente
            <br> registradas en el reporte de
            <br> patología.
            <sup>22</sup></div>
        <div id="txt2">* Las imágenes son solamente para concepto de ilustración y no se pretende describir prácticas de laboratorio específicas.
            <br>
            <br>
            <span>ASCO/CAP:</span> Sociedad Americana de Oncología Clínica/Colegio Americano de Patólogos; <span>RE:</span> Receptor de estrógeno;
            <br><br>
            <span>HER2:</span> Receptor de factor de crecimiento epidérmico humano 2; <span>RP :</span> Receptor de progesterona.</div>
        <div id="cuadro">
            <div id="txt1Cuadro">DURACIÓN DE LA FIJACIÓN</div>
            <ul id="txt2Cuadro">
                <li> La fijación completa depende de la penetración del fijador en toda
                    <br> la muestra<sup>26</sup></li>
                <li> La penetración de tejido por sí solo no es igual que la fijación del tejido<sup>27,29</sup></li>
                <li> La reacción de fijación química requiere de tiempo para completarse
                    <br> independientemente del tamaño de la muestra<sup>27,29</sup> </li>
            </ul>
            <ul id="txt3Cuadro">
                <li>Recuerda
                    <br> La formalina penetra
                    <br> al tejido con una
                    <br> velocidad aproximada
                    <br> de 1 mm por h,
                    <br> pero fija el tejido a
                    <br> una velocidad de 2 a
                    <br> 3 mm por 24 h<sup>26,29</sup>
                </li>
            </ul>
            <ul id="txt4Cuadro">
                <li>Todos los <br>especímenes de tumor
                    <br> mamario destinados
                    <br> para pruebas de
                    <br> RE, RP y HER2,
                    <br> deben de fijarse <br/> durante 6 a 72 h, sin
                    <br> importar el tamaño
                    <br> de la muestra<sup>22,29,30</sup></li>
            </ul>
        </div>
    </div>
    <div class="texto_mensaje_footer">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>
</article>