<article id="slide45" data-ag-slide-name="Ciclos de administración" class="slide">
    <div id="fondo">
        <div id="fondo_Slide45">
            <div id="txt1"><span>Ciclos</span> de administración</div>
            <div id="txt2">Herceptin<sup>&reg;</sup> SC 600</div>
            <div id="txt3">Dosis Fija</div>
            <div id="txt4">600 mg</div>
            <div id="txt5">en 5 ml <span>no se requiere
                <br/> osis de carga<sup>10</sup></span></div>
            <div id="txt6">Administración</div>
            <div id="txt7">2-5
                <br/> minutos
                <sup>3</sup></div>
            <div id="txt8">18 Ciclos de tratamiento<sup>3</sup></div>
            <div id="txt9">Semana
                <br/> 1
            </div>
            <div id="txt10">Semana
                <br/> 12
            </div>
            <div id="txt11">Semana
                <br/> 24
            </div>
            <div id="txt12">Semana
                <br/> 36
            </div>
            <div id="txt13">Semana
                <br/> 52
            </div>
            <div id="txt14"><dif>C</dif>3s <span>Herceptin<sup>&reg;</sup></span></div>
            <div id="txt15">Monitoreo cardíaco</div>
            <div id="txt16">Herceptin<sup>&reg;</sup> IV</div>
            <div id="txt17">Dosis de carga </div>
            <div id="txt18">8 mg/kg</div>
            <div id="txt19">administrados en 90 min</div>
            <div id="txt20">Dosis después de la primera infusión</div>
            <div id="txt21">6 mg/kg<sup>13</sup></div>
            <div id="txt22">Administrados</div>
            <div id="txt23">Infusión IV</div>
            <div id="txt24">Requiere línea IV</div>
            <div id="txt25">De 30-90 min de
                <br/> administración<sup>13</sup>
            </div>
            <div id="txt26">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>

            <div id="txt27">5<br/>MINUTOS</div>
            <div id="txt28">1</div>
            <div id="txt29">2</div>
            <div id="txt30">3</div>
            <div id="txt31">4</div>
            <div id="txt32">5</div>
            <div id="txt33">6</div>
            <div id="txt34">7</div>
            <div id="txt35">8</div>
            <div id="txt36">9</div>
            <div id="txt37">10</div>
            <div id="txt38">11</div>
            <div id="txt39">12</div>
            <div id="txt40">13</div>
            <div id="txt41">14</div>
            <div id="txt42">15</div>
            <div id="txt43">16</div>
            <div id="txt44">17</div>
            <div id="txt45">18</div>
        </div>
    </div>
</article>