<article id="slide50" data-ag-slide-name="NSABP-NCCTG, HERA, PHARE" class="slide">
    <div id="fondoSlide50">
        <div id="slide50_btnZoom"></div>
        <div id="slide50_contieneBarras">
            <div id="slide50_barras" class="mueveGrafica"></div>
        </div>
        <div id="txt1">En neoadyuvancia en cáncer de mama temprano HER2+</div>
        <div id="txt2">El doble bloqueo HER2
            <br/> PERJETA<sup>&reg;</sup> + Herceptin<sup>&reg;</sup> mejora significativamente la RPc<sup>19</sup></div>
        <div id="txt3">PERJETA<sup>&reg;</sup> + Herceptin<sup>&reg;</sup> + docetaxel administrado por 4 ciclos
            <br/> <span>aumenta la tasa de RPc en un 17.8% en comparación con Herceptin<sup>&reg;</sup> + docetaxel</span><sup>19</sup></div>
        <div id="txt4">Tasa de RPc en mama y ganglios<sup>19</sup></div>
        <div id="txt5" class="fadeIn">PERJETA<sup>&reg;</sup> <span>+ Herceptin<sup>&reg;</sup> + docetaxel<br/>
            (n=107)</span></div>
        <div id="txt6" class="fadeIn">Herceptin<sup>&reg;</sup> + docetaxel
            <br/> (n=107)
        </div>
        <div id="txt7" class="fadeIn">PERJETA<sup>&reg;</sup> <span>+<br/>
            Herceptin<sup>&reg;</sup> (n=107)</span></div>
        <div id="txt8" class="fadeIn">PERJETA<sup>&reg;</sup> <span>+ docetaxel<br/>
            (n=96)</span></div>
        <div id="txt9" class="fadeIn">39.3
            <span2>%</span2>
            <br/>
            <span>(95% IC: 30.0-49.2)</span></div>
        <div id="txt10" class="fadeIn">21.5
            <span2>%</span2>
            <br/>
            <span>(95% IC: 14.1-30.5)</span></div>
        <div id="txt11" class="fadeIn">11.2
            <span2>%</span2>
            <br/>
            <span>(95% IC: 5.9-18.8)</span></div>
        <div id="txt12" class="fadeIn">17.7
            <span2>%</span2>
            <br/>
            <span>(95% IC: 10.7-26.8)</span></div>
        <div id="txt13">0</div>
        <div id="txt14">5</div>
        <div id="txt15">15</div>
        <div id="txt16">25</div>
        <div id="txt17">35</div>
        <div id="txt18">45</div>
        <div id="txt19">55</div>
        <div id="txt20">65</div>
        <div id="txt21">75</div>
        <div id="txt22"><span>RpC</span> = Respuesta patológica completa </div>
        <div id="txt23">RpC (% de pacientes)</div>
        <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
        <div id="fondoPopupSlide50">
            <div id="slide50_contieneBarrasPopup">
                <div id="slide50_barrasPopup" class="mueveGrafica"></div>
            </div>
            <div id="txt4">Tasa de RPc en mama y ganglios<sup>19</sup></div>
            <div id="txt5" class="fadeIn">PERJETA<sup>&reg;</sup> <span>+ Herceptin<sup>&reg;</sup> + docetaxel<br/>
            (n=107)</span></div>
            <div id="txt6" class="fadeIn">Herceptin<sup>&reg;</sup> + docetaxel
                <br/> (n=107)
            </div>
            <div id="txt7" class="fadeIn">PERJETA<sup>&reg;</sup> <span>+<br/>
            Herceptin<sup>&reg;</sup> (n=107)</span></div>
            <div id="txt8" class="fadeIn">PERJETA<sup>&reg;</sup> <span>+ docetaxel<br/>
            (n=96)</span></div>
            <div id="txt9" class="fadeIn">39.3
                <span2>%</span2>
                <br/>
                <span>(95% IC: 30.0-49.2)</span></div>
            <div id="txt10" class="fadeIn">21.5
                <span2>%</span2>
                <br/>
                <span>(95% IC: 14.1-30.5)</span></div>
            <div id="txt11" class="fadeIn">11.2
                <span2>%</span2>
                <br/>
                <span>(95% IC: 5.9-18.8)</span></div>
            <div id="txt12" class="fadeIn">17.7
                <span2>%</span2>
                <br/>
                <span>(95% IC: 10.7-26.8)</span></div>
            <div id="txt13">0</div>
            <div id="txt14">5</div>
            <div id="txt15">15</div>
            <div id="txt16">25</div>
            <div id="txt17">35</div>
            <div id="txt18">45</div>
            <div id="txt19">55</div>
            <div id="txt20">65</div>
            <div id="txt21">75</div>
            <!-- <div id="txt22"><span>RpC</span> = Respuesta patológica completa </div> -->
            <div id="txt23">RpC (% de pacientes)</div>
            <div id="slide50_btnCierraZoom"></div>
        </div>
    </div>
</article>