<article id="slide3" data-ag-slide-name="La evolución de Herceptin®" class="slide">
    <div class="logoSlide"></div>
    <div class="fondoSlide"></div>
    <div id="tituloSlide3">
        <span>Menos</span> tiempo en el hospital y <span>más</span> tiempo para ellas
        <br/>
        <span2>Ahora <span>Herceptin</span><sup>&reg;</sup> es subcutáneo</span2>
    </div>
    <div id="subTituloSlide3">
        Ha llegado el momento de evolucionar el estándar de tratamiento
        <br> para el cáncer de mama HER2 positivo
    </div>
    <div id="txt1">
        Herceptin<sup>&reg;</sup>
    </div>
    <div id="subTitBold2" class="subTitBold">
        Herceptin<sup>&reg;</sup> SC 600
    </div>
    <div id="img1"></div>
    <div id="img2"></div>
    <div id="img3"></div>
    <div id="txt3">
        Una <span>revolución</span> clínica<sup>4</sup>
    </div>
    <div id="subTitLight2" class="subTitLight">
        La <span>evolución</span>
    </div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
</article>