<article id="slide11" data-ag-slide-name="Video beneficios de Herceptin en 5 min." class="slide">
    <div class="logoSlide"></div>
    <div class="fondoSlide"></div>
    <div id="txt1">Administrar <span>Herceptin<sup>&reg;</sup></span>,
        <br/>
        <span2>como parte del tratamiento, en <span>sólo 5 minutos<sup>3</sup></span></span2>
    </div>
    <div id="img_play"></div>
    <div id="img_reloj"></div>
    <div id="txt2">La nueva formulación
        <br/> de <span>Herceptin<sup>&reg;</sup> SC 600</span>/
        <br/> brinda los beneficios
        <br/> de <span>Herceptin<sup>&reg;</sup></span> en
        <br/> 5 minutos<sup>3</sup></div>
    <div id="videoSlide11">
        <video width="1024" height="588" controls poster="content/img/slide11/poster_video.png" id="slide11Vid">
            <source src="content/video/VIDEOS_TESTIMONIOS/VIDEO_DAVID_MILES_5_MIN_BAJA.mp4" type="video/mp4" /> Your browser does not support the video tag.
        </video>
    </div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
</article>