<article id="slide28" data-ag-slide-name="Video eficacia y seguridad" class="slide">
    <div class="logoSlide"></div>
    <div id="fondo_slide28"></div>
    <div id="txt1"><span>Herceptin<sup>&reg;</sup> SC 600</span>
        <br/>
        <span2><span>eficacia y seguridad</span> comparables a Herceptin<sup>&reg;</sup> IV<sup>3</sup></span2>
    </div>
    <div id="img1"></div>
    <div id="txt2">DR. CHRISTIAN JACKISCH</div>
    <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    <div id="videoSlide28">
        <video width="1024" height="588" controls id="slide28Vid">
            <source src="content/video/VIDEOS_TESTIMONIOS/VIDEO_CHRISTIAN_JACKISCH_EFICACIA_SEGURIDAD_BAJA.mp4" type="video/mp4" /> Your browser does not support the video tag.
        </video>
    </div>
</article>