<article id="slide67" data-ag-slide-name="Dosis y administracón Herceptin SC 1.4" class="slide">
    <div id="fondoSlide67">
        <div id="txtTituloSlide67" class="txtTitulo">Herceptin<sup>&reg;</sup> SC 600 <span>Dosis y administración</span> </div>
        <div id="menuSlide67">
            <div id="dosiSlide67" class="itemMenuSlide67">DOSIS</div>
            <div class="btnDosis"></div>
            <img id="linea1Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="preparacionSlide67" class="itemMenuSlide67">PREPARACIÓN</div>
            <div class="btnPreparacion2"></div>
            <img id="linea2Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="administracionSlide67" class="itemMenuSlide67">ADMINISTRACIÓN</div>
            <div class="btnAdministracion"></div>
            <img id="linea3Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="almacenamientoSlide67" class="itemMenuSlide67">ALMACENAMIENTO</div>
            <div class="btnAlmacenamiento"></div>
            <img id="linea4Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="vialSlide67" class="itemMenuSlide67">VIAL</div>
            <div class="btnVital"></div>
            <img id="linea5Slide67" src="content/img/slide67/lineaActiva.png" alt="">
        </div>
        <div class="fondoColumnasSlide67">
            <div id="cuadroVial">
                <div id="txt1Vial">HERCEPTIN<sup>&reg;</sup> SC
                    <verde>600</verde>
                </div>
                <div id="txt2Vial">HERCEPTIN<sup>&reg;</sup>
                    <verde>IV</verde>
                </div>
                <img id="imgFrascoVial1" src="content/img/slide67/frasco.png" alt="">
                <img src="content/img/slide67/frasco2.png" alt="" id="imgFrascoVial2">
                <div id="txt3Vial">Es importante identificar la formulación SC de la IV para su correcta aplicación</div>
            </div>
        </div>
    </div>
    <div class="texto_mensaje_footer">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>
</article>