<article id="slide17" data-ag-slide-name="Concentraciones Cvalle precirugia" class="slide">
    <div class="logoSlide"></div>
    <div id="fondo_slide17"></div>
    <div id="txt1"><span>Herceptin<sup>&reg;</sup> SC 600</span>
        <br/>
        <span2><span>eficacia y seguridad</span> comparables a Herceptin<sup>&reg;</sup> IV<sup>3</sup></span2>
    </div>
    <div id="txt2">Todos los pacientes lograron concentraciones C<sub>valle</sub> precirugía<sup>3</sup></div>
    <div id="txt3">Pacientes &gt;20 μg/mL en el ciclo 8 pre-dosis<sup>3</sup></div>
    <div id="contiene_barras">
        <div id="barras">
            <div id="txt9">n=227</div>
            <div id="txt10">n=232</div>
        </div>
    </div>
    <div id="linea_abajo_grafico"></div>
    <div id="txt4">97%</div>
    <div id="txt5">98.7%</div>
    <div id="txt6">Herceptin<sup>&reg;</sup> SC <span>600</span></div>
    <div id="txt7">Herceptin<sup>&reg;</sup> IV </div>
    <div id="txt8">Antes de la cirugía
        <br/> los dos grupos
        <br/> habían mantenido
        <br/> la misma
        <br/> proporción del
        <br/> bloqueo Receptor<sup>3</sup></div>
        <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    <div id="linea_abajo_grafico"></div>
    <div id="zoom"></div>
    <div id="fondoPopup_slide17">
        <div id="txt14">Pacientes &gt;20 μg/mL en el ciclo 8 pre-dosis<sup>3</sup></div>
        <div id="contiene_barras_popup">
            <div id="barras_popup" class="mueveBarrasVertical">
                <div id="txt11" class="fadeIn">n=227</div>
                <div id="txt12" class="fadeIn">n=232</div>
            </div>
        </div>
        <div id="linea_abajo_grafico_popup"></div>
        <div id="txt15" class="fadeIn">97%</div>
        <div id="txt16" class="fadeIn">98.7%</div>
        <div id="txt17">Herceptin<sup>&reg;</sup> SC <span>600</span></div>
        <div id="txt18">Herceptin<sup>&reg;</sup> IV </div>
        <div id="btnCierraZoom"></div>
    </div>
</article>