<article id="slide30" data-ag-slide-name="Formulación SC liberando recursos" class="slide">
    <div class="logoSlide"></div>
    <div id="fondo_slide30"></div>
    <div id="txt1"><span>Herceptin<sup>&reg;</sup> SC 600</span>
        <br/>
        <span2>Formulación lista para usarse<sup>10</sup>, <span>liberando recursos clínicos<sup>6</sup></span></span2>
    </div>
    <div id="txt2">La dosis fija de <span>600 mg</span> es adecuada para todas las pacientes con CM HER2 positivo
        <br/> independientemente de su peso corporal<sup>10</sup></div>
    <div id="txt3">Resumen de la respuesta RpC
        <br/> por peso corporal para <span>Herceptin<sup>&reg;</sup> SC 600</span> y <span>Herceptin<sup>&reg;</sup> IV<sup>11</sup></span></div>
    <div id="txt4">Tabla basal de peso (kg)</div>
    <div id="txt5">n</div>
    <div id="txt6">No. de respondedores (%)</div>
    <div id="txt7">n</div>
    <div id="txt8">No. de respondedores (%)</div>
    <div id="txt9">&lt;58 kg</div>
    <div id="txt10">58 - 66 kg</div>
    <div id="txt11">Herceptin<sup>&reg;</sup> SC 600 <span>(n=260)</span></div>
    <div id="txt12">Herceptin<sup>&reg;</sup> IV <span>(n=263)</span></div>
    <div id="txt13">67 - 78 kg</div>
    <div id="txt14">&gt;78 kg</div>
    <div id="txt15">56
        <br/>63
        <br/>68
        <br/>73</div>
    <div id="txt16">30 <span>( 54% )</span>
        <br/> 28 <span>( 44% )</span>
        <br/> 31 <span>( 46% )</span>
        <br/> 29 <span>( 40% )</span></div>
    <div id="txt17">62
        <br/> 74
        <br/> 68
        <br/> 59
    </div>
    <div id="txt18">23 <span>( 37% )</span>
        <br/> 32 <span>( 43% )</span>
        <br/> 28 <span>( 41% )</span>
        <br/> 24 <span>( 41% )</span></div>
    <div id="txt23">Las tasas de RpC
        <br/> de la dosis fija de
        <br/> 600 mg de la
        <br/> formulación de
        <br/> <span>Herceptin<sup>&reg;</sup> SC 600</span>
        <br/> son comparables
        <br/> entre los grupos
        <br/> de peso de las
        <br/> pacientes
        <sup>11</sup></div>
        <div class="texto_mensaje_footer">
        MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD
    </div>
    <div id="zoom"></div>
    <div id="fondoPopup_slide30">
        <div id="scale">
            <div id="txt24">Resumen de la respuesta RpC
                <br/> por peso corporal para <span>Herceptin<sup>&reg;</sup> SC 600</span> y <span>Herceptin<sup>&reg;</sup> IV<sup>11</sup></span></div>
            <div id="txt25">Tabla basal de peso (kg)</div>
            <div id="txt26">n</div>
            <div id="txt27">No. de respondedores (%)</div>
            <div id="txt28">n</div>
            <div id="txt29">No. de respondedores (%)</div>
            <div id="txt30">&lt;58 kg</div>
            <div id="txt31">58 - 66 kg</div>
            <div id="txt32">Herceptin<sup>&reg;</sup> SC 600 <span>(n=260)</span></div>
            <div id="txt33">Herceptin<sup>&reg;</sup> IV <span>(n=263)</span></div>
            <div id="txt34">67 - 78 kg</div>
            <div id="txt35">&gt;78 kg</div>
            <div id="txt36">56
                <br/>63
                <br/>68
                <br/>73</div>
            <div id="txt37">30 <span>( 54% )</span>
                <br/> 28 <span>( 44% )</span>
                <br/> 31 <span>( 46% )</span>
                <br/> 29 <span>( 40% )</span></div>
            <div id="txt38">62
                <br/> 74
                <br/> 68
                <br/> 59
            </div>
            <div id="txt39">23 <span>( 37% )</span>
                <br/> 32 <span>( 43% )</span>
                <br/> 28 <span>( 41% )</span>
                <br/> 24 <span>( 41% )</span></div>
        </div>
        <div id="btnCierraZoom"></div>
    </div>
</article>