<article id="slide65" data-ag-slide-name="Dosis y administracón Herceptin SC 1.2" class="slide">
    <div id="fondoSlide65">
        <div id="txtTituloSlide67" class="txtTitulo">Herceptin<sup>&reg;</sup> SC 600 <span>Dosis y administración</span> </div>
        <div id="menuSlide67">
            <div id="dosiSlide65" class="itemMenuSlide67">DOSIS</div>
            <div class="btnDosis"></div>
            <img id="linea1Slide66" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="preparacionSlide65" class="itemMenuSlide67">PREPARACIÓN</div>
            <div class="btnPreparacion2"></div>
            <img id="linea2Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="administracionSlide65" class="itemMenuSlide67">ADMINISTRACIÓN</div>
            <div class="btnAdministracion"></div>
            <img id="linea3Slide67" src="content/img/slide67/lineaActiva.png" alt="">
            <div id="almacenamientoSlide65" class="itemMenuSlide67">ALMACENAMIENTO</div>
            <div class="btnAlmacenamiento"></div>
            <img id="linea4Slide67" src="content/img/slide67/lineaNormal.png" alt="">
            <div id="vialSlide65" class="itemMenuSlide67">VIAL</div>
            <div class="btnVital"></div>
            <img id="linea5Slide67" src="content/img/slide67/lineaNormal.png" alt="">
        </div>
        <div class="fondoColumnasSlide67">
            <div id="cuadroAlmacenamiento">
                <div id="txt1">HERCEPTIN<sup>&reg;</sup> SC
                    <verde>600</verde>
                </div>
                <div id="txt2">HERCEPTIN<sup>&reg;</sup>
                    <verde>IV</verde>
                </div>
                <img src="content/img/slide65/bullets.png" alt="" id="imgBullets">
                <div id="txt3">Administración SC en
                    <br> el muslo utilizando una
                    <br> jeringa de mano de
                    <br> acuerdo a las
                    <br> normativas locales<sup>10</sup> </div>
                <div id="txt4">2-5 minutos<sup>10</sup></div>
                <div id="txt5">Infusión IV<sup>13</sup></div>
                <div id="txt6">Requiere línea IV<sup>1</sup> </div>
                <div id="txt7">De 30–90 minutos
                    <br> de administración<sup>13</sup> </div>
            </div>
        </div>
        <div class="texto_mensaje_footer">MATERIAL EXCLUSIVO PARA EL PROFESIONAL DE LA SALUD</div>
</article>