.thumb-indicators {
    position:absolute;
    bottom:20px;
}

.basicmenu {
    width:              100%;
    float:              left;
    overflow:           hidden;
    position:           relative;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: inset 0px -4px 7px #EDEDED;
     display:           -webkit-box;
    -webkit-box-orient: horizontal;
    height:             50px;
}

.basicmenu li {
    display:          block;
    font-family:      OptimaBold;
    color:            #807c80;
     padding:          15px;
    text-align:       center;
    -webkit-box-flex: 1;
}

.basicmenu .selected {
    background-color:   #FFF;
    font-family:        OptimaBold;
    color:              #652D8A;
    -webkit-box-shadow: 0px -4px 17px #E5E5E5;
    border-bottom:      #E5E5E5 1px solid;
}


.basicmenu li:nth-child(1) {
    background:    url('../../content/img/menu/home.png') no-repeat 6px 15px;
    margin: 0px 0px 0px 10px;
    
}

.basicmenu li:nth-child(6), .basicmenu li:nth-child(7), .basicmenu li:nth-child(8){
    font-size:  14px;
    margin-top: 2px;
}

.basicmenu li:nth-child(8), .basicmenu li:nth-child(8).active {
    background:    url('../../content/img/menu/stopwatch.png') no-repeat 10px 10px;
    padding-right: 26px;    
}

.basicmenu li:nth-child(5) {
    margin-right: 45px;
}


.basicmenu li.active {
    float:              left;
    font-family:        OptimaBold;
    color:              #652D8A;
    -webkit-box-shadow: 0px 0px 17px #E5E5E5;
    background:         #FFF;
    height:             54px;
    margin-bottom:      -64px;
    font-size:          16px; 
    padding:            15px;
}

