/*.case-studies{
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, #C2C2C2), color-stop(0.51, #F1F1F1), color-stop(0.9, #C2C2C2));
}*/

.case-studies .case-studies-header{
	display:block;
}
.case-studies-header{
	display:none;
}
.case-studies #slideshows,
.case-studies .slideshow{
	background: none;
	background-color: white;
}

.case-studies #mainmenu,
.case-studies #mainfooter #logo,
.case-studies #mainfooter #thumbswrapper,
.case-studies-shopping-cart,
.case-studies-close, .case-studies-indicator{
	display: none;
}

.case-studies .case-studies-header{
	display: block;
	background: url('../../content/img/caseStudies/layout_bg_top.png') no-repeat;
	padding: 10px 20px 0 20px;
	width: 984px;
	height: 116px;
	position: absolute;
	top: 0;
	left: 0;
	font: 15px 'Optima';
	color: #fff;
/*	letter-spacing: 0px; */
}

.case-studies-header div{
	float: left;
}

.case-studies-header div:last-child{
	float: right;
	text-align: right;
}

.case-studies-header div:last-child p{
	font: 14px FrutigerLtstd67;
}

.case-studies-header div:last-child p:last-child{
	font: 11px FrutigerLtstd47;
}

.case-studies #mainfooter{
	background: url('../../content/img/caseStudies/layout_bg_bottom.png') no-repeat;
	height: 50px;
}

.case-studies .content-wrapper{
	margin: 134px 0 0 120px !important;
	color: #6b2f83;
}

.case-studies .case-studies-shopping-cart, .case-studies .case-studies-close{
	position: absolute;
	width: 44px;
	height: 44px;
	top: -50px;
	right: 30px;
	background: url("../../content/img/caseStudies/buttons.png") no-repeat right top;
	border: none;
	display: block;
	-webkit-tap-highlight-color: transparent;
}

.case-studies .case-studies-shopping-cart{
	top: -110px;
	background-position: left top;
}

.case-studies .content-wrapper *{
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}

.case-studies h1{
	/*font: 23px 'FrutigerLtstd67';*/
}

.case-studies h2{
	font: 18px 'OptimaBold';
}

.case-studies .study-subheader-text{
	font: 18px 'Frutiger47LightCn';
}

.case-studies .content-wrapper p{
	font: 18px "Optima";
	margin-top: 10px;
}

.case-studies .content-wrapper ul li{
	margin-top: 15px;
	font: 18px "Optima";
	list-style-position: outside;
	list-style-type: disc;
	margin-left: 20px;
}

.case-studies .content-wrapper ul li i{
	font: italic 13px 'Helvetica';
	letter-spacing: -1px;
}

.case-studies .content-wrapper ul li ul li{
	margin-left: 40px;
	margin-top: 5px;
	font-size: 14px;
}

.case-studies .content-wrapper p.footnote{
	font: 16px "FrutigerLtstd47";
	position: absolute;
	bottom: 95px;
}

.case-studies #drawTool{
	background: url('../../content/img/caseStudies/highlight-pen.png') no-repeat;
	top: 65px;
	left: auto;
	right: 0;
}
.case-studies-popup #drawTool{
	top: 98px;
	left: auto;
	right: 50px;
	background: url(../../content/img/app/draw/draw.png) no-repeat center top;
}
.case-studies #drawTool ul{
	margin-left: -40px;
}

.case-studies-popup #drawTool ul{
	margin-left: -20px;
}

.case-studies-popup #referencelist{
	left: 49px;
	bottom: 129px;
}

.case-studies-popup #references{
	bottom: 68px;
	left: 50px;
}

.case-studies .case-studies-indicator{
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
	height: 20px;
	color: white;
	font: 16px 'OptimaBold';
	text-align: center;
	display: block;
	pointer-events: none;
}

.case-studies .content-wrapper .draggable-wrapper{
	margin-left: 182px;
	width: 420px;
	margin-top: 20px;
	position: relative;
}

.case-studies .content-wrapper .draggable-wrapper .questions li{
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	list-style-type: none;
	border-radius: 5px;
	margin: 0 0 10px 0;
	padding: 0 10px 0;
	height: 45px;
	text-align: center;
	opacity: 0.9;
	background-color: #6b2f83;
	-webkit-box-shadow: inset 2px 2px 10px 1px #b395bf, inset -2px -2px 10px 1px #361842;
	color: #ffffff;
	position: relative;
}

.case-studies .content-wrapper .draggable-wrapper .questions li.drop-target{
	margin-bottom: 50px;
	-webkit-box-shadow: inset 0px 0px 10px 2px #d7d7d7;
	background-color: #f1f1f1;
	border: 1px solid #d7d7d7;
}

.case-studies .content-wrapper .draggable-wrapper .questions li.selected{
	background-color: #d5c9da;
	-webkit-box-shadow: inset 2px 2px 10px 1px #a48fad, inset -2px -2px 10px 1px #bcadc2;
	opacity: 0.8;
	color: #75408b;
}

.case-studies .content-wrapper .draggable-wrapper .questions li p{
	font: 13px "FrutigerLtstd67";
	width: 100%;
	position: relative;
	top: 3px;
	left: 0;
	display: inline-block;
	margin: 0;
    padding-bottom: 5px;
	
}
.case-studies .content-wrapper .draggable-wrapper .questions li p+p {
    top:-5px;
}

.case-studies .content-wrapper .draggable-wrapper .questions li p.bolder{
	font-size: 18px;
}

.case-studies .content-wrapper .submit-drag{
	position: absolute;
	bottom: 90px;
	left: 441px;
	padding: 9px 0 0 24px;
	width: 120px;
	height: 30px;
	font: 18px "FrutigerLtstd67";
	border-radius: 5px;
	background: url('../../content/img/caseStudies/submit-popup.png') center center no-repeat;
}

.case-studies .content-wrapper .draggable-wrapper .questions li.active{
	z-index: 9999;
}
