@font-face { font-family: HelveticaNeueMedium; src: url('../../content/fonts/HelveticaNeueMedium.ttf') format('truetype'); }
@font-face { font-family: Optima; src: url('../../content/fonts/OptimaLTStd.otf') format('truetype'); }
@font-face { font-family: OptimaBold; src: url('../../content/fonts/Optima-LT-Dem-Bold.ttf') format('truetype'); }
@font-face { font-family: OptimaMedium; src: url('../../content/fonts/OptimaLTStd-Medium.otf') format('truetype'); }
@font-face { font-family: MyriadPro; src: url('../../content/fonts/MyriadPro-Regular.otf') format('truetype'); }
@font-face { font-family: FrutigerLtstd47; src: url('../../content/fonts/FrutigerLTStd-LightCn.otf') format('truetype'); }
@font-face { font-family: FrutigerLtstd57; src: url('../../content/fonts/FrutigerLTStd-Cn.otf') format('truetype'); }
@font-face { font-family: FrutigerLtstd67; src: url('../../content/fonts/FrutigerLTStd-BoldCn.otf') format('truetype'); }
@font-face { font-family: FrutigerLight; src: url('../../content/fonts/FrutigerLTStd-Light.otf') format('truetype'); }



body {
  font-family: optima;
  overflow: visible;
  background-color: #333;
  -webkit-user-select:none;
}


.presentation {
  height: 768px;
  width: 1024px;
  float: left;
  position: relative;
  z-index: 1;
  overflow: visible;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #FFF;
  color: inherit;
}

h3 {
  padding-left: 0px;
  position: absolute;
  display: block;
  top: 285px;
  left: 100px;
  margin: 0px;
  font-size: 18px;
  font-family: helveticaneuemedium;
}

h1 {
  color: #652D89;
  font-family: Optima;
  font-size: 26px;
  letter-spacing: -1px;
  /*margin: 6px 0px 0px 4px;*/
  margin: 45px 0px -39px 4px;
  padding:17px 0px 17px 55px;
  position: relative;
  width: 0px;
  line-height: 35px;
  white-space: nowrap;
  font-weight: normal;
}

sup {
  font-size: 50%;
  vertical-align:super;
	line-height: 0.5em;
}

.pp-content{
  width: 1015px;
  height: 450px;
  background-color: white;
  position: absolute;
  left: 5px;
  top: 79px;
  -webkit-box-shadow: 0px 0px 6px -2px #999;
}

.patient_bio { 
  display: block; 
  position: absolute; 
  top: 13px;
  right: 0px; 
  margin: 0px;
  line-height: 13px; 
  font-size: 13px; 
  padding-left: 75px;
  padding-top:23px;
  width: 377px; 
  height: 136px; 
  background-color:white;
  font-family: optima; 
  -webkit-box-shadow: 0px 0px 8px #999; 
  list-style: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.patient_bio div { 
  position: absolute; 
  top: 0px; 
  left: -1px; 
  width: 133px; 
  height: 159px;
}

.patient_bio li { 
  color: #999999; 
  padding-left: 0px;
  margin-left: 70px;
  margin-bottom:7px; 
}

.back-button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B7B7B7), to(#747474));
  border-bottom-left-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  bottom: 65px;
  color: #D7D7D7;
  font-weight: bold;
  height: 50px;
  left: 20px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  visibility:hidden;
  width: 75px;
  z-index:40;
}

.pp-subheader{
  color: #666;
  display: block;
  font-family: optima;
  font-size: 20px;
  margin-top: 39px;
  margin-left: 98px;
  font-weight: normal;
}

#refPopup{
  color: #70757A;
}

#refPopup .yellow{
  background: yellow;
}

.activeDrag {
  z-index:999;
}

/*for headers that are switched with js - needed for html editor*/
.placeholder-header{
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:0;
  height:0;
}
