/*---------------CSS de Santiago-----------*/

.tituloSlide {
    position: absolute;
    top: 25px;
    left: 133px;
    font-family: "Verdana";
    font-size: 28px;
    color: #430098;
    line-height: 35px;
    text-align: center;
}

.tituloNegSlide {
    font-family: "VerdanaBold";
    font-size: 28px;
}

.subTituloSlide {
    position: absolute;
    top: 136px;
    font-family: "Verdana";
    font-size: 16px;
    color: #430098;
    line-height: 23px;
    text-align: center;
}

.subTituloSlide {
    position: absolute;
    top: 136px;
    font-family: "Verdana";
    font-size: 16px;
    color: #430098;
    line-height: 23px;
    text-align: center;
}


.texto_mensaje_footer {
    position: absolute;
    top: 615px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    z-index: 1;
}

.texto_footer {
    position: absolute;
    top: 724px;
    left: 43px;
    color: #FFFFFF;
    font-family: "NexaRustSans-Black";
    font-size: 12px;
}
.texto_footer span{
    font-family: "VerdanaBold";
}

.fondoSlide {
    background: url(../../content/img/backgrounds/fondo.png) no-repeat;
    width: 1024px;
    height: 588px;
    top: 114px;
    position: absolute;
}

.logoSlide {
    top: -50px;
    width: 69px;
    height: 48px;
    background: url("../../content/img/logoRoche.png");
    position: absolute;
    right: 0px;
    padding: 1px;
}





/*---------------------------------Fin del CSS de Santiago-----------*/

.textoPrincipalMorado {
    position: absolute;
    top: 72px;
    left: 50px;
    color: #642d88;
    font-size: 24px;
    font-family: "Optima Roman";
    /*z-index: 2;*/
}

.completa {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
    /*z-index: 100;*/
}

.margenGlobal {
    margin-left: 70px;
    position: relative;
}





/*-------------Estilos de las referencias--------------*/

.fondoReferencia {
    display: none;
    background: url('../../content/img/app/popupReferencia.png') no-repeat;
}

.referenciaContenido {
    position: absolute;
    top: 270px;
    left: 200px;
    font-family: "Frutiger Roman";
    font-size: 13px;
    z-index: 29;
}


#cierraReferencia {
    position: absolute;
    z-index: 5;
    right: 130px;
    top: 205px;
    width: 50px;
    height: 50px;
    background: url('../../content/img/app/cierraReferencias.png') center center no-repeat;
    display: none;
}

#btnHome,
#btnHomeSlide1_1,
#btnHomeSlide1_2,
#btnHomeSlide1_3,
#btnHomeSlide1_4,
#btnHomeSlide2,
#btnHomeSlide2_1,
#btnHomeSlide2_2,
#btnHomeSlide2_3,
#btnHomeSlide3,
#btnHomeSlide3_1,
#btnHomeSlide3_2,
#btnHomeSlide3_3,
#btnHomeSlide3_4,
#btnHomeSlide4,
#btnHomeSlide4_1,
#btnHomeSlide4_2,
#btnHomeSlide4_3,
#btnHomeSlide4_4,
#btnHomeSlide4_5,
#btnHomeSlide5,
#btnHomeSlide5_1,
#btnHomeSlide5_2,
#btnHomeSlide6,
#btnHomeSlide6_1,
#btnHomeSlide6_2,
#btnHomeSlide6_3,
#btnHomeSlide6_4,
#btnHomeSlide7,
#btnHomeSlide7_1,
#btnHomeSlide7_2,
#btnHomeSlide7_3,
#btnHomeSlide7_4,
#btnHomeSlide7_5,
#btnHomeSlide8,
#btnHomeSlide9,
#btnHomeSlide10,
#btnHomeGuia {
    background: url('../../content/img/app/btnHome.png');
    position: absolute;
    top: 640px;
    left: 15px;
    width: 43px;
    height: 38px;
    z-index: 1;
}






/*-----------------------Estilos de Correo----------------------------*/

#wFormCorreo {
    background: url('../../content/img/backgrounds/fondoCorreo.png');
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
}

#contenedorCorreo {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
    z-index: 29;
}

#cierraEnviaCorreo {
    background: url('../../content/img/app/btnCerrarPopUp.png');
    position: absolute;
    top: 90px;
    left: 675px;
    width: 36px;
    height: 36px;
}

.textbox {
    border: 0px dashed #000000;
    outline: 0;
    background: transparent;
    font-family: "OptimaLTStd-DemiBold";
    font-size: 15px;
    text-align: left;
    color: #000000;
}

#cedulaEnviar {
    position: absolute;
    top: 220px;
    left: 373px;
    width: 200px;
    height: 35px;
}

#nombreMedico {
    position: absolute;
    top: 298px;
    left: 373px;
    width: 273px;
    height: 35px;
}

#especialidadMedico {
    position: absolute;
    top: 376px;
    left: 373px;
    width: 273px;
    height: 35px;
}

#correoMedico {
    position: absolute;
    top: 454px;
    left: 373px;
    width: 273px;
    height: 35px;
}

#estudioMedico {
    position: absolute;
    top: 532px;
    left: 373px;
    width: 273px;
    height: 35px;
}

#enviaCorreo {
    position: absolute;
    top: 610px;
    left: 371px;
    width: 275px;
    height: 41px;
    border: 0px dashed #000000;
    outline: 0;
    background: transparent;
}






/*----------------------Animaciones--------------------*/

.interaccionGraficaHorizontal {
    width: 0%;
    -webkit-animation-duration: 0s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes mueveGraficaHorizontal {
    0% {
        width: 0%;
    }


    100% {
        width: 100%;
        -webkit-transition-timing-function: ease-out;
    }
}

.mueveGraficaHorizontal {
    -webkit-animation-name: mueveGraficaHorizontal;
    animation-name: mueveGraficaHorizontal;
}

.ver {
    opacity: 1;
    height: 100%;
    width: 100%;
    -webkit-animation-duration: 0s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
}

.verTexto {
    opacity: 1;
    -webkit-animation-duration: 0s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
}

.oculto {
    display: none;
}





/*Animación de Barras Vericales*/

@-webkit-keyframes mueveBarrasVertical {
    0% {
        opacity: 0;
        height: 0%;
        top: 100%;
    }


    100% {
        opacity: 1;
        height: 100%;
        top: 0%;
        -webkit-transition-timing-function: ease-out;
    }
}

.mueveBarrasVertical {
    -webkit-animation-name: mueveBarrasVertical;
    animation-name: mueveBarrasVertical;
}






/*Animación de Logo*/

@-webkit-keyframes brilloInfinito {
    from {
        background-position: -265px 0;
    }
    to {
        background-position: 10px 0;
        -webkit-transition: background-position .3s ease;
        transition: background-position .3s ease;
    }
}


.brilloInfinito {
    -webkit-animation-name: brilloInfinito;
    animation-name: brilloInfinito;
}


.mascaraBrillo {
    background-image: url('../../content/img/app/brillo.png');
    position: absolute;
    background-position: -265px 0;
    background-repeat: no-repeat;
    width: 80%;
    height: 70%;
    left: 0px;
    top: 10px;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}





/*Animación de Graficas*/

@-webkit-keyframes mueveGrafica {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
        -webkit-transition-timing-function: ease-in-out;
    }
}

.mueveGrafica {
    -webkit-animation-name: mueveGrafica;
    animation-name: mueveGrafica;
}





/*Animación de Pie*/

@-webkit-keyframes HR47 {
    0% {
        clip: rect(0px 104px 151px 105px);
    }
    40% {
        clip: rect(0px 254px 151px 105px);
    }
    50% {
        clip: rect(0px 254px 161px 92px);
    }
    75% {
        clip: rect(0px 254px 297px 92px);
    }
    100% {
        clip: rect(0px 254px 297px 0px);
        -webkit-transition-timing-function: ease-in-out;
    }
}

.HR47 {
    -webkit-animation-name: HR47;
    animation-name: HR47;
}

@-webkit-keyframes HR47Lleno {
    0% {
        clip: rect(0px 254px 170px 83px);
    }

    55% {
        clip: rect(0px 254px 297px 83px);
    }

    100% {
        clip: rect(0px 254px 297px 0px);
        -webkit-transition-timing-function: ease-in-out;
    }
}

.HR47Lleno {
    -webkit-animation-name: HR47Lleno;
    animation-name: HR47Lleno;
}

@-webkit-keyframes HR53 {
    0% {
        clip: rect(0px 104px 151px 105px);
    }

    90% {
        clip: rect(0px 254px 151px 105px);
    }

    100% {
        clip: rect(0px 254px 170px 83px);
        -webkit-transition-timing-function: ease-in-out;
    }
}

.HR53 {
    -webkit-animation-name: HR53;
    animation-name: HR53;
}

@-webkit-keyframes HR53Lleno {
    0% {
        clip: rect(0px 254px 161px 92px);
    }

    55% {
        clip: rect(0px 254px 297px 92px);
    }

    100% {
        clip: rect(0px 254px 297px 0px);
        -webkit-transition-timing-function: ease-in-out;
    }
}

.HR53Lleno {
    -webkit-animation-name: HR53Lleno;
    animation-name: HR53Lleno;
}





/*Animación de Algoritmos*/

@-webkit-keyframes ocultaMascara {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
        -webkit-transition-timing-function: ease-in-out;
    }
}

.ocultaMascara {
    -webkit-animation-name: ocultaMascara;
    animation-name: ocultaMascara;
}


.barraDesplazamiento {
    position: absolute;
    /* top: 95%;
    left: 0%;*/
    background: url('../../content/img/app/barraDesplazadora.png');
    /* width:113%;
            height: 12%;*/
}

.botonDesplazador {
    background: url('../../content/img/app/btnBarra.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 39px;
    height: 39px;
    top: -7px;
    left: 4px;
    /*width: 11%;
height: 100%;*/
}





/* La clase .activeDrag es perteneciente a draggy.js y hace efecto cuando se esta en drag*/

.activeDrag {
    /*background:  url('../../content/img/app/cierraReferencias.png') ;
/*-webkit-transform: scale(2); 
transform: scale(2); */
}

@-webkit-keyframes lineas_horizontal {
    0% {
        opacity: 0;
        width: 0%;
    }


    100% {
        opacity: 1;
        width: 100%;
        -webkit-transition-timing-function: ease-out;
    }
}

.lineas_horizontal {
    opacity: 0;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 0.40s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: lineas_horizontal;
    animation-name: lineas_horizontal;
}