@font-face {
    font-family: OptimaRoman;
    src: url('../../content/fonts/OptimaRoman.otf') format('truetype')
}

@font-face {
    font-family: OptimaMedium;
    src: url('../../content/fonts/OptimaMedium.otf') format('truetype')
}

@font-face {
    font-family: OptimaBlack;
    src: url('../../content/fonts/OptimaBlack.otf') format('truetype')
}

@font-face {
    font-family: FrutigerLTStd_Bold;
    src: url('../../content/fonts/FrutigerLTStd-Bold.otf') format('truetype')
}

@font-face {
    font-family: FrutigerLTStd_Cn;
    src: url('../../content/fonts/FrutigerLTStd-Cn.otf') format('truetype')
}

@font-face {
    font-family: HelveticaNeue_Bold;
    src: url('../../content/fonts/HelveticaNeue-Bold.otf') format('truetype')
}

@font-face {
    font-family: "OptimaBold";
    src: url('../../content/fonts/OptimaBold.otf')
}

@font-face {
    font-family: FrutigerLTStd_Roman;
    src: url('../../content/fonts/FrutigerLTStd-Roman.otf') format('truetype')
}

@font-face {
    font-family: FrutigerLTStd_BoldCn;
    src: url('../../content/fonts/FrutigerLTStd-BoldCn.otf') format('truetype')
}

@font-face {
    font-family: FrutigerLTStd_Black;
    src: url('../../content/fonts/FrutigerLTStd-Black.otf') format('truetype')
}





/************************************Conduit*****************************************/

@font-face {
    font-family: "ConduitITCBold";
    src: url('../../content/fonts/Conduit_ITC_Bold.otf');
}

@font-face {
    font-family: "ConduitITCLight";
    src: url('../../content/fonts/Conduit_ITC_Light.otf');
}

@font-face {
    font-family: "ConduitITC";
    src: url('../../content/fonts/Conduit_ITC.otf');
}





/************************************Univers*****************************************/

@font-face {
    font-family: "UniversLTStdBold";
    src: url('../../content/fonts/UniversLTStdBold.otf');
}

@font-face {
    font-family: "UniversLTStd";
    src: url('../../content/fonts/UniversLTStd.otf');
}

@font-face {
    font-family: "UniversLTStdLight";
    src: url('../../content/fonts/UniversLTStdLight.otf');
}

@font-face {
    font-family: "UniversLTStdCn";
    src: url('../../content/fonts/UniversLTStd-Cn.otf');
}

@font-face {
    font-family: "UniversLTStdBoldCn";
    src: url('../../content/fonts/UniversLTStd-BoldCn.otf');
}

@font-face {
    font-family: "UniversLTStdLightCn";
    src: url('../../content/fonts/UniversLTStd-LightCn.otf');
}




/**********************************************************************************/

@font-face {
    font-family: "MyriadProSemibold";
    src: url('../../content/fonts/MyriadProSemibold.otf');
}

@font-face {
    font-family: "Bradley-Hand-Bold";
    src: url('../../content/fonts/Bradley-Hand-Bold.otf');
}






/*----------------Herceptin-----------------*/

@font-face {
    font-family: "Herceptin_Light";
    src: url('../../content/fonts/Herceptin-Light.otf');
}

@font-face {
    font-family: "Herceptin_Medium";
    src: url('../../content/fonts/Herceptin-Medium.otf');
}





/*----------------MyriadPro-----------------*/

@font-face {
    font-family: "MyriadPro_Regular";
    src: url('../../content/fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: "MyriadProLight";
    src: url('../../content/fonts/MyriadPro-Light.otf');
}

@font-face {
    font-family: "MyriadProBold";
    src: url('../../content/fonts/MyriadPro-Bold.otf');
}

@font-face {
    font-family: "MyriadProBoldIt";
    src: url('../../content/fonts/MyriadPro-BoldIt.otf');
}

@font-face {
    font-family: "MyriadProIt";
    src: url('../../content/fonts/MyriadPro-It.otf');
}





/*----------------Verdana-----------------*/

@font-face {
    font-family: "Verdana";
    src: url('../../content/fonts/Verdana.otf');
}

@font-face {
    font-family: "VerdanaBold";
    src: url('../../content/fonts/VerdanaBold.otf');
}

@font-face {
    font-family: "Verdana_Bold_Italic";
    src: url('../../content/fonts/VerdanaBoldItalic.otf');
}

@font-face {
    font-family: "Verdana_Italic";
    src: url('../../content/fonts/VerdanaItalic.otf');
}

@font-face {
    font-family: "Symbol";
    src: url('../../content/fonts/Symbol.otf');
}







/*------------------Optima-----------------*/

@font-face {
    font-family: "Optima";
    src: url('../../content/fonts/Optima.otf');
}

@font-face {
    font-family: "Optima-Italic";
    src: url('../../content/fonts/Optima-Italic.otf');
}

@font-face {
    font-family: "OptimaLTStd-Black";
    src: url('../../content/fonts/OptimaLTStd-Black.otf');
}

@font-face {
    font-family: "OptimaLTStd-Bold";
    src: url('../../content/fonts/OptimaLTStd-Bold.otf');
}

@font-face {
    font-family: "OptimaBold";
    src: url('../../content/fonts/OptimaBold.otf');
}

@font-face {
    font-family: "Optima-Bold-Italic";
    src: url('../../content/fonts/optimabolditalic.otf');
}

@font-face {

    font-family: "Optima Roman";
    src: url('../../content/fonts/Optima Roman.otf');
}

@font-face {
    font-family: "OptimaLTStd-DemiBold";
    src: url('../../content/fonts/OptimaLTStd-DemiBold.otf');
}






/* Fuentes Berthold-Imago*/

@font-face {
    font-family: "Berthold-Imago";
    src: url('../../content/fonts/Berthold-Imago.otf');
}

@font-face {
    font-family: "Berthold-Imago-Light";
    src: url('../../content/fonts/Berthold-Imago-Light.otf');
}

@font-face {
    font-family: "Berthold-Imago-Medium";
    src: url('../../content/fonts/Berthold-Imago-Medium.otf');
}

@font-face {
    font-family: "bertholdimagomediumitalic";
    src: url('../../content/fonts/bertholdimagomediumitalic.otf');
}

@font-face {
    font-family: "bertholdimagobookitalic";
    src: url('../../content/fonts/bertholdimagobookitalic.otf');
}


@font-face {
    font-family: "Berthold-Imago-Book";
    src: url('../../content/fonts/Berthold-Imago-Book.otf');
}

@font-face {
    font-family: "Bertholdimagolightitalic";
    src: url('../../content/fonts/tholdimagolightitalic.otf');
}








/**********************************************************Helvetica*******************************************/

@font-face {
    font-family: "HelveticaNeueBold";
    src: url('../../content/fonts/HelveticaNeue-Bold.otf');
}

@font-face {
    font-family: "HelveticaNeue";
    src: url('../../content/fonts/HelveticaNeue.otf');
}

@font-face {
    font-family: "HelveticaNeueLTComMd";
    src: url('../../content/fonts/HelveticaNeueLTCom-Md.otf');
}

@font-face {
    font-family: "HelveticaNeueLTComBd";
    src: url('../../content/fonts/HelveticaNeueLTCom-Bd.otf');
}






/*********************Arial*******************/

@font-face {
    font-family: "Arial";
    src: url('../../content/fonts/Arial.otf');
}

@font-face {
    font-family: "ArialBold";
    src: url('../../content/fonts/ArialBold.otf');
}





/*-------------Helvetica-------------------*/

@font-face {
    font-family: "Helvetica-Neuelt-Commd";
    src: url('../../content/fonts/helveticaneueltcommd.otf');
}






/*-------------Nexa-------------------*/

@font-face {
    font-family: "NexaRustSans-Black";
    src: url('../../content/fonts/NexaRustSans-Black.otf');
}






/*----------------Herceptin-----------------*/

@font-face {
    font-family: "Herceptin_Light";
    src: url('../../content/fonts/Herceptin-Light.otf');
}

@font-face {
    font-family: "Herceptin_Medium";
    src: url('../../content/fonts/Herceptin-Medium.otf');
}





/*----------------MyriadPro-----------------*/

@font-face {
    font-family: "MyriadPro_Regular";
    src: url('../../content/fonts/MyriadPro-Regular.otf');
}





/*----------------Verdana-----------------*/

@font-face {
    font-family: "Verdana";
    src: url('../../content/fonts/Verdana.otf');
}

@font-face {
    font-family: "VerdanaBold";
    src: url('../../content/fonts/VerdanaBold.otf');
}

@font-face {
    font-family: "Verdana_Bold_Italic";
    src: url('../../content/fonts/VerdanaBoldItalic.otf');
}

@font-face {
    font-family: "Verdana_Italic";
    src: url('../../content/fonts/VerdanaItalic.otf');
}

@font-face {
    font-family: "Symbol";
    src: url('../../content/fonts/Symbol.otf');
}

@font-face {
    font-family: "Avenir-Light";
    src: url('../../content/fonts/Avenir-Light.otf');
}



* {
    background-position: 0 0;
    background-repeat: no-repeat !important;
}

.txtTitulo {
    font-family: 'VerdanaBold';
    font-size: 28px;
    color: #430098;
}

.txtTitulo span {
    font-family: 'Verdana';
    font-size: 24px;
}



/*h1{
    font-size:30px;
    color:#58595b;
    letter-spacing: 1px;
    margin-top: 56px;
    margin-left: 46px;
    margin-bottom: 10px;
}*/

h1 span {
    font-size: 18px;
    position: relative;
    top: -10px;
}

h2 {
    font-size: 20px;
    color: #58595b;
}

h3 {
    color: #58595B;
    font-size: 20px;
}

ul {
    list-style: none;
}

footer {
    font-size: 11px;
    position: absolute;
    left: 50px;
    background: none;
    height: auto;
    width: auto;
    float: none;
    text-align: left;
    padding: 0px;
    z-index: 1;
    bottom: 90px;
    width: 930px;
    color: #666;
}

.logo-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 144px;
    height: 54px;
}

sup {
    font-size: 50%;
    line-height: 0;
    position: relative;
    vertical-align: super;
}

sub {
    font-size: 50%;
    line-height: 0;
    position: relative;
    vertical-align: sub;
}

.arrow-left {
    background: url("../../content/img/h2-arrow.png") no-repeat 0px 3px;
    padding-left: 33px;
}

.vertical {
    -webkit-transform: rotate(-90deg);
}

#presentation {
    position: fixed;
    top: 0;
    left: 0;
}

@media all and (orientation:portrait) {
    #presentation {
        width: 768px;
        height: 1024px;
    }
    h1 {
        margin-top: 56px;
        margin-left: 46px;
        margin-bottom: 10px;
    }
    h3 {
        text-align: center;
        left: 190px;
    }
    footer {
        width: 700px;
    }
}

@media all and (orientation:landscape) {
    #presentation {
        width: 1024px;
        height: 768px;
    }

    h1 {
        margin-top: 15px;
        margin-left: 55px;
        margin-bottom: 7px;
    }
}





/* menu */

#topMenu {
    width: 1024px;
    height: 47px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    background: url('../../content/img/menu-top/bg_menu_menor.jpg') repeat-x 0px 0px !important;
    -webkit-transform: translate3d(0px, -45px, 0px);
    -webkit-transition: -webkit-transform 0.4s ease-out;
}

#topMenu #menuItems {
    height: 47px;
}

#topMenu #menuItems ul {
    height: 47px;
    padding: 0px 30px 0px 0px;
}

#topMenu #menuItems ul li {
    float: left;
    height: 47px;
}

#topMenu #menuItems ul li .boxMenu-item-text {
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
}

#topMenu #menuItems ul li.active {
    background-image: url('../../content/img/menu-top/bg-hover-menor.jpg');
    background-position: 0 0;
    background-repeat: repeat-x !important;
    position: static;
}

#topMenu #menuItems ul:nth-child(2) li {
    width: 105px;
}

#topMenu #menuItems ul:nth-child(2) li:last-child {
    width: auto!important;
    padding-left: 5px;
}

#topMenu #bt-menu {
    float: left;
    position: absolute;
    top: -6px;
    z-index: 87587;
    width: 1024px;
    height: 22px;
}

#topMenu #bt-menu img {
    position: relative;
    margin-top: 6px;
    margin-left: 34px;
    float: left;
}

#topMenu #menuButton {
    width: 100px;
    position: relative;
}





/* menu / index */

#submenu-tableofcontents {
    position: absolute;
    top: 55px!important;
    left: 10px;
    float: left;
    visibility: hidden;
    z-index: 26;
}

.boxMenu {
    background: -webkit-gradient(linear, center top, center bottom, from(#adaeaf), color-stop(0.5, #adaeaf), color-stop(0.5, #231f20), to(#231f20));
    padding: 5px;
    -webkit-border-radius: 5px;
    float: left;
    position: relative;
}

.boxMenu .closeMenuArrow {
    width: 26px;
    float: left;
    position: absolute;
    bottom: 0px;
    left: 55px;
}

.boxMenu .boxMenuMiddle {
    background-color: #f0f0f1;
    padding: 5px 5px 20px 5px;
    -webkit-border-radius: 5px;
    float: left;
}

.boxMenu .boxMenuMiddle .boxMenuInner {
    background-color: #fff;
    padding: 3px;
    -webkit-border-radius: 5px;
    border: 1px solid #d4d5d7;
    width: 200px;
    float: left;
}

.boxMenu .boxMenuMiddle .boxMenuInner ul {
    float: left;
    padding: 0px!important;
    height: auto!important;
}

.boxMenu .boxMenuMiddle .boxMenuInner ul li {
    padding: 0!important;
    border-top: 2px solid #dadbdc;
    float: left;
    width: 200px!important;
    height: auto!important;
    font-weight: bold;
    color: #000;
    font-family: Trebuchet MS;
    font-size: 14px;
}

.boxMenu .boxMenuMiddle .boxMenuInner ul li:first-child {
    border-top: 0px;
    padding-top: 5px;
}





/* menu / navigation */

#submenu-navigation {
    visibility: hidden;
    width: 1024px;
    position: absolute;
    height: 143px;
    background-color: rgba(51, 51, 51, .9);
    text-align: center;
    display: block;
    left: 0px;
    top: -10px;
    z-index: 25;
}

#submenu-navigation span {
    float: left;
    width: 30px;
    text-align: center;
    margin-top: 60px;
}

#submenu-navigation #menuPanel {
    float: left;
    /*width:964px;*/
    width: 1024px;
    overflow: hidden;
}

#submenu-navigation #menuPanel ul {
    float: left;
    height: auto!important;
    word-wrap: break-word;
    /* min-width: 100%; */
}

#submenu-navigation #menuPanel ul li {
    /* width:126px!important; */
    height: 125px!important;
    margin: 15px 20px 20px 20px;
    position: relative;
    float: left;
    z-index: 65;
    text-align: center;
    color: #fff;
    font-size: 11px;
}

#submenu-navigation #moveMenu {
    -webkit-backface-visibility: hidden;
}

#submenu-navigation #moveMenu li .activateDeactivateSlide {
    position: absolute;
    top: -73px;
    left: 110px;
    float: left;
    width: 30px;
    height: 30px;
    background: url('../images/btn-fechar.png') no-repeat center center;
    z-index: 100;
}

#submenu-navigation #moveMenu li .activateDeactivateSlide.marked {
    background: url('../images/btn-add.png') no-repeat center center;
}

#submenu-navigation #moveMenu li img {
    position: relative;
    z-index: 1;
    height: 94px;
    /* width: 200px; */
    width: 125px;
}

#submenu-navigation #moveMenu li span:nth-child(2) {
    float: left;
    position: absolute;
    top: -60px;
    left: 0px;
    float: left;
    width: 126px;
}

#submenu-navigation #moveMenu li.smaller .activateDeactivateSlide {
    top: -58px;
    left: 97px;
}

#submenu-navigation #moveMenu li.smaller img.imgThumbs {
    opacity: 0.6;
    width: 100px;
    margin-top: 15px;
}

#submenu-navigation #moveMenu li.animation .activateDeactivateSlide,
#submenu-navigation #moveMenu li.animation img.imgThumbs {
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-backface-visibility: hidden;
}

#enableAll {
    float: left;
    padding: 50px 0px 0px 0px;
    display: block;
}

#enableAll #linkEnableAll {
    float: left;
    color: #fff;
    padding: 5px 0px 5px 30px;
    background: url('../images/btn-add.png') no-repeat 0px 0px;
}





/* menu / faq */

#top_menu_faq {
    padding-top: 6px;
}

#submenu-questions {
    position: absolute;
    top: 55px!important;
    float: left;
    visibility: hidden;
}





/* menu / services */

#submenu-services {
    visibility: hidden;
    width: 105px;
    position: absolute;
    top: 50px;
    background: #5e5c5e;
    box-shadow: 6px 6px 5px #888;
    margin-top: 10px;
}

#submenu-services #linkShare {
    float: left;
    width: 105px;
    height: 51px;
    background: url('../../content/img/menu-top/bt-compartilhar.png') no-repeat center center;
}

#submenu-services #linkDrug {
    float: left;
    width: 105px;
    height: 51px;
    background: url('../../content/img/menu-top/bt-farmaco.png') no-repeat center center;
    border-top: 1px solid #CCC;
}





/*TAHERO*/

#tableofcontents #submenu-tableofcontents,
#navigation #submenu-navigation,
#services #submenu-services {
    display: none;
    visibility: visible;
    top: 58px;
}

#tableofcontents.active #submenu-tableofcontents,
#navigation.active #submenu-navigation,
#services.active #submenu-services {
    display: block;
}

#interaction {
    background-image: url('../../content/img/menu-top/menu-sem-integracoes.png');
    background-position: center center;
}

.submenu-cambioav {}

.submenu-cambioav-link {
    display: none;
    background-image: url('../../content/img/menu-top/menu-changeav.jpg');
    width: 100%;
    height: 100%;
}

#topMenu #menuItems #interaction.active {
    background-image: url('../../content/img/menu-top/menu-sem-integracoes-ativado.png');
    background-position: center center;
}

.menuTop-sininteraccion {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
    background: rgba(0, 0, 0, 0);
    z-index: 10;
}

.menuTop-sininteraccion.active {
    display: block;
}

#submenu-navigation #menuPanel #moveMenu {
    padding: 0;
}

#services.hidden-submenu #submenu-services {
    display: none;
}

.boxMenuInner .boxMenu-submenu {
    display: none;
    position: absolute;
    top: -13px;
    left: 100%;
    margin-left: 14px;
}

.boxMenu .boxMenuMiddle .boxMenuInner ul li.boxMenu-submenu-show {
    background: url('../../content/img/menu-top/seta_top_interacao-next.png') right center;
    padding-right: 10px !important;
    box-sizing: border-box;
}

.boxMenu-item.boxMenu-submenu-show .boxMenu-submenu {
    display: block;
}





/**/

.clickThumbs-name {
    width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wShare.display-block {
    font-family: Verdana, "Trebuchet Ms", sans-serif;
    display: -webkit-box;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: box;
    position: relative;
}

.wShare-content {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    overflow: hidden;
    height: 100%;
    position: relative;
}

.wShare-content-scroll {
    padding-top: 56px;
    height: 100%;
    box-sizing: border-box;
}

.wShare-content-title {
    color: #5a5b5d;
    font-weight: bold;
    font-size: 14px;
    padding: 42px 0 6px 35px;
    margin-bottom: 13px;
}

.wShare-content-articles {
    position: relative;
    list-style: none;
}

.wShare-content-article-preview {
    background: url('../../content/img/wShare/preview.jpg');
    position: absolute;
    margin: auto;
    top: 0;
    right: 28px;
    bottom: 0;
    width: 40px;
    height: 40px;
}

.wShare-content-article {
    position: relative;
    padding: 20px 0 20px 24px;
    border-bottom: 1px solid #ccc;
    min-height: 140px;
    width: 700px;
}

.wShare-content-article-block {
    text-decoration: none;
    color: inherit;
}

.wShare-content-article-thumbs {
    display: block;
    float: left;
    border: 1px solid #313131;
    border-radius: 4px;
    width: 76px;
    height: 107px;
    margin-left: 11px;
}

.wShare-content-article-text {
    width: 70%;
    float: left;
    margin: 9px 0 0 12px;
    color: #5a5b5d;
}

.wShare-content-article-title {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 0 0 4px;
}

.wShare-content-article-text span {
    font-size: 11px;
    line-height: 14px;
}

.wShare-content-article-move {
    border-bottom: none;
    opacity: 0.5;
    display: none;
}


.wShare-slider {
    position: relative;
    width: 300px;
    height: 100%;
}

.wShare-slider-scroll {
    position: relative;
    background: #7d7f82 url('../../content/img/wShare/sendbox.jpg') center no-repeat;
    overflow: auto;
    border-left: 1px solid #7d7f82;
    height: 728px;
}

.wShare-slider-scroll-list {
    list-style: none;
}

.wShare-slider-scroll-item {
    position: relative;
    background: #fff;
    padding: 0 10px 35px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #7d7f82;
    min-height: 77px;
}

.wShare-slider-scroll-item-title {
    font-size: 10px;
    font-weight: bold;
    color: #5a5b5d;
    line-height: 14px;
    padding: 10px 0;
}

.wShare-slider-scroll-item-delete {
    font-family: 'Helvetica-Bold';
    font-size: 11px;
    font-weight: bold;
    width: 48px;
    padding: 8px 10px;
    display: none;
    border: 0.1em solid #630303;
    border-top-color: #7C0303;
    background: #C70505;
    color: #fff;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, #ed6872 0%, #e73845 50%, #e30111 51%, #eb0e12 100%);
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
}

.wShare-slider-scroll-item-delete:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d35f78), color-stop(50%, #ba2e30), color-stop(51%, #9b0e01), color-stop(100%, #750708));
}


.wShare-slider-nav {
    background: url('../../content/img/wShare/toolbar.jpg') center repeat-x !important;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
}

.wShare-slider-nav-btn {
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.wShare-slider-nav-btn.clear {
    background-image: url('../../content/img/wShare/close.jpg');
    left: 7px;
}

.wShare-slider-nav-btn.send {
    background-position: 0px 0px;
    background-image: url('../../content/img/wShare/send.jpg');
    right: 11px;
}

.wShare.moving .wShare-slider-scroll.moving {
    background: #7d7f82;
}

.wPopup {
    display: none;
    font-family: Verdana, "Trebuchet Ms", sans-serif;
    font-size: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.wPopup-con {
    position: absolute;
    background: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 6px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wPopup-con-close {
    position: absolute;
    top: -8px;
    right: -8px;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    width: 10px;
    height: 10px;
    background: url('../../content/img/wShare/toolbar.jpg') center repeat-x !important;
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 5px 10px 15px;

    z-index: 1;
}

.wShare-send-form {
    padding: 34px 31px 0;
}

.wShare-popup-send {
    font-size: 12px;
    line-height: 14px;
    color: #666;
    float: left;
    width: 415px;
    height: 186px;
}

.wShare-send-form-title {
    font-size: 12px;
    line-height: 13px;
    margin: 12px 0;
}

.wShare-send-separator {
    padding: 37px 10px 0;
}

.wShare-popup-send .input,
.wShare-send-separator {
    float: left;
}

.wShare-popup-send .input label {
    display: block;
    margin: 0 0 10px 10px;
}

.input *[name]:focus,
.input-button:focus,
.wVigilance-nav-btn:focus,
.wShare-send-submit:focus {
    outline: 1px dotted rgba(0, 0, 0, 0.5);
}

.wShare-popup-send .input input {
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0px 1px 5px #666;
    height: 30px;
    width: 116px;
    padding: 4px 10px;
    margin: 0;
}

.wShare-popup-send .wShare-send-input-uf input {
    width: 60px;
}

.wShare-send-submit {
    float: left;
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-family: Verdana, "Trebuchet Ms", sans-serif;
    background: url('../../content/img/wShare/toolbar.jpg') center repeat-x !important;
    border-radius: 15px;
    border: 2px solid #fff;
    padding: 8px 10px 10px;
    margin: 26px 0 0 39px;
}

.wShare-send-validate {
    display: none;
    font-size: 10px;
    float: left;
    color: red;
    width: 100%;
}

.topmenu-window {
    display: none;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
    z-index: 2;
}

.wVigilance {
    background: #737578;
}

.wVigilance-nav {
    float: left;
    width: 245px;
    width: 245px;
}

.wVigilance-nav-btn {
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 82px;
}

.wVigilance-nav-btn.notifier {
    background-image: url('../../content/img/wVigilance/DadosNotificante_Off.png');
}

.wVigilance-nav-btn.use {
    background-image: url('../../content/img/wVigilance/DadosUsuario_Off.png');
}

.wVigilance-nav-btn.medication {
    background-image: url('../../content/img/wVigilance/DadosMedicamento_Off.png');
}

.wVigilance-nav-btn.story {
    background-image: url('../../content/img/wVigilance/RelatoEvento_Off.png');
}

.wVigilance-nav-btn.notifier.active {
    background-image: url('../../content/img/wVigilance/DadosNotificante_On.png');
}

.wVigilance-nav-btn.use.active {
    background-image: url('../../content/img/wVigilance/DadosUsuario_On.png');
}

.wVigilance-nav-btn.medication.active {
    background-image: url('../../content/img/wVigilance/DadosMedicamento_On.png');
}

.wVigilance-nav-btn.story.active {
    background-image: url('../../content/img/wVigilance/RelatoEvento_On.png');
}

.wVigilance-content {
    float: right;
    width: 779px;
    min-height: 328px;
    background: #fff;
}

.wVigilance-content-data {
    display: none;
    padding: 30px 10px 10px 50px;
}

.wVigilance .input {
    font-family: Verdana;
    font-size: 12px;
    line-height: 14px;
    color: #6F7072;
}

.wVigilance .input label {
    font-weight: bold;
}

.wVigilance .input-text {
    display: block;
    margin-top: 6px;
}

.wVigilance .input *[name],
.input-label-radio {
    display: block;
    font-family: Verdana;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: #000;
    width: 500px;
    margin-top: 6px;
    margin: 6px 0 15px;

    padding: 1px;
}

.wVigilance .input input,
.wVigilance .input textarea {
    border: 1px solid #a9a9a9;
}

.wVigilance .input input {
    height: 19px;
}

.wVigilance .input textarea {
    height: 146px;
    resize: none;
}

.wVigilance label.input-label-radio {
    position: relative;
    padding-left: 20px;
    font-weight: normal;
}

.wVigilance .input-radio input[name] {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

.wVigilance-input-genre .input-label-radio {
    float: left;
    width: auto;
    margin-right: 73px;
}

.wVigilance .wVigilance-input-age input[name] {
    width: 87px;
}

.wVigilance .wVigilance-input-date input[name] {
    width: 115px;
}

.wVigilance-footer-bar {
    clear: both;
    background-image: url('../../content/img/wVigilance/BottomBar.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 38px;
    width: 1024px;
}

.wVigilance-footer-bar-send {
    background-image: url('../../content/img/wVigilance/TopBar-send.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    position: relative;
    top: 4px;
    float: right;
    right: 10px;
    height: 32px;
    width: 40px;
}





/**/

.wPen-btns {
    display: none;
    position: absolute;
    z-index: 23;
    top: 49px;
    left: 551px;
    width: 435px;
    /*left: 564px;
    width: 436px;*/
}

.wPen-colors {
    float: left;
    display: none;
}

.wPen-btn {
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    z-index: 23;
    width: 60px;
    height: 57px;
    margin: 0 1px;
}

.wPen-btn.morado {
    background-image: url('../../content/img/wPen/caneta-roxa.png');
}

.wPen-btn.verde {
    background-image: url('../../content/img/wPen/caneta-verde.png');
}

.wPen-btn.rosa {
    background-image: url('../../content/img/wPen/caneta-rosa.png');
}

.wPen-btn.borrar {
    background-image: url('../../content/img/wPen/borracha.png');
}

.wPen-btn.cerrar {
    background-image: url('../../content/img/wPen/limpar.png');
}

.wPen-btn.referencia {
    background-image: url('../../content/img/wPen/btnR.png');
}

.wPen-btn.correo {
    background-image: url('../../content/img/wPen/btnCorreo.png');
}

.wPen-btn.show {
    background-image: url('../../content/img/wPen/caneta-desabilitada.png');
    position: absolute;
    top: 6px;
    right: 20px;
}

.wPen-btns .wPen-btn.show {
    position: static;
}

.wPen-opcs {
    float: right;
}

.wPen-blackboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;

    z-index: 22;
    display: none;
}

.clear-both {
    clear: both;
}

.display-block {
    display: block;
}





/* menu */

#topMenu {
    width: 1024px;
    height: 47px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25;
    background: url('../../content/img/menu-top/bg_menu_menor.jpg') repeat-x 0px 0px !important;
    -webkit-transform: translate3d(0px, -45px, 0px);
    -webkit-transition: -webkit-transform 0.4s ease-out;
}

#topMenu #menuItems {
    height: 47px;
}

#topMenu #menuItems ul {
    height: 47px;
    padding: 0px 30px 0px 0px;
}

#topMenu #menuItems ul li {
    float: left;
    height: 47px;
}

#topMenu #menuItems ul li .boxMenu-item-text {
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
}

#topMenu #menuItems ul li.active {
    background-image: url('../../content/img/menu-top/bg-hover-menor.jpg');
    background-position: 0 0;
    background-repeat: repeat-x !important;
    position: static;
}

#topMenu #menuItems ul:nth-child(2) li {
    width: 105px;
}

#topMenu #menuItems ul:nth-child(2) li:last-child {
    width: auto!important;
    padding-left: 5px;
}

#topMenu #bt-menu {
    float: left;
    position: absolute;
    top: -6px;
    z-index: 87587;
    width: 400px;
    height: 35px;
}

#topMenu #bt-menu img {
    position: relative;
    margin-top: 6px;
    margin-left: 34px;
    float: left;
}

#topMenu #menuButton {
    width: 100px;
    position: relative;
    height: 50px;
}





/* menu / index */

#submenu-tableofcontents {
    position: absolute;
    top: 55px!important;
    left: 10px;
    float: left;
    visibility: hidden;
    z-index: 26;
}

.boxMenu {
    background: -webkit-gradient(linear, center top, center bottom, from(#adaeaf), color-stop(0.5, #adaeaf), color-stop(0.5, #231f20), to(#231f20));
    padding: 5px;
    -webkit-border-radius: 5px;
    float: left;
    position: relative;
}

.boxMenu .closeMenuArrow {
    width: 26px;
    float: left;
    position: absolute;
    bottom: 0px;
    left: 55px;
}

.boxMenu .boxMenuMiddle {
    background-color: #f0f0f1;
    padding: 5px 5px 20px 5px;
    -webkit-border-radius: 5px;
    float: left;
}

.boxMenu .boxMenuMiddle .boxMenuInner {
    background-color: #fff;
    padding: 3px;
    -webkit-border-radius: 5px;
    border: 1px solid #d4d5d7;
    width: 200px;
    float: left;
}

.boxMenu .boxMenuMiddle .boxMenuInner ul {
    float: left;
    padding: 0px!important;
    height: auto!important;
}

.boxMenu .boxMenuMiddle .boxMenuInner ul li {
    padding: 0!important;
    border-top: 2px solid #dadbdc;
    float: left;
    width: 200px!important;
    height: auto!important;
    font-weight: bold;
    color: #000;
    font-family: Trebuchet MS;
    font-size: 14px;
}

.boxMenu .boxMenuMiddle .boxMenuInner ul li:first-child {
    border-top: 0px;
    padding-top: 5px;
}





/* menu / navigation */

#submenu-navigation {
    visibility: hidden;
    width: 1024px;
    position: absolute;
    height: 143px;
    background-color: rgba(51, 51, 51, .9);
    text-align: center;
    display: block;
    left: 0px;
    top: -10px;
    z-index: 25;
}

#submenu-navigation span {
    float: left;
    width: 30px;
    text-align: center;
    margin-top: 60px;
}

#submenu-navigation #menuPanel {
    float: left;
    /*width:964px;*/
    width: 1024px;
    overflow: hidden;
}

#submenu-navigation #menuPanel ul {
    float: left;
    height: auto!important;
    word-wrap: break-word;
    /* min-width: 100%; */
}

#submenu-navigation #menuPanel ul li {
    /* width:126px!important; */
    height: 125px!important;
    margin: 15px 20px 20px 20px;
    position: relative;
    float: left;
    z-index: 65;
    text-align: center;
    color: #fff;
    font-size: 11px;
}

#submenu-navigation #moveMenu {
    -webkit-backface-visibility: hidden;
}

#submenu-navigation #moveMenu li .activateDeactivateSlide {
    position: absolute;
    top: -73px;
    left: 110px;
    float: left;
    width: 30px;
    height: 30px;
    background: url('../images/btn-fechar.png') no-repeat center center;
    z-index: 100;
}

#submenu-navigation #moveMenu li .activateDeactivateSlide.marked {
    background: url('../images/btn-add.png') no-repeat center center;
}

#submenu-navigation #moveMenu li img {
    position: relative;
    z-index: 1;
    height: 94px;
    /* width: 200px; */
    width: 125px;
}

#submenu-navigation #moveMenu li span:nth-child(2) {
    float: left;
    position: absolute;
    top: -60px;
    left: 0px;
    float: left;
    width: 126px;
}

#submenu-navigation #moveMenu li.smaller .activateDeactivateSlide {
    top: -58px;
    left: 97px;
}

#submenu-navigation #moveMenu li.smaller img.imgThumbs {
    opacity: 0.6;
    width: 100px;
    margin-top: 15px;
}

#submenu-navigation #moveMenu li.animation .activateDeactivateSlide,
#submenu-navigation #moveMenu li.animation img.imgThumbs {
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-backface-visibility: hidden;
}

#enableAll {
    float: left;
    padding: 50px 0px 0px 0px;
    display: block;
}

#enableAll #linkEnableAll {
    float: left;
    color: #fff;
    padding: 5px 0px 5px 30px;
    background: url('../images/btn-add.png') no-repeat 0px 0px;
}





/* menu / faq */

#top_menu_faq {
    padding-top: 6px;
}

#submenu-questions {
    position: absolute;
    top: 55px!important;
    float: left;
    visibility: hidden;
}





/* menu / services */

#submenu-services {
    visibility: hidden;
    width: 105px;
    position: absolute;
    top: 50px;
    background: #5e5c5e;
    box-shadow: 6px 6px 5px #888;
    margin-top: 10px;
}

#submenu-services #linkShare {
    float: left;
    width: 105px;
    height: 51px;
    background: url('../../content/img/menu-top/bt-compartilhar.png') no-repeat center center;
}

#submenu-services #linkDrug {
    float: left;
    width: 105px;
    height: 51px;
    background: url('../../content/img/menu-top/bt-farmaco.png') no-repeat center center;
    border-top: 1px solid #CCC;
}





/*TAHERO*/

#tableofcontents #submenu-tableofcontents,
#navigation #submenu-navigation,
#services #submenu-services {
    display: none;
    visibility: visible;
    top: 58px;
}

#tableofcontents.active #submenu-tableofcontents,
#navigation.active #submenu-navigation,
#services.active #submenu-services {
    display: block;
}

#interaction {
    background-image: url('../../content/img/menu-top/menu-sem-integracoes.png');
    background-position: center center;
}

.submenu-cambioav {}

.submenu-cambioav-link {
    display: none;
    background-image: url('../../content/img/menu-top/menu-changeav.jpg');
    width: 100%;
    height: 100%;
}

#topMenu #menuItems #interaction.active {
    background-image: url('../../content/img/menu-top/menu-sem-integracoes-ativado.png');
    background-position: center center;
}

.menuTop-sininteraccion {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
    background: rgba(0, 0, 0, 0);
    z-index: 24;
}

.menuTop-sininteraccion.active {
    display: block;
}

#submenu-navigation #menuPanel #moveMenu {
    padding: 0;
}

#services.hidden-submenu #submenu-services {
    display: none;
}

.boxMenuInner .boxMenu-submenu {
    display: none;
    position: absolute;
    top: -13px;
    left: 100%;
    margin-left: 14px;
}

.boxMenu .boxMenuMiddle .boxMenuInner ul li.boxMenu-submenu-show {
    background: url('../../content/img/menu-top/seta_top_interacao-next.png') right center;
    padding-right: 10px !important;
    box-sizing: border-box;
}

.boxMenu-item.boxMenu-submenu-show .boxMenu-submenu {
    display: block;
    top: 10px;
}

#glassAvastinMamaGlobal {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 114px;
    height: 135px;
    background: url('../../content/img/app/glassAvastinMama.png') no-repeat;
}

#fondo {
    background: url(../../content/img/backgrounds/fondo1.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 1;
}

.fondoPopUp {
    background: url(../../content/img/backgrounds/fondo1.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 2;
}

.fondoPopUp2 {
    background: url(../../content/img/backgrounds/fondo2.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 2;
}

#fondo2 {
    background: url(../../content/img/app/fondo2.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 1;
}

#fondo3 {
    background: url(../../content/img/app/fondo3.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 1;
}

#punto_morado {
    background: url(../../content/img/app/punto_morado.png);
    width: 23px;
    height: 23px;
    position: absolute;
    bottom: 32px;
    left: 74px;
    z-index: 1;
}






/* Animaciones */

@-webkit-keyframes ani_fondo_mujer {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
        -webkit-transition-timing-function: ease-out;
    }
}

.ani_fondo_mujer {
    -webkit-animation-name: ani_fondo_mujer;
    animation-name: ani_fondo_mujer;
}






/**/


/*Referencias*/

#Lista_Referencias {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -0.9px;
    left: -0.9px;
    z-index: 1;
    display: none;
}

.Fondo_Referencias {
    background: url(../../content/img/app/referencia.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}

.Fondo_Referencias_2 {
    background: url(../../content/img/app/referencia_2.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}

.Fondo_Referencias_3 {
    background: url(../../content/img/app/referencia_3.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    display: none;
}

#Btn_Cerrar {
    width: 80px;
    height: 70px;
    position: absolute;
    top: 210px;
    left: 667px;
    z-index: 1;
}

#Btn_Cerrar_2 {
    width: 80px;
    height: 70px;
    position: absolute;
    top: 74px;
    left: 667px;
    z-index: 1;
    display: none;
}

#Btn_Cerrar_3 {
    width: 80px;
    height: 70px;
    position: absolute;
    top: 172px;
    left: 667px;
    z-index: 1;
    display: none;
}

#titulo_referencias {
    position: absolute;
    color: #673692;
    top: 269px;
    left: 349px;
    font-size: 22px;
    font-family: "Optima";
    z-index: 2;
}

#titulo_referencias_2 {
    position: absolute;
    color: #673692;
    top: 134px;
    left: 349px;
    font-size: 22px;
    font-family: "Optima";
    z-index: 2;
    display: none;
}

#titulo_referencias_3 {
    position: absolute;
    color: #673692;
    top: 220px;
    left: 349px;
    font-size: 22px;
    font-family: "Optima";
    z-index: 2;
    display: none;
}

.texto_referencias {
    position: absolute;
    color: #58595B;
    top: 303px;
    left: 350px;
    font-size: 12px;
    font-family: "Optima";
    width: 350px;
}

.texto_referencias span {
    color: #007078;
    font-family: "OptimaBold";
}

.texto_referencias_2 {
    position: absolute;
    color: #58595B;
    top: 175px;
    left: 350px;
    font-size: 12px;
    font-family: "Optima";
    width: 350px;
}

.texto_referencias_2 span {
    color: #007078;
    font-family: "OptimaBold";
}

.texto_referencias_3 {
    position: absolute;
    color: #58595B;
    top: 275px;
    left: 350px;
    font-size: 12px;
    font-family: "Optima";
    width: 350px;
}

.texto_referencias_3 span {
    color: #007078;
    font-family: "OptimaBold";
}





/*************/