#fondo_guia{
	background: url(../../content/img/guia/guia.png);
	width:1024px; height: 768px;
	position:absolute;
	top:-62px;
	z-index:1;
}

#Fondo_Slide{
	position:absolute;
	top:-65px;
	left: -2px;
	width:1024px;
	height: 768px;
	background-image:url(../../content/img/app/fondo.png);
}

#logoAvastin_guia{
	background: url(../../content/img/app/logo_avastin.png);
	background-color:white;
	width:1024px;
	height:72px;
	position: absolute;
	top: -62px;
	left: -33px;
	background-position: right;
}

#titulopie_guia{
	font-family: 'Verdana';
	font-size: 17px;
	color: #430098;
	position: absolute;
	bottom: 38px;
	right: 846px;
	z-index: 2;
}

#titulopie_guia span{
	color: #FFFFFF;
	font-size: 12px;
}