#fondoSlideIntro {
    background: url(../../content/img/Intro/fondo.png) no-repeat;
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -65px;
    left: 0px;
}

#logoSlideIntro {
    top: 628px;
}

#tituloNegSlideIntro {
    position: absolute;
    top: 80px;
    left: 622px;
    font-family: "VerdanaBold";
    font-size: 18px;
    color: #d91a65;
    line-height: 32px;
    text-align: center;
}

#tituloGdeSlideIntro {
    font-size: 43px;
    line-height: 40px;
    color: #d91a65;
}

#IN_intro #img1 {
    background: url(../../content/img/Intro/img1.png) no-repeat;
    height: 660px;
    width: 528px;
    position: absolute;
    top: -33px;
    left: 47px;
}

#IN_intro #img2 {
    background: url(../../content/img/slide1/Herceptin.png) no-repeat;
    height: 54px;
    width: 176px;
    position: absolute;
    top: 248px;
    left: 665px;
}