.menu {
    background-color:   #FFF;
    width:              100%;
    float:              left;
    overflow:           hidden;
    position:           relative;
    -webkit-backface-visibility: hidden;
     display:           -webkit-box;
    -webkit-box-orient: horizontal;
    height:             50px;
    border-bottom: 1px solid #642d88;
}

.menu li {
    display:          block;
    font-family:      OptimaBold;
    text-align:       center;
    -webkit-box-flex: 1;
    
}

.menu .home{
    background: url(../../content/img/menu/home.png) no-repeat center center;
    border-right: 1px solid #642d88;
}
.menu .efficacy-btn{
    background: url(../../content/img/menu/efficacy.png) no-repeat center center;
    border-right: 1px solid #642d88;
}
.menu .safety-btn{
    background: url(../../content/img/menu/safety.png) no-repeat center center;
    border-right: 1px solid #642d88;
}
.menu .patientprofile-btn{
    background: url(../../content/img/menu/pp.png) no-repeat center center;
    border-right: 1px solid #642d88;
}
.menu .moa-btn{
    background: url(../../content/img/menu/moa.png) no-repeat center center;
    margin-right: 235px;
    width: 5px;
}
.menu .fasttrack-btn{
    background: url(../../content/img/menu/stopwatch.png) no-repeat center center;
    border-right: 1px solid #642d88;
}
.menu .buildtrack-btn{
    background: url(../../content/img/menu/build.png) no-repeat center center;
    border-right: 1px solid #642d88;
}
.menu .savedtracks-btn{
    background: url(../../content/img/menu/save.png) no-repeat center center;
    border-right: 1px solid #642d88;
    width: 15px;
}
.menu .services-btn{
    background: url(../../content/img/menu/service.png) no-repeat center center;
    border-right: 1px solid #642d88;
}
.menu .shopping-btn{
    background: url(../../content/img/menu/shopping.png) no-repeat center center;
    border-right: 1px solid #642d88;
    width: 12px;
}
.menu .references-btn{
    background: url(../../content/img/menu/refs.png) no-repeat center center;
    border-right: 1px solid #642d88;
    width: 5px;
}

.menu .home.selected{
    background: url(../../content/img/menu/home-a.png) no-repeat center center;
}
.menu .efficacy-btn.selected{
    background: url(../../content/img/menu/efficacy-a.png) no-repeat center center;
}
.menu .safety-btn.selected{
    background: url(../../content/img/menu/safety-a.png) no-repeat center center;
}
.menu .patientprofile-btn.selected{
    background: url(../../content/img/menu/pp-a.png) no-repeat center center;
}
.menu .moa-btn.selected{
    background: url(../../content/img/menu/moa-a.png) no-repeat center center;
}
.menu .fasttrack-btn.selected{
    background: url(../../content/img/menu/stopwatch-a.png) no-repeat center center;
}
.menu .buildtrack-btn.selected{
    background: url(../../content/img/menu/build-a.png) no-repeat center center;
}
.menu .savedtracks-btn.selected{
    background: url(../../content/img/menu/save-a.png) no-repeat center center;
}
.menu .services-btn.selected{
    background: url(../../content/img/menu/service-a.png) no-repeat center center;
}
.menu .shopping-btn.selected{
    background: url(../../content/img/menu/shopping-a.png) no-repeat center center;
}
.menu .references-btn.selected{
    background: url(../../content/img/menu/refs-a.png) no-repeat center center;
}
.menu .overlay-btn{
    border-right: 1px solid #642d88;
}
.menu .roche-btn{
    background: url(../../content/img/menu/roche.png) no-repeat center center;
    width: 40px;
}

.menu .pp-override{
    position: absolute;
    width: 58px;
    height: 50px;
    left: 118px;
    z-index:1000;
}

.menu .home-override{
    position: absolute;
    width: 58px;
    height: 50px;
    left: 0px;
    z-index:1000;
}