﻿/*#drawTool {
    z-index: 1000;
    position: absolute;
    left: 875px;
    top: 82px;
    width: 44px;
    height: 50px;
    background: url(../../content/img/app/draw/draw.png) no-repeat center top;
}

#drawToolSketchpad {
    z-index: 1000;    
    position: absolute;
    top: 0;
    left: 0;                    
    display: none;
}

#drawTool ul {
    background: url(../../content/img/app/draw/toolsmenu.png) no-repeat;
    display: none;
    list-style: none; 
    overflow: hidden;
    width: 75px;
    height: 228px;     
    margin-top: -20px;
    margin-left: -15px;
}

#drawTool ul li span{
    display: none;
}  

#drawTool ul li{
    display: block;
    float: left;            
    list-style: none;
    width: 27px;
    height: 27px;
    /*background:  url(../../content/img/app/draw/draw.png) no-repeat center top;*/
   /* padding: 0;
    margin-top: 7px;
}   

#drawTool ul li.pencil{
    width:53px;
    height:54px;
    margin-left: 11px;
    margin-top: 8px;
}       

#drawTool ul li.brush{   
    width:63px;
    height:55px; 
    margin-top: -5px;
    margin-left: 7px;         
}  

#drawTool ul li.clear{
    width:67px;
    height:55px;
    margin-top: -4px;
    margin-left: 3px;
}

#drawTool ul li.pencil.selected{
    background:  url(../../content/img/app/draw/pencilclicked.png) no-repeat center center;
}       

#drawTool ul li.brush.selected{
    background:  url(../../content/img/app/draw/brushclicked.png) no-repeat center center;         
}  

#drawTool ul li.clear.selected{
    background:  url(../../content/img/app/draw/clearclicked.png) no-repeat center center;
}      

#drawTool ul li.close{
    width: 46px;
    height: 46px;
    margin-top: 4px;
    margin-left: 15px;
}      
/*