#fondo_referencias{
	position:absolute;
	background:url('../../content/img/backgrounds/fondoSlide.png') ;
	width:1024px;
	height:768px;
	top: -65px;
	left: -2px;
}

#texto1_referencias{
	position: absolute;
	top: 230px;
	left: 200px;
	font-size: 26px;
	font-family: "OptimaLTStd-Black";
	color: #762E88;
}

#texto2_referencias{
	position: absolute;
	top: 290px;
	left: 200px;
	font-size: 18px;
	font-family: "Optima Roman";
	color: #58595b;
}