#references{
	background-image: url('../../content/img/app/ref.png');
	background-repeat: no-repeat;
	height: 40px;
	width: 50px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 3;
}

.referencelist{
	display: block;
	padding: 5px 8px 0px 0px;
	font-family: OptimaBold;
	font-size: 16px;
	color: #4E4E4E;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px 1px;
	border-radius: 9px;
	position: absolute;
	left: 10px;
	bottom: 63px;
	z-index: 1001;
	width: 331px;
	-webkit-transform: translate3d(-414px, 0, 0);
	-webkit-transition-duration: 600ms;
	background-color: white;
	border:1px solid #642d88;
}

.case-studies .referencelist{
	width:265px;
}
.case-studies .referencelist .purple-borderline{
	width: 273px;
}

.referencelist::before{
	content: 'References';
	color: #652D89;
	margin-left: 10px;
}

.referencelist::after{
	content: url(../../content/img/app/ref-tail.png);
	position: absolute;
	left: 15px;
	bottom: -16px;
}

.referencelist li:first-child{
	margin-top: 25px;
}
.referencelist li{
	background: url(../../content/img/app/folder.png) right top no-repeat,
				url(../../content/img/app/darkref.png) left 3px no-repeat;
	color: #2D2D2D;
	font-size: 13px;
	margin-bottom: 12px;
	margin-left: 11px;
	padding: 5px 0 5px 25px;
	list-style-position: inside;
	position: relative;
}

.referencelist li[data-reference=""]{
	background: url(../../content/img/app/folder.png) right top no-repeat;
}

.referencelist .no-cart-button{
	background: none;
	margin-bottom: 9px;
	margin-left: 0px;
}

.referencelist li.inCart{
	background: url(../../content/img/app/activeref.png) right top no-repeat,
				url(../../content/img/app/darkref.png) left 3px no-repeat;
}
.referencelist li[data-reference=""].inCart{
	background: url(../../content/img/app/activeref.png) right top no-repeat;
}
.referencelist li span{
	display: inline-block;
	position: absolute;
	left: -25px;
	padding-left: 65px;
}

.referencelist li .add-to-shopingcart{
	float: right;
	width: 50px;
	-webkit-appearance: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: none;
	height: 29px;
}

.referencelist .purple-borderline{
	height: 0;
	width: 339px;
	border-bottom: 2px solid #642d88;
	margin-top: 4px;
	margin-bottom: 9px;
}

#refPopup{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	width: 1024px;
	height: 768px;
	z-index: -1;
	-webkit-transform: translate3d(0px, 0px, 0px);
	background-color: rgba(0, 0, 0, 0.5);
}



#refPopup.displaying{
	opacity: 1;
	z-index: 1100;
}

#refPopup ul{
	position: absolute;
	top: -40px;
	left: -4px;
	width: 100%;
	overflow: hidden;
	padding-top: 10px;
	z-index: 2;
}

#refPopup ul li{
	float: left;
	line-height: 30px;
	padding-left: 11px;
	padding-right: 14px;
	background-color: white;
	margin-right: 2px;
	list-style: none;
	border-top-right-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.546094) 0px 0px 2px;
	opacity: 0.5;
	font-family: optimabold;
	color: #652D89;
	border: 1px solid #652D89;
	border-bottom: 0px;
}

#refPopup ul li.selected{
	opacity:1;
}

#refPopup ul li:first-child{
	margin-left: 4px;
}

#refPopup .tab{
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	width: 100%;
	height: 508px;
	-webkit-box-shadow: 0px 0px 3px 0px #999;
	-webkit-transform: translate3d(0px, 0px, 0px);
	border: 1px solid #652D89;
}

#refPopup.safety_ref [data-tab='5']{
	position: relative;
}

#refPopup.safety_ref [data-tab='5']::after{
	position: absolute;
	content: "Ref-5.2";
	left: 4px;
	background: #F6EDFF;
}

#refPopup.safety_ref [data-tab='4']{
	position: relative;
}

#refPopup.safety_ref [data-tab='4']::after{
	position: absolute;
	content: "Ref-5.1";
	left: 4px;
	background: #F6EDFF;
}

#refPopup .tab.active{
	opacity: 1;
}

#refPopup .ref-summary{
	position: absolute;
	left: 37px;
	top: 27px;
	padding-right: 50px;
	font-size: 12px;
	font-family: optimabold;
}

#refPopup img{
	top: 102px;
	left: 39px;
	position: absolute;
	-webkit-box-shadow: 0px 0px 12px 2px #F5E6F6;
	height: 368px;
}

#refPopup .original-doc{
	position: absolute;
	bottom: 9px;
	display: block;
	left: 7px;
	width:44px;
	height:44px;
	background: url('../../content/img/app/refpopopenpdf.png') no-repeat;
}

#refPopup .original-doc[data-reference=""]{
	display:none;
}

#refPopup .close-button{
	position: absolute;
	z-index: 5;
	right: -2px;
	top: -49px;
	width:50px;
	height:50px;
	background: url('../../content/img/app/close-btn.png') center center no-repeat;
}

#refPopup .add-button{
	position: absolute;
	z-index: 5;
	left: 7px;
	bottom: 75px;
	width:44px;
	height:44px;
	background: url('../../content/img/app/refpopaddshop.png') no-repeat;
}

.refPopupContent{
	width: 811px;
	height: 509px;
	left: 58px;
	position: absolute;
	top: 52px;
	background-color: white;
}

#refPopup .popreficon{
	position: absolute;
	z-index: 5;
	left: 8px;
	top: 8px;
	width:32px;
	height:20px;
	background: url('../../content/img/app/refpopicon.png') no-repeat;
}

#refPopup .refPopWindow{
	position: absolute;
	top: 96px;
	left: 46px;
	opacity: 0;
	width: 930px;
	height: 600px;
	z-index: -1;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: scale(.2, .2);
	-webkit-transition: 1s;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 5px 1px #666;
	background-color: white;
	border: 2px solid #652D89;
}

.displaying .refPopWindow{
	opacity: 1 !important;
	z-index: 900 !important;
	-webkit-transform: scale(1, 1) !important;
}