#fondoSlide52 {
    background: url(../../content/img/slide52/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -65px;
    left: 0px;
}

#fondoSlide52 #cuadro-morado {
    position: absolute;
    background: url(../../content/img/slide52/cuadro-morado.png);
    width: 352px;
    height: 108px;
    top: 324px;
    left: 359px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide52 #cuadro-celeste {
    position: absolute;
    background: url(../../content/img/slide52/cuadro-celeste.png);
    width: 352px;
    height: 194px;
    top: 466px;
    left: 359px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide52 #cuadro-fucsia {
    position: absolute;
    background: url(../../content/img/slide52/cuadro-fucsia.png);
    width: 176px;
    height: 335px;
    top: 324px;
    left: 778px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide52 #logo-herceptin {
    position: absolute;
    background: url(../../content/img/slide52/logo-herceptin.svg);
     background-size: 100% 100%;
    width: 245px;
    height: 102px;
    top: 320px;
    left: 94px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide52 #logo-perjeta {
    position: absolute;
    background: url(../../content/img/slide52/logo-perjeta.svg);
     background-size: 100% 100%;
    width: 133px;
    height: 113px;
    top: 471px;
    left: 141px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide52 #logo-kadcyla {
    position: absolute;
    background: url(../../content/img/slide52/logo-kadcyla.svg);
    background-size: 100% 100%;
    width: 149px;
    height: 63px;
    top: 227px;
    left: 785px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


#fondoSlide52 #txt1 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 28px;
    color: #430098;
    top: 91px;
    left: 394px;
    line-height: 35px;
}

#fondoSlide52 #txt2 {
    position: absolute;
    font-family: "Verdana";
    font-size: 24px;
    color: #430098;
    top: 132px;
    left: 55px;
}

#fondoSlide52 #txt3 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 18px;
    color: #575756;
    top: 212px;
    left: 380px;
    line-height: 32px;
}

#fondoSlide52 #txt4 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #FFFFFF;
    top: 15px;
    left: 20px;
    line-height: 27px;
}

#fondoSlide52 #txt4 span {
    font-family: "VerdanaBold";
}

#fondoSlide52 #txt5 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #FFFFFF;
    top: 9px;
    left: 20px;
    line-height: 27px;
}

#fondoSlide52 #txt5 span {
    font-family: "VerdanaBold";
}

#fondoSlide52 #txt6 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #FFFFFF;
    top: 104px;
    left: 20px;
    line-height: 27px;
}

#fondoSlide52 #txt6 span {
    font-family: "VerdanaBold";
}

#fondoSlide52 #txt7 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #FFFFFF;
    top: 17px;
    left: 40px;
    line-height: 27px;
}

#fondoSlide52 #txt7 span {
    font-family: "VerdanaBold";
}