.navToCollection{
	position: absolute;
	top: 338px;
	width: 32px;
	height: 92px;
	cursor: pointer;
	z-index:999999;
}
#goToPrev{
	left: 0px;
	background-image: url(../../content/img/goToPrev.png);
}
#goToNext{
	right: 0px;
	background-image: url(../../content/img/goToNext.png);
}

#goToDown{
	top: 738px;
	right: 459px;
	width: 93px;
	background-image:url(../../content/img/goToDown.png);
	height: 31px;
}

#goToUp{
	top: 1px;
	right: 459px;
	width: 93px;
	background-image:url(../../content/img/goToUp.png);
	height: 31px;
}


.slideshows{
	background: /*url(../../content/img/backgrounds/wave.png)*/ 0px -30px no-repeat ;
	background-size: 100%;
	background-color: #FFF;
}

.services .slideshows,
.shopping .slideshows,
.references .slideshows{
	background:none;
	background-color:white;
}

.references .slideshow{
	background: url(../../content/img/backgrounds/ref-background.png) 0px 65px no-repeat,
				url(../../content/img/backgrounds/wave.png) 0px 0px no-repeat;
}

.services .slideshow{
	background: url(../../content/img/backgrounds/service-bg.png) 0px 65px repeat-x,
				url(../../content/img/backgrounds/wave.png) 0px 0px no-repeat;
}

.shopping .slideshow{
	background: url(../../content/img/backgrounds/shopping-bg.png) 0px 65px repeat-x,
				url(../../content/img/backgrounds/wave.png) 0px 0px no-repeat;
				
}



.home #IN_intro{
	background: url(../../content/img/backgrounds/fondoPortada.png) 0px 0px no-repeat;
	background-color: white;
}

.storyboard #IN_intro{
	background: url(../../content/img/backgrounds/fondoPortada.png) 0px 0px no-repeat;
	background-color: white;
}

 #IN_intro{
	background: url(../../content/img/backgrounds/fondoPortada.png) 65px 0px no-repeat;
	background-color: white;
}

#presentation{
	-webkit-tap-highlight-color: transparent;
}

.slide{
	color: black;
	margin: 65px 0px 0px 0px;
	padding: 1px 0 0 0;
	position: relative;
	width: 1024px;
	height: 702px;
}

@media only screen and (orientation:portrait){
	/* portrait styles here */
}

#slidescroller{
	background-color: #333;
	position: absolute;
	width: 100%;
	height: 150px;
	bottom: 47px;
	opacity: 0.1;
}

#rightscroller{
	background-color: #333;
	position: absolute;
	right: 0;
	width: 20%;
	height: 120px;
	bottom: 250px;
	opacity: 0.1;
}

.slide .content{
	position: relative;
	margin-left: 102px;
}

#logo{
	position: absolute;
bottom: 4px;
left: 819px;
width: 181px;
height: 56px;
}

#logoRochePortada{
position: absolute;
left: 946px;
top: -52px;
}

#logoRoche{
position: absolute;
left: 946px;
top: 24px;
}

.references #logo{
	opacity: 0;
}

.services #logo,
.home #logo,
.references #logo,
.buildtrack #logo,
.shopping #logo,
.savedtracks #logo{
	display: none;
}

.hide{
	display: none;
}

.clear{
	clear: both;
}

.no-scroll .slideshow{
	-webkit-transition: 0s !important;
}