#fondoSlide60{
    background: url(../../content/img/slide60/fondo.png);
    width:1024px; 
    height: 768px;
    position:absolute;
    top: -62px;
    z-index:1;
}



#txtTituloSlide60{
    position: absolute;
    top: 92px;
    left: 103px;
    text-align: center;
    line-height: 33px;
}


#heterogenidadSlide60{
    
}

#preparacionSlide60{
    position: absolute;
    top: 44px;
    left: 0px;
}

#reaccionSlide60{
    position: absolute;
    top: 88px;
    left: 0px;
    color: #FF6B00;
}

#duracionSlide60{
    position: absolute;
    top: 134px;
    left: 0px; 
}

sup{
    font-size: 55%;
}

#txt1Slide67{
    position: absolute;
    top: 223px;
    left: 105px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}


.itemMenuSlide60{
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#menuSlide60{
    position: absolute;
    top: 201px;
    left: 103px;
}

#linea1Slide60{
    position: absolute;
    top: 25px;
    left: 0px;
}

#linea2Slide60{
    position: absolute;
    top: 70px;
    left: 0px;
}

#linea3Slide60{
    position: absolute;
    top: 114px;
    left: 0px;
}

#linea4Slide60{
    position: absolute;
    top: 159px;
    left: 0px;
}


#slide60 #txt1{
    position: absolute;
    top: 555px;
    left: 95px;
    font-family: 'Verdana';
    font-size: 9px;
    color: #430098;
    line-height: 14px;
}

#slide60 #txt2{
    position: absolute;
    top: 610px;
    left: 275px;
    font-family: 'Verdana';
    font-size: 9px;
    color: #430098;
}

#slide60 #txt2 span{
    font-family: 'VerdanaBold';
}



/*Cuadro Duracion*/

#slide60 #cuadro ul {
    list-style: initial;
    list-style-image: url('../../content/img/slide60/bullet.png') !important;
}

#slide60 #cuadro{
    background: url(../../content/img/slide60/cuadro.png);
    width: 675px; 
    height: 395px;
    position:absolute;
    top: 199px;
    left: 261px;
}

#slide60 #txt1Cuadro{
    position: absolute;
    top: 269px;
    left: 56px;
    font-family: 'VerdanaBold';
    font-size: 12px;
    color: #430098;
    line-height: 21px;
}

#slide60 #txt2Cuadro{
    position: absolute;
    top: 288px;
    left: 56px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 20px;
}

#slide60 #txt3Cuadro{
    position: absolute;
    top: 66px;
    left: 514px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 18px;
}

#slide60 #txt4Cuadro{
    position: absolute;
    top: 157px;
    left: 514px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 18px;
}

#slide60 #txt5Cuadro{
    position: absolute;
    top: 48px;
    left: 514px;
    font-family: 'VerdanaBold';
    font-size: 12px;
    color: #430098;
    line-height: 18px;
}

#slide60 #txt6Cuadro{
    position: absolute;
    top: 33px;
    left: 316px;
    font-family: 'VerdanaBold';
    font-size: 10px;
    color: #430098;
    line-height: 16px;
    text-align: center;
}

#slide60 #txt7Cuadro{
    position: absolute;
    top: 216px;
    left: 324px;
    font-family: 'VerdanaBold';
    font-size: 10px;
    color: #430098;
    line-height: 16px;
    text-align: center;
}

#slide60 #txt8Cuadro{
    position: absolute;
    top: 81px;
    left: 153px;
    font-family: 'VerdanaBold';
    font-size: 10px;
    color: #430098;
    line-height: 14px;
    text-align: center;
}

#slide60 #txt9Cuadro{
    position: absolute;
    top: 117px;
    left: 183px;
    font-family: 'VerdanaBold';
    font-size: 9px;
    color: #430098;
    line-height: 18px;
    text-align: center;
}

#slide60 #txt10Cuadro{
    position: absolute;
    top: 204px;
    left: 153px;
    font-family: 'VerdanaBold';
    font-size: 10px;
    color: #430098;
    line-height: 14px;
    text-align: center;
}

#numAvisoSlide60{
    position: absolute;
    bottom: 80px;
    right: 31px;
}