#Fondo_Slide1{
	position:absolute;
	top: -64px;
	left: 0px;
	width:1024px;
	height: 768px;
	background-image:url(../../content/img/slide1/fondo.png);
}

#slide1 #txt1 {
 position: absolute;
font-family: FrutigerLTStd_Bold;
font-size: 54px;
color: #fff;
top: 356px;
left: 67px;
}

#slide1 #txt2 {
 position: absolute;
font-family: FrutigerLTStd_Bold;
font-size: 54px;
color: #fff;
top: 356px;
left: 704px;
}