#fondoSlide65 {
    background: url(../../content/img/slide65/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 1;
}

#txtTituloSlide67 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 28px;
    color: #430098;
    line-height: 33px;
    top: 131px;
    left: 227px;
}

#preparacionSlide65 {
    position: absolute;
    top: 44px;
    left: 0px;
}

#administracionSlide65 {
    position: absolute;
    top: 88px;
    left: 0px;
    color: #FF6B00;
}

#almacenamientoSlide65 {
    position: absolute;
    top: 134px;
    left: 0px;
}

#vialSlide65 {
    position: absolute;
    top: 180px;
    left: 1px;
}

sup {
    font-size: 55%;
}

#txt1Slide67 {
    position: absolute;
    top: 223px;
    left: 105px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}


.itemMenuSlide67 {
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#menuSlide67 {
    position: absolute;
    top: 201px;
    left: 103px;
}

#linea1Slide67 {
    position: absolute;
    top: 25px;
    left: 0px;
}

#linea2Slide67 {
    position: absolute;
    top: 70px;
    left: 0px;
}

#linea3Slide67 {
    position: absolute;
    top: 114px;
    left: 0px;
}

#linea4Slide67 {
    position: absolute;
    top: 159px;
    left: 0px;
}

#linea5Slide67 {
    position: absolute;
    top: 204px;
    left: 0px;
}


/*Cuadro administracion*/

#slide65 #txt1 {
    position: absolute;
    top: 32px;
    left: 65px;
    font-family: 'VerdanaBold';
    font-size: 18px;
    color: #FFFFFF;
}

#slide65 #txt2 {
    position: absolute;
    top: 32px;
    left: 422px;
    font-family: 'VerdanaBold';
    font-size: 18px;
    color: #FFFFFF;
}

#slide65 #imgBullets {
    position: absolute;
    top: 92px;
    left: 50px;
}

#slide65 #txt3 {
    position: absolute;
    top: 83px;
    left: 62px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

#slide65 #txt4 {
    position: absolute;
    top: 215px;
    left: 62px;
    font-family: 'VerdanaBold';
    font-size: 20px;
    color: #FFFFFF;
}

#slide65 #txt5 {
    position: absolute;
    top: 92px;
    left: 422px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
}

#slide65 #txt6 {
    position: absolute;
    top: 122px;
    left: 422px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
}

#slide65 #txt7 {
    position: absolute;
    top: 155px;
    left: 422px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
}


#numAvisoSlide66 {
    position: absolute;
    bottom: 80px;
    right: 31px;
}

#slide65 .texto_mensaje_footer {
position: absolute;
top: 681px;
left: 785px;
color: #646569;
font-family: "helveticaneueltcommd";
font-size: 7px;
z-index: 1;
}