.subTituloSlide12 {
    position: absolute;
    top: 130px;
    left: 182px;
    font-family: "Verdana";
    font-size: 16px;
    color: #430098;
    line-height: 23px;
    text-align: center;
}

#subTitulo2Slide12 {
    font-size: 14px;
    line-height: 16px;
    top: 160px;
    left: 200px;
}

#TextLat12{
    position: absolute;
    top: 608px;
    left: 28px;
    font-family: "Verdana";
    text-align: center;
    font-size: 10px;
    color: #430098;
}
#TextLat12 span{
    font-family: "VerdanaBold";
}

#img1Slide12 {
    background: url(../../content/img/slide12/estudio.png);
    height: 358px;
    width: 763px;
    position: absolute;
    top: 203px;
left: 128px;
}

#slide12 #txt1{
    position: absolute;
font-family: "VerdanaBold";
top: 310px;
left: 153px;
font-size: 13px;
color: #FF6B00;
line-height: 16px;
}

#slide12 #txt2{
   position: absolute;
font-family: "VerdanaBold";
top: 325px;
left: 307px;
font-size: 13px;
color: #FF6B00;
text-align: center;
line-height: 16px;
}

#slide12 #txt3{
   position: absolute;
font-family: "Verdana";
top: 238px;
left: 444px;
font-size: 12px;
color: #FF6B00;
}

#slide12 #txt4{
   position: absolute;
font-family: "Verdana";
top: 238px;
left: 643px;
font-size: 12px;
color: #FF6B00;
}

#slide12 #txt5{
   position: absolute;
font-family: "VerdanaBold";
top: 279px;
left: 439px;
font-size: 12px;
color: #c42b69;
}

#slide12 #txt6{
   position: absolute;
font-family: "VerdanaBold";
top: 389px;
left: 439px;
font-size: 12px;
color: #430098;
}

#slide12 #txt7{
position: absolute;
font-family: "VerdanaBold";
top: 337px;
left: 604px;
font-size: 9px;
color: #fff;
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
}

#slide12 #txt8{
position: absolute;
font-family: "VerdanaBold";
top: 335px;
left: 765px;
font-size: 9px;
color: #fff;
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
}

#slide12 #txt9{
position: absolute;
font-family: "VerdanaBold";
top: 335px;
left: 792px;
font-size: 8px;
color: #fff;
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
}

#slide12 #txt10{
position: absolute;
font-family: "VerdanaBold";
top: 440px;
left: 253px;
font-size: 11px;
color: #fff;
}

#slide12 #txt11{
position: absolute;
font-family: "Verdana";
top: 495px;
left: 165px;
font-size: 10px;
color: #c42b69;
}
#slide12 #txt11 span{
    font-family: "VerdanaBold";
}

#slide12 #txt12{
position: absolute;
font-family: "Verdana";
top: 514px;
left: 165px;
font-size: 10px;
color: #430098;
line-height: 13px;
}
#slide12 #txt12 span{
    font-family: "VerdanaBold";
}

#slide12 #txt13{
position: absolute;
font-family: "Verdana";
top: 496px;
left: 446px;
font-size: 10px;
color: #00A1DF;
}
#slide12 #txt13 span{
    font-family: "VerdanaBold";
}

#slide12 #txt14{
position: absolute;
font-family: "Verdana";
top: 515px;
left: 446px;
font-size: 10px;
color: #00A887;
line-height: 13px;
}
#slide12 #txt14 span{
    font-family: "VerdanaBold";
}

#slide12 #txt15{
position: absolute;
font-family: "VerdanaBold";
top: 225px;
left: 155px;
font-size: 14px;
color: #ece0e9;
}

#slide12 #lupaSlide12{
position: absolute;
width: 80px;
height: 70px;
top: 510px;
left: 828px;
}

#slide12 #popUpLupa1{
    display: none;
}

#slide12 #popUpLupa1 .texto_mensaje_footer {
position: absolute;
top: 680px;
left: 785px;
color: #646569;
font-family: "helveticaneueltcommd";
font-size: 7px;
z-index: 1;
}

#slide12 #cierraLupa1{
    position: absolute;
width: 70px;
height: 70px;
top: 554px;
left: 952px;
}

#slide12 #fondoPopUp12{
    position: absolute;
    background-image: url("../../content/img/slide12/fondoPopUp.png");
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}

#slide12 #txt16{
    position: absolute;
font-family: "VerdanaBold";
top: 287px;
left: 58px;
font-size: 17px;
color: #FF6B00;
line-height: 20px;
}

#slide12 #txt17{
   position: absolute;
font-family: "VerdanaBold";
top: 305px;
left: 259px;
font-size: 17px;
color: #FF6B00;
text-align: center;
line-height: 20px;
}

#slide12 #txt18{
   position: absolute;
font-family: "Verdana";
top: 191px;
left: 434px;
font-size: 16px;
color: #FF6B00;
}

#slide12 #txt19{
   position: absolute;
font-family: "Verdana";
top: 191px;
left: 692px;
font-size: 16px;
color: #FF6B00;
}

#slide12 #txt20{
   position: absolute;
font-family: "VerdanaBold";
top: 242px;
left: 432px;
font-size: 16px;
color: #c42b69;
}

#slide12 #txt21{
   position: absolute;
font-family: "VerdanaBold";
top: 385px;
left: 432px;
font-size: 16px;
color: #430098;
}

#slide12 #txt22{
position: absolute;
font-family: "VerdanaBold";
top: 321px;
left: 647px;
font-size: 11px;
color: #fff;
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
}

#slide12 #txt23{
position: absolute;
font-family: "VerdanaBold";
top: 316px;
left: 854px;
font-size: 11px;
color: #fff;
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
}

#slide12 #txt24{
position: absolute;
font-family: "VerdanaBold";
top: 317px;
left: 893px;
font-size: 10px;
color: #fff;
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
}

#slide12 #txt25{
position: absolute;
font-family: "VerdanaBold";
top: 453px;
left: 182px;
font-size: 15px;
color: #fff;
}

#slide12 #txt26{
position: absolute;
font-family: "Verdana";
top: 525px;
left: 75px;
font-size: 13px;
color: #c42b69;
}
#slide12 #txt26 span{
    font-family: "VerdanaBold";
}

#slide12 #txt27{
position: absolute;
font-family: "Verdana";
top: 550px;
left: 75px;
font-size: 13px;
color: #430098;
line-height: 17px;
}
#slide12 #txt27 span{
    font-family: "VerdanaBold";
}

#slide12 #txt28{
position: absolute;
font-family: "Verdana";
top: 527px;
left: 441px;
font-size: 13px;
color: #00A1DF;
}
#slide12 #txt28 span{
    font-family: "VerdanaBold";
}

#slide12 #txt29{
position: absolute;
font-family: "Verdana";
top: 552px;
left: 440px;
font-size: 13px;
color: #00A887;
line-height: 17px;
}
#slide12 #txt29 span{
    font-family: "VerdanaBold";
}

#slide12 #txt30{
position: absolute;
font-family: "VerdanaBold";
top: 181px;
left: 54px;
font-size: 18px;
color: #ece0e9;
}