#fondoSlide64 {
    background: url(../../content/img/slide64/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 1;
}

#txtTituloSlide67 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 28px;
    color: #430098;
    line-height: 33px;
    top: 131px;
    left: 227px;
}

#preparacionSlide64 {
    position: absolute;
    top: 44px;
    left: 0px;
    color: #FF6B00;
}

#administracionSlide64 {
    position: absolute;
    top: 88px;
    left: 0px;
}

#almacenamientoSlide64 {
    position: absolute;
    top: 134px;
    left: 0px;
}

#vialSlide64 {
    position: absolute;
    top: 180px;
    left: 1px;
}

sup {
    font-size: 55%;
}

#txt1Slide67 {
    position: absolute;
    top: 223px;
    left: 105px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}


.itemMenuSlide67 {
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#menuSlide67 {
    position: absolute;
    top: 201px;
    left: 103px;
}

#linea1Slide67 {
    position: absolute;
    top: 25px;
    left: 0px;
}

#linea2Slide67 {
    position: absolute;
    top: 70px;
    left: 0px;
}

#linea3Slide67 {
    position: absolute;
    top: 114px;
    left: 0px;
}

#linea4Slide67 {
    position: absolute;
    top: 159px;
    left: 0px;
}

#linea5Slide67 {
    position: absolute;
    top: 204px;
    left: 0px;
}



/*Cuadro preparacion*/

#slide64 #txt1 {
    position: absolute;
    top: 32px;
    left: 65px;
    font-family: 'VerdanaBold';
    font-size: 18px;
    color: #FFFFFF;
}

#slide64 #txt2 {
    position: absolute;
    top: 32px;
    left: 422px;
    font-family: 'VerdanaBold';
    font-size: 18px;
    color: #FFFFFF;
}

#slide64 #imgBullets {
    position: absolute;
    top: 95px;
    left: 53px;
}

#slide64 #txt3 {
    position: absolute;
    top: 86px;
    left: 63px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

#slide64 #txt4 {
    position: absolute;
    top: 135px;
    left: 64px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

#slide64 #txt4 span {
    font-family: 'VerdanaBold';
}

#slide64 #txt5 {
    position: absolute;
    top: 83px;
    left: 421px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 31px;
}

#numAvisoSlide64 {
    position: absolute;
    bottom: 80px;
    right: 31px;
}
#slide64 .texto_mensaje_footer {
position: absolute;
top: 681px;
left: 785px;
color: #646569;
font-family: "helveticaneueltcommd";
font-size: 7px;
z-index: 1;
}