#fondoSlide63 {
    background: url(../../content/img/slide63/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 1;
}



#txtTituloSlide67 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 28px;
    color: #430098;
    line-height: 33px;
    top: 131px;
    left: 227px;
}

#dosiSlide63 {
    color: #FF6B00;
}

#preparacionSlide63 {
    position: absolute;
    top: 44px;
    left: 0px;
}

#administracionSlide63 {
    position: absolute;
    top: 88px;
    left: 0px;
}

#almacenamientoSlide63 {
    position: absolute;
    top: 134px;
    left: 0px;
}

#vialSlide63 {
    position: absolute;
    top: 180px;
    left: 1px;
}

sup {
    font-size: 55%;
}

#txt1Slide67 {
    position: absolute;
    top: 223px;
    left: 105px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}


.itemMenuSlide67 {
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#menuSlide67 {
    position: absolute;
    top: 201px;
    left: 103px;
}

#linea1Slide67 {
    position: absolute;
    top: 25px;
    left: 0px;
}

#linea2Slide67 {
    position: absolute;
    top: 70px;
    left: 0px;
}

#linea3Slide67 {
    position: absolute;
    top: 114px;
    left: 0px;
}

#linea4Slide67 {
    position: absolute;
    top: 159px;
    left: 0px;
}

#linea5Slide67 {
    position: absolute;
    top: 204px;
    left: 0px;
}



/*Cuadro dosis*/

#slide63 #txt1 {
    position: absolute;
    top: 32px;
    left: 65px;
    font-family: 'VerdanaBold';
    font-size: 18px;
    color: #FFFFFF;
}

#slide63 #txt2 {
    position: absolute;
    top: 32px;
    left: 422px;
    font-family: 'VerdanaBold';
    font-size: 18px;
    color: #FFFFFF;
}

#slide63 #imgBullets {
    position: absolute;
    top: 95px;
    left: 53px;
}

#slide63 #txt3 {
    position: absolute;
    top: 86px;
    left: 129px;
    font-family: 'VerdanaBold';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

#slide63 #txt4 {
    position: absolute;
    top: 118px;
    left: 61px;
    font-family: 'VerdanaBold';
    font-size: 24px;
    color: #FFFFFF;
    line-height: 21px;
}

#slide63 #txt4 span {
    font-family: 'VerdanaBold';
}

#slide63 #txt5 {
    position: absolute;
    top: 152px;
    left: 65px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 31px;
    text-align: center;
}

#slide63 #txt6 {
    position: absolute;
    top: 80px;
    left: 452px;
    font-family: 'VerdanaBold';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

#slide63 #txt7 {
    position: absolute;
    top: 105px;
    left: 413px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 31px;
    text-align: center;
}

#slide63 #txt8 {
    position: absolute;
    top: 195px;
    left: 427px;
    font-family: 'VerdanaBold';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

#slide63 #txt9 {
    position: absolute;
    top: 217px;
    left: 387px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
    text-align: center;
}

#numAvisoSlide63 {
    position: absolute;
    bottom: 80px;
    right: 31px;
}

#slide63 .texto_mensaje_footer {
position: absolute;
top: 681px;
left: 785px;
color: #646569;
font-family: "helveticaneueltcommd";
font-size: 7px;
z-index: 1;
}

.btnDosis{
    position: absolute;
width: 130px;
height: 38px;
top: -16.6px;
}

.btnPreparacion2{
        position: absolute;
width: 130px;
height: 38px;
top: 29.4px;
}
.btnAdministracion{
        position: absolute;
width: 130px;
height: 38px;
top: 73.4px;
}
.btnAlmacenamiento{
        position: absolute;
width: 130px;
height: 38px;
top: 118.4px;
}
.btnVital{
        position: absolute;
width: 130px;
height: 38px;
top: 163.4px;
}