
#TextLat10{
    position: absolute;
    top: 410px;
    left: 632px;
    font-family: "Verdana";
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #430098;
}

#img1Slide10 {
    background: url(../../content/img/slide10/pelon.png);
    height: 230px;
    width: 244px;
    position: absolute;
    top: 245px;
    left: 185px;
}

#img2Slide10 {
    background: url(../../content/img/slide10/5minutos.png);
    height: 222px;
    width: 222px;
    position: absolute;
    top: 200px;
    left: 612px;
}
