#fondoSlide67 {
    background: url(../../content/img/slide67/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 1;
}

#txtTituloSlide67 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 28px;
    color: #430098;
    line-height: 33px;
    top: 131px;
    left: 227px;
}

#preparacionSlide67 {
    position: absolute;
    top: 44px;
    left: 0px;
}

#administracionSlide67 {
    position: absolute;
    top: 88px;
    left: 0px;
}

#almacenamientoSlide67 {
    position: absolute;
    top: 134px;
    left: 0px;
}

#vialSlide67 {
    position: absolute;
    top: 180px;
    left: 1px;
    color: #FF6B00;
}

sup {
    font-size: 55%;
}

#txt1Slide67 {
    position: absolute;
    top: 223px;
    left: 105px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}

#numAvisoSlide67 {
    position: absolute;
    bottom: 80px;
    right: 31px;
}

.itemMenuSlide67 {
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#menuSlide67 {
    position: absolute;
    top: 201px;
    left: 103px;
}

#linea1Slide67 {
    position: absolute;
    top: 25px;
    left: 0px;
}

#linea2Slide67 {
    position: absolute;
    top: 70px;
    left: 0px;
}

#linea3Slide67 {
    position: absolute;
    top: 114px;
    left: 0px;
}

#linea4Slide67 {
    position: absolute;
    top: 159px;
    left: 0px;
}

#linea5Slide67 {
    position: absolute;
    top: 204px;
    left: 0px;
}

.fondoColumnasSlide67 {
    background: url(../../content/img/slide67/columnas.png);
    width: 669px;
    height: 391px;
    position: absolute;
    top: 202px;
    left: 264px;
}


/*Cuadro Vial*/

#txt1Vial {
    position: absolute;
    top: 32px;
    left: 65px;
    font-family: 'VerdanaBold';
    font-size: 18px;
    color: #FFFFFF;
}

#txt1Vial verde {
    color: #39B44A;
}

#txt2Vial {
    position: absolute;
    top: 32px;
    left: 422px;
    font-family: 'VerdanaBold';
    font-size: 18px;
    color: #FFFFFF;
}

#txt2Vial verde {
    color: #39B44A;
}


#imgFrascoVial1 {
    position: absolute;
    top: 135px;
    left: 130px;
}

#imgFrascoVial2 {
    position: absolute;
    top: 118px;
    left: 419px;
}

#txt3Vial {
    position: absolute;
    top: 418px;
    left: 0px;
    font-family: 'VerdanaBold';
    font-size: 15px;
    color: #39B44A;
}


#numAvisoSlide67 {
    position: absolute;
    bottom: 80px;
    right: 31px;
}