#fondo_Slide32 {
    position: absolute;
    background: url("../../content/img/slide32/fondo.png");
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
}

#slide32 #txt1 {
    position: absolute;
    font-family: "Verdana";
    top: 88px;
    left: 199px;
    font-size: 21px;
    color: #430098;
}

#slide32 #txt1 span {
    font-family: "VerdanaBold";
    font-size: 28px;
}


#slide32 #material {
    position: absolute;
    top: 680px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
}

#slide32 #txt2 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 127px;
    left: 218px;
    font-size: 21px;
    color: #430098;
}

#slide32 #txt3 {
    position: absolute;
    font-family: "Verdana";
    top: 214px;
    left: 244px;
    font-size: 16px;
    color: #430098;
}

#slide32 #txt3 span {
    font-family: "VerdanaBold";
}

#slide32 #txt4 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 456px;
    left: 93px;
    font-size: 12px;
    color: #430098;
    text-align: center;
    line-height: 18px;
}

#slide32 #txt5 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 456px;
    left: 302px;
    font-size: 12px;
    color: #430098;
    text-align: center;
    line-height: 18px;
}

#slide32 #txt5 span {
    font-size: 10px;
}

#slide32 #txt6 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 456px;
    left: 560px;
    font-size: 12px;
    color: #430098;
    text-align: center;
    line-height: 18px;
}

#slide32 #txt7 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 456px;
    left: 792px;
    font-size: 12px;
    color: #430098;
    text-align: center;
    line-height: 18px;
}

#slide32 #txt8 {
    position: absolute;
    font-family: "Verdana";
    top: 513px;
    left: 42px;
    font-size: 13px;
    color: #430098;
    text-align: center;
    line-height: 22px;
}

#slide32 #txt8 span {
    font-family: "VerdanaBold";
}

#slide32 #txt9 {
    position: absolute;
    font-family: "Verdana";
top: 513px;
left: 320px;
    font-size: 13px;
    color: #430098;
    text-align: center;
    line-height: 22px;
}

#slide32 #txt9 span {
    font-family: "VerdanaBold";
}

#slide32 #txt10 {
    position: absolute;
    font-family: "Verdana";
top: 513px;
left: 525px;
    font-size: 13px;
    color: #430098;
    text-align: center;
    line-height: 22px;
}

#slide32 #txt10 span {
    font-family: "VerdanaBold";
}

#slide32 #txt11 {
    position: absolute;
    font-family: "Verdana";
top: 513px;
left: 739px;
    font-size: 13px;
    color: #430098;
    text-align: center;
    line-height: 22px;
}

#slide32 #txt11 span {
    font-family: "VerdanaBold";
}