#Fondo_Slide11 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 588px;
    background-image: url(../../content/img/slide11/fondo1.png);
}

#slide11 #txt1 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 28px;
    top: 23px;
    left: 225px;
    color: #430098;
    line-height: 33px;
}

#slide11 #txt1 span {
    font-family: "VerdanaBold";
}

#slide11 #txt1 span2 {
    font-size: 24px;
    font-family: "Verdana";
}

#slide11 #txt2 {
    position: absolute;
    font-family: "Verdana";
    font-size: 14px;
    top: 415px;
    left: 628px;
    color: #430098;
    text-align: center;
    line-height: 30px;
}

#slide11 #txt2 span {
    font-family: "VerdanaBold";
}

#slide11 #img_play {
    position: absolute;
    top: 225px;
    left: 155px;
    width: 269px;
    height: 273px;
    background-image: url(../../content/img/slide11/img_play.png);
}

#slide11 #img_reloj {
    position: absolute;
    top: 201px;
    left: 619px;
    width: 187px;
    height: 187px;
    background-image: url(../../content/img/slide11/reloj.png);
}

#videoSlide11 {
    position: absolute;
    top: 115px;
    left: 0px;
    width: 1024px;
    height: 588px;
    display: none;
    z-index: 4;
    background-color: black;
}