#fondo_slide28 {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide28/fondo.png);
}

#slide28 #txt1 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 28px;
    top: 29px;
    left: 205px;
    color: #430098;
    line-height: 33px;
}

#slide28 #txt1 span {
    font-family: "VerdanaBold";
}

#slide28 #txt1 span2 {
    font-size: 24px;
    font-family: "Verdana";
}

#slide28 #txt2 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 536px;
    left: 422px;
    color: #430098;
}

#slide28 #img1 {
    position: absolute;
    top: 198px;
    left: 355px;
    width: 313px;
    height: 307px;
    background-image: url(../../content/img/slide28/img1.png);
}

#videoSlide28 {
    position: absolute;
    width: 1024px;
    height: 588px;
    top: 115px;
    left: 0px;
    display: none;
    z-index: 4;
    background-color: black;
}