#fondoSlide33 {
    background: url(../../content/img/slide33/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -63px;
    left: 0px;
    z-index: 1;
}

#slide33 #txt1 {
    position: absolute;
    top: 87px;
    left: 195px;
    font-family: "Verdana";
    font-size: 23px;
    color: #430098;
    line-height: 33px;
    text-align: center;
}

#slide33 #txt1sup1 {
    font-family: "VerdanaBold";
    font-size: 28px;
}

#slide33 #txt1sup2 {
    font-family: "VerdanaBold";
    font-size: 21px;
}

#slide33 #img1 {
    background: url(../../content/img/slide33/img.png);
    width: 194px;
    height: 195px;
    position: absolute;
    top: 231px;
    left: 294px;
}

#slide33 #img2 {
    background: url(../../content/img/slide33/img2.png);
    width: 194px;
    height: 195px;
    position: absolute;
    top: 449px;
    left: 294px;
}

#slide33 #txt2 {
    position: absolute;
    top: 218px;
    left: 555px;
    font-family: "VerdanaBold";
    font-size: 15px;
    color: #430098;
}

#slide33 #txt3 {
    position: absolute;
    top: 257px;
    left: 556px;
    font-family: "Verdana";
    font-size: 18px;
    color: #430098;
    line-height: 29px;
}

#slide33 #txt3 pequeno {
    font-size: 14px;
}

#slide33 #txt3 span {
    font-family: "VerdanaBold";
}

#slide33 #txt4 {
    position: absolute;
    top: 457px;
    left: 550px;
    font-family: "Verdana";
    font-size: 16px;
    color: #430098;
    line-height: 29px;
}

#slide33 #txt4span1 {
    font-family: "VerdanaBold";
    font-size: 18px;
}

#slide33 #txt4span2 {
    font-family: "VerdanaBold";
}

#slide33 #txt5 {
    position: absolute;
    top: 679px;
    left: 797px;
    font-family: "HelveticaNeue-Light";
    font-size: 7px;
    color: #646569;
}

#slide33 .texto_mensaje_footer {
    position: absolute;
    top: 682px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    z-index: 1;
}