#slide53 #fondo {
    background: url(../../content/img/slide53/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 1;
}

#slide53 #videoslide53 {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#numAvisoSlide58 {
    position: absolute;
    bottom: 80px;
    right: 31px;
}

#txtTituloSlide53 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 28px;
    top: 127px;
    left: 225px;
    color: #430098;
    line-height: 33px;
}

#txtTituloSlide53 span {
    font-family: "VerdanaBold";
}

#txtTituloSlide53 span2 {
    font-size: 24px;
    font-family: "Verdana";
}

#slide53 #txt1 {
    position: absolute;
    top: 239px;
    left: 762px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#slide53 #txt2 {
    position: absolute;
    top: 403px;
    left: 763px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#slide53 #txt3 {
    position: absolute;
    top: 571px;
    left: 763px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#slide53 #enviaIntroducion {
    position: absolute;
    top: 257px;
    left: 763px;
    width: 171px;
    height: 120px;
    z-index: 3;
}

#slide53 #enviaPreparacion {
    position: absolute;
    top: 423px;
    left: 763px;
    width: 171px;
    height: 120px;
    z-index: 3;
}

#slide53 #enviaAdministra {
    position: absolute;
    top: 587px;
    left: 763px;
    width: 171px;
    height: 120px;
    z-index: 3;
}