#fondo_slide17 {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide17/fondo.png);
}

#slide17 #txt1 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 28px;
    top: 29px;
    left: 205px;
    color: #430098;
    line-height: 33px;
}

#slide17 #txt1 span {
    font-family: "VerdanaBold";
}

#slide17 #txt1 span2 {
    font-size: 24px;
    font-family: "Verdana";
}

#slide17 #txt2 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    top: 125px;
    left: 266px;
    color: #430098;
    line-height: 30px;
}

#slide17 #txt3 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 14px;
    top: 211px;
    left: 203px;
    color: #430098;
}

#slide17 #barras {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 274px;
    height: 261px;
    background-image: url(../../content/img/slide17/barras.png);
}

#slide17 #contiene_barras {
    position: absolute;
    top: 277px;
    left: 188px;
    top: 256px;
    left: 254px;
}

#slide17 #txt4 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 18px;
    top: 244px;
    left: 270px;
    color: #c42b69;
}

#slide17 #txt5 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 18px;
    top: 234px;
    left: 458px;
    color: #430098;
}

#slide17 #txt6 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 14px;
    top: 546px;
    left: 224px;
    color: #c42b69;
    text-align: center;
    line-height: 16px;
}

#slide17 #txt6 span {
    font-family: "Verdana";
}

#slide17 #txt7 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 14px;
    top: 546px;
    left: 438px;
    color: #430098;
    text-align: center;
    line-height: 16px;
}

#slide17 #txt8 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 18px;
    top: 270px;
    left: 765px;
    color: #430098;
    line-height: 36px;
}

#slide17 #txt9 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 238px;
    left: 18px;
    color: #FFFFFF;
}

#slide17 #txt10 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 238px;
    left: 215px;
    color: #FFFFFF;
}

#slide17 #txt11 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 16px;
    top: 310px;
    left: 23px;
    color: #FFFFFF;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide17 #txt12 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 16px;
    top: 310px;
    left: 278px;
    color: #FFFFFF;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide17 #txt13 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    top: 375px;
    left: 763px;
    color: #430098;
    line-height: 37px;
}

#slide17 #txt13 span {
    font-family: "VerdanaBold";
}

#fondoPopup_slide17 {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide17/fondoPopup.png);
    display: none;
}

#slide17 #txt14 {
    position: absolute;
    font-family: "Verdana";
    font-size: 20px;
    top: 135px;
    left: 256px;
    color: #430098;
}

#slide17 #barras_popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 356px;
    height: 339px;
    background-image: url(../../content/img/slide17/barras_popup.png);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide17 #contiene_barras_popup {
    position: absolute;
    top: 207px;
    left: 326px;
    width: 356px;
    height: 339px;
}

#slide17 #linea_abajo_grafico {
    position: absolute;
    top: 515px;
    left: 77px;
    width: 606px;
    height: 10px;
    background-image: url(../../content/img/slide17/linea_abajo_grafico.png);
}

#slide17 #txt15 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 24px;
    top: 192px;
    left: 345px;
    color: #c42b69;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide17 #txt16 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 24px;
    top: 179px;
    left: 589px;
    color: #430098;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide17 #txt17 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 18px;
    top: 588px;
    left: 287px;
    color: #c42b69;
}
#slide17 #txt17 span{
    font-family: "Verdana";
}

#slide17 #txt18 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 18px;
    top: 588px;
    left: 565px;
    color: #430098;
}

#slide17 #txt19 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    top: 354px;
    left: -22px;
    color: #430098;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    letter-spacing: 1px;
}

#slide17 #txt20 {
    position: absolute;
    font-family: "Verdana";
    font-size: 15px;
    top: 526px;
    left: 328px;
    color: #430098;
    text-align: center;
    line-height: 21px;
}

#slide17 #txt20 span {
    font-family: "VerdanaBold";
}

#slide17 #txt21 {
    position: absolute;
    font-family: "Verdana";
    font-size: 15px;
    top: 526px;
    left: 633px;
    color: #430098;
    text-align: center;
    line-height: 21px;
}

#slide17 #txt21 span {
    font-family: "VerdanaBold";
}

#slide17 #txt22 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 611px;
    left: 163px;
    color: #c42b69;
}

#slide17 #txt22 span {
    font-family: "VerdanaBold";
}

#slide17 #txt23 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 611px;
    left: 492px;
    color: #430098;
}

#slide17 #txt23 span {
    font-family: "VerdanaBold";
}

#slide17 #linea_abajo_grafico_popup {
    position: absolute;
    top: 543px;
    left: 95px;
    width: 788px;
    height: 13px;
    background-image: url(../../content/img/slide17/linea_abajo_grafico_popup.png);
}

#slide17 #zoom {
    position: absolute;
    background: url(../../content/img/slide17/btn-zoom.png);
    height: 25px;
    width: 25px;
    top: 578px;
    left: 702px;
}

#slide17 #btnCierraZoom {
    position: absolute;
    background: url(../../content/img/slide17/btn-cierra-zoom.png);
    height: 32px;
    width: 32px;
    top: 628px;
    left: 913px;
}