#Fondo_Slide34 {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide34/fondo.png);
}

#slide34 #txt1 {
    position: absolute;
    font-family: "Verdana";
    font-size: 21px;
    color: #430098;
    top: 84px;
    left: 202px;
    text-align: center;
    line-height: 33px;
}

#slide34 #txt1 spanpq {
    font-family: "VerdanaBold";
}

#slide34 #txt1 span {
    font-family: "VerdanaBold";
    font-size: 28px;
}

#slide34 #txt2 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #430098;
    top: 209px;
    left: 260px;
    text-align: center;
    line-height: 24px;
}

#slide34 #txt2 span {
    font-family: "VerdanaBold";
}

#slide34 #abreVideo {
    position: absolute;
    width: 260px;
    height: 260px;
    top: 313px;
    left: 383px;
}

#videoSlide34 {
    position: absolute;
    top: 180px;
    left: 0px;
    width: 1024px;
    height: 588px;
    display: none;
    z-index: 4;
    background-color: black;
}