#fondoSlide2 {
    background: url(../../content/img/slide2/fondo.png) no-repeat;
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -65px;
    left: 0px;
}

#slide2 #img1 {
    background: url(../../content/img/slide2/Woman.png);
    height: 300px;
    width: 300px;
    position: absolute;
    top: 232px;
left: 349px;
background-size: 100% 100%;
}

#subTituloSlide2 {
    left: 290px;
}

.TextoRegular {
    position: absolute;
    top: 255px;
    left: 660px;
    font-family: "Verdana";
    font-size: 22px;
    color: #430098;
}

#TextoRegMed {
    /*font-weight: bold;*/
    line-height: 27px;
}

#TextoRegPeq {
    top: 435px;
    font-size: 16px;
}

#TextoRegGde {
    font-family: "VerdanaBold";
    font-size: 36px;
    left: 80px;
    top: 274px;
    line-height: 42px;
}

#tituloSlide2 {
    position: absolute;
    top: 25px;
    left: 133px;
    font-family: "Verdana";
    font-size: 28px;
    color: #430098;
    line-height: 35px;
    text-align: center;
}

#tituloSlide2 span {
    font-family: "VerdanaBold";
}

#tituloSlide2 span2 {
    font-size: 24px;
}

#subTituloSlide2 {
    position: absolute;
    top: 147px;
    left: 264px;
    font-family: "Verdana";
    font-size: 18px;
    color: #430098;
    line-height: 23px;
    text-align: center;
}

#slide2 #txt1 {
    position: absolute;
    top: 249px;
    left: 676px;
    font-family: "VerdanaBold";
    font-size: 18px;
    line-height: 30px;
    color: #430098;
}

#slide2 #txt2 {
    position: absolute;
    top: 447px;
    left: 675px;
    font-family: "Verdana";
    font-size: 18px;
    color: #430098;
    line-height: 22px;
}

#slide2 #txt2 span {
    font-family: "Verdana_Italic";
    font-size: 14px;
    line-height: 20px;
}