#slide4 .fondo {
    background: url(../../content/img/slide4/fondo.jpg);
    height: 768px;
    width: 1024px;
    position: absolute;
    top: -65px;
    left: 0px;
    z-index: 0;
}

#slide4 #fondoPopup {
    background: url(../../content/img/slide4/fondoPopup.png);
    height: 768px;
    width: 1024px;
    position: absolute;
    top: -65px;
    left: 0px;
    display: none;
}

#slide4 #zoom {
    position: absolute;
    background: url(../../content/img/slide4/btn-zoom.png);
    height: 25px;
    width: 25px;
    top: 578px;
    left: 700px;
}

#slide4 #barras {
    position: absolute;
    background: url(../../content/img/slide4/barras.png);
    height: 208px;
    width: 419px;
    top: 0px;
    left: 0px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide4 #contiene_barras {
    position: absolute;
    height: 208px;
    width: 419px;
    top: 302px;
    left: 196px;
}

#slide4 #linea_abajo_grafico {
    position: absolute;
    background: url(../../content/img/slide4/linea_abajo_grafico.png);
    height: 7px;
    width: 567px;
    top: 505px;
    left: 119px;
}

#slide4 #lineas_grafico {
    position: absolute;
    background: url(../../content/img/slide4/lineas_grafico.png);
    height: 231px;
    width: 568px;
    top: 253px;
    left: 119px;
}


#subTituloSlide4 {
    left: 100px;
}

#subTitulo2Slide4 {
    left: 142px;
    top: 210px;
    font-size: 14px;
}

#subTitulo3Slide4 {
    left: 69px;
    top: 562px;
    font-family: "VerdanaBold";
    font-size: 14px;
}

#textoGrafico1 {
    top: 518px;
    left: 198px;
    font-size: 12px;
    line-height: 12px;
}

#textoGrafico1 span {
    font-family: "VerdanaBold";
}

#textoGrafico2 {
    top: 517px;
    left: 355px;
    font-size: 12px;
    line-height: 12px;
    color: #FF6B00;
}

#textoGrafico2 span {
    font-family: "VerdanaBold";
}

#textoGrafico3 {
    top: 519px;
    left: 507px;
    font-size: 12px;
    line-height: 12px;
    color: #C42B69;
}

#textoGrafico3 span {
    font-family: "VerdanaBold";
}

#textoGrafico4 {
    font-family: "Verdana";
    top: 282px;
    left: 201px;
    font-size: 18px;
    line-height: 18px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#textoGrafico4 span {
    font-family: "VerdanaBold";
}

#textoGrafico5 {
    font-family: "Verdana";
    top: 385px;
    left: 377px;
    font-size: 18px;
    line-height: 18px;
    color: #FF6B00;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#textoGrafico5 span {
    font-family: "VerdanaBold";
}

#textoGrafico6 {
    font-family: "Verdana";
    top: 466px;
    left: 539px;
    font-size: 18px;
    line-height: 18px;
    color: #C42B69;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#textoGrafico6 span {
    font-family: "VerdanaBold";
}

#slide4 #img1 {
    background: url(../../content/img/slide4/grafico.png);
    height: 259px;
    width: 569px;
    position: absolute;
    top: 253px;
    left: 118px;
}

#slide4 #img2 {
    background: url(../../content/img/slide4/raya.png);
    height: 40px;
    width: 700px;
    position: absolute;
    top: 569px;
    left: 52px;
}

#TextoLateral {
    position: absolute;
    top: 246px;
    left: 770px;
    font-family: "Verdana";
    font-size: 18px;
    line-height: 22px;
    color: #430098;
}

#slide4 #tituloSlide {
    position: absolute;
    top: 25px;
    left: 226px;
    font-family: "Verdana";
    font-size: 28px;
    color: #430098;
    line-height: 35px;
    text-align: center;
}

#slide4 #tituloSlide span {
    font-family: "VerdanaBold";
}

#slide4 #tituloSlide span2 {
    font-size: 24px;
}

#slide4 #subTituloSlide {
    position: absolute;
    top: 146px;
    left: 67px;
    font-family: "Verdana";
    font-size: 18px;
    color: #430098;
    line-height: 23px;
    text-align: center;
}

#slide4 #subTituloSlide span {
    font-family: "VerdanaBold";
}

#slide4 #txt1 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 13px;
    color: #430098;
    line-height: 17px;
    top: 352px;
    left: 9px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#slide4 #txt2 {
    position: absolute;
    font-family: "Verdana";
    font-size: 14px;
    color: #430098;
    line-height: 23px;
    text-align: center;
    left: 115px;
    top: 202px;
}

#slide4 #txt2 span{
    font-family: "VerdanaBold";
}

#slide4 #txt3 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    line-height: 22px;
    color: #430098;
    top: 241px;
    left: 759px;
    width: 205px;
}

#slide4 #txt3 span {
    left: 19px;
    position: absolute;
    top: 23px;
}

#slide4 #txt4 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    line-height: 22px;
    color: #430098;
    top: 333px;
    left: 759px;
    width: 205px;
}

#slide4 #txt4 span {
    left: 19px;
    position: absolute;
    top: -1px;
    line-height: 30px;
}

#slide4 #txt5 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    line-height: 22px;
    color: #430098;
    top: 444px;
    left: 759px;
    width: 220px;
}

#slide4 #txt5 span {
    left: 19px;
    position: absolute;
    top: 1px;
    line-height: 23px;
}

#slide4 #txt6 {
    position: absolute;
    font-family: "Verdana";
    font-size: 20px;
    color: #430098;
    top: 131px;
    left: 112px;
}

#slide4 #txt6 span {
    font-family: "VerdanaBold"
}

#slide4 #txt7 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 13px;
    color: #430098;
    top: 325px;
    left: 41px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    line-height: 17px;
}

#slide4 #txt8 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 22px;
    color: #430098;
    top: 228px;
    left: 268px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide4 #txt8 span {
    font-family: "Verdana";
}

#slide4 #txt9 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 22px;
    color: #ff6b00;
    top: 357px;
    left: 485px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide4 #txt9 span {
    font-family: "Verdana";
}

#slide4 #txt10 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 22px;
    color: #c42c69;
    top: 458px;
    left: 688px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide4 #txt10 span {
    font-family: "Verdana";
}

#slide4 #txt11 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    line-height: 15px;
    font-size: 13px;
    color: #430098;
    top: 524px;
    left: 265px;
}

#slide4 #txt11 span {
    font-family: "Verdana";
}

#slide4 #txt12 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    line-height: 15px;
    font-size: 13px;
    color: #ff6b00;
    top: 524px;
    left: 465px;
}

#slide4 #txt12 span {
    font-family: "Verdana";
}

#slide4 #txt13 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    line-height: 16px;
    font-size: 13px;
    color: #C42C69;
    top: 524px;
    left: 654px;
}

#slide4 #txt13 span {
    font-family: "Verdana";
}

#slide4 #barrasPopup {
    position: absolute;
    background: url(../../content/img/slide4/barrasPopup.png);
    height: 261px;
    width: 524px;
    top: 0px;
    left: 0px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide4 #contiene_barrasPopup {
    position: absolute;
    height: 261px;
    width: 524px;
    top: 253px;
    left: 261px;
}

#slide4 #linea_abajo_grafico_popup {
    position: absolute;
    background: url(../../content/img/slide4/linea_abajo_grafico_popup.png);
    height: 6px;
    width: 710px;
    top: 509px;
    left: 166px;
}

#slide4 #btnCierraZoom {
    position: absolute;
    background: url(../../content/img/slide4/btn-cierra-zoom.png);
    height: 32px;
    width: 32px;
    top: 587px;
    left: 887px;
}