#Fondo_Slide40 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide40/fondo.png);
}

#slide40 #txt1 {
    position: absolute;
    font-family: "NexaRustSans-Black";
    font-size: 18px;
    color: #430098;
    top: 76px;
    left: 366px;
    text-align: center;
    line-height: 34px;
}

#slide40 #txt1 span {
    font-size: 44px;
}

#slide40 #txt1 sup {
    font-family: "VerdanaBold";
}

#slide40 #txt2 {
    position: absolute;
    font-family: "Avenir-Light";
    font-size: 15px;
    color: #430098;
    top: 246px;
    left: 275px;
    text-align: center;
    line-height: 24px;
}

#slide40 #txt2 span {
    font-family: "VerdanaBold";
    font-size: 18px;
}

#slide40 #txt3 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #430098;
    top: 505px;
    left: 91px;
    text-align: center;
    line-height: 18px;
}

#slide40 #txt4 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #430098;
    top: 503px;
    left: 256px;
    text-align: center;
    line-height: 18px;
}

#slide40 #txt5 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #430098;
    top: 503px;
    left: 532px;
    text-align: center;
    line-height: 18px;
}

#slide40 #txt5 span {
    font-size: 10px;
}

#slide40 #txt6 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #430098;
    top: 503px;
    left: 788px;
    text-align: center;
    line-height: 18px;
}

#slide40 #txt7 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 7px;
    color: #e52468;
    top: 431px;
    left: 156px;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
}

#slide40 #lupa1 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 554px;
    left: 129px;
}

#slide40 #lupa2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 554px;
    left: 341px;
}

#slide40 #lupa3 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 554px;
    left: 592px;
}

#slide40 #lupa4 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 554px;
    left: 837px;
}

#slide40 #fondoLupa1 {
    position: absolute;
    background-image: url("../../content/img/slide40/fondoLupa1.png");
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}

#slide40 #txt9 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 24px;
    color: #430098;
    top: 457px;
    left: 383px;
    text-align: center;
    line-height: 34px;
}

#slide40 #txt8 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #e52468;
    top: 309px;
    left: 518px;
    text-align: center;
    line-height: 16px;
    text-transform: uppercase;
}

#slide40 #txt8 span {
    font-size: 18px;
}

#slide40 #txt10 {
    position: absolute;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    color: #646569;
    top: 754px;
    left: 785px;
}

#slide40 #cierraLupa1 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 127px;
    left: 639px;
}

#slide40 #popUpLupa1 {
    display: none;
}


#slide40 #fondoLupa2 {
    position: absolute;
    background-image: url("../../content/img/slide40/fondoLupa2.png");
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}

#slide40 #txt11 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 24px;
    color: #430098;
    top: 453px;
    left: 295px;
    text-align: center;
    line-height: 34px;
}

#slide40 #txt12 {
    position: absolute;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    color: #646569;
    top: 754px;
    left: 785px;
}

#slide40 #cierraLupa2 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 127px;
    left: 639px;
}

#slide40 #popUpLupa2 {
    display: none;
}

#slide40 #fondoLupa3 {
    position: absolute;
    background-image: url("../../content/img/slide40/fondoLupa3.png");
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}

#slide40 #txt13 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 24px;
    color: #430098;
    top: 453px;
    left: 341px;
    text-align: center;
    line-height: 34px;
}

#slide40 #txt13 span {
    font-size: 20px;
}

#slide40 #txt14 {
    position: absolute;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    color: #646569;
    top: 754px;
    left: 785px;
}

#slide40 #cierraLupa3 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 127px;
    left: 639px;
}

#slide40 #popUpLupa3 {
    display: none;
}


#slide40 #fondoLupa4 {
    position: absolute;
    background-image: url("../../content/img/slide40/fondoLupa4.png");
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}

#slide40 #txt15 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 24px;
    color: #430098;
    top: 453px;
    left: 367px;
    text-align: center;
    line-height: 34px;
}

#slide40 #txt16 {
    position: absolute;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    color: #646569;
    top: 754px;
    left: 785px;
}

#slide40 #cierraLupa4 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 127px;
    left: 639px;
}

#slide40 #popUpLupa4 {
    display: none;
}

#slide40 .texto_mensaje_footer {
    position: absolute;
    top: 682px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    z-index: 1;
}