#fondoSlide59{
    background: url(../../content/img/slide59/fondo.png);
    width:1024px; 
    height: 768px;
    position:absolute;
    top: -62px;
    z-index:1;
}



#txtTituloSlide59{
    position: absolute;
    top: 92px;
    left: 103px;
    text-align: center;
    line-height: 33px;
}


#heterogenidadSlide59{
    
}

#preparacionSlide59{
    position: absolute;
    top: 44px;
    left: 0px;
    color: #FF6B00;
}

#reaccionSlide59{
    position: absolute;
    top: 88px;
    left: 0px;
}

#duracionSlide59{
    position: absolute;
    top: 134px;
    left: 0px; 
}

sup{
    font-size: 55%;
}

#txt1Slide67{
    position: absolute;
    top: 223px;
    left: 105px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}


.itemMenuSlide59{
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#menuSlide59{
    position: absolute;
    top: 201px;
    left: 103px;
}

#linea1Slide59{
    position: absolute;
    top: 25px;
    left: 0px;
}

#linea2Slide59{
    position: absolute;
    top: 70px;
    left: 0px;
}

#linea3Slide59{
    position: absolute;
    top: 114px;
    left: 0px;
}

#linea4Slide59{
    position: absolute;
    top: 159px;
    left: 0px;
}


#slide59 #txt1{
    position: absolute;
    top: 555px;
    left: 95px;
    font-family: 'Verdana';
    font-size: 9px;
    color: #430098;
    line-height: 14px;
}

#slide59 #txt2{
    position: absolute;
    top: 630px;
    left: 275px;
    font-family: 'Verdana';
    font-size: 9px;
    color: #430098;
}

#slide59 #txt2 span{
    font-family: 'VerdanaBold';
}



/*Cuadro Duracion*/

#slide59 #cuadro ul {
    list-style: initial;
    list-style-image: url('../../content/img/slide59/bullet.png') !important;
}

#slide59 #cuadro{
    background: url(../../content/img/slide59/cuadro.png);
    width: 675px; 
    height: 395px;
    position:absolute;
    top: 199px;
    left: 261px;
}

#slide59 #txt1Cuadro{
    position: absolute;
    top: 222px;
    left: 56px;
    font-family: 'VerdanaBold';
    font-size: 12px;
    color: #430098;
    line-height: 21px;
}

#slide59 #txt2Cuadro{
    position: absolute;
    top: 240px;
    left: 56px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 21px;
}

#slide59 #txt3Cuadro{
    position: absolute;
    top: 63px;
    left: 514px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 18px;
}

#slide59 #txt4Cuadro{
    position: absolute;
    top: 206px;
    left: 514px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 18px;
}

#slide59 #txt5Cuadro{
    position: absolute;
    top: 48px;
    left: 514px;
    font-family: 'VerdanaBold';
    font-size: 12px;
    color: #430098;
    line-height: 18px;
}

#slide59 #txt6Cuadro{
    position: absolute;
    top: 34px;
    left: 298px;
    font-family: 'VerdanaBold';
    font-size: 10px;
    color: #430098;
    line-height: 16px;
    text-align: center;
}

#slide59 #txt7Cuadro{
    position: absolute;
    top: 186px;
    left: 310px;
    font-family: 'VerdanaBold';
    font-size: 10px;
    color: #430098;
    line-height: 16px;
}

#slide59 #txt8Cuadro{
    position: absolute;
    top: 26px;
    left: 133px;
    font-family: 'VerdanaBold';
    font-size: 10px;
    color: #430098;
    line-height: 14px;
    text-align: center;
}

#slide59 #txt9Cuadro{
    position: absolute;
    top: 175px;
    left: 123px;
    font-family: 'VerdanaBold';
    font-size: 9px;
    color: #430098;
    line-height: 16px;
    text-align: center;
}

#slide59 #txt10Cuadro{
    position: absolute;
    top: 204px;
    left: 153px;
    font-family: 'VerdanaBold';
    font-size: 10px;
    color: #430098;
    line-height: 14px;
    text-align: center;
}

#numAvisoSlide59{
    position: absolute;
    bottom: 80px;
    right: 31px;
}