#fondo_Slide21 {
    position: absolute;
    background: url("../../content/img/slide21/fondo.png");
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
}

#slide21 #txt1 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 95px;
left: 203px;
    font-size: 28px;
    color: #430098;
    text-align: center;
    line-height: 34px;
}

#slide21 #txt1 spanpq {
    font-size: 24px;
}

#slide21 #txt1 span {
    font-family: "Verdana";
    font-size: 24px;
}

#slide21 #txt2 {
    position: absolute;
    font-family: "Verdana";
   top: 215px;
left: 221px;
    font-size: 16px;
    color: #430098;
    text-align: center;
    line-height: 20px;
}

#slide21 #txt2 span {
    font-family: "VerdanaBold";
}

#slide21 #material{
    position: absolute;
top: 680px;
left: 785px;
color: #646569;
font-family: "helveticaneueltcommd";
font-size: 7px;
}

#slide21 #txt3 {
    position: absolute;
    font-family: "Verdana";
   top: 302px;
left: 218px;
font-size: 18px;
color: #FF6B00;
line-height: 26px;
}

#slide21 #txt3 span {
    font-family: "VerdanaBold";
}

#slide21 #txt4 {
    position: absolute;
    font-family: "Verdana";
   top: 406px;
left: 218px;
font-size: 18px;
color: #FF6B00;
line-height: 26px;
}

#slide21 #txt5 {
    position: absolute;
    font-family: "Verdana";
   top: 484px;
left: 218px;
font-size: 18px;
color: #FF6B00;
line-height: 26px;
}

#slide21 #txt5 span {
    font-family: "VerdanaBold";
}