#Fondo_Slide5{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1024px;
	height: 768px;
	background-image:url(../../content/img/slide5/fondo.png);
}


#slide5 #txt1{
	 position: absolute;
font-family: "ConduitITCBold";
font-size: 50px;
color: #00afaa;
top: 163px;
left: 566px;
}
#slide5 #txt1 span{
	color: #59595b;
}

#slide5 .vineta{
	position: absolute;
	background-image: url(../../content/img/slide5/vineta-01.svg);
	width: 45px;
	height: 45px;
}

#slide5 .vineta2{
	position: absolute;
color: #00afaa;
font-family: "ConduitITCBold";
font-size: 30px;
top: 608px;
left: 602px;
opacity: 0;
  -webkit-animation-duration: 1.6s;
            -webkit-animation-delay: 2.5s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 1.6s;
            animation-delay: 2.5s;
            animation-fill-mode: forwards;
}

#slide5 #check1{
	top: 284px;
	left: 555px;
	opacity: 0;
  -webkit-animation-duration: 1.6s;
            -webkit-animation-delay: 0.5s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 1.6s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
}

#slide5 #check2{
	top: 347px;
	left: 555px;
	opacity: 0;
  -webkit-animation-duration: 1.6s;
            -webkit-animation-delay: 1s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 1.6s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
}

#slide5 #check3{
	top: 450px;
	left: 555px;
	opacity: 0;
  -webkit-animation-duration: 1.6s;
            -webkit-animation-delay: 1.5s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 1.6s;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
}

#slide5 #check4{
	top: 549px;
	left: 555px;
	opacity: 0;
  -webkit-animation-duration: 1.6s;
            -webkit-animation-delay: 2s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 1.6s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
}

#slide5 #txt2{
	 position: absolute;
font-family: "UniversLTStdBold";
font-size: 17px;
color: #00afaa;
top: 289px;
left: 604px;
opacity: 0;
  -webkit-animation-duration: 1.6s;
            -webkit-animation-delay: 0.5s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 1.6s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
}

#slide5 #txt3{
	 position: absolute;
font-family: "UniversLTStdBold";
font-size: 17px;
color: #00afaa;
top: 347px;
left: 604px;
line-height: 20px;
opacity: 0;
  -webkit-animation-duration: 1.6s;
            -webkit-animation-delay: 1s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 1.6s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
}

#slide5 #txt4{
	 position: absolute;
font-family: "UniversLTStdBold";
font-size: 17px;
color: #00afaa;
top: 449px;
left: 604px;
line-height: 20px;
opacity: 0;
  -webkit-animation-duration: 1.6s;
            -webkit-animation-delay: 1.5s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 1.6s;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
}

#slide5 #txt5{
	 position: absolute;
font-family: "UniversLTStdBold";
font-size: 17px;
color: #00afaa;
top: 551px;
left: 604px;
line-height: 20px;
opacity: 0;
  -webkit-animation-duration: 1.6s;
            -webkit-animation-delay: 2s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 1.6s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
}

#slide5 #txt6{
	 position: absolute;
font-family: "UniversLTStdLight";
font-size: 17px;
color: #808285;
top: 612px;
left: 623px;
line-height: 20px;
opacity: 0;
  -webkit-animation-duration: 1.6s;
            -webkit-animation-delay: 2.5s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 1.6s;
            animation-delay: 2.5s;
            animation-fill-mode: forwards;
}