#Fondo_Slide36 {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide36/fondo.png);
}

#slide36 #txt1 {
    position: absolute;
    font-family: "Verdana";
    font-size: 24px;
    color: #430098;
  top: 125px;
left: 200px;
}

#slide36 #txt1 span {
    font-family: "VerdanaBold";
    font-size: 28px;
}

#slide36 #txt2 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #430098;
 top: 214px;
left: 187px;
}

#slide36 #txt3 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 14px;
    color: #430098;
top: 324px;
left: 131px;
}

#slide36 #txt4 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 13px;
    color: #430098;
top: 359px;
left: 139px;
line-height: 17px;
}

#slide36 #txt4 span{
  font-family: "Verdana";
}

#slide36 #txt5 {
    position: absolute;
    font-family: "Verdana";
    font-size: 10px;
    color: #430098;
top: 509px;
left: 408px;
}

#slide36 #txt6 {
    position: absolute;
    font-family: "Verdana";
    font-size: 10px;
    color: #430098;
top: 398px;
left: 576px;
}

#slide36 #txt7 {
  position: absolute;
font-family: "VerdanaBold";
font-size: 10px;
color: #fff;
top: 424px;
left: 134px;
line-height: 14px;
}

#slide36 #txt8 {
  position: absolute;
font-family: "VerdanaBold";
font-size: 8px;
color: #9666c2;
top: 600px;
left: 134px;
}

#slide36 #txt9 {
position: absolute;
font-family: "Verdana";
font-size: 10px;
color: #ff6b00;
top: 557px;
left: 231px;
text-align: center;
line-height: 14px;
}

#slide36 #txt10 {
position: absolute;
font-family: "Verdana";
font-size: 12px;
color: #ff6b00;
top: 443px;
left: 282px;
text-align: center;
line-height: 14px;
}

#slide36 #txt11 {
position: absolute;
font-family: "VerdanaBold";
font-size: 9px;
color: #ff6b00;
top: 418px;
left: 360px;
}

#slide36 #txt12 {
position: absolute;
font-family: "VerdanaBold";
font-size: 9px;
color: #ff6b00;
top: 481px;
left: 360px;
}

#slide36 #txt13 {
position: absolute;
font-family: "Verdana";
font-size: 10px;
color: #c42c6a;
top: 384px;
left: 412px;
line-height: 13px;
}

#slide36 #txt14 {
position: absolute;
font-family: "VerdanaBold";
font-size: 13px;
color: #ff6b00;
top: 341px;
left: 452px;
}

#slide36 #txt15 {
position: absolute;
font-family: "VerdanaBold";
font-size: 14px;
color: #ff6b00;
top: 452px;
left: 507px;
}

#slide36 #txt16 {
position: absolute;
font-family: "Verdana";
font-size: 10px;
color: #c42c6a;
top: 508px;
left: 581px;
line-height: 13px;
}

#slide36 #txt17 {
position: absolute;
font-family: "Verdana";
font-size: 10px;
color: #ff6b00;
top: 580px;
left: 670px;
line-height: 13px;
text-align: center;
}

#slide36 #txt18 {
position: absolute;
font-family: "VerdanaBold";
font-size: 9px;
color: #fff;
top: 422px;
left: 733px;
line-height: 14px;
}

#slide36 #lupa1{
position: absolute;
width: 70px;
height: 70px;
top: 580px;
left: 809px;
}

#slide36 #cierraLupa1{
    position: absolute;
width: 70px;
height: 70px;
top: 524px;
left: 913px;
}

#slide36 #popUpLupa1{
    display: none;
}

#fondoLupa1{
    position: absolute;
    background-image: url("../../content/img/slide36/fondoPopUp.png");
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}


#slide36 #txt19 {
    position: absolute;
    font-family: "VerdanaBold";
   font-size: 17px;
color: #430098;
top: 206px;
left: 87px;
}

#slide36 #txt20 {
    position: absolute;
    font-family: "VerdanaBold";
 font-size: 16px;
color: #430098;
top: 252px;
left: 97px;
line-height: 17px;
}

#slide36 #txt20 span{
  font-family: "Verdana";
}

#slide36 #txt21 {
    position: absolute;
    font-family: "Verdana";
   font-size: 12px;
color: #430098;
top: 429px;
left: 423px;
}

#slide36 #txt22 {
    position: absolute;
    font-family: "Verdana";
   font-size: 12px;
color: #430098;
top: 296px;
left: 623px;
}

#slide36 #txt23 {
  position: absolute;
font-family: "VerdanaBold";
font-size: 11px;
color: #fff;
top: 327px;
left: 94px;
line-height: 17px;
}

#slide36 #txt24 {
  position: absolute;
font-family: "VerdanaBold";
font-size: 9px;
color: #9666c2;
top: 539px;
left: 93px;
}

#slide36 #txt25 {
position: absolute;
font-family: "Verdana";
font-size: 12px;
color: #ff6b00;
top: 486px;
left: 210px;
text-align: center;
line-height: 16px;
}

#slide36 #txt26 {
position: absolute;
font-family: "Verdana";
font-size: 12px;
color: #ff6b00;
top: 349px;
left: 282px;
text-align: center;
line-height: 14px;
}

#slide36 #txt27 {
position: absolute;
font-family: "VerdanaBold";
font-size: 11px;
color: #ff6b00;
    top: 320px;
    left: 365px;

}

#slide36 #txt28 {
position: absolute;
font-family: "VerdanaBold";
font-size: 11px;
color: #ff6b00;
    top: 396px;
    left: 365px;

}

#slide36 #txt29 {
position: absolute;
font-family: "Verdana";
font-size: 12px;
color: #c42c6a;
top: 279px;
left: 427px;
line-height: 16px;
}

#slide36 #txt30 {
position: absolute;
font-family: "VerdanaBold";
font-size: 15px;
color: #ff6b00;
top: 227px;
left: 479px;
}

#slide36 #txt31 {
position: absolute;
font-family: "VerdanaBold";
font-size: 17px;
color: #ff6b00;
top: 360px;
left: 540px;
}

#slide36 #txt32 {
position: absolute;
font-family: "Verdana";
font-size: 12px;
color: #c42c6a;
top: 428px;
left: 630px;
line-height: 16px;
}

#slide36 #txt33 {
position: absolute;
font-family: "Verdana";
font-size: 12px;
color: #ff6b00;
top: 512px;
left: 736px;
line-height: 17px;
text-align: center;
}

#slide36 #txt34 {
position: absolute;
font-family: "VerdanaBold";
font-size: 11px;
color: #fff;
top: 324px;
left: 812px;
line-height: 17px;
}

#slide36 .texto_mensaje_footer {
    position: absolute;
    top: 682px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    z-index: 1;
}

#slide36 #popUpLupa1 .texto_mensaje_footer {
    position: absolute;
    top: 682px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    z-index: 1;
}