#fondoSlide38 {
    background: url(../../content/img/slide38/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -65px;
    left: 0px;
}

#slide38_btnZoom {
    position: absolute;
    background: url(../../content/img/slide38/btn-zoom.png);
    width: 25px;
    height: 25px;
    top: 628px;
    left: 703px;
}

#slide38_btnCierra_zoom {
    position: absolute;
    background: url(../../content/img/slide38/btn-cierra-zoom.png);
    width: 32px;
    height: 32px;
    top: 594px;
    left: 913px;
}

#fondoSlide38_barras {
    background: url(../../content/img/slide38/barras.png);
    width: 438px;
    height: 234px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 100% 100%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide38_contieneBarras {
    position: absolute;
    width: 440px;
    height: 218px;
    top: 327px;
    left: 182px;
}

#fondoSlide38 #txt1 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 28px;
    color: #430098;
    top: 125px;
    left: 200px;
}

#fondoSlide38 #txt1 span {
    font-family: "Verdana";
    font-size: 24px;
}

#fondoSlide38 #txt2 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 18px;
    color: #430098;
    top: 209px;
    left: 86px;
}

#fondoSlide38 #txt2 span {
    font-family: "VerdanaBold";
}

#fondoSlide38 #txt3 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 14px;
    color: #430098;
    top: 271px;
    left: 300px;
}

#fondoSlide38 #txt4 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    color: #430098;
    letter-spacing: 1.2px;
    top: 406px;
    left: 45px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#fondoSlide38 #txt5 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 17px;
    color: #c42c69;
    top: 304px;
    left: 197px;
}

#fondoSlide38 #txt6 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 17px;
    color: #ff6b00;
    top: 502px;
    left: 369px;
}

#fondoSlide38 #txt7 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 17px;
    color: #430098;
    top: 498px;
    left: 542px;
}

#fondoSlide38 #txt8 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 10px;
    color: #c42c69;
    top: 560px;
    left: 185px;
    letter-spacing: 0.3px;
}

#fondoSlide38 #txt9 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 10px;
    color: #ff6b00;
    top: 560px;
    left: 348px;
    letter-spacing: 0.3px;
}

#fondoSlide38 #txt10 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 10px;
    color: #430098;
    top: 560px;
    left: 532px;
    letter-spacing: 0.3px;
}

#fondoSlide38 #txt11 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 9px;
    color: #c42c69;
    top: 619px;
    left: 169px;
    letter-spacing: 0.17px;
}

#fondoSlide38 #txt12 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 9px;
    color: #430098;
    top: 619px;
    left: 388px;
    letter-spacing: 0.17px;
}

#fondoSlide38 #txt12 span {
    font-family: "Verdana";
}

#fondoSlide38 #txt13 {
    position: absolute;
    font-family: "Verdana";
    font-size: 14px;
    color: #430098;
    top: 288px;
    left: 776px;
    line-height: 24px;
}

#fondoSlide38 #txt13 span {
    font-family: "VerdanaBold";
}

#fondoSlide38 #txt14 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    color: #430098;
    top: 412px;
    left: 776px;
    line-height: 24px;
}

#fondoSlide38 #txt15 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    color: #430098;
    top: 514px;
    left: 776px;
    line-height: 24px;
}

#fondoPopupSlide38 {
    position: absolute;
    background: url(../../content/img/slide38/fondoPopup.png);
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
    display: none;
}

#fondoPopupSlide38 #txt3 {
    position: absolute;
    font-family: "Verdana";
    font-size: 20px;
    color: #430098;
    top: 124px;
    left: 380px;
    letter-spacing: 0.45px;
}

#fondoPopupSlide38 #txt4 {
    position: absolute;
    font-family: "Verdana";
    font-size: 15px;
    color: #430098;
    letter-spacing: 2px;
    top: 309px;
    left: 55px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#fondoPopupSlide38 #txt5 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 22px;
    color: #c42c69;
    top: 173px;
    left: 252px;
}

#fondoPopupSlide38 #txt6 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 22px;
    color: #ff6b00;
    top: 432px;
    left: 477px;
}

#fondoPopupSlide38 #txt7 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 22px;
    color: #430098;
    top: 428px;
    left: 702px;
}

#fondoPopupSlide38 #txt8 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 13px;
    color: #c42c69;
    top: 506px;
    left: 238px;
    letter-spacing: 0.3px;
}

#fondoPopupSlide38 #txt9 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 13px;
    color: #ff6b00;
    top: 506px;
    left: 450px;
    letter-spacing: 0.3px;
}

#fondoPopupSlide38 #txt10 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 13px;
    color: #430098;
    top: 506px;
    left: 690px;
    letter-spacing: 0.3px;
}

#fondoPopupSlide38 #txt11 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #c42c69;
    top: 584px;
    left: 217px;
    letter-spacing: 0.01px;
}

#fondoPopupSlide38 #txt12 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #430098;
    top: 584px;
    left: 502px;
    letter-spacing: 0.01px;
}

#fondoPopupSlide38 #txt12 span {
    font-family: "Verdana";
}

#fondoPopupSlide38 #fondoSlide38_barras {
    background: url(../../content/img/slide38/barras_Popup.png);
    width: 566px;
    height: 281px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: 100% 100%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoPopupSlide38 #fondoSlide38_contieneBarras {
    position: absolute;
    width: 566px;
    height: 281px;
    top: 206px;
    left: 235px;
}


#slide38 .texto_mensaje_footer {
    position: absolute;
    top: 682px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    z-index: 1;
}