#fondoReferencias{
	background: url(../../content/img/slideReferencias/fondo.png);
	width:1024px; 
	height: 768px;
	position:absolute;
	top: -62px;
	z-index:1;
} 

#txtTituloReferencias{
    position: absolute;
    top: 54px;
    left: 60px;
}

#txt1Referencias{
    position: absolute;
    top: 105px;
    left: 50px;
}

#txt1Referencias sangria{
    position: relative;
    left: 13px;
}

#txt2Referencias{
    position: absolute;
    top: 58px;
    left: 551px;
}

#txt2Referencias sangria{
    position: relative;
    left: 18px;
}

.txtReferencias{
    font-family: "Verdana_Italic";
    font-size: 8.5px;
    color: #430098;
    line-height: 11px
}

.txtReferencias span{
    font-family: 'VerdanaBold';
}

.txtReferencias sincursiva{
    font-family: 'Verdana';
}

#numAvisoReferencias{
    font-family: "Herceptin_Light";
    font-size: 7px;
    color: #646569;
    position: absolute;
	top: 681px;
    right: 30px;
}