#fondo_slide30 {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide30/fondo.png);
}

#slide30 #txt1 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 28px;
    top: 29px;
    left: 205px;
    color: #430098;
    line-height: 33px;
}

#slide30 #txt1 span {
    font-family: "VerdanaBold";
}

#slide30 #txt1 span2 {
    font-size: 24px;
    font-family: "Verdana";
}

#slide30 #txt2 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 16px;
    top: 144px;
    left: 184px;
    color: #430098;
    line-height: 27px;
}

#slide30 #txt2 span {
    font-family: "VerdanaBold";
}

#slide30 #txt3 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    top: 256px;
    left: 95px;
    color: #430098;
    line-height: 21px;
}

#slide30 #txt3 span {
    font-family: "VerdanaBold";
}

#slide30 #txt4 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 359px;
    left: 100px;
    color: #430098;
}

#slide30 #txt5 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 359px;
    left: 316px;
    color: #c42c69;
}

#slide30 #txt6 {
    position: absolute;
    font-family: "Verdana";
    font-size: 9px;
    top: 362px;
    left: 364px;
    color: #c42c69;
}

#slide30 #txt7 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 359px;
    left: 542px;
    color: #430098;
}

#slide30 #txt8 {
    position: absolute;
    font-family: "Verdana";
    font-size: 9px;
    top: 362px;
    left: 596px;
    color: #430098;
}

#slide30 #txt9 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 389px;
    left: 99px;
    color: #430098;
}

#slide30 #txt10 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 419px;
    left: 99px;
    color: #430098;
}

#slide30 #txt11 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 13px;
    top: 327px;
    left: 295px;
    color: #C42C69;
}

#slide30 #txt11 span {
    font-family: "Verdana";
}

#slide30 #txt12 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 13px;
    top: 327px;
    left: 535px;
    color: #430098;
}

#slide30 #txt12 span {
    font-family: "Verdana";
}

#slide30 #txt13 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 446px;
    left: 99px;
    color: #430098;
}

#slide30 #txt14 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 474px;
    left: 99px;
    color: #430098;
}

#slide30 #txt15 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 383px;
    left: 310px;
    color: white;
    line-height: 28px;
}

#slide30 #txt16 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 383px;
    left: 381px;
    color: white;
    line-height: 28px;
}

#slide30 #txt16 span {
    font-family: "VerdanaBold";
}

#slide30 #txt17 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 383px;
    left: 538px;
    color: white;
    line-height: 28px;
}

#slide30 #txt17 span {
    font-family: "VerdanaBold";
}

#slide30 #txt18 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 383px;
    left: 619px;
    color: white;
    line-height: 28px;
}

#slide30 #txt18 span {
    font-family: "VerdanaBold";
}

#slide30 #txt23 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    top: 235px;
    left: 776px;
    color: #430098;
    line-height: 36px;
}

#slide30 #txt23 span {
    font-family: "VerdanaBold";
}

#slide30 #zoom {
    position: absolute;
    background: url(../../content/img/slide30/btn-zoom.png);
    width: 25px;
    height: 25px;
    top: 537px;
    left: 706px;
}

#slide30 #fondoPopup_slide30 {
    position: absolute;
    background: url(../../content/img/slide30/fondoPopup.png);
    width: 1024px;
    height: 768px;
    top: -65px;
    left: 0px;
    display: none;
}

#slide30 #txt24 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    top: 256px;
    left: 95px;
    color: #430098;
    line-height: 21px;
}

#slide30 #txt24 span {
    font-family: "VerdanaBold";
}

#slide30 #txt25 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 359px;
    left: 100px;
    color: #430098;
}

#slide30 #txt26 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 359px;
    left: 316px;
    color: #c42c69;
}

#slide30 #txt27 {
    position: absolute;
    font-family: "Verdana";
    font-size: 9px;
    top: 362px;
    left: 364px;
    color: #c42c69;
}

#slide30 #txt28 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 359px;
    left: 542px;
    color: #430098;
}

#slide30 #txt29 {
    position: absolute;
    font-family: "Verdana";
    font-size: 9px;
    top: 362px;
    left: 596px;
    color: #430098;
}

#slide30 #txt30 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 389px;
    left: 99px;
    color: #430098;
}

#slide30 #txt31 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 419px;
    left: 99px;
    color: #430098;
}

#slide30 #txt32 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 13px;
    top: 327px;
    left: 295px;
    color: #C42C69;
}

#slide30 #txt32 span {
    font-family: "Verdana";
}

#slide30 #txt33 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 13px;
    top: 327px;
    left: 535px;
    color: #430098;
}

#slide30 #txt33 span {
    font-family: "Verdana";
}

#slide30 #txt34 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 446px;
    left: 99px;
    color: #430098;
}

#slide30 #txt35 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    top: 474px;
    left: 99px;
    color: #430098;
}

#slide30 #txt36 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 383px;
    left: 310px;
    color: white;
    line-height: 28px;
}

#slide30 #txt37 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 383px;
    left: 381px;
    color: white;
    line-height: 28px;
}

#slide30 #txt37 span {
    font-family: "VerdanaBold";
}

#slide30 #txt38 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 383px;
    left: 538px;
    color: white;
    line-height: 28px;
}

#slide30 #txt38 span {
    font-family: "VerdanaBold";
}

#slide30 #txt39 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 383px;
    left: 619px;
    color: white;
    line-height: 28px;
}

#slide30 #txt39 span {
    font-family: "VerdanaBold";
}

#slide30 #txt44 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    top: 235px;
    left: 776px;
    color: #430098;
    line-height: 36px;
}

#slide30 #txt44 span {
    font-family: "VerdanaBold";
}

#slide30 #scale {
    position: absolute;
    height: 768px;
    width: 1024px;
    top: -25px;
    left: 146px;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#slide30 #btnCierraZoom {
    position: absolute;
    background: url(../../content/img/slide30/btn-cierra-zoom.png);
    width: 32px;
    height: 32px;
    top: 560px;
    left: 913px;
}