#fondoSlide58{
    background: url(../../content/img/slide58/fondo.png);
    width:1024px; 
    height: 768px;
    position:absolute;
    top: -62px;
    z-index:1;
}



#txtTituloSlide58{
    position: absolute;
    top: 89px;
    left: 91px;
    text-align: center;
    line-height: 33px;
}

#txtTituloSlide58 span{
    font-size: 21px;
}


#heterogenidadSlide58{
    color: #FF6B00;
}

#preparacionSlide58{
    position: absolute;
    top: 44px;
    left: 0px;
}

#reaccionSlide58{
    position: absolute;
    top: 88px;
    left: 0px;
}

#duracionSlide58{
    position: absolute;
    top: 134px;
    left: 0px; 
}

sup{
    font-size: 55%;
}

#txt1Slide67{
    position: absolute;
    top: 223px;
    left: 105px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}


.itemMenuSlide58{
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#menuSlide58{
    position: absolute;
    top: 201px;
    left: 103px;
}

#linea1Slide58{
    position: absolute;
    top: 25px;
    left: 0px;
}

#linea2Slide58{
    position: absolute;
    top: 70px;
    left: 0px;
}

#linea3Slide58{
    position: absolute;
    top: 114px;
    left: 0px;
}

#linea4Slide58{
    position: absolute;
    top: 159px;
    left: 0px;
}


#slide58 #txt1{
    position: absolute;
    top: 555px;
    left: 95px;
    font-family: 'Verdana';
    font-size: 9px;
    color: #430098;
    line-height: 14px;
}

#slide58 #txt2{
    position: absolute;
    top: 630px;
    left: 275px;
    font-family: 'Verdana';
    font-size: 9px;
    color: #430098;
}

#slide58 #txt2 span{
    font-family: 'VerdanaBold';
}



/*Cuadro Duracion*/

#slide58 #cuadro ul {
    list-style: initial;
    list-style-image: url('../../content/img/slide58/bullet.png') !important;
}

#slide58 #cuadro{
    background: url(../../content/img/slide58/cuadro.png);
    width: 675px; 
    height: 395px;
    position:absolute;
    top: 199px;
    left: 261px;
}

#slide58 #txt1Cuadro{
    position: absolute;
    top: 276px;
    left: 62px;
    font-family: 'VerdanaBold';
    font-size: 14px;
    color: #430098;
    line-height: 21px;
}

#slide58 #txt2Cuadro{
    position: absolute;
    top: 295px;
    left: 59px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 21px;
}

#slide58 #txt3Cuadro{
    position: absolute;
    top: 78px;
    left: 510px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #430098;
    line-height: 21px;
}

#slide58 #txt4Cuadro{
    position: absolute;
    top: 206px;
    left: 514px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 18px;
}

#slide58 #txt5Cuadro{
    position: absolute;
    top: 48px;
    left: 514px;
    font-family: 'VerdanaBold';
    font-size: 12px;
    color: #430098;
    line-height: 18px;
}

#slide58 #txt6Cuadro{
    position: absolute;
    top: 47px;
    left: 364px;
    font-family: 'Verdana';
    font-size: 10px;
    color: #430098;
    line-height: 13px;
    text-align: center;
}

#slide58 #txt7Cuadro{
    position: absolute;
    top: 127px;
    left: 340px;
    font-family: 'Verdana';
    font-size: 10px;
    color: #430098;
    line-height: 13px;
}

#slide58 #txt8Cuadro{
    position: absolute;
    top: 211px;
    left: 359px;
    font-family: 'Verdana';
    font-size: 10px;
    color: #430098;
    line-height: 14px;
}

#slide58 #txt9Cuadro{
    position: absolute;
    top: 190px;
    left: 81px;
    font-family: 'VerdanaBold';
    font-size: 9px;
    color: #430098;
    line-height: 16px;
    text-align: center;
}

#slide58 #txt10Cuadro{
    position: absolute;
    top: 204px;
    left: 153px;
    font-family: 'VerdanaBold';
    font-size: 10px;
    color: #430098;
    line-height: 14px;
    text-align: center;
}

#numAvisoSlide58{
    position: absolute;
    bottom: 80px;
    right: 31px;
}

.btnHeterogeneidad{
    position: absolute;
width: 130px;
height: 40px;
top: -15.2px;
}

.btnPreparacion{
    position: absolute;
width: 130px;
height: 40px;
top: 28.8px;
}

.btnReaccion{
    position: absolute;
width: 130px;
height: 40px;
top: 72.8px;
}

.btnDuracion{
        position: absolute;
width: 130px;
height: 40px;
top: 117.8px;
}