#subTituloSlide6 {
    left: 170px;
    font-size: 18px;
}

#slide6img1 {
    position: absolute;
    background: url(../../content/img/slide6/FOTO_BRAZO.png);
    height: 209px;
    width: 208px;
    top: 280px;
    left: 140px;
}

#slide6img2 {
    background: url(../../content/img/slide6/FOTO_MUJER.png);
    height: 209px;
    width: 208px;
    position: absolute;
    top: 280px;
    left: 415px;
}

#slide6img3 {
    background: url(../../content/img/slide6/FOTO_DOCTOR.png);
    height: 209px;
    width: 208px;
    position: absolute;
    top: 280px;
    left: 700px;
}

#slide6 #burbuja1 {
    position: absolute;
    background: url(../../content/img/slide6/burbuja_rosa.png);
    height: 214px;
    width: 213px;
    top: 278px;
    left: 139px;
    background-size: 100% 100%;
    display: none;
}

#slide6 #burbuja2 {
    position: absolute;
    background: url(../../content/img/slide6/burbuja_rosa.png);
    height: 218px;
    width: 220px;
    top: 278px;
    left: 412px;
    background-size: 100% 100%;
    display: none;
}

#slide6 #burbuja3 {
    position: absolute;
    background: url(../../content/img/slide6/burbuja_rosa.png);
    height: 221px;
    width: 218px;
    top: 275px;
    left: 696px;
    background-size: 100% 100%;
    display: none;
}

#slide6 #txt1 {
    position: absolute;
    font-family: "Verdana";
    font-size: 17px;
    color: white;
    line-height: 23px;
    text-align: center;
    top: 72px;
    left: 31px;
}

#slide6 #txt2 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: white;
    line-height: 23px;
    text-align: center;
    top: 31px;
    left: 29px;
}

#slide6 #txt2 span {
    font-family: "VerdanaBold";
}

#slide6 #txt3 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: white;
    line-height: 23px;
    text-align: center;
    top: 44px;
    left: 29px;
}

#slide6 #txt3 span {
    font-family: "VerdanaBold";
}