#fondoSlide66 {
    background: url(../../content/img/slide66/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 1;
}

#txtTituloSlide67 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 28px;
    color: #430098;
    line-height: 33px;
    top: 131px;
    left: 227px;
}

#preparacionSlide66 {
    position: absolute;
    top: 44px;
    left: 0px;
}

#administracionSlide66 {
    position: absolute;
    top: 88px;
    left: 0px;
}

#almacenamientoSlide66 {
    position: absolute;
    top: 134px;
    left: 0px;
    color: #FF6B00;
}

#vialSlide66 {
    position: absolute;
    top: 180px;
    left: 1px;
}

sup {
    font-size: 55%;
}

#txt1Slide67 {
    position: absolute;
    top: 223px;
    left: 105px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}


.itemMenuSlide67 {
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#menuSlide67 {
    position: absolute;
    top: 201px;
    left: 103px;
}

#linea1Slide67 {
    position: absolute;
    top: 25px;
    left: 0px;
}

#linea2Slide67 {
    position: absolute;
    top: 70px;
    left: 0px;
}

#linea3Slide67 {
    position: absolute;
    top: 114px;
    left: 0px;
}

#linea4Slide67 {
    position: absolute;
    top: 159px;
    left: 0px;
}

#linea5Slide67 {
    position: absolute;
    top: 204px;
    left: 0px;
}

.fondoColumnasSlide67 {
    background: url(../../content/img/slide67/columnas.png);
    width: 669px;
    height: 391px;
    position: absolute;
    top: 202px;
    left: 264px;
}



/*Cuadro Almacenamiento*/

#txt1Almacenamiento {
    position: absolute;
    top: 32px;
    left: 65px;
    font-family: 'VerdanaBold';
    font-size: 18px;
    color: #FFFFFF;
}

#txt2Almacenamiento {
    position: absolute;
    top: 32px;
    left: 422px;
    font-family: 'VerdanaBold';
    font-size: 18px;
    color: #FFFFFF;
}

#imgBulletsAlmacenamiento {
    position: absolute;
    top: 70px;
    left: 50px;
}

#txt3Almacenamiento {
    position: absolute;
    top: 85px;
    left: 62px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
}

#txt4Almacenamiento {
    position: absolute;
    top: 155px;
    left: 62px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
}

#txt5Almacenamiento {
    position: absolute;
    top: 117px;
    left: 63px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
}

#txt6Almacenamiento {
    position: absolute;
    top: 215px;
    left: 63px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 19px;
}

#txt7Almacenamiento {
    position: absolute;
    top: 275px;
    left: 63px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
}

#txt8Almacenamiento {
    position: absolute;
    top: 64px;
    left: 370px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 22px;
}

#txt9Almacenamiento {
    position: absolute;
    top: 140px;
    left: 385px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

#txt10Almacenamiento {
    position: absolute;
    top: 203px;
    left: 385px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

#txt11Almacenamiento {
    position: absolute;
    top: 275px;
    left: 385px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

#txt12Almacenamiento {
    position: absolute;
    top: 330px;
    left: 385px;
    font-family: 'Verdana';
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

#numAvisoSlide66 {
    position: absolute;
    bottom: 80px;
    right: 31px;
}
#slide66 .texto_mensaje_footer {
position: absolute;
top: 681px;
left: 785px;
color: #646569;
font-family: "helveticaneueltcommd";
font-size: 7px;
z-index: 1;
}