#fondoSlide50 {
    background: url(../../content/img/slide50/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -65px;
    left: 0px;
}

#slide50_btnZoom {
    position: absolute;
    background: url(../../content/img/slide50/btn-zoom.png);
    width: 25px;
    height: 25px;
    top: 632px;
    left: 816px;
}

#slide50_contieneBarras {
    position: absolute;
    width: 349px;
    height: 234px;
    top: 344px;
    left: 181px;
}

#slide50_barras {
    position: absolute;
    background: url(../../content/img/slide50/barras.png) no-repeat;
    width: 349px;
    height: 234px;
    top: 0px;
    left: 0px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide50 #txt1 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #430098;
    top: 69px;
    left: 279px;
}

#fondoSlide50 #txt2 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 28px;
    color: #430098;
    top: 91px;
    left: 63px;
    line-height: 35px;
}

#fondoSlide50 #txt3 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 16px;
    color: #430098;
    top: 210px;
    left: 147px;
    line-height: 27px;
}

#fondoSlide50 #txt3 span {
    font-family: "VerdanaBold";
}

#fondoSlide50 #txt4 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 14px;
    color: #430098;
    top: 304px;
    left: 382px;
}

#fondoSlide50 #txt5 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 14px;
    color: #FFFFFF;
    top: 352px;
    left: 186px;
    line-height: 16px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide50 #txt5 span {
    font-family: "MyriadProSemibold";
}

#fondoSlide50 #txt5 sup {
    font-size: 100%;
    vertical-align: top;
    position: relative;
    top: 8px;
}

#fondoSlide50 #txt6 {
    position: absolute;
    font-family: "MyriadProSemibold";
    font-size: 14px;
    color: #FFFFFF;
    top: 411px;
    left: 186px;
    line-height: 16px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide50 #txt6 sup {
    font-size: 100%;
    vertical-align: top;
    position: relative;
    top: 8px;
}

#fondoSlide50 #txt7 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 14px;
    color: #FFFFFF;
    top: 473px;
    left: 186px;
    line-height: 16px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide50 #txt7 span {
    font-family: "MyriadProSemibold";
}

#fondoSlide50 #txt7 sup {
    font-size: 100%;
    vertical-align: top;
    position: relative;
    top: 8px;
}

#fondoSlide50 #txt8 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 14px;
    color: #FFFFFF;
    top: 539px;
    left: 186px;
    line-height: 16px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide50 #txt8 span {
    font-family: "MyriadProSemibold";
}

#fondoSlide50 #txt8 sup {
    font-size: 100%;
    vertical-align: top;
    position: relative;
    top: 8px;
}

#fondoSlide50 #txt9 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 42px;
    color: #2ebbaf;
    top: 355px;
    left: 538px;
    line-height: 12px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide50 #txt9 span {
    font-size: 10px;
}

#fondoSlide50 #txt9 span2 {
    font-size: 15px;
    position: relative;
    top: -6px;
    left: -9px;
}

#fondoSlide50 #txt10 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 42px;
    color: #8cc53f;
    top: 415px;
    left: 387px;
    line-height: 12px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide50 #txt10 span {
    font-size: 10px;
}

#fondoSlide50 #txt10 span2 {
    font-size: 15px;
    position: relative;
    top: -6px;
    left: -9px;
}

#fondoSlide50 #txt11 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 42px;
    color: #868b8f;
    top: 476px;
    left: 319px;
    line-height: 12px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide50 #txt11 span {
    font-size: 10px;
}

#fondoSlide50 #txt11 span2 {
    font-size: 15px;
    position: relative;
    top: -6px;
    left: -9px;
}

#fondoSlide50 #txt12 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 42px;
    color: #a6a8ab;
    top: 539px;
    left: 369px;
    line-height: 12px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoSlide50 #txt12 span {
    font-size: 10px;
}

#fondoSlide50 #txt12 span2 {
    font-size: 26px;
    position: relative;
    top: 0px;
    left: -9px;
}

#fondoSlide50 #txt13 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 11px;
    color: #430098;
    top: 606px;
    left: 179px;
}

#fondoSlide50 #txt14 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 11px;
    color: #430098;
    top: 606px;
    left: 256px;
}

#fondoSlide50 #txt15 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 11px;
    color: #430098;
    top: 606px;
    left: 331px;
}

#fondoSlide50 #txt16 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 11px;
    color: #430098;
    top: 606px;
    left: 407px;
}

#fondoSlide50 #txt17 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 11px;
    color: #430098;
    top: 606px;
    left: 485px;
}

#fondoSlide50 #txt18 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 11px;
    color: #430098;
    top: 606px;
    left: 563px;
}

#fondoSlide50 #txt19 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 11px;
    color: #430098;
    top: 606px;
    left: 640px;
}

#fondoSlide50 #txt20 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 11px;
    color: #430098;
    top: 606px;
    left: 718px;
}

#fondoSlide50 #txt21 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 11px;
    color: #430098;
    top: 606px;
    left: 823px;
}

#fondoSlide50 #txt22 {
    position: absolute;
    font-family: "Verdana";
    font-size: 8px;
    color: #430098;
    top: 675px;
    left: 45px;
}

#fondoSlide50 #txt22 span {
    font-family: "VerdanaBold";
}

#fondoSlide50 #txt23 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 9px;
    color: #430098;
    top: 626px;
    left: 428px;
    letter-spacing: 0.1px;
}

#fondoPopupSlide50 {
    background: url(../../content/img/slide50/fondoPopup.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#fondoPopupSlide50 #slide50_barrasPopup {
    position: absolute;
    background: url(../../content/img/slide50/barrasPopup.png) no-repeat;
    width: 419px;
    height: 281px;
    top: 0px;
    left: 0px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoPopupSlide50 #slide50_contieneBarrasPopup {
    position: absolute;
    width: 419px;
    height: 281px;
    top: 202px;
    left: 158px;
}

#fondoPopupSlide50 #slide50_btnCierraZoom {
    position: absolute;
    background: url(../../content/img/slide50/btn-cierra-zoom.png) no-repeat;
    width: 32px;
    height: 32px;
    top: 547px;
    left: 919px;
}

#fondoPopupSlide50 #txt4 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 17px;
    color: #430098;
    top: 153px;
    left: 398px;
}

#fondoPopupSlide50 #txt5 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 17px;
    color: #FFFFFF;
    top: 213px;
    left: 163px;
    line-height: 17px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoPopupSlide50 #txt5 span {
    font-family: "MyriadProSemibold";
}

#fondoPopupSlide50 #txt5 sup {
    font-size: 100%;
    vertical-align: top;
    position: relative;
    top: 8px;
}

#fondoPopupSlide50 #txt6 {
    position: absolute;
    font-family: "MyriadProSemibold";
    font-size: 17px;
    color: #FFFFFF;
    top: 284px;
    left: 163px;
    line-height: 17px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoPopupSlide50 #txt6 sup {
    font-size: 100%;
    vertical-align: top;
    position: relative;
    top: 8px;
}

#fondoPopupSlide50 #txt7 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 17px;
    color: #FFFFFF;
    top: 359px;
    left: 163px;
    line-height: 17px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoPopupSlide50 #txt7 span {
    font-family: "MyriadProSemibold";
}

#fondoPopupSlide50 #txt7 sup {
    font-size: 100%;
    vertical-align: top;
    position: relative;
    top: 8px;
}

#fondoPopupSlide50 #txt8 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 17px;
    color: #FFFFFF;
    top: 437px;
    left: 163px;
    line-height: 17px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoPopupSlide50 #txt8 span {
    font-family: "MyriadProSemibold";
}

#fondoPopupSlide50 #txt8 sup {
    font-size: 100%;
    vertical-align: top;
    position: relative;
    top: 8px;
}

#fondoPopupSlide50 #txt9 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 50px;
    color: #2ebbaf;
    top: 215px;
    left: 586px;
    line-height: 14px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoPopupSlide50 #txt9 span {
    font-size: 12px;
}

#fondoPopupSlide50 #txt9 span2 {
    font-size: 19px;
    position: relative;
    top: -9px;
    left: -10px;
}

#fondoPopupSlide50 #txt10 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 50px;
    color: #8cc53f;
    top: 286px;
    left: 406px;
    line-height: 14px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoPopupSlide50 #txt10 span {
    font-size: 12px;
}

#fondoPopupSlide50 #txt10 span2 {
    font-size: 19px;
    position: relative;
    top: -9px;
    left: -10px;
}

#fondoPopupSlide50 #txt11 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 50px;
    color: #868b8f;
    top: 360px;
    left: 323px;
    line-height: 14px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoPopupSlide50 #txt11 span {
    font-size: 12px;
}

#fondoPopupSlide50 #txt11 span2 {
    font-size: 19px;
    position: relative;
    top: -9px;
    left: -10px;
}

#fondoPopupSlide50 #txt12 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 50px;
    color: #a6a8ab;
    top: 433px;
    left: 383px;
    line-height: 14px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#fondoPopupSlide50 #txt12 span {
    font-size: 12px;
}

#fondoPopupSlide50 #txt12 span2 {
    font-size: 32px;
    position: relative;
    top: 1px;
    left: -10px;
}

#fondoPopupSlide50 #txt13 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 13px;
    color: #430098;
    top: 516px;
    left: 155px;
}

#fondoPopupSlide50 #txt14 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 13px;
    color: #430098;
    top: 516px;
    left: 248px;
}

#fondoPopupSlide50 #txt15 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 13px;
    color: #430098;
    top: 516px;
    left: 338px;
}

#fondoPopupSlide50 #txt16 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 13px;
    color: #430098;
    top: 517px;
    left: 430px;
}

#fondoPopupSlide50 #txt17 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 13px;
    color: #430098;
    top: 517px;
    left: 524px;
}

#fondoPopupSlide50 #txt18 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 13px;
    color: #430098;
    top: 517px;
    left: 616px;
}

#fondoPopupSlide50 #txt19 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 13px;
    color: #430098;
    top: 517px;
    left: 710px;
}

#fondoPopupSlide50 #txt20 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 13px;
    color: #430098;
    top: 517px;
    left: 802px;
}

#fondoPopupSlide50 #txt21 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 13px;
    color: #430098;
    top: 516px;
    left: 928px;
}

#fondoPopupSlide50 #txt22 {
    position: absolute;
    font-family: "Verdana";
    font-size: 8px;
    color: #430098;
    top: 675px;
    left: 45px;
}

#fondoPopupSlide50 #txt22 span {
    font-family: "VerdanaBold";
}

#fondoPopupSlide50 #txt23 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 11px;
    color: #430098;
    top: 541px;
    left: 454px;
    letter-spacing: 0.1px;
}

#slide50 .texto_mensaje_footer {
    position: absolute;
    top: 682px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    z-index: 1;
}