#subTituloSlide3 {
    left: 255px;
}

#slide3 #fondo {
    background: url(../../content/img/slide3/fondo.jpg);
    height: 768px;
    width: 1024px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.subTitBold {
    position: absolute;
    top: 230px;
    font-family: "VerdanaBold";
    font-size: 20px;
    color: #430098;
    line-height: 23px;
    text-align: center;
}

#subTitBold1 {
    left: 265px;
    color: #FF6B00;
}

#subTitBold2 {
    left: 612px;
}

.subTitLight {
    position: absolute;
    top: 530px;
    font-family: "Verdana";
    font-size: 18px;
    color: #430098;
    line-height: 23px;
    text-align: center;
}

#subTitLight1 {
    left: 216px;
    color: #FF6B00;
}

#subTitLight2 {
    left: 665px;
}

#subTitLight2 span{
    font-family: "VerdanaBold";
}

#slide3 #img1 {
    background: url(../../content/img/slide3/Revolucion.png);
    height: 230px;
    width: 244px;
    position: absolute;
    top: 280px;
    left: 185px;
}

#slide3 #img2 {
    background: url(../../content/img/slide3/Evolucion.png);
    height: 222px;
    width: 222px;
    position: absolute;
    top: 280px;
    left: 612px;
}

#slide3 #img3 {
    background: url(../../content/img/slide3/Triangulo.png);
    height: 110px;
    width: 70px;
    position: absolute;
    top: 342px;
    left: 495px;
}

#tituloSlide3 {
    position: absolute;
    top: 25px;
    left: 111px;
    font-family: "Verdana";
    font-size: 28px;
    color: #430098;
    line-height: 35px;
    text-align: center;
}

#tituloSlide3 span {
    font-family: "VerdanaBold";
}

#tituloSlide3 span2 {
    font-size: 24px;
}

#subTituloSlide3 {
    position: absolute;
    top: 136px;
    left: 264px;
    font-family: "Verdana";
    font-size: 17px;
    color: #430098;
    line-height: 23px;
    text-align: center;
}

#slide3 #txt1 {
    position: absolute;
    top: 226px;
    font-family: "VerdanaBold";
    font-size: 20px;
    left: 226px;
    color: #FF6B00;
    line-height: 23px;
    text-align: center;
}

#slide3 #txt2 {
    position: absolute;
    top: 226px;
    font-family: "VerdanaBold";
    font-size: 20px;
    color: #430098;
    line-height: 23px;
    text-align: center;
    left: 595px;
}

#slide3 #txt3 {
    position: absolute;
    top: 540px;
    font-family: "Verdana";
    font-size: 18px;
    left: 193px;
    color: #FF6B00;
    line-height: 23px;
    text-align: center;
}

#slide3 #txt3 span {
    font-family: "VerdanaBold";
}

#slide3 #txt4 {
    position: absolute;
    top: 540px;
    left: 655px;
    font-family: "Verdana";
    font-size: 18px;
    color: #430098;
    line-height: 23px;
    text-align: center;
}

#slide3 #txt4 span {
    font-family: "VerdanaBold";
}