#slide56 #fondo{
    background: url(../../content/img/slide58/fondo.png);
    width:1024px; 
    height: 768px;
    position:absolute;
    top: -62px;
    z-index:1;
}

#slide56 #videoslide56{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#numAvisoSlide58{
    position: absolute;
    bottom: 80px;
    right: 31px;
}