#fondo_slide26 {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide26/fondo.png);
}

#slide26 #txt1 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 28px;
    top: 29px;
    left: 205px;
    color: #430098;
    line-height: 33px;
}

#slide26 #txt1 span {
    font-family: "VerdanaBold";
}

#slide26 #txt1 span2 {
    font-size: 24px;
    font-family: "Verdana";
}

#slide26 #txt2 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 16px;
    top: 144px;
    left: 202px;
    color: #430098;
    line-height: 27px;
}

#slide26 #txt2 span {
    font-family: "VerdanaBold";
}

#slide26 #txt3 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 16px;
    top: 262px;
    left: 92px;
    color: #430098;
}

#slide26 #txt4 {
    position: absolute;
    font-family: "MyriadProBold";
    text-align: center;
    font-size: 13px;
    top: 313px;
    left: 97px;
    color: #430098;
}

#slide26 #txt5 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    text-align: center;
    font-size: 12px;
    top: 343px;
    left: 105px;
    color: #430098;
    line-height: 14px;
}

#slide26 #txt6 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 12px;
    top: 382px;
    left: 105px;
    color: #430098;
    line-height: 14px;
}

#slide26 #txt7 {
    position: absolute;
    font-family: "MyriadProBold";
    text-align: center;
    font-size: 13px;
    top: 411px;
    left: 93px;
    color: #430098;
}

#slide26 #txt8 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    text-align: center;
    font-size: 12px;
    top: 443px;
    left: 107px;
    color: #430098;
    line-height: 14px;
}

#slide26 #txt9 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 12px;
    top: 473px;
    left: 105px;
    color: #430098;
    line-height: 14px;
}

#slide26 #txt10 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 12px;
    top: 504px;
    left: 105px;
    color: #430098;
    line-height: 14px;
}

#slide26 #txt11 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 14px;
    top: 293px;
    left: 352px;
    color: #C42C69;
    line-height: 18px;
}

#slide26 #txt11 span {
    font-family: "MyriadPro_Regular";
    font-size: 12px;
}

#slide26 #txt12 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 14px;
    top: 293px;
    left: 545px;
    color: #430098;
    line-height: 18px;
}

#slide26 #txt12 span {
    font-family: "MyriadPro_Regular";
    font-size: 12px;
}

#slide26 #txt13 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 349px;
    left: 380px;
    color: #FFFFFF;
}

#slide26 #txt14 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 382px;
    left: 380px;
    color: #FFFFFF;
}

#slide26 #txt15 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 443px;
    left: 387px;
    color: #FFFFFF;
}

#slide26 #txt16 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 473px;
    left: 387px;
    color: #FFFFFF;
}

#slide26 #txt17 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 507px;
    left: 387px;
    color: #FFFFFF;
}

#slide26 #txt18 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 349px;
    left: 570px;
    color: #FFFFFF;
}

#slide26 #txt19 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 381px;
    left: 573px;
    color: #FFFFFF;
}

#slide26 #txt20 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 444px;
    left: 576px;
    color: #FFFFFF;
}

#slide26 #txt21 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 473px;
    left: 581px;
    color: #FFFFFF;
}

#slide26 #txt22 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 506px;
    left: 577px;
    color: #FFFFFF;
}

#slide26 #txt23 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    top: 243px;
    left: 776px;
    color: #430098;
    line-height: 36px;
}

#slide26 #zoom {
    position: absolute;
    background: url(../../content/img/slide26/btn-zoom.png);
    width: 25px;
    height: 25px;
    top: 544px;
    left: 698px;
}

#slide26 #fondoPopup_slide26 {
    position: absolute;
    background: url(../../content/img/slide26/fondoPopup.png);
    width: 1024px;
    height: 768px;
    top: -65px;
    left: 0px;
    display: none;
}

#slide26 #txt24 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 16px;
    top: 262px;
    left: 92px;
    color: #430098;
}

#slide26 #txt25 {
    position: absolute;
    font-family: "MyriadProBold";
    text-align: center;
    font-size: 13px;
    top: 313px;
    left: 97px;
    color: #430098;
}

#slide26 #txt26 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    text-align: center;
    font-size: 12px;
    top: 343px;
    left: 105px;
    color: #430098;
    line-height: 14px;
}

#slide26 #txt27 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 12px;
    top: 382px;
    left: 105px;
    color: #430098;
    line-height: 14px;
}

#slide26 #txt28 {
    position: absolute;
    font-family: "MyriadProBold";
    text-align: center;
    font-size: 13px;
    top: 411px;
    left: 93px;
    color: #430098;
}

#slide26 #txt29 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    text-align: center;
    font-size: 12px;
    top: 443px;
    left: 107px;
    color: #430098;
    line-height: 14px;
}

#slide26 #txt30 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 12px;
    top: 473px;
    left: 105px;
    color: #430098;
    line-height: 14px;
}

#slide26 #txt31 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    font-size: 12px;
    top: 504px;
    left: 105px;
    color: #430098;
    line-height: 14px;
}

#slide26 #txt32 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 14px;
    top: 293px;
    left: 352px;
    color: #C42C69;
    line-height: 18px;
}

#slide26 #txt32 span {
    font-family: "MyriadPro_Regular";
    font-size: 12px;
}

#slide26 #txt33 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 14px;
    top: 293px;
    left: 545px;
    color: #430098;
    line-height: 18px;
}

#slide26 #txt33 span {
    font-family: "MyriadPro_Regular";
    font-size: 12px;
}

#slide26 #txt34 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 349px;
    left: 380px;
    color: #FFFFFF;
}

#slide26 #txt35 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 382px;
    left: 380px;
    color: #FFFFFF;
}

#slide26 #txt36 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 443px;
    left: 387px;
    color: #FFFFFF;
}

#slide26 #txt37 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 473px;
    left: 387px;
    color: #FFFFFF;
}

#slide26 #txt38 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 507px;
    left: 387px;
    color: #FFFFFF;
}

#slide26 #txt39 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 349px;
    left: 570px;
    color: #FFFFFF;
}

#slide26 #txt40 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 381px;
    left: 573px;
    color: #FFFFFF;
}

#slide26 #txt41 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 444px;
    left: 576px;
    color: #FFFFFF;
}

#slide26 #txt42 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 473px;
    left: 581px;
    color: #FFFFFF;
}

#slide26 #txt43 {
    position: absolute;
    font-family: "MyriadProBold";
    font-size: 12px;
    top: 506px;
    left: 577px;
    color: #FFFFFF;
}

#slide26 #txt44 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    top: 243px;
    left: 776px;
    color: #430098;
    line-height: 36px;
}

#slide26 #scale {
    position: absolute;
    height: 768px;
    width: 1024px;
    top: -32px;
    left: 146px;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#slide26 #btnCierraZoom {
    position: absolute;
    background: url(../../content/img/slide26/btn-cierra-zoom.png);
    width: 32px;
    height: 32px;
    top: 560px;
    left: 900px;
}