#fondoSlide61{
    background: url(../../content/img/slide61/fondo.png);
    width:1024px; 
    height: 768px;
    position:absolute;
    top: -62px;
    z-index:1;
}



#txtTituloSlide61{
    position: absolute;
    top: 92px;
    left: 103px;
    text-align: center;
    line-height: 33px;
}


#heterogenidadSlide61{
    
}

#preparacionSlide61{
    position: absolute;
    top: 44px;
    left: 0px;
}

#reaccionSlide61{
    position: absolute;
    top: 88px;
    left: 0px;
}

#duracionSlide61{
    position: absolute;
    top: 134px;
    left: 0px; 
    color: #FF6B00;
}

sup{
    font-size: 55%;
}

#txt1Slide67{
    position: absolute;
    top: 223px;
    left: 105px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}


.itemMenuSlide61{
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
}

#menuSlide61{
    position: absolute;
    top: 201px;
    left: 103px;
}

#linea1Slide61{
    position: absolute;
    top: 25px;
    left: 0px;
}

#linea2Slide61{
    position: absolute;
    top: 70px;
    left: 0px;
}

#linea3Slide61{
    position: absolute;
    top: 114px;
    left: 0px;
}

#linea4Slide61{
    position: absolute;
    top: 159px;
    left: 0px;
}


#slide61 #txt1{
    position: absolute;
    top: 555px;
    left: 95px;
    font-family: 'Verdana';
    font-size: 9px;
    color: #430098;
    line-height: 14px;
}

#slide61 #txt2{
    position: absolute;
    top: 620px;
    left: 275px;
    font-family: 'Verdana';
    font-size: 9px;
    color: #430098;
}

#slide61 #txt2 span{
    font-family: 'VerdanaBold';
}



/*Cuadro Duracion*/

#slide61 #cuadro ul {
    list-style: initial;
    list-style-image: url('../../content/img/slide61/bullet.png') !important;
}

#slide61 #cuadro{
    background: url(../../content/img/slide61/cuadro.png);
    width: 675px; 
    height: 395px;
    position:absolute;
    top: 199px;
    left: 261px;
}

#slide61 #txt1Cuadro{
    position: absolute;
    top: 251px;
    left: 30px;
    font-family: 'VerdanaBold';
    font-size: 12px;
    color: #430098;
    line-height: 21px;
}

#slide61 #txt2Cuadro{
    position: absolute;
    top: 270px;
    left: 31px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 20px;
}

#slide61 #txt3Cuadro{
    position: absolute;
    top: 48px;
    left: 514px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 18px;
}

#slide61 #txt4Cuadro{
    position: absolute;
    top: 209px;
    left: 514px;
    font-family: 'Verdana';
    font-size: 12px;
    color: #430098;
    line-height: 18px;
}


#numAvisoslide61{
    position: absolute;
    bottom: 80px;
    right: 31px;
}