#Fondo_Slide46 {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide46/fondo.png);
}

#slide46 #txt1 {
    position: absolute;
    font-family: "Verdana";
    font-size: 24px;
    color: #430098;
    top: 88px;
    left: 186px;
    text-align: center;
    line-height: 34px;
}

#slide46 #txt1 span {
    font-family: "VerdanaBold";
    font-size: 28px;
}

#slide46 #txt2 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #430098;
    top: 214px;
    left: 221px;
}

#slide46 #txt2 span {
    font-family: "VerdanaBold";
}

#slide46 #txt3 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    color: #430098;
    top: 292px;
    left: 70px;
    text-align: center;
    line-height: 15px;
}

#slide46 #txt3 span {
    font-family: "VerdanaBold";
}

#slide46 #txt4 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    color: #430098;
    top: 307px;
    left: 419px;
}

#slide46 #txt5 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    color: #430098;
    top: 305px;
    left: 766px;
}

#slide46 #txt6 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    color: #430098;
    top: 557px;
    left: 84px;
    line-height: 28px;
}

#slide46 #txt6 span {
    font-family: "VerdanaBold";
}

#slide46 #txt7 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    color: #430098;
    top: 551px;
    left: 663px;
    line-height: 28px;
}

#slide46 #txt7 span {
    font-family: "VerdanaBold";
}

#slide46 #txt8 {
    position: absolute;
    font-family: "Verdana";
    font-size: 9px;
    color: #430098;
    top: 665px;
    left: 59px;
    line-height: 28px;
}

#slide46 #txt8 span {
    font-family: "VerdanaBold";
}

#slide46 #txt9 {
    position: absolute;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    color: #646569;
    top: 680px;
    left: 785px;
}

#slide46 #txt10 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 76px;
}

#slide46 #txt11 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 105px;
}

#slide46 #txt12 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 126px;
}

#slide46 #txt13 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 147px;
}

#slide46 #txt14 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 169px;
}

#slide46 #txt15 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 189px;
}

#slide46 #txt16 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 210px;
}

#slide46 #txt17 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 231px;
}

#slide46 #txt18 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 252px;
}

#slide46 #txt19 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 273px;
}

#slide46 #txt20 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 291px;
}

#slide46 #txt21 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 364px;
}

#slide46 #txt22 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 385px;
}

#slide46 #txt23 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 410px;
}

#slide46 #txt24 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 434px;
}

#slide46 #txt25 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 459px;
}

#slide46 #txt26 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 484px;
}

#slide46 #txt27 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 509px;
}

#slide46 #txt28 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 533px;
}

#slide46 #txt29 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 558px;
}

#slide46 #txt30 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 581px;
}

#slide46 #txt31 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 666px;
}

#slide46 #txt32 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 725px;
}

#slide46 #txt33 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 786px;
}

#slide46 #txt34 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 840px;
}

#slide46 #txt35 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 490px;
    left: 901px;
}

#slide46 #txt36 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 507px;
    left: 146px;
    letter-spacing: 1px;
}

#slide46 #txt37 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 507px;
    left: 411px;
    letter-spacing: 1px;
}

#slide46 #txt38 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 507px;
    left: 757px;
    letter-spacing: 1px;
}

#slide46 #txt39 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 413px;
    left: -7px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    letter-spacing: 1px;
}

#slide46 #txt40 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #c42c6a;
    top: 342px;
    left: 90px;
}

#slide46 #txt40 span {
    font-family: "Symbol";
    color: #fff;
}

#slide46 #txt41 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #430098;
    top: 364px;
    left: 90px;
}

#slide46 #txt41 span {
    font-family: "Symbol";
}

#slide46 #txt42 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #c42c6a;
    top: 361px;
    left: 243px;
}

#slide46 #txt43 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 8px;
    color: #430098;
    top: 404px;
    left: 265px;
}

#slide46 #txt44 {
    position: absolute;
    font-family: "Verdana";
    font-size: 4px;
    color: #ff6b00;
    top: 444px;
    left: 95px;
    line-height: 10px;
}

#slide46 #txt45 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #ff6b00;
    top: 436px;
    left: 186px;
    line-height: 6px;
}

#slide46 #txt46 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #ff6b00;
    top: 443px;
    left: 235px;
}

#slide46 #txt47 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #ff6b00;
    top: 443px;
    left: 254px;
}

#slide46 #txt48 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #c42c6a;
    top: 454px;
    left: 258px;
}

#slide46 #txt49 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #c42c6a;
    top: 454px;
    left: 231px;
}

#slide46 #txt50 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #c42c6a;
    top: 454px;
    left: 188px;
}

#slide46 #txt50 span {
    font-family: "Symbol";
    color: #fff;
}

#slide46 #txt51 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #430098;
    top: 463px;
    left: 188px;
}

#slide46 #txt51 span {
    font-family: "Symbol";
}

#slide46 #txt52 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #430098;
    top: 463px;
    left: 230px;
}

#slide46 #txt53 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #430098;
    top: 463px;
    left: 258px;
}

#slide46 #txt54 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 413px;
    left: 282px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    letter-spacing: 1px;
}

#slide46 #txt55 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 8px;
    color: #430098;
    top: 362px;
    left: 427px;
}

#slide46 #txt56 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 8px;
    color: #430098;
    top: 371px;
    left: 477px;
}

#slide46 #txt57 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 8px;
    color: #430098;
    top: 378px;
    left: 567px;
}

#slide46 #txt58 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #c42c6a;
    top: 395px;
    left: 564px;
}

#slide46 #txt59 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 8px;
    color: #c42c6a;
    top: 394px;
    left: 481px;
}

#slide46 #txt60 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 8px;
    color: #c42c6a;
    top: 388px;
    left: 427px;
}

#slide46 #txt61 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #ff6b00;
    top: 437px;
    left: 374px;
    line-height: 5px;
}

#slide46 #txt62 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #ff6b00;
    top: 437px;
    left: 415px;
    line-height: 5px;
}

#slide46 #txt63 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #ff6b00;
    top: 444px;
    left: 450px;
}

#slide46 #txt64 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #ff6b00;
    top: 435px;
    left: 479px;
    text-align: center;
    line-height: 7px;
}

#slide46 #txt65 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #ff6b00;
    top: 443px;
    left: 533px;
}

#slide46 #txt66 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 4px;
    color: #ff6b00;
    top: 444px;
    left: 565px;
}

#slide46 #txt67 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #ff6b00;
    top: 459px;
    left: 566px;
}

#slide46 #txt68 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #ff6b00;
    top: 459px;
    left: 531px;
}

#slide46 #txt69 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #ff6b00;
    top: 459px;
    left: 493px;
}

#slide46 #txt70 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #430098;
    top: 455px;
    left: 453px;
}

#slide46 #txt71 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #430098;
    top: 455px;
    left: 418px;
}

#slide46 #txt72 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #430098;
    top: 455px;
    left: 377px;
}

#slide46 #txt73 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #c42c6a;
    top: 464px;
    left: 378px;
}

#slide46 #txt74 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #c42c6a;
    top: 464px;
    left: 418px;
}

#slide46 #txt75 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #c42c6a;
    top: 464px;
    left: 453px;
}

#slide46 #txt76 {
    position: absolute;
    font-family: "Verdana";
    font-size: 5px;
    color: #844db8;
    top: 413px;
    left: 583px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    letter-spacing: 1px;
}

#slide46 #txt77 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 13px;
    color: #c42c6a;
    top: 352px;
    left: 932px;
}

#slide46 #txt78 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 9px;
    color: #430098;
    top: 376px;
    left: 931px;
}

#slide46 #txt79 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #ff6b00;
    top: 432px;
    left: 693px;
}

#slide46 #txt80 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #ff6b00;
    top: 421px;
    left: 759px;
    line-height: 6px;
}

#slide46 #txt81 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #ff6b00;
    top: 432px;
    left: 794px;
}

#slide46 #txt82 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #ff6b00;
    top: 432px;
    left: 816px;
}

#slide46 #txt83 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 5px;
    color: #ff6b00;
    top: 432px;
    left: 846px;
}

#slide46 #txt84 {
    position: absolute;
    font-family: "Verdana";
    font-size: 4px;
    color: #c42c6a;
    top: 446px;
    left: 850px;
}

#slide46 #txt85 {
    position: absolute;
    font-family: "Verdana";
    font-size: 4px;
    color: #c42c6a;
    top: 446px;
    left: 822px;
}

#slide46 #txt86 {
    position: absolute;
    font-family: "Verdana";
    font-size: 4px;
    color: #c42c6a;
    top: 446px;
    left: 796px;
}

#slide46 #txt87 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 6px;
    color: #c42c6a;
    top: 445px;
    left: 692px;
}

#slide46 #txt88 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 6px;
    color: #430098;
    top: 458px;
    left: 692px;
}

#slide46 #txt89 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 6px;
    color: #430098;
    top: 458px;
    left: 765px;
}

#slide46 #txt90 {
    position: absolute;
    font-family: "Verdana";
    font-size: 6px;
    color: #430098;
    top: 458px;
    left: 792px;
}

#slide46 #txt91 {
    position: absolute;
    font-family: "Verdana";
    font-size: 6px;
    color: #430098;
    top: 458px;
    left: 810px;
}

#slide46 #txt92 {
    position: absolute;
    font-family: "Verdana";
    font-size: 6px;
    color: #430098;
    top: 458px;
    left: 846px;
}

#slide46 #txt93 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 6px;
    color: #c42c6a;
    top: 445px;
    left: 765px;
}

#slide46 #lupa1 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 499px;
    left: 289px;
}

#slide46 #lupa2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 499px;
    left: 582px;
}

#slide46 #lupa3 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 499px;
    left: 954px;
}

#slide46 #fondoLupa1 {
    position: absolute;
    background-image: url("../../content/img/slide46/fondoLupa1.png");
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}

#slide46 #txt94 {
    position: absolute;
    font-family: "Verdana";
    font-size: 24px;
    color: #430098;
    top: 60px;
    left: 277px;
    text-align: center;
    line-height: 29px;
}

#slide46 #txt95 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 323px;
    left: -1px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#slide46 #txt96 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 582px;
    left: 413px;
}

#slide46 #txt97 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    color: #ff6b00;
    top: 418px;
    left: 251px;
    line-height: 29px;
}

#slide46 #txt98 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 397px;
    left: 501px;
    line-height: 15px;
}

#slide46 #txt99 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 415px;
    left: 636px;
}

#slide46 #txt100 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 415px;
    left: 684px;
}

#slide46 #txt101 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #c42c6a;
    top: 445px;
    left: 699px;
}

#slide46 #txt102 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #c42c6a;
    top: 445px;
    left: 623px;
}

#slide46 #txt103 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #c42c6a;
    top: 445px;
    left: 508px;
}

#slide46 #txt103 span {
    font-family: "Symbol";
}

#slide46 #txt104 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #430098;
    top: 470px;
    left: 508px;
}

#slide46 #txt104 span {
    font-family: "Symbol";
}

#slide46 #txt105 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #430098;
    top: 470px;
    left: 623px;
}

#slide46 #txt106 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #430098;
    top: 470px;
    left: 699px;
}

#slide46 #txt107 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 22px;
    color: #430098;
    top: 311px;
    left: 721px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt108 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 34px;
    color: #c42c6a;
    top: 187px;
    left: 658px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt109 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 13px;
    color: #c42c6a;
    top: 138px;
    left: 240px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt109 span {
    font-family: "Symbol";
}

#slide46 #txt110 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 13px;
    color: #430098;
    top: 198px;
    left: 239px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt110 span {
    font-family: "Symbol";
}

#slide46 #txt111 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 200px;
}

#slide46 #txt112 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 279px;
}

#slide46 #txt113 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 336px;
}

#slide46 #txt114 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 396px;
}

#slide46 #txt115 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 454px;
}

#slide46 #txt116 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 512px;
}

#slide46 #txt117 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 569px;
}

#slide46 #txt118 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 627px;
}

#slide46 #txt119 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 685px;
}

#slide46 #txt120 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 743px;
}

#slide46 #txt121 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #844db8;
    top: 541px;
    left: 793px;
}

#slide46 #contenedor_linea {
    position: absolute;
    top: 146px;
    left: 199px;
    width: 629px;
    height: 163px;
}

#slide46 #linea {
    width: 0%;
    height: 100%;
    background-image: url(../../content/img/slide46/lineas.png);
    opacity: 1;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}

#slide46 #cierraLupa1 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 580px;
    left: 818px;
}

#slide46 #popUpLupa1 {
    display: none;
}

#slide46 #fondoLupa2 {
    position: absolute;
    background-image: url("../../content/img/slide46/fondoLupa2.png");
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}

#slide46 #txt122 {
    position: absolute;
    font-family: "Verdana";
    font-size: 23px;
    color: #430098;
    top: 89px;
    left: 420px;
}

#slide46 #txt123 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 328px;
    left: -8px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#slide46 #txt124 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 575px;
    left: 348px;
}

#slide46 #txt125 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 21px;
    color: #430098;
    top: 191px;
    left: 369px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt126 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 21px;
    color: #430098;
    top: 214px;
    left: 505px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt127 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 21px;
    color: #430098;
    top: 236px;
    left: 753px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt128 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 34px;
    color: #c42c6a;
    top: 277px;
    left: 742px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt129 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 21px;
    color: #c42c6a;
    top: 279px;
    left: 515px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt130 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 21px;
    color: #c42c6a;
    top: 261px;
    left: 369px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt131 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 393px;
    left: 220px;
    line-height: 16px;
}

#slide46 #txt132 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 393px;
    left: 330px;
    line-height: 16px;
}

#slide46 #txt133 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 411px;
    left: 428px;
}

#slide46 #txt134 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 389px;
    left: 505px;
    line-height: 19px;
    text-align: center;
}

#slide46 #txt135 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 411px;
    left: 662px;
}

#slide46 #txt136 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 411px;
    left: 744px;
}

#slide46 #txt137 {
    position: absolute;
    font-family: "Verdana";
    font-size: 15px;
    color: #c42c6a;
    top: 455px;
    left: 748px;
}

#slide46 #txt138 {
    position: absolute;
    font-family: "Verdana";
    font-size: 15px;
    color: #c42c6a;
    top: 455px;
    left: 646px;
}

#slide46 #txt139 {
    position: absolute;
    font-family: "Verdana";
    font-size: 15px;
    color: #c42c6a;
    top: 455px;
    left: 547px;
}

#slide46 #txt140 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 15px;
    color: #c42c6a;
    top: 468px;
    left: 436px;
}

#slide46 #txt141 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 15px;
    color: #c42c6a;
    top: 468px;
    left: 341px;
}

#slide46 #txt142 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 15px;
    color: #c42c6a;
    top: 468px;
    left: 231px;
}

#slide46 #txt143 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 15px;
    color: #430098;
    top: 443px;
    left: 227px;
}

#slide46 #txt144 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 15px;
    color: #430098;
    top: 443px;
    left: 340px;
}

#slide46 #txt145 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 15px;
    color: #430098;
    top: 443px;
    left: 436px;
}

#slide46 #txt146 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 532px;
    left: 193px;
}

#slide46 #txt147 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 532px;
    left: 252px;
}

#slide46 #txt148 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 532px;
    left: 320px;
}

#slide46 #txt149 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 532px;
    left: 386px;
}

#slide46 #txt150 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 532px;
    left: 454px;
}

#slide46 #txt151 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 532px;
    left: 523px;
}

#slide46 #txt152 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 532px;
    left: 591px;
}

#slide46 #txt153 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 532px;
    left: 658px;
}

#slide46 #txt154 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 532px;
    left: 725px;
}

#slide46 #txt155 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 532px;
    left: 791px;
}

#slide46 #cierraLupa2 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 580px;
    left: 818px;
}

#slide46 #popUpLupa2 {
    display: none;
}

#slide46 #contenedor_linea2 {
    position: absolute;
    top: 180px;
    left: 192px;
    width: 616px;
    height: 109px;
}

#slide46 #linea2 {
    width: 0%;
    height: 100%;
    background-image: url(../../content/img/slide46/lineas2.png);
    opacity: 1;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}

#slide46 #fondoLupa3 {
    position: absolute;
    background-image: url("../../content/img/slide46/fondoLupa3.png");
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}


#slide46 #txt156 {
    position: absolute;
    font-family: "Verdana";
    font-size: 23px;
    color: #430098;
    top: 89px;
    left: 435px;
}

#slide46 #txt157 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 310px;
    left: -29px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#slide46 #txt158 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 568px;
    left: 394px;
}

#slide46 #txt159 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 534px;
    left: 176px;
}

#slide46 #txt160 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 534px;
    left: 302px;
}

#slide46 #txt161 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 534px;
    left: 435px;
}

#slide46 #txt162 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 534px;
    left: 553px;
}

#slide46 #txt163 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 534px;
    left: 685px;
}

#slide46 #txt164 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    color: #9666c2;
    top: 534px;
    left: 818px;
}

#slide46 #txt165 {
    position: absolute;
    font-family: "Verdana";
    font-size: 14px;
    color: #430098;
    top: 451px;
    left: 604px;
}

#slide46 #txt166 {
    position: absolute;
    font-family: "Verdana";
    font-size: 14px;
    color: #430098;
    top: 451px;
    left: 519px;
}

#slide46 #txt167 {
    position: absolute;
    font-family: "Verdana";
    font-size: 14px;
    color: #430098;
    top: 451px;
    left: 471px;
}

#slide46 #txt168 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 14px;
    color: #430098;
    top: 451px;
    left: 409px;
}

#slide46 #txt169 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 14px;
    color: #430098;
    top: 452px;
    left: 233px;
}

#slide46 #txt170 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 14px;
    color: #c42c6a;
    top: 423px;
    left: 233px;
}

#slide46 #txt171 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 14px;
    color: #c42c6a;
    top: 421px;
    left: 409px;
}

#slide46 #txt172 {
    position: absolute;
    font-family: "Verdana";
    font-size: 14px;
    color: #c42c6a;
    top: 421px;
    left: 481px;
}

#slide46 #txt173 {
    position: absolute;
    font-family: "Verdana";
    font-size: 14px;
    color: #c42c6a;
    top: 421px;
    left: 544px;
}


#slide46 #txt174 {
    position: absolute;
    font-family: "Verdana";
    font-size: 14px;
    color: #c42c6a;
    top: 421px;
    left: 614px;
}

#slide46 #txt175 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 391px;
    left: 602px;
}

#slide46 #txt176 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 391px;
    left: 531px;
}

#slide46 #txt177 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 391px;
    left: 477px;
}

#slide46 #txt178 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 362px;
    left: 392px;
    line-height: 15px;
}

#slide46 #txt179 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 12px;
    color: #ff6b00;
    top: 391px;
    left: 234px;
}

#slide46 #txt180 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 20px;
    color: #ff9b40;
    top: 257px;
    left: 809px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #txt181 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 32px;
    color: #c42c6a;
    top: 199px;
    left: 809px;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide46 #cierraLupa3 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 580px;
    left: 818px;
}

#slide46 #popUpLupa3 {
    display: none;
}

#slide46 #contenedor_linea3 {
    position: absolute;
    top: 189px;
    left: 157px;
    width: 706px;
    height: 63px;
}

#slide46 #linea3 {
    width: 0%;
    height: 100%;
    background-image: url(../../content/img/slide46/lineas3.png);
    opacity: 1;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}

#slide46 .texto_mensaje_footer {
    position: absolute;
    top: 682px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    z-index: 1;
}