#fondo_Slide19 {
    position: absolute;
    background: url("../../content/img/slide19/fondo.png");
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
}

#slide19 #txt1 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 92px;
    left: 197px;
    font-size: 28px;
    color: #430098;
    text-align: center;
    line-height: 34px;
}

#slide19 #txt1 spanpq {
    font-size: 24px;
}

#slide19 #txt1 span {
    font-family: "Verdana";
    font-size: 24px;
}

#slide19 #txt2 {
    position: absolute;
    font-family: "Verdana";
    top: 212px;
    left: 223px;
    font-size: 16px;
    color: #430098;
    text-align: center;
    line-height: 20px;
}

#slide19 #txt2 span {
    font-family: "VerdanaBold";
}

#slide19 #txt3 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 296px;
    left: 105px;
    font-size: 14px;
    color: #430098;
}

#slide19 #txt4 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 390px;
    left: 114px;
    font-size: 15px;
    color: #FF6B00;
    line-height: 18px;
}

#slide19 #txt5 {
    position: absolute;
    font-family: "Verdana";
    top: 385px;
    left: 266px;
    font-size: 15px;
    color: #FF6B00;
    line-height: 18px;
}

#slide19 #txt6 {
    position: absolute;
    font-family: "Verdana";
    top: 427px;
    left: 279px;
    font-size: 15px;
    color: #FF6B00;
}

#slide19 #txt7 {
    position: absolute;
    font-family: "Verdana";
    top: 449px;
    left: 279px;
    font-size: 15px;
    color: #FF6B00;
}

#slide19 #txt8 {
    position: absolute;
    font-family: "Verdana";
    top: 558px;
    left: 113px;
    font-size: 12px;
    color: #FF6B00;
}

#slide19 #txt9 {
    position: absolute;
    font-family: "Verdana";
    top: 577px;
    left: 113px;
    font-size: 12px;
    color: #FF6B00;
}

#slide19 #txt9 span {
    font-family: "VerdanaBold";
}

#slide19 #txt10 {
    position: absolute;
    font-family: "Verdana";
    top: 594px;
    left: 127px;
    font-size: 12px;
    color: #FF6B00;
}

#slide19 #txt11 {
    position: absolute;
    font-family: "Verdana";
    top: 323px;
    left: 456px;
    font-size: 14px;
    color: #FF6B00;
}

#slide19 #txt12 {
    position: absolute;
    font-family: "Verdana";
    top: 415px;
    left: 456px;
    font-size: 14px;
    color: #FF6B00;
}

#slide19 #txt13 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 339px;
    left: 456px;
    font-size: 11px;
    color: #c42c6a;
}

#slide19 #txt14 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 434px;
    left: 456px;
    font-size: 11px;
    color: #430098;
    line-height: 17px;
}

#slide19 #txt15 {
    position: absolute;
    font-family: "Verdana";
    top: 381px;
    left: 730px;
    font-size: 15px;
    color: white;
    line-height: 21px;
}

#slide19 #txt16 {
    position: absolute;
    font-family: "Verdana";
    top: 676px;
    left: 43px;
    font-size: 9px;
    color: #430098;
}

#slide19 #txt16 span {
    font-family: "VerdanaBold";
}

#slide19 #lupa1 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 578px;
    left: 854px;
}

#slide19 #popUpLupa1 {
    display: none;
}

#slide19 #popUpLupa1 .texto_mensaje_footer {
    position: absolute;
    top: 757px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
    z-index: 1;
}

#slide19 #cierraLupa1 {
    position: absolute;
    width: 70px;
    height: 70px;
 top: 592px;
left: 951px;
}

#slide19 #fondoLupa1 {
    position: absolute;
    background-image: url("../../content/img/slide19/fondoPopup.png");
    width: 1024px;
    height: 768px;
    top: 64px;
    left: 0px;
}

#slide19 #txt19 {
    position: absolute;
    font-family: "VerdanaBold";
  top: 183px;
left: 48px;
font-size: 17px;
    color: #430098;
}

#slide19 #txt20 {
    position: absolute;
    font-family: "VerdanaBold";
   top: 296px;
left: 56px;
font-size: 18px;
color: #FF6B00;
line-height: 21px;
}

#slide19 #txt21 {
    position: absolute;
    font-family: "Verdana";
  top: 290px;
left: 240px;
font-size: 18px;
color: #FF6B00;
line-height: 21px;
}

#slide19 #txt22 {
    position: absolute;
    font-family: "Verdana";
   top: 340px;
left: 254px;
font-size: 18px;
    color: #FF6B00;
}

#slide19 #txt23 {
    position: absolute;
    font-family: "Verdana";
  top: 367px;
left: 254px;
font-size: 18px;
    color: #FF6B00;
}

#slide19 #txt24 {
    position: absolute;
    font-family: "Verdana";
  top: 490px;
left: 56px;
font-size: 14px;
    color: #FF6B00;
}

#slide19 #txt25 {
    position: absolute;
    font-family: "Verdana";
   top: 510px;
left: 55px;
font-size: 15px;
    color: #FF6B00;
}

#slide19 #txt25 span {
    font-family: "VerdanaBold";
}

#slide19 #txt26 {
    position: absolute;
    font-family: "Verdana";
  top: 532px;
left: 72px;
font-size: 15px;
    color: #FF6B00;
}

#slide19 #txt27 {
    position: absolute;
    font-family: "Verdana";
 top: 216px;
left: 468px;
font-size: 16px;
    color: #FF6B00;
}

#slide19 #txt28 {
    position: absolute;
    font-family: "Verdana";
   top: 326px;
left: 468px;
font-size: 16px;
    color: #FF6B00;
}

#slide19 #txt29 {
    position: absolute;
    font-family: "VerdanaBold";
   top: 242px;
left: 468px;
font-size: 12px;
    color: #c42c6a;
}

#slide19 #txt30 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 349px;
left: 467px;
font-size: 12px;
color: #430098;
line-height: 21px;
}

#slide19 #txt31 {
    position: absolute;
    font-family: "Verdana";
   top: 285px;
left: 796px;
font-size: 18px;
color: white;
line-height: 25px;
}