#fondo_Slide45 {
    position: absolute;
    background-image: url("../../content/img/slide45/fondo.png");
    width: 1024px;
    height: 768px;
    top: 0px;
    left: 0px;
}

#slide45 #txt1 {
    position: absolute;
    font-family: 'Verdana';
    font-size: 24px;
    color: #430098;
    top: 95px;
left: 56px;
letter-spacing: 2px;
}

#slide45 #txt1 span {
    font-family: 'VerdanaBold';
}

#slide45 #txt2 {
    position: absolute;
    font-family: 'VerdanaBold';
    font-size: 13px;
    color: #c42c6a;
   top: 199px;
left: 94px;
}

#slide45 #txt3 {
    position: absolute;
    font-family: 'Verdana';
    font-size: 15px;
    color: #ff6b00;
   top: 166px;
left: 407px;
}

#slide45 #txt4 {
    position: absolute;
    font-family: 'VerdanaBold';
    font-size: 26px;
    color: #c42c6a;
top: 185px;
left: 407px;
}

#slide45 #txt5 {
    position: absolute;
    font-family: 'Verdana';
    font-size: 12px;
    color: #c42c6a;
top: 213px;
left: 407px;
}
#slide45 #txt5 span{
font-size: 9px;
}

#slide45 #txt6 {
   position: absolute;
    font-family: 'Verdana';
    font-size: 15px;
    color: #ff6b00;
   top: 180px;
left: 729px;
}

#slide45 #txt7 {
    position: absolute;
    font-family: 'VerdanaBold';
    font-size: 16px;
color: #c42c6a;
top: 197px;
left: 730px;
line-height: 20px;
}

#slide45 #txt8 {
    position: absolute;
    font-family: 'VerdanaBold';
    font-size: 18px;
color: #430098;
top: 304px;
left: 386px;
}

#slide45 #txt9 {
    position: absolute;
    font-family: 'VerdanaBold';
   font-size: 13px;
color: #430098;
top: 354px;
left: 56px;
text-align: center;
line-height: 16px;
}

#slide45 #txt10 {
    position: absolute;
    font-family: 'VerdanaBold';
   font-size: 13px;
color: #430098;
top: 354px;
left: 246px;
text-align: center;
line-height: 16px;
}

#slide45 #txt11 {
    position: absolute;
    font-family: 'VerdanaBold';
   font-size: 13px;
color: #430098;
top: 354px;
left: 441px;
text-align: center;
line-height: 16px;
}

#slide45 #txt12 {
    position: absolute;
    font-family: 'VerdanaBold';
   font-size: 13px;
color: #430098;
top: 354px;
left: 641px;
text-align: center;
line-height: 16px;
}

#slide45 #txt13 {
    position: absolute;
    font-family: 'VerdanaBold';
   font-size: 13px;
color: #430098;
top: 364px;
left: 909px;
text-align: center;
line-height: 16px;
}

#slide45 #txt14 {
    position: absolute;
    font-family: 'Verdana';
   font-size: 13px;
color: #ff6b00;
top: 479px;
left: 385px;
}
#slide45 #txt14 span{
	font-family: 'VerdanaBold';
}

#slide45 #txt14 dif{
	font-size: 16px;
}

#slide45 #txt15 {
    position: absolute;
    font-family: 'Verdana';
   font-size: 13px;
color: #430098;
top: 482px;
left: 548px;
}

#slide45 #txt16 {
    position: absolute;
    font-family: 'VerdanaBold';
   font-size: 13px;
color: #430098;
top: 591px;
left: 95px;
}

#slide45 #txt17 {
   position: absolute;
font-family: 'Verdana';
font-size: 12px;
color: #ff6b00;
top: 561px;
left: 404px;
}
#slide45 #txt18 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 20px;
color: #430098;
top: 576px;
left: 404px;
}

#slide45 #txt19 {
  position: absolute;
font-family: 'Verdana';
font-size: 10px;
color: #430098;
top: 602px;
left: 403px;
}

#slide45 #txt20 {
  position: absolute;
font-family: 'Verdana';
font-size: 8px;
color: #ff6b00;
top: 623px;
left: 403px;
}

#slide45 #txt21 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 20px;
color: #430098;
top: 635px;
left: 404px;
}

#slide45 #txt22 {
  position: absolute;
font-family: 'Verdana';
font-size: 15px;
color: #ff6b00;
top: 566px;
left: 730px;
}

#slide45 #txt23 {
  position: absolute;
font-family: 'Verdana';
font-size: 10px;
color: #430098;
top: 590px;
left: 740px;
}

#slide45 #txt24 {
  position: absolute;
font-family: 'Verdana';
font-size: 10px;
color: #430098;
top: 609px;
left: 740px;
}

#slide45 #txt25 {
  position: absolute;
font-family: 'Verdana';
font-size: 13px;
color: #430098;
top: 624px;
left: 732px;
line-height: 16px;
}

#slide45 #txt26 {
  position: absolute;
font-family: "HelveticaNeue";
font-size: 7px;
color: #646569;
top: 680px;
left: 786px;
}

#slide45 #txt27 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 6px;
color: #c92f6d;
top: 209px;
left: 647px;
text-align: center;
}

#slide45 #txt28 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 97px;
}

#slide45 #txt29 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 146px;
}

#slide45 #txt30 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 195px;
}

#slide45 #txt31 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 244px;
}

#slide45 #txt32 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 293px;
}

#slide45 #txt33 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 342px;
}

#slide45 #txt34 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 391px;
}

#slide45 #txt35 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 441px;
}

#slide45 #txt36 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 490px;
}

#slide45 #txt37 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 534px;
}

#slide45 #txt38 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 583px;
}

#slide45 #txt39 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 631px;
}

#slide45 #txt40 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 681px;
}

#slide45 #txt41 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 731px;
}

#slide45 #txt42 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 780px;
}

#slide45 #txt43 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 829px;
}

#slide45 #txt44 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 878px;
}

#slide45 #txt45 {
  position: absolute;
font-family: 'VerdanaBold';
font-size: 16px;
color: #fff;
top: 421px;
left: 928px;
}