#fondoSlide68 {
    background: url(../../content/img/slide68/fondo.png);
    width: 1024px;
    height: 768px;
    position: absolute;
    top: -62px;
    z-index: 1;
}

#txtTituloSlide68 {
    position: absolute;
    font-family: "VerdanaBold";
    text-align: center;
    font-size: 28px;
    color: #430098;
    line-height: 33px;
    top: 127px;
    left: 110px;
}

sup {
    font-size: 55%;
}

#txt1Slide68 {
    position: absolute;
    top: 223px;
    left: 105px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}

#video1Slide68 {
    position: absolute;
    top: 287px;
    left: 90px;
}

#txt2Slide68 {
    position: absolute;
    top: 223px;
    left: 415px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}

#txt2Slide68 span {
    font-family: 'Verdana';
}

#video2Slide68 {
    position: absolute;
    top: 287px;
    left: 415px;
}

#txt3Slide68 {
    position: absolute;
    top: 223px;
    left: 772px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
}


#video3Slide68 {
    position: absolute;
    top: 287px;
    left: 715px;
}

#txt4Slide68 {
    position: absolute;
    top: 468px;
    left: 101px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
    line-height: 17px;
}

#txt4Slide68 span {
    font-family: 'Verdana';
}

#video4Slide68 {
    position: absolute;
    top: 516px;
    left: 92px;
}

#txt5Slide68 {
    position: absolute;
    top: 468px;
    left: 439px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
    line-height: 17px;
}

#txt5Slide68 span {
    font-family: 'Verdana';
}

#video5Slide68 {
    position: absolute;
    top: 516px;
    left: 415px;
}

#txt6Slide68 {
    position: absolute;
    top: 450px;
    left: 710px;
    font-family: 'VerdanaBold';
    font-size: 13.33px;
    color: #430098;
    line-height: 17px;
}

#txt6Slide68 span {
    font-family: 'Verdana';
}

#video6Slide68 {
    position: absolute;
    top: 516px;
    left: 711px;
}


#numAvisoSlide68 {
    position: absolute;
    bottom: 80px;
    right: 31px;
}