#fondo_slide15 {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide15/fondo.png);
}

#slide15 #txt1 {
    position: absolute;
    font-family: "Verdana";
    text-align: center;
    font-size: 28px;
    top: 29px;
    left: 205px;
    color: #430098;
    line-height: 33px;
}

#slide15 #txt1 span {
    font-family: "VerdanaBold";
}

#slide15 #txt1 span2 {
    font-size: 24px;
    font-family: "Verdana";
}

#slide15 #txt2 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    top: 141px;
    left: 231px;
    color: #430098;
    line-height: 30px;
}

#slide15 #txt2 span {
    font-family: "VerdanaBold";
}

#slide15 #txt3 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 14px;
    top: 211px;
    left: 234px;
    color: #430098;
}

#slide15 #barras {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 446px;
    height: 227px;
    background-image: url(../../content/img/slide15/barras.png);
}

#slide15 #contiene_barras {
    position: absolute;
    top: 277px;
    left: 188px;
    width: 446px;
    height: 227px;
}

#slide15 #txt4 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 18px;
    top: 254px;
    left: 211px;
    color: #c42b69;
}

#slide15 #txt5 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 18px;
    top: 276px;
    left: 301px;
    color: #430098;
}

#slide15 #txt6 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 18px;
    top: 294px;
    left: 473px;
    color: #c42b69;
}

#slide15 #txt7 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 18px;
    top: 323px;
    left: 566px;
    color: #430098;
}

#slide15 #txt8 {
    position: absolute;
    font-family: "Verdana";
    font-size: 13px;
    top: 379px;
    left: -6px;
    color: #430098;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#slide15 #txt8_1 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 13px;
   top: 551px;
left: 120px;
    color: #430098;
}

#slide15 #txt9 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 510px;
    left: 259px;
    color: #430098;
    text-align: center;
    line-height: 16px;
}

#slide15 #txt9 span {
    font-family: "VerdanaBold";
}

#slide15 #txt10 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 510px;
    left: 493px;
    color: #430098;
    text-align: center;
    line-height: 16px;
}

#slide15 #txt10 span {
    font-family: "VerdanaBold";
}

#slide15 #txt11 {
    position: absolute;
    font-family: "Verdana";
    font-size: 9px;
    top: 576px;
    left: 131px;
    color: #c42b69;
}

#slide15 #txt11 span {
    font-family: "VerdanaBold";
}

#slide15 #txt12 {
    position: absolute;
    font-family: "Verdana";
    font-size: 9px;
    top: 576px;
    left: 384px;
    color: #430098;
}

#slide15 #txt12 span {
    font-family: "VerdanaBold";
}

#slide15 #txt13 {
    position: absolute;
    font-family: "Verdana";
    font-size: 18px;
    top: 375px;
    left: 763px;
    color: #430098;
    line-height: 37px;
}

#slide15 #txt13 span {
    font-family: "VerdanaBold";
}

#slide15 #linea_abajo_grafico {
    position: absolute;
    top: 498px;
    left: 132px;
    width: 556px;
    height: 7px;
    background-image: url(../../content/img/slide15/linea_abajo_grafico.png);
}

#fondoPopup_slide15 {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-image: url(../../content/img/slide15/fondoPopup.png);
    display: none;
}

#slide15 #txt14 {
    position: absolute;
    font-family: "Verdana";
    font-size: 20px;
    top: 150px;
    left: 265px;
    color: #430098;
}

#slide15 #barras_popup {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 580px;
    height: 294px;
    background-image: url(../../content/img/slide15/barras_popup.png);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide15 #contiene_barras_popup {
    position: absolute;
    top: 224px;
    left: 237px;
    width: 580px;
    height: 294px;
}

#slide15 #txt15 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 24px;
    top: 194px;
    left: 265px;
    color: #c42b69;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide15 #txt16 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 24px;
    top: 222px;
    left: 382px;
    color: #430098;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide15 #txt17 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 24px;
    top: 246px;
    left: 605px;
    color: #c42b69;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide15 #txt18 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 24px;
    top: 282px;
    left: 728px;
    color: #430098;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide15 #txt19 {
    position: absolute;
    font-family: "Verdana";
    font-size: 16px;
    top: 354px;
    left: -22px;
    color: #430098;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    letter-spacing: 1px;
}

#slide15 #txt19_1 {
    position: absolute;
    font-family: "VerdanaBold";
    font-size: 17px;
   top: 577px;
left: 145px;
    color: #430098;
}

#slide15 #txt20 {
    position: absolute;
    font-family: "Verdana";
    font-size: 15px;
    top: 526px;
    left: 328px;
    color: #430098;
    text-align: center;
    line-height: 21px;
}

#slide15 #txt20 span {
    font-family: "VerdanaBold";
}

#slide15 #txt21 {
    position: absolute;
    font-family: "Verdana";
    font-size: 15px;
    top: 526px;
    left: 633px;
    color: #430098;
    text-align: center;
    line-height: 21px;
}

#slide15 #txt21 span {
    font-family: "VerdanaBold";
}

#slide15 #txt22 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 611px;
    left: 163px;
    color: #c42b69;
}

#slide15 #txt22 span {
    font-family: "VerdanaBold";
}

#slide15 #txt23 {
    position: absolute;
    font-family: "Verdana";
    font-size: 12px;
    top: 611px;
    left: 492px;
    color: #430098;
}

#slide15 #txt23 span {
    font-family: "VerdanaBold";
}

#slide15 #linea_abajo_grafico_popup {
    position: absolute;
    top: 512px;
    left: 165px;
    width: 723px;
    height: 9px;
    background-image: url(../../content/img/slide15/linea_abajo_grafico_popup.png);
}

#slide15 #zoom {
    position: absolute;
    background: url(../../content/img/slide15/btn-zoom.png);
    height: 25px;
    width: 25px;
    top: 578px;
    left: 702px;
}

#slide15 #btnCierraZoom {
    position: absolute;
    background: url(../../content/img/slide15/btn-cierra-zoom.png);
    height: 32px;
    width: 32px;
    top: 617px;
    left: 906px;
}