#fondo_Slide22 {
    position: absolute;
    background: url("../../content/img/slide22/fondo.png");
    top: -65px;
    left: 0px;
    width: 1024px;
    height: 768px;
}

#slide22 #txt1 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 95px;
    left: 203px;
    font-size: 28px;
    color: #430098;
    text-align: center;
    line-height: 34px;
}

#slide22 #txt1 spanpq {
    font-size: 24px;
}

#slide22 #txt1 span {
    font-family: "Verdana";
    font-size: 24px;
}

#slide22 #txt2 {
    position: absolute;
    font-family: "Verdana";
    top: 192px;
    left: 282px;
    font-size: 16px;
    color: #430098;
}

#slide22 #material {
    position: absolute;
    top: 680px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
}

#slide22 #materialPopUp {
    position: absolute;
    top: 694px;
    left: 785px;
    color: #646569;
    font-family: "helveticaneueltcommd";
    font-size: 7px;
}

#slide22 #txt3 {
    position: absolute;
    font-family: "Verdana";
    top: 227px;
    left: 228px;
    font-size: 9px;
    color: #430098;
}

#slide22 #txt4 {
    position: absolute;
    font-family: "Verdana";
    top: 326px;
    left: 53px;
    font-size: 9px;
    color: #844db8;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#slide22 #txt5 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 113px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt6 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 140px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt7 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 169px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt8 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 234px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt9 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 261px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt10 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 289px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt11 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 355px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt12 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 381px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt13 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 411px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt14 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 380px;
    left: 411px;
    font-size: 6px;
    color: #430098;
}

#slide22 #txt15 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 375px;
    left: 286px;
    font-size: 6px;
    color: #430098;
}

#slide22 #txt16 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 268px;
    left: 168px;
    font-size: 6px;
    color: #430098;
}

#slide22 #txt17 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 248px;
    left: 141px;
    font-size: 6px;
    color: #c42e6a;
}

#slide22 #txt18 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 346px;
    left: 259px;
    font-size: 6px;
    color: #c42e6a;
}

#slide22 #txt19 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 366px;
    left: 378px;
    font-size: 6px;
    color: #c42e6a;
}

#slide22 #txt20 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 371px;
    left: 352px;
    font-size: 6px;
    color: #ff6b00;
}

#slide22 #txt21 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 355px;
    left: 231px;
    font-size: 6px;
    color: #ff6b00;
}

#slide22 #txt22 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 257px;
    left: 113px;
    font-size: 6px;
    color: #ff6b00;
}

#slide22 #txt23 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 407px;
    left: 111px;
    font-size: 8px;
    color: #844db8;
}

#slide22 #txt24 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 407px;
    left: 225px;
    font-size: 8px;
    color: #844db8;
}

#slide22 #txt25 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 407px;
    left: 385px;
    font-size: 8px;
    color: #844db8;
}

#slide22 #txt26 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 428px;
    left: 98px;
    font-size: 5px;
    color: #ff6b00;
}

#slide22 #txt26 span {
    font-family: "MyriadProBold";
}

#slide22 #txt27 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 428px;
    left: 164px;
    font-size: 5px;
    color: #c42e6a;
}

#slide22 #txt27 span {
    font-family: "MyriadProBold";
}

#slide22 #txt28 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 428px;
    left: 315px;
    font-size: 5px;
    color: #430098;
}

#slide22 #txt28 span {
    font-family: "MyriadProBold";
}

#slide22 #lupa1 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 409px;
    left: 450px;
}

#slide22 #cierraLupa1 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 537px;
    left: 864px;
}

#slide22 #popUpLupa1 {
    display: none;
}


#slide22 #fondoLupa1 {
    position: absolute;
    background-image: url("../../content/img/slide22/fondoLupa1.png");
    width: 1024px;
    height: 768px;
    top: 64px;
    left: 0px;
}

#slide22 #txt29 {
    position: absolute;
    font-family: "Verdana";
    top: 154px;
    left: 429px;
    font-size: 18px;
    color: #430098;
}

#slide22 #txt30 {
    position: absolute;
    font-family: "Verdana";
    top: 353px;
    left: 57px;
    font-size: 18px;
    color: #844db8;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#slide22 #txt31 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 177px;
    font-size: 8px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt32 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 231px;
    font-size: 8px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt33 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 287px;
    font-size: 8px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt34 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 419px;
    font-size: 8px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt35 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 473px;
    font-size: 8px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt36 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 530px;
    font-size: 8px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt37 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 662px;
    font-size: 8px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt38 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 714px;
    font-size: 8px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt39 {
    position: absolute;
    font-family: "Verdana";
    top: 484px;
    left: 771px;
    font-size: 8px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt40 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 460px;
    left: 771px;
    font-size: 12px;
    color: #430098;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt41 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 451px;
    left: 524px;
    font-size: 12px;
    color: #430098;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt42 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 239px;
    left: 285px;
    font-size: 12px;
    color: #430098;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt43 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 198px;
    left: 232px;
    font-size: 12px;
    color: #c42e6a;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt44 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 393px;
    left: 468px;
    font-size: 12px;
    color: #c42e6a;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt45 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 436px;
    left: 709px;
    font-size: 12px;
    color: #c42e6a;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt46 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 445px;
    left: 654px;
    font-size: 12px;
    color: #ff6b00;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt47 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 413px;
    left: 412px;
    font-size: 12px;
    color: #ff6b00;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt48 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 216px;
    left: 175px;
    font-size: 12px;
    color: #ff6b00;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt49 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 515px;
    left: 182px;
    font-size: 15px;
    color: #844db8;
}

#slide22 #txt50 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 515px;
    left: 409px;
    font-size: 15px;
    color: #844db8;
}

#slide22 #txt51 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 515px;
    left: 722px;
    font-size: 15px;
    color: #844db8;
}

#slide22 #txt52 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 555px;
    left: 147px;
    font-size: 10px;
    color: #ff6b00;
}

#slide22 #txt52 span {
    font-family: "MyriadProBold";
}

#slide22 #txt53 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 555px;
    left: 280px;
    font-size: 10px;
    color: #c42e6a;
}

#slide22 #txt53 span {
    font-family: "MyriadProBold";
}

#slide22 #txt54 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 555px;
    left: 581px;
    font-size: 10px;
    color: #430098;
}

#slide22 #txt54 span {
    font-family: "MyriadProBold";
}

#slide22 #contenedor_barrasLupa1 {
    position: absolute;
    top: 212px;
    left: 162px;
    width: 656px;
    height: 287px;
}

#slide22 #barrasLupa1 {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0px;
    left: 0px;
    background-image: url(../../content/img/slide22/barrasLupa1.png);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide22 #txt55 {
    position: absolute;
    font-family: "Verdana";
    top: 227px;
    left: 228px;
    font-size: 9px;
    color: #430098;
}

#slide22 #txt55 span {
    font-family: "VerdanaBold";
}

#slide22 #txt56 {
    position: absolute;
    font-family: "Verdana";
    top: 326px;
    left: 88px;
    font-size: 9px;
    color: #844db8;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#slide22 #txt57 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 146px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt58 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 173px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt59 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 201px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt60 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 270px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt61 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 296px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt62 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 324px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt63 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 394px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt64 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 420px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt65 {
    position: absolute;
    font-family: "Verdana";
    top: 391px;
    left: 448px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt66 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 378px;
    left: 450px;
    font-size: 6px;
    color: #430098;
}

#slide22 #txt67 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 374px;
    left: 322px;
    font-size: 6px;
    color: #430098;
}

#slide22 #txt68 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 267px;
    left: 202px;
    font-size: 6px;
    color: #430098;
}

#slide22 #txt69 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 247px;
    left: 172px;
    font-size: 6px;
    color: #c42e6a;
}

#slide22 #txt70 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 343px;
    left: 294px;
    font-size: 6px;
    color: #c42e6a;
}

#slide22 #txt71 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 365px;
    left: 418px;
    font-size: 6px;
    color: #c42e6a;
}

#slide22 #txt72 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 371px;
    left: 394px;
    font-size: 6px;
    color: #ff6b00;
}

#slide22 #txt73 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 354px;
    left: 270px;
    font-size: 6px;
    color: #ff6b00;
}

#slide22 #txt74 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 251px;
    left: 145px;
    font-size: 6px;
    color: #ff6b00;
}

#slide22 #txt75 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 407px;
    left: 143px;
    font-size: 8px;
    color: #844db8;
}

#slide22 #txt76 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 407px;
    left: 263px;
    font-size: 8px;
    color: #844db8;
}

#slide22 #txt77 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 407px;
    left: 421px;
    font-size: 8px;
    color: #844db8;
}

#slide22 #txt78 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 428px;
    left: 137px;
    font-size: 5px;
    color: #ff6b00;
}

#slide22 #txt78 span {
    font-family: "MyriadProBold";
}

#slide22 #txt79 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 428px;
    left: 202px;
    font-size: 5px;
    color: #c42e6a;
}

#slide22 #txt79 span {
    font-family: "MyriadProBold";
}

#slide22 #txt80 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 428px;
    left: 355px;
    font-size: 5px;
    color: #430098;
}

#slide22 #txt80 span {
    font-family: "MyriadProBold";
}

#slide22 #graf2 {
    position: absolute;
    left: 445px;
    width: 574px;
}

#slide22 #lupa2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 409px;
    left: 930px;
}

#slide22 #cierraLupa2 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 537px;
    left: 864px;
}

#slide22 #popUpLupa2 {
    display: none;
}


#slide22 #fondoLupa2 {
    position: absolute;
    background-image: url("../../content/img/slide22/fondoLupa2.png");
    width: 1024px;
    height: 768px;
    top: 64px;
    left: 0px;
}

#slide22 #txt81 {
    position: absolute;
    font-family: "Verdana";
    top: 164px;
    left: 345px;
    font-size: 18px;
    color: #430098;
}

#slide22 #txt81 span {
    font-family: "VerdanaBold";
}

#slide22 #txt82 {
    position: absolute;
    font-family: "Verdana";
    top: 365px;
    left: 66px;
    font-size: 18px;
    color: #844db8;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#slide22 #txt83 {
    position: absolute;
    font-family: "Verdana";
    top: 494px;
    left: 186px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt84 {
    position: absolute;
    font-family: "Verdana";
    top: 494px;
    left: 239px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt85 {
    position: absolute;
    font-family: "Verdana";
    top: 494px;
    left: 295px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt86 {
    position: absolute;
    font-family: "Verdana";
    top: 494px;
    left: 435px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt87 {
    position: absolute;
    font-family: "Verdana";
    top: 494px;
    left: 486px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt88 {
    position: absolute;
    font-family: "Verdana";
    top: 494px;
    left: 543px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt89 {
    position: absolute;
    font-family: "Verdana";
    top: 494px;
    left: 679px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt90 {
    position: absolute;
    font-family: "Verdana";
    top: 494px;
    left: 733px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt91 {
    position: absolute;
    font-family: "Verdana";
    top: 495px;
    left: 789px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt92 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 470px;
    left: 791px;
    font-size: 12px;
    color: #430098;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt93 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 461px;
    left: 533px;
    font-size: 12px;
    color: #430098;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt94 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 253px;
    left: 293px;
    font-size: 12px;
    color: #430098;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt95 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 207px;
    left: 233px;
    font-size: 12px;
    color: #c42e6a;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt96 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 399px;
    left: 479px;
    font-size: 12px;
    color: #c42e6a;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt97 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 443px;
    left: 726px;
    font-size: 12px;
    color: #c42e6a;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt98 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 455px;
    left: 678px;
    font-size: 12px;
    color: #ff6b00;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt99 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 421px;
    left: 431px;
    font-size: 12px;
    color: #ff6b00;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt100 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 223px;
    left: 178px;
    font-size: 12px;
    color: #ff6b00;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt101 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 527px;
    left: 185px;
    font-size: 15px;
    color: #844db8;
}

#slide22 #txt102 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 527px;
    left: 426px;
    font-size: 15px;
    color: #844db8;
}

#slide22 #txt103 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 527px;
    left: 733px;
    font-size: 15px;
    color: #844db8;
}

#slide22 #txt104 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 567px;
    left: 165px;
    font-size: 10px;
    color: #ff6b00;
}

#slide22 #txt104 span {
    font-family: "MyriadProBold";
}

#slide22 #txt105 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 567px;
    left: 300px;
    font-size: 10px;
    color: #c42e6a;
}

#slide22 #txt105 span {
    font-family: "MyriadProBold";
}

#slide22 #txt106 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 567px;
    left: 600px;
    font-size: 10px;
    color: #430098;
}

#slide22 #txt106 span {
    font-family: "MyriadProBold";
}

#slide22 #txt107 {
    position: absolute;
    font-family: "Verdana";
    top: 107px;
    left: 290px;
    font-size: 16px;
    color: #430098;
}

#slide22 #contenedor_barrasLupa2 {
    position: absolute;
    top: 217px;
    left: 169px;
    width: 663px;
    height: 292px;
}

#slide22 #barrasLupa2 {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0px;
    left: 0px;
    background-image: url(../../content/img/slide22/barrasLupa2.png);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide22 #txt108 {
    position: absolute;
    font-family: "Verdana";
    top: 227px;
    left: 228px;
    font-size: 9px;
    color: #430098;
}

#slide22 #txt108 span {
    font-family: "VerdanaBold";
}

#slide22 #txt109 {
    position: absolute;
    font-family: "Verdana";
    top: 326px;
    left: 108px;
    font-size: 9px;
    color: #844db8;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#slide22 #txt110 {
    position: absolute;
    font-family: "Verdana";
    top: 393px;
    left: 174px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt111 {
    position: absolute;
    font-family: "Verdana";
    top: 393px;
    left: 201px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt112 {
    position: absolute;
    font-family: "Verdana";
    top: 393px;
    left: 226px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt113 {
    position: absolute;
    font-family: "Verdana";
    top: 394px;
    left: 291px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt114 {
    position: absolute;
    font-family: "Verdana";
    top: 394px;
    left: 317px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt115 {
    position: absolute;
    font-family: "Verdana";
    top: 394px;
    left: 346px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt116 {
    position: absolute;
    font-family: "Verdana";
    top: 393px;
    left: 415px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt117 {
    position: absolute;
    font-family: "Verdana";
    top: 393px;
    left: 443px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt118 {
    position: absolute;
    font-family: "Verdana";
    top: 394px;
    left: 471px;
    font-size: 4px;
    color: #fff;
}

#slide22 #txt119 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 382px;
    left: 472px;
    font-size: 6px;
    color: #430098;
}

#slide22 #txt120 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 374px;
    left: 346px;
    font-size: 6px;
    color: #430098;
}

#slide22 #txt121 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 272px;
    left: 226px;
    font-size: 6px;
    color: #430098;
}

#slide22 #txt122 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 249px;
    left: 199px;
    font-size: 6px;
    color: #c42e6a;
}

#slide22 #txt123 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 354px;
    left: 315px;
    font-size: 6px;
    color: #c42e6a;
}

#slide22 #txt124 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 368px;
    left: 439px;
    font-size: 6px;
    color: #c42e6a;
}

#slide22 #txt125 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 374px;
    left: 413px;
    font-size: 6px;
    color: #ff6b00;
}

#slide22 #txt126 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 360px;
    left: 291px;
    font-size: 6px;
    color: #ff6b00;
}

#slide22 #txt127 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 258px;
    left: 175px;
    font-size: 6px;
    color: #ff6b00;
}

#slide22 #txt128 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 409px;
    left: 170px;
    font-size: 8px;
    color: #844db8;
}

#slide22 #txt129 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 409px;
    left: 285px;
    font-size: 8px;
    color: #844db8;
}

#slide22 #txt130 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 409px;
    left: 443px;
    font-size: 8px;
    color: #844db8;
}

#slide22 #txt131 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 433px;
    left: 159px;
    font-size: 5px;
    color: #ff6b00;
}

#slide22 #txt131 span {
    font-family: "MyriadProBold";
}

#slide22 #txt132 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 433px;
    left: 222px;
    font-size: 5px;
    color: #c42e6a;
}

#slide22 #txt132 span {
    font-family: "MyriadProBold";
}

#slide22 #txt133 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 433px;
    left: 376px;
    font-size: 5px;
    color: #430098;
}

#slide22 #txt133 span {
    font-family: "MyriadProBold";
}

#slide22 #graf3 {
    position: absolute;
    left: -55px;
    width: 592px;
    top: 230px;
}

#slide22 #txt134 {
    position: absolute;
    font-family: "Verdana";
    top: 149px;
    left: 294px;
    font-size: 18px;
    color: #430098;
}

#slide22 #txt134 span {
    font-family: "VerdanaBold";
}

#slide22 #txt135 {
    position: absolute;
    font-family: "Verdana";
    top: 345px;
    left: 61px;
    font-size: 18px;
    color: #844db8;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

#slide22 #txt136 {
    position: absolute;
    font-family: "Verdana";
    top: 484px;
    left: 195px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt137 {
    position: absolute;
    font-family: "Verdana";
    top: 484px;
    left: 249px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt138 {
    position: absolute;
    font-family: "Verdana";
    top: 484px;
    left: 303px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt139 {
    position: absolute;
    font-family: "Verdana";
    top: 484px;
    left: 429px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt140 {
    position: absolute;
    font-family: "Verdana";
    top: 484px;
    left: 483px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt141 {
    position: absolute;
    font-family: "Verdana";
    top: 484px;
    left: 540px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt142 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 680px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt143 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 733px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt144 {
    position: absolute;
    font-family: "Verdana";
    top: 483px;
    left: 790px;
    font-size: 7px;
    color: #fff;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt145 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 463px;
    left: 791px;
    font-size: 12px;
    color: #430098;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt146 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 444px;
    left: 538px;
    font-size: 12px;
    color: #430098;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt147 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 241px;
    left: 295px;
    font-size: 12px;
    color: #430098;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt148 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 196px;
    left: 243px;
    font-size: 12px;
    color: #c42e6a;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt149 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 399px;
    left: 474px;
    font-size: 12px;
    color: #c42e6a;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt150 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 433px;
    left: 724px;
    font-size: 12px;
    color: #c42e6a;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt151 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 444px;
    left: 669px;
    font-size: 12px;
    color: #ff6b00;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt152 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 417px;
    left: 428px;
    font-size: 12px;
    color: #ff6b00;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt153 {
    position: absolute;
    font-family: "VerdanaBold";
    top: 214px;
    left: 194px;
    font-size: 12px;
    color: #ff6b00;
    opacity: 0;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1.6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

#slide22 #txt154 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 516px;
    left: 190px;
    font-size: 15px;
    color: #844db8;
}

#slide22 #txt155 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 516px;
    left: 423px;
    font-size: 15px;
    color: #844db8;
}

#slide22 #txt156 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 516px;
    left: 733px;
    font-size: 15px;
    color: #844db8;
}

#slide22 #txt157 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 560px;
    left: 165px;
    font-size: 10px;
    color: #ff6b00;
}

#slide22 #txt157 span {
    font-family: "MyriadProBold";
}

#slide22 #txt158 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 560px;
    left: 295px;
    font-size: 10px;
    color: #c42e6a;
}

#slide22 #txt158 span {
    font-family: "MyriadProBold";
}

#slide22 #txt159 {
    position: absolute;
    font-family: "MyriadPro_Regular";
    top: 560px;
    left: 597px;
    font-size: 10px;
    color: #430098;
}

#slide22 #txt159 span {
    font-family: "MyriadProBold";
}

#slide22 #txt160 {
    position: absolute;
    font-family: "Verdana";
    top: 107px;
    left: 290px;
    font-size: 16px;
    color: #430098;
}

#slide22 #lupa3 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 642px;
    left: 452px;
}

#slide22 #cierraLupa3 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 537px;
    left: 864px;
}

#slide22 #popUpLupa3 {
    display: none;
}


#slide22 #fondoLupa3 {
    position: absolute;
    background-image: url("../../content/img/slide22/fondoLupa3.png");
    width: 1024px;
    height: 768px;
    top: 64px;
    left: 0px;
}

#slide22 #contenedor_barrasLupa3 {
    position: absolute;
    top: 205px;
    left: 175px;
    width: 659px;
    height: 292px;
}

#slide22 #barrasLupa3 {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 0px;
    left: 0px;
    background-image: url(../../content/img/slide22/barrasLupa3.png);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#slide22 #txt161 {
    position: absolute;
    font-family: "Verdana";
    top: 505px;
    left: 687px;
    font-size: 8px;
    color: #430098;
    line-height: 14px;
}

#slide22 #txt161 span {
    font-family: "VerdanaBold";
}