#ST_savedtracks .collection-presentation{
	list-style-type: none;
}
#ST_savedtracks .collection-presentation li{
	height: 85px;
	border-bottom: 1px solid #bbbbbb;
	padding: 7px 0;
}
#ST_savedtracks .slide-collection{
	float: left;
	width: 760px;
	background: #B1B1B1;
	height: 82px;
	border-radius: 7px;
	-webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.5), 0 0 2px 1px rgba(0, 0, 0, 0.7);
	overflow: hidden;
	margin-top: 3px;
	position: relative;
}
#ST_savedtracks .slide-collection div{
	height: 100%;
	-webkit-box-align: center;
	white-space: nowrap;
	float: left;
	width: auto;
}
#ST_savedtracks .slide-collection div div{
	-webkit-box-shadow: 0 0 5px 1px rgba(00, 00, 00, 0.5);
	background: white;
	float: left;
	width: 94px;
	margin-left: 10px;
	margin-top: 6px;
	height: 70px;
	background-size: 100% 100%;
}
#ST_savedtracks .slide-collection.big-list::after{
	content: "";
	display: block;
	position: absolute;
	right: -1px;
	top: 6px;
	width: 26px;
	height: 70px;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255, 255, 255, 0.3)), color-stop(100%,rgba(0, 0, 0, 0.2)));
}
#ST_savedtracks .slide-collection div div:nth-of-type(1){
	margin-left: 7px;
}
#ST_savedtracks .slide-collection.hidden{
	width: 107px;
}
#ST_savedtracks .slide-collection.hidden::after{
	display: none;
}
#ST_savedtracks .slide-collection.hidden .scroll-horizontal{
	-webkit-transform: none !important;
}
#ST_savedtracks .open, #ST_savedtracks .close{
	float: left;
	width: 21px;
	height: 85px;
}
#ST_savedtracks .open{
	background: url('../../content/img/ST_savedtracks/open.png') 6px 38px no-repeat;
	margin-right: 35px;
}
#ST_savedtracks .close{
	background: url('../../content/img/ST_savedtracks/close.png') 6px 38px no-repeat;
	margin-right: 5px;
}
#ST_savedtracks button{
	font-family: FrutigerLight;
	font-size: 12px;
	color: white;
	border: none;
	height: 22px;
	width: 108px;
	text-align: left;
	padding: 2px 0 0 5px;
}
#ST_savedtracks .start-presentation{
	background: url('../../content/img/ST_savedtracks/EditOpenPresentation.png') no-repeat 0 -22px;
}
#ST_savedtracks .edit-presentation{
	margin-top: 8px;
	background: url('../../content/img/ST_savedtracks/EditOpenPresentation.png') no-repeat;
}
#ST_savedtracks .delete-presentation{
	background: url('../../content/img/ST_savedtracks/deletePresentation.png') no-repeat;
	float: right;
	width: 31px;
	height: 31px;
	margin-top: 29px;
	margin-right: 7px;
}
#ST_savedtracks .button-group{
	float: left;
	width: 119px;
}
#ST_savedtracks .button-group label{
	color: #4a4a4a;
	font-family: OptimaBold;
	font-size: 14px;
	white-space: nowrap;
}
#ST_savedtracks .button-group label:nth-of-type(1) {
	display: block;
}
#ST_savedtracks .button-group label:nth-of-type(2){
	font-family: FrutigerLight;
	font-size: 11px;
}
#ST_savedtracks .scroll-container{
	position: relative;
	height: 630px;
	margin: 60px 20px 0 30px;
}
#ST_savedtracks .scroll-container.big-list::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 973px;
	height: 50px;
	pointer-events: none;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(white));
}