#thumbswrapper {
  height:0px;
  width:1024px;
  position:absolute;
  bottom:0;
  left:0;
  overflow:hidden;
  /*-webkit-transition:1s;*/
  z-index:300;

  background: #642d88;
}

#thumbswrapper.active {
  height:180px;
}

.thumb-btn {
  position:absolute;
  bottom:0;
  left:489px;
  width:55px;
  height:40px;
  z-index:3;
}

#thumbs {
  position:absolute;
  bottom:0;
  left:0;
  height:180px;
}

.thumb-bar{
  position: absolute;
  bottom: 0;
  width: 1024px;
  height: 5px;
  z-index: 2;
  border-bottom: 15px solid #642d88;
}

.thumb-arrow {
/*  position: absolute;
  bottom: 3px;
  left: 505px;
  width: 0px;
  height: 0px;
  z-index: 2;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #3DB7E4;*/
}

.basicthumbs {
  /*min-width:1024px;*/
/*  min-width: 410px;*/
  margin-top:10px;
}

.basicthumbs li {
  background-color:transparent;
  border:none;
  margin-top: 19px;
  margin-right: 12px;
  margin-left: 10px;
}
.basicthumbs li .ranking{
  width: 60px;
  height: 51px;
  position: relative;
  background: transparent;
  position: relative;
  bottom: 130px;
  left: 127px;
  background: transparent;
  background-image: url(../../content/img/rating_bg_small.png);
  background-repeat: no-repeat;
  background-position: top right;
  /*-webkit-transition: all 10ms ease-out;*/
  overflow: hidden;
  background-repeat: no-repeat;
  opacity: 0.9;  
}
.basicthumbs li .ranking p{
  position: relative;
  left: 4px;
  top: 2px;
  color: gray;
  font-size: 1.1em;
  /*-webkit-transition: all 10ms ease-out;*/
  z-index: 10;
}
.basicthumbs li .ranking.r_active p{
  position: relative;
  left: 49px;
  font-size: 1.3em;
  top: 9px;
  color: #652D89;
}
.basicthumbs li .ranking .ranker{
  width: 80px;
  height: 134px;
  background: transparent;
  position: absolute;
  top: 8px;
  left: 110px;
  z-index: 80;
}
.basicthumbs li .ranking.r_active{
  background-image: url(../../content/img/rating_bg.png);
  width: 183px;
  height: 179px;
  position: relative;
  left: 27px;
  bottom: 155px;
  opacity: 1.0;
}
.basicthumbs li .ranking .empty{
  width:0px;
  height:0px;
}
.basicthumbs li .ranking .star{
  width: 19px;
  height: 17px;
  background-image: url(../../content/img/star_inactive.png);
  background-repeat: no-repeat;
  position: relative;
  left: 38px;
  top: -5px;
  padding-bottom: 22px;
  /*-webkit-transition: all 10ms ease-out;*/
  }
  .basicthumbs li .ranking.r_active .star{
    left: 150px;
    top: -7px;
    padding-bottom: 10px;
  }

.basicthumbs li .ranking .star.s_active{
  background-image:url(../../content/img/star_active.png);
}

.basicthumbs li .ranking .rater{
  width:100%;
  height:100%;
  
  background-repeat:no-repeat;
  
}
.basicthumbs .selected {
  background-color:transparent;
}

.basicthumbs img {
  -webkit-box-shadow: 0px 0px 7px 1px #666;
  opacity:0.5;
  min-width:183px;
  min-height:124px;
}

.basicthumbs .selected img {
  opacity:1;
}

.basic-inline-thumbs {
  position:absolute;
  right:20px;
  bottom:75px;
  height:40px;
}

.basic-inline-thumbs li {
  background-image:url(../../content/img/app/popThumbButton.png);
  background-position:-20px 0;
  background-repeat:no-repeat;
  float:left;
  margin-left:10px;
  width:22px;
}

.basic-inline-thumbs li.selected {
  background-position:0 0;
}
