#userGuide{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	width: 1024px;
	height: 768px;
	z-index: -1;
	-webkit-transform: translate3d(0px, 0px, 0px);
	background-color: rgba(102, 45, 137, 0.3);
}
#userGuide.displaying{
	opacity: 1;
	z-index: 1100;
}

#userGuideTrigger{
	position: absolute;
	z-index: 1100;
	top: 0px;
	left: 877px;
	width: 50px;
	height: 50px;
	background: url(../../content/img/app/overlaycsbutton.png) no-repeat center center;
}

#userGuideTrigger.ug-on{
	background: url(../../content/img/app/overlayclosebutton.png) no-repeat center center;
}

.case-studies #userGuideTrigger{
	position: absolute;
	z-index: 1100;
	top: 8px;
	left: 738px;
	width: 50px;
	height: 50px;
}

.case-studies #userGuideTrigger.ug-on{
	background: url(../../content/img/app/overlayclosebutton.png) no-repeat center center;
}

.guidedot{
	background: url(../../content/img/app/special-dot.png) 10px 6px no-repeat;
	height: 50px;
	width: 50px;
	position: absolute;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -webkit-box;
	font-size: 19px;
	font-family: FrutigerLtstd67;
	color: #4C9296;
	margin-left: -9px;
	margin-top: -6px;
}

.guidetextbox{
	border: 1px solid #4C9296;
	-webkit-box-shadow: 1px 1px 1px #666;
	color: #4C9296;
	font-family: FrutigerLtstd67;
	display: none;
	padding: 8px;
	background-color: white;
	border-radius: 7px;
	line-height: 18px;
	font-size: 15px;
	width: 250px;
	min-height: 18px;
	padding-top: 11px;
	position:absolute;
	z-index:1;
	top:110px;
	padding-left: 10px;
}

.guidedot + .guidetextbox::after{
	content:"";
	background:url(../../content/img/app/userguidearrowgreen.png) no-repeat;
	height:14px;
	width:27px;
	position:absolute;
	top: -14px;
	left: 15px;
}

.guidedot.generaldot + .guidetextbox::after{
	background:url(../../content/img/app/userguidearrow.png) no-repeat;
}

.generaldot{
	background: url(../../content/img/app/general-dot.png) 10px 6px no-repeat;
	color: #6E388F;
}

.green-dot{
	background: url(../../content/img/app/superspecial-dot.png) 10px 6px no-repeat;
	color:white;
}

.generaldot + .guidetextbox{
	background:none;
	background-color:white;
	border-color:#6E388F;
}

.ug-closeguide{
	top: 50px;
	left: 885px;
}
.ug-closeguide + .guidetextbox{
	top: 110px;
	left: 653px;
}
.ug-closeguide + .guidetextbox::after{
	left: 234px;
}
.ug-home{
	top: 50px;
	left: 11px;
}
.ug-home + .guidetextbox{
	left: 1px;
}
.ug-efficacy{
	top:50px;
	left: 65px;
}
.ug-efficacy + .guidetextbox{
	left:52px;
}
.ug-patients{
	top:50px;
	left: 121px;
}
.ug-patients + .guidetextbox{
	left:108px;
}
.ug-safety{
	top:50px;
	left: 176px;
}
.ug-safety + .guidetextbox{
	left:162px;
}
.ug-moa{
	top:50px;
	left: 231px;
}
.ug-moa + .guidetextbox{
	left:217px;
}
.ug-fasttrack{
	top:50px;
	left: 523px;
}
.ug-fasttrack + .guidetextbox{
	left:380px;
}
.ug-fasttrack + .guidetextbox::after{
	left: 145px;
}
.ug-viewcustom{
	top:50px;
	left: 587px;
}
.ug-viewcustom + .guidetextbox{
	left:444px;
}
.ug-viewcustom + .guidetextbox::after{
	left: 145px;
}
.ug-buildcustom{
	top:50px;
	left: 650px;
}
.ug-buildcustom + .guidetextbox{
	left:506px;
}
.ug-buildcustom + .guidetextbox::after{
	left: 145px;
}
.ug-resources{
	top:50px;
	left: 704px;
}
.ug-resources + .guidetextbox{
	left:561px;
}
.ug-resources + .guidetextbox::after{
	left: 145px;
}
.ug-shoppingcart{
	top:50px;
	left: 765px;
}
.ug-shoppingcart + .guidetextbox{
	left:621px;
}
.ug-shoppingcart + .guidetextbox::after{
	left: 145px;
}
.ug-references{
	top:50px;
	left: 829px;
}
.ug-references + .guidetextbox{
	left: 642px;
}
.ug-references + .guidetextbox::after{
	left: 188px;
}
.ug-reftabs{
	top: 77px;
	left: 119px;
}
.ug-reftabs + .guidetextbox{
	left: 1px;
	top: 136px;
}
.ug-reftabs + .guidetextbox::after{
	left: 120px;
}
.ug-closepopup{
	top: 89px;
	left: 937px;
}
.ug-closepopup + .guidetextbox{
	top: 146px;
	left: 728px;
}
.ug-closepopup + .guidetextbox::after{
	left: 212px;
}
.ug-addcart{
	top: 583px;
	left: 106px;
}
.ug-addcart + .guidetextbox{
	top: 569px;
	left: 164px;
}
.ug-addcart + .guidetextbox::after{
	left: -20px;
	top: 22px;
	-webkit-transform:rotate(-90deg);
}
.ug-openref{
	top: 650px;
	left: 106px;
}
.ug-openref + .guidetextbox{
	top: 645px;
	left: 164px;
}
.ug-openref + .guidetextbox::after{
	left: -20px;
	top: 12px;
	-webkit-transform:rotate(-90deg);
}
.ug-openrefpopup{
	top: 222px;
	left: 498px;
}
.ug-openrefpopup + .guidetextbox{
	top:282px;
	left:380px;
}
.ug-openrefpopup + .guidetextbox::after{
	left: 120px;
}
.ug-openreflist{
	top: 716px;
	left: 39px;
}
.ug-openreflist + .guidetextbox{
	top: 704px;
	left: 96px;
}
.ug-openreflist + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-openoverview{
	top: 716px;
	left: 466px;
}
.ug-openoverview + .guidetextbox{
	top: 704px;
	left: 523px;
}
.ug-openoverview + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-logobutton{
	top: 716px;
	left: 889px;
}
.ug-logobutton + .guidetextbox{
	top: 668px;
	left: 596px;
}
.ug-logobutton + .guidetextbox::after{
	left: 261px;
	top: 57px;
	-webkit-transform: rotate(90deg);
}
.ug-intrologo{
	top: 708px;
	left: 853px;
}
.ug-intrologo + .guidetextbox{
	top: 587px;
	left: 684px;
}
.ug-intrologo + .guidetextbox::after{
	left: 170px;
	top:91px;
	-webkit-transform:rotate(180deg);
}
.ug-drawtoolbutton{
	top: 81px;
	left: 918px;
}
.ug-drawtoolbutton + .guidetextbox{
	top: 141px;
	left: 752px;
}
.ug-drawtoolbutton + .guidetextbox::after{
	left: 168px;
}
.ug-openpdf{
	top: 511px;
	left: 22px;
}
.ug-openpdf + .guidetextbox{
	top: 423px;
	left: 3px;
}
.ug-openpdf + .guidetextbox::after{
	left: 21px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-reflistadd{
	top: 511px;
	left: 323px;
}
.ug-reflistadd + .guidetextbox{
	top: 423px;
	left: 205px;
}
.ug-reflistadd + .guidetextbox::after{
	left: 120px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-slidetap{
	top: 595px;
	left: 18px;
}
.ug-slidetap + .guidetextbox{
	top: 656px;
	left: 2px;
}
.ug-slidetap + .guidetextbox::after{
	left: 17px;
	top: -14px;
}
.ug-rateslide{
	top: 595px;
	left: 140px;
}
.ug-rateslide + .guidetextbox{
	top: 656px;
	left: 22px;
}
.ug-rateslide + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-swipeslides{
	top: 562px;
	left: 536px;
}
.ug-swipeslides + .guidetextbox{
	top: 624px;
	left: 417px;
}
.ug-swipeslides + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-penciltool{
	top: 113px;
	left: 912px;
}
.ug-penciltool + .guidetextbox{
	top: 101px;
	left: 614px;
}
.ug-penciltool + .guidetextbox::after{
	left: 259px;
	top: 21px;
	-webkit-transform:rotate(90deg);
}
.ug-brushtool{
	left: 912px;
	top: 163px;
}
.ug-brushtool + .guidetextbox{
	top: 151px;
	left: 614px;
}
.ug-brushtool + .guidetextbox::after{
	left: 259px;
	top: 21px;
	-webkit-transform:rotate(90deg);
}
.ug-erasetool{
	left: 912px;
	top: 213px;
}
.ug-erasetool + .guidetextbox{
	top: 202px;
	left: 614px;
}
.ug-erasetool + .guidetextbox::after{
	left: 259px;
	top: 21px;
	-webkit-transform:rotate(90deg);
}
.ug-closetool{
	left: 912px;
	top: 263px;
}
.ug-closetool + .guidetextbox{
	top: 252px;
	left: 614px;
}
.ug-closetool + .guidetextbox::after{
	left: 259px;
	top: 21px;
	-webkit-transform:rotate(90deg);
}
.ug-nsclcbutton{
	top: 660px;
	left: 625px;
}
.ug-nsclcbutton + .guidetextbox{
	top: 561px;
	left: 507px;
}
.ug-nsclcbutton + .guidetextbox::after{
	left: 120px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-disclaimer{
	top: 704px;
	left: 300px;
}
.ug-disclaimer + .guidetextbox{
	top: 624px;
	left: 182px;
}
.ug-disclaimer + .guidetextbox::after{
	left: 120px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-survival{
	top: 156px;
	left: 184px;
}
.ug-survival + .guidetextbox{
	top: 209px;
	left: 66px;
}
.ug-survival + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-tumour{
	top:156px;
	left: 494px;
}
.ug-tumour + .guidetextbox{
	top: 209px;
	left: 376px;
}
.ug-tumour + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-symptom{
	top:156px;
	left:804px;
}
.ug-symptom + .guidetextbox{
	top: 209px;
	left: 686px;
}
.ug-symptom + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-quality{
	top: 364px;
	left: 184px;
}
.ug-quality + .guidetextbox{
	top: 418px;
	left: 66px;
}
.ug-quality + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-tolerance{
	top: 364px;
	left:494px;
}
.ug-tolerance + .guidetextbox{
	top: 418px;
	left: 376px;
}
.ug-tolerance + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-treatment{
	top: 364px;
	left:804px;
}
.ug-treatment + .guidetextbox{
	top: 418px;
	left: 686px;
}
.ug-treatment + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-play{
	top: 647px;
	left: 420px;
}
.ug-play + .guidetextbox{
	top: 531px;
	left: 301px;
}
.ug-play + .guidetextbox::after{
	left: 120px;
	top: 91px;
	-webkit-transform:rotate(180deg);
}
.ug-e45tab{
	top: 188px;
	left: 38px;
}
.ug-e45tab + .guidetextbox{
	top: 243px;
	left: 1px;
}
.ug-e45tab + .guidetextbox::after{
	left: 39px;
	top: -14px;
}
.ug-availtab{
	top: 188px;
	left:142px;
}
.ug-availtab + .guidetextbox{
	top: 243px;
	left: 24px;
}
.ug-availtab + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-sailtab{
	top: 188px;
	left: 248px;
}
.ug-sailtab + .guidetextbox{
	top: 243px;
	left: 130px;
}
.ug-sailtab + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-avastinbar{
	top: 486px;
	left: 204px;
}
.ug-avastinbar + .guidetextbox{
	top: 539px;
	left: 86px;
}
.ug-avastinbar + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-avastinbar1{
	top: 444px;
	left: 204px;
}
.ug-avastinbar1 + .guidetextbox{
	top: 331px;
	left: 86px;
}
.ug-avastinbar1 + .guidetextbox::after{
	left: 120px;
	top: 91px;
	-webkit-transform:rotate(180deg);
}
.ug-avastinbar2{
	left: 204px;
	top: 541px;
}
.ug-avastinbar2 + .guidetextbox{
	top: 596px;
	left: 86px;
}
.ug-avastinbar2 + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-hrbar{
	top: 359px;
	left: 593px;
}
.ug-hrbar + .guidetextbox{
	top: 415px;
	left: 475px;
}
.ug-hrbar + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-sailbutton{
	top: 604px;
	left: 693px;
}
.ug-sailbutton + .guidetextbox{
	top: 504px;
	left: 575px;
}
.ug-sailbutton + .guidetextbox::after{
	left: 120px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-jmdbbutton{
	top: 604px;
	left: 918px;
}
.ug-jmdbbutton + .guidetextbox{
	top: 522px;
	left: 740px;
}
.ug-jmdbbutton + .guidetextbox::after{
	left: 180px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-yaxishand{
	top: 440px;
	left: 27px;
}
.ug-yaxishand + .guidetextbox{
	top: 341px;
	left: 1px;
}
.ug-yaxishand + .guidetextbox::after{
	left: 28px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-xaxishand{
	top: 665px;
	left: 88px;
}
.ug-xaxishand + .guidetextbox{
	top: 568px;
	left: 1px;
}
.ug-xaxishand + .guidetextbox::after{
	left: 89px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-closejmdbpop{
	top: 713px;
	left: 925px;
}
.ug-closejmdbpop + .guidetextbox{
	top: 650px;
	left: 747px;
}
.ug-closejmdbpop + .guidetextbox::after{
	left: 180px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-jmdbhrbar{
	top: 343px;
	left: 593px;
}
.ug-jmdbhrbar + .guidetextbox{
	top: 400px;
	left: 475px;
}
.ug-jmdbhrbar + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-e45nonsq{
	top: 212px;
	left: 65px;
}
.ug-e45nonsq + .guidetextbox{
	top: 199px;
	left: 117px;
}
.ug-e45nonsq + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-e45adeno{
	top: 267px;
	left: 65px;
}
.ug-e45adeno + .guidetextbox{
	top: 255px;
	left: 117px;
}
.ug-e45adeno + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-avastinnonsq{
	top: 346px;
	left: 65px;
}
.ug-avastinnonsq + .guidetextbox{
	top: 334px;
	left: 117px;
}
.ug-avastinnonsq + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-avastinadeno{
	top: 401px;
	left: 65px;
}
.ug-avastinadeno + .guidetextbox{
	top: 389px;
	left: 117px;
}
.ug-avastinadeno + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-jmdbnonsq{
	top: 480px;
	left: 65px;
}
.ug-jmdbnonsq + .guidetextbox{
	top: 468px;
	left: 117px;
}
.ug-jmdbnonsq + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-jmdbadeno{
	top: 534px;
	left: 65px;
}
.ug-jmdbadeno + .guidetextbox{
	top: 522px;
	left: 117px;
}
.ug-jmdbadeno + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-ospfsswitch{
	top: 620px;
	left: 95px;
}
.ug-ospfsswitch + .guidetextbox{
	top: 607px;
	left: 147px;
}
.ug-ospfsswitch + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-paramountbutton{
	top: 540px;
	left: 891px;
}
.ug-paramountbutton + .guidetextbox{
	top: 445px;
	left: 713px;
}
.ug-paramountbutton + .guidetextbox::after{
	left: 180px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-stopavastin{
	top: 379px;
	left: 63px;
}
.ug-stopavastin + .guidetextbox{
	top: 302px;
	left: 5px;
}
.ug-stopavastin + .guidetextbox::after{
	left: 60px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-continueavastin{
	top: 600px;
	left: 63px;
}
.ug-continueavastin + .guidetextbox{
	top: 523px;
	left: 5px;
}
.ug-continueavastin + .guidetextbox::after{
	left: 60px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-elderlybutton{
	top: 242px;
	left: 138px;
}
.ug-elderlybutton + .guidetextbox{
	top: 229px;
	left: 195px;
}
.ug-elderlybutton + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-hyperbutton{
	top: 305px;
	left: 138px;
}
.ug-hyperbutton + .guidetextbox{
	top: 292px;
	left: 195px;
}
.ug-hyperbutton + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-anticoagbutton{
	top: 369px;
	left: 138px;
}
.ug-anticoagbutton + .guidetextbox{
	top: 356px;
	left: 195px;
}
.ug-anticoagbutton + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-cnsbutton{
	top: 433px;
	left: 138px;
}
.ug-cnsbutton + .guidetextbox{
	top: 420px;
	left: 195px;
}
.ug-cnsbutton + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-chemobutton{
	top: 497px;
	left: 138px;
}
.ug-chemobutton + .guidetextbox{
	top: 484px;
	left: 195px;
}
.ug-chemobutton + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-centralbutton{
	top: 561px;
	left: 138px;
}
.ug-centralbutton + .guidetextbox{
	top: 548px;
	left: 195px;
}
.ug-centralbutton + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-prebutton{
	top: 625px;
	left: 138px;
}
.ug-prebutton + .guidetextbox{
	top: 612px;
	left: 195px;
}
.ug-prebutton + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-casebutton{
	top: 694px;
	left: 138px;
}
.ug-casebutton + .guidetextbox{
	top: 681px;
	left: 195px;
}
.ug-casebutton + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-agebar{
	top: 194px;
	left: 544px;
}
.ug-agebar + .guidetextbox{
	top: 182px;
	left: 602px;
}
.ug-agebar + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-checkerbuttons{
	top: 304px;
	left: 544px;
}
.ug-checkerbuttons + .guidetextbox{
	top: 361px;
	left: 426px;
}
.ug-checkerbuttons + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-tumourbar{
	top: 510px;
	left: 544px;
}
.ug-tumourbar + .guidetextbox{
	top: 323px;
	left: 426px;
}
.ug-tumourbar + .guidetextbox::after{
	left: 120px;
	top: 163px;
	-webkit-transform:rotate(180deg);
}
.ug-gotopp{
	top: 190px;
	left: 131px;
}
.ug-gotopp + .guidetextbox{
	top: 246px;
	left: 13px;
}
.ug-gotopp + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-shownonelder{
	top: 478px;
	left: 157px;
}
.ug-shownonelder + .guidetextbox{
	top: 397px;
	left: 39px;
}
.ug-shownonelder + .guidetextbox::after{
	left: 120px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-showelder{
	top: 478px;
	left: 271px;
}
.ug-showelder + .guidetextbox{
	top: 397px;
	left: 153px;
}
.ug-showelder + .guidetextbox::after{
	left: 120px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-videosbutton{
	top: 639px;
	left: 600px;
}
.ug-videosbutton + .guidetextbox{
	top: 540px;
	left: 482px;
}
.ug-videosbutton + .guidetextbox::after{
	left: 120px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-closevideopop{
	top: 652px;
	left: 886px;
}
.ug-closevideopop + .guidetextbox{
	top: 590px;
	left: 708px;
}
.ug-closevideopop + .guidetextbox::after{
	left: 180px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-closedisclaimer{
	top: 639px;
	left: 886px;
}
.ug-closedisclaimer + .guidetextbox{
	top: 577px;
	left: 708px;
}
.ug-closedisclaimer + .guidetextbox::after{
	left: 180px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-selectfirst{
	top: 202px;
	left: 270px;
}
.ug-selectfirst + .guidetextbox{
	top: 257px;
	left: 152px;
}
.ug-selectfirst + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-selectsecond{
	top: 202px;
	left: 418px;
}
.ug-selectsecond + .guidetextbox{
	top: 257px;
	left: 300px;
}
.ug-selectsecond + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-selectthird{
	top: 202px;
	left: 565px;
}
.ug-selectthird + .guidetextbox{
	top: 257px;
	left: 447px;
}
.ug-selectthird + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-selectfourth{
	top: 202px;
	left: 713px;
}
.ug-selectfourth + .guidetextbox{
	top: 257px;
	left: 595px;
}
.ug-selectfourth + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-selectedvideo{
	top: 597px;
	left: 229px;
}
.ug-selectedvideo + .guidetextbox{
	top: 536px;
	left: 111px;
}
.ug-selectedvideo + .guidetextbox::after{
	left: 120px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-csgotopp {
	top: 161px;
	left: 131px;
}
.ug-csgotopp + .guidetextbox{
	top: 219px;
	left: 13px;
}
.ug-csgotopp + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-casestudyboxes{
	top: 439px;
	left: 46px;
}
.ug-casestudyboxes + .guidetextbox{
	top: 359px;
	left: 1px;
}
.ug-casestudyboxes + .guidetextbox::after{
	left: 48px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-cscloseguide{
	top: 17px;
	left: 789px;
}
.ug-cscloseguide + .guidetextbox{
	top: 71px;
	left: 610px;
}
.ug-cscloseguide + .guidetextbox::after{
	left: 180px;
	top: -14px;
}
.ug-closecasesstudy{
	top: 675px;
	left: 908px;
}
.ug-closecasesstudy + .guidetextbox{
	top: 662px;
	left: 615px;
}
.ug-closecasesstudy + .guidetextbox::after{
	left: 259px;
	top: 21px;
	-webkit-transform:rotate(90deg);
}
.ug-addcstocart{
	top: 615px;
	left: 908px;
}
.ug-addcstocart + .guidetextbox{
	top: 603px;
	left: 615px;
}
.ug-addcstocart + .guidetextbox::after{
	left: 259px;
	top: 21px;
	-webkit-transform:rotate(90deg);
}
.ug-opendrawtool{
	top: 111px;
	left: 972px;
}
.ug-opendrawtool + .guidetextbox{
	top: 167px;
	left: 754px;
}
.ug-opendrawtool + .guidetextbox::after{
	left: 219px;
}
.case-studies .ug-penciltool{
	top: 89px;
	left: 912px;
}
.case-studies .ug-penciltool + .guidetextbox{
	top: 77px;
	left: 614px;
}
.case-studies .ug-penciltool + .guidetextbox::after{
	left: 259px;
	top: 21px;
	-webkit-transform:rotate(90deg);
}
.case-studies .ug-brushtool{
	left: 912px;
	top: 139px;
}
.case-studies .ug-brushtool + .guidetextbox{
	top: 127px;
	left: 614px;
}
.case-studies .ug-brushtool + .guidetextbox::after{
	left: 259px;
	top: 21px;
	-webkit-transform:rotate(90deg);
}
.case-studies .ug-erasetool{
	left: 912px;
	top: 189px;
}
.case-studies .ug-erasetool + .guidetextbox{
	top: 178px;
	left: 614px;
}
.case-studies .ug-erasetool + .guidetextbox::after{
	left: 259px;
	top: 21px;
	-webkit-transform:rotate(90deg);
}
.case-studies .ug-closetool{
	left: 912px;
	top: 239px;
}
.case-studies .ug-closetool + .guidetextbox{
	top: 228px;
	left: 614px;
}
.case-studies .ug-closetool + .guidetextbox::after{
	left: 259px;
	top: 21px;
	-webkit-transform:rotate(90deg);
}
.ug-zoomimage{
	top: 458px;
	left: 125px;
}
.ug-zoomimage + .guidetextbox{
	top: 395px;
	left: 7px;
}
.ug-zoomimage + .guidetextbox::after{
	left: 120px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-zoomoutimage{
	top: 449px;
	left: 78px;
}
.ug-zoomoutimage + .guidetextbox{
	top: 387px;
	left: 1px;
}
.ug-zoomoutimage + .guidetextbox::after{
	left: 79px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-tumourlocation{
	top: 400px;
	left: 317px;
}
.ug-tumourlocation + .guidetextbox{
	top: 320px;
	left: 199px;
}
.ug-tumourlocation + .guidetextbox::after{
	left: 120px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-treatmentoptions{
	top: 481px;
	left: 738px;
}
.ug-treatmentoptions + .guidetextbox{
	top: 383px;
	left: 620px;
}
.ug-treatmentoptions + .guidetextbox::after{
	left: 120px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-viewbutton{
	top: 642px;
	left: 589px;
}
.ug-viewbutton + .guidetextbox{
	top: 526px;
	left: 471px;
}
.ug-viewbutton + .guidetextbox::after{
	left: 120px;
	top: 91px;
	-webkit-transform:rotate(180deg);
}
.ug-csclosepopup{
	top: 637px;
	left: 877px;
}
.ug-csclosepopup + .guidetextbox{
	top: 573px;
	left: 699px;
}
.ug-csclosepopup + .guidetextbox::after{
	left: 180px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-csreflist{
	top: 656px;
	left: 80px;
}
.ug-csreflist + .guidetextbox{
	top: 573px;
	left: 44px;
}
.ug-csreflist + .guidetextbox::after{
	left: 38px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.case-studies-popup .ug-closeguide{
	top: 17px;
	left: 787px;
}
.case-studies-popup .ug-closeguide + .guidetextbox{
	top: 75px;
	left: 608px;
}
.case-studies-popup .ug-closeguide + .guidetextbox::after{
	left: 180px;
}
.case-studies-popup .ug-drawtoolbutton{
	top: 141px;
	left: 936px;
}
.case-studies-popup .ug-drawtoolbutton + .guidetextbox{
	top: 199px;
	left: 754px;
}
.case-studies-popup .ug-drawtoolbutton + .guidetextbox::after{
	left: 183px;
}
.ug-adverseboxes{
	top: 389px;
	left: 270px;
}
.ug-adverseboxes + .guidetextbox{
	top: 220px;
	left: 152px;
}
.ug-adverseboxes + .guidetextbox::after{
	left: 120px;
	top: 145px;
	-webkit-transform:rotate(180deg);
}
.ug-addadversebox{
	top: 637px;
	left: 899px;
}
.ug-addadversebox + .guidetextbox{
	top: 466px;
	left: 721px;
}
.ug-addadversebox + .guidetextbox::after{
	left: 180px;
	top: 145px;
	-webkit-transform:rotate(180deg);
}
.ug-percentagebar{
	top: 404px;
	left: 216px;
}
.ug-percentagebar + .guidetextbox{
	top: 324px;
	left: 98px;
}
.ug-percentagebar + .guidetextbox::after{
	left: 120px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-hypercontinue{
	top: 318px;
	left: 664px;
}
.ug-hypercontinue + .guidetextbox{
	top: 219px;
	left: 605px;
}
.ug-hypercontinue + .guidetextbox::after{
	left: 60px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-proteincontinue{
	top: 318px;
	left: 649px;
}
.ug-proteincontinue + .guidetextbox{
	top: 219px;
	left: 590px;
}
.ug-proteincontinue + .guidetextbox::after{
	left: 60px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-gotodiseasecontrol{
	top: 423px;
	left: 914px;
}
.ug-gotodiseasecontrol + .guidetextbox{
	top: 344px;
	left: 736px;
}
.ug-gotodiseasecontrol + .guidetextbox::after{
	left: 180px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-backbutton{
	top: 423px;
	left: 157px;
}
.ug-backbutton + .guidetextbox{
	top: 344px;
	left: 99px;
}
.ug-backbutton + .guidetextbox::after{
	left: 60px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-allmen{
	top: 457px;
	left: 565px;
}
.ug-allmen + .guidetextbox{
	top: 377px;
	left: 447px;
}
.ug-allmen + .guidetextbox::after{
	left: 120px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-haemocontinue{
	top: 318px;
	left: 886px;
}
.ug-haemocontinue + .guidetextbox{
	top: 219px;
	left: 708px;
}
.ug-haemocontinue + .guidetextbox::after{
	left: 180px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-thrombcontinue{
	top: 318px;
	left: 886px;
}
.ug-thrombcontinue + .guidetextbox{
	top: 219px;
	left: 708px;
}
.ug-thrombcontinue + .guidetextbox::after{
	left: 180px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-firsttablearea{
	top: 442px;
	left: 56px;
}
.ug-firsttablearea + .guidetextbox{
	top: 362px;
	left: 1px;
}
.ug-firsttablearea + .guidetextbox::after{
	left: 57px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-firstzoombutton{
	top: 584px;
	left: 948px;
}
.ug-firstzoombutton + .guidetextbox{
	top: 521px;
	left: 753px;
}
.ug-firstzoombutton + .guidetextbox::after{
	left: 197px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-firstzoomoutbutton{
	top: 584px;
	left: 948px;
}
.ug-firstzoomoutbutton + .guidetextbox{
	top: 521px;
	left: 753px;
}
.ug-firstzoomoutbutton + .guidetextbox::after{
	left: 197px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-simtablearea{
	top: 498px;
	left: 56px;
}
.ug-simtablearea + .guidetextbox{
	top: 418px;
	left: 1px;
}
.ug-simtablearea + .guidetextbox::after{
	left: 57px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-simzoombutton{
	left: 948px;
	top: 646px;
}
.ug-simzoombutton + .guidetextbox{
	top: 583px;
	left: 753px;
}
.ug-simzoombutton + .guidetextbox::after{
	left: 197px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-simzoomoutbutton{
	left: 948px;
	top: 646px;
}
.ug-simzoomoutbutton + .guidetextbox{
	top: 583px;
	left: 753px;
}
.ug-simzoomoutbutton + .guidetextbox::after{
	left: 197px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-avastinbutton{
	top: 391px;
	left: 424px;
}
.ug-avastinbutton + .guidetextbox{
	top: 331px;
	left: 306px;
}
.ug-avastinbutton + .guidetextbox::after{
	left: 120px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-receptbutton{
	top: 493px;
	left: 203px;
}
.ug-receptbutton + .guidetextbox{
	top: 433px;
	left: 85px;
}
.ug-receptbutton + .guidetextbox::after{
	left: 120px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-vegfbutton{
	top: 355px;
	left: 162px;
}
.ug-vegfbutton + .guidetextbox{
	top: 295px;
	left: 44px;
}
.ug-vegfbutton + .guidetextbox::after{
	left: 120px;
	top: 37px;
	-webkit-transform:rotate(180deg);
}
.ug-angiotab{
	top: 156px;
	left: 70px;
}
.ug-angiotab + .guidetextbox{
	top: 212px;
	left: 1px;
}
.ug-angiotab + .guidetextbox::after{
	left: 71px;
	top: -14px;
}
.ug-overviewtab{
	top: 156px;
	left: 250px;
}
.ug-overviewtab + .guidetextbox{
	top: 212px;
	left: 132px;
}
.ug-overviewtab + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-detailtab{
	top: 156px;
	left: 508px;
}
.ug-detailtab + .guidetextbox{
	top: 212px;
	left: 390px;
}
.ug-detailtab + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-maintaintab{
	top: 156px;
	left: 752px;
}
.ug-maintaintab + .guidetextbox{
	top: 212px;
	left: 634px;
}
.ug-maintaintab + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-startbutton{
	top: 77px;
	left: 304px;
}
.ug-startbutton + .guidetextbox{
	top: 0px;
	left: 290px;
}
.ug-startbutton + .guidetextbox::after{
	left: 16px;
	top: 55px;
	-webkit-transform: rotate(180deg);
}
.ug-editbutton{
	top: 165px;
	left: 304px;
}
.ug-editbutton + .guidetextbox{
	top: 219px;
	left: 186px;
}
.ug-editbutton + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-overviewfield{
	top: 77px;
	left: 387px;
}
.ug-overviewfield + .guidetextbox{
	top: 132px;
	left: 374px;
}
.ug-overviewfield + .guidetextbox::after{
	left: 15px;
	top: -14px;
}
.ug-deletebutton{
	top: 158px;
	left: 965px;
}
.ug-deletebutton + .guidetextbox{
	top: 213px;
	left: 751px;
}
.ug-deletebutton + .guidetextbox::after{
	left: 215px;
	top: -14px;
}
.ug-inputfields{
	top: 78px;
	left: 103px;
}
.ug-inputfields + .guidetextbox{
	top: 132px;
	left: 1px;
}	
.ug-inputfields + .guidetextbox::after{
	left: 104px;
	top: -14px;
}
.ug-savebutton{
	top: 84px;
	left: 829px;
}
.ug-savebutton + .guidetextbox{
	top: 140px;
	left: 711px;
}
.ug-savebutton + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-playbutton{
	top: 84px;
	left: 942px;
}
.ug-playbutton + .guidetextbox{
	top: 140px;
	left: 747px;
}
.ug-playbutton + .guidetextbox::after{
	left: 196px;
	top: -14px;
}
.ug-scrollchapters{
	top: 550px;
	left: 496px;
}
.ug-scrollchapters + .guidetextbox{
	top: 380px;
	left: 378px;
}
.ug-scrollchapters + .guidetextbox::after{
	left: 120px;
	top: 145px;
	-webkit-transform:rotate(180deg);
}
.ug-selectedslides{
	top: 192px;
	left: 496px;
}
.ug-selectedslides + .guidetextbox{
	top: 247px;
	left: 378px;
}
.ug-selectedslides + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-clickabletabs{
	top: 74px;
	left: 308px;
}
.ug-clickabletabs + .guidetextbox{
	top: 132px;
	left: 87px;
}
.ug-clickabletabs + .guidetextbox::after{
	left: 223px;
	top: -14px;
}
.ug-trialsheets{
	top: 390px;
	left: 492px;
}
.ug-trialsheets + .guidetextbox{
	top: 309px;
	left: 374px;
}
.ug-trialsheets + .guidetextbox::after{
	left: 120px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-congressupdates{
	top: 170px;
	left: 468px;
}
.ug-congressupdates + .guidetextbox{
	top: 225px;
	left: 350px;
}
.ug-congressupdates + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-onlinecheckbox{
	top: 277px;
	left: 641px;
}
.ug-onlinecheckbox + .guidetextbox{
	top: 199px;
	left: 523px;
}
.ug-onlinecheckbox + .guidetextbox::after{
	left: 120px;
	top: 55px;
	-webkit-transform:rotate(180deg);
}
.ug-picktopics{
	top: 364px;
	left: 73px;
}
.ug-picktopics + .guidetextbox{
	top: 249px;
	left: 16px;
}
.ug-picktopics + .guidetextbox::after{
	left: 60px;
	top: 91px;
	-webkit-transform:rotate(180deg);
}
.ug-othertopic{
	top: 632px;
	left: 293px;
}
.ug-othertopic + .guidetextbox{
	top: 499px;
	left: 175px;
}
.ug-othertopic + .guidetextbox::after{
	left: 120px;
	top: 109px;
	-webkit-transform:rotate(180deg);
}
.ug-emailfield{
	top: 140px;
	left: 36px;
}
.ug-emailfield + .guidetextbox{
	top: 129px;
	left: 89px;
}
.ug-emailfield + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-addedresources{
	top: 314px;
	left: 327px;
}
.ug-addedresources + .guidetextbox{
	top: 302px;
	left: 382px;
}
.ug-addedresources + .guidetextbox::after{
	left: -20px;
	top: 21px;
	-webkit-transform:rotate(-90deg);
}
.ug-moreresources{
	top: 172px;
	left: 665px;
}
.ug-moreresources + .guidetextbox{
	top: 228px;
	left: 547px;
}
.ug-moreresources + .guidetextbox::after{
	left: 120px;
	top: -14px;
}
.ug-customtextfield{
	top: 660px;
	left: 58px;
}
.ug-customtextfield + .guidetextbox{
	top: 509px;
	left: 1px;
}
.ug-customtextfield + .guidetextbox::after{
	left: 60px;
	top: 127px;
	-webkit-transform:rotate(180deg);
}
.ug-sendmailbutton{
	top: 660px;
	left: 319px;
}
.ug-sendmailbutton + .guidetextbox{
	top: 564px;
	left: 201px;
}
.ug-sendmailbutton + .guidetextbox::after{
	left: 120px;
	top: 73px;
	-webkit-transform:rotate(180deg);
}
.ug-referencelist{
	top: 374px;
	left: 45px;
}
.ug-referencelist + .guidetextbox{
	top: 259px;
	left: 1px;
}
.ug-referencelist + .guidetextbox::after{
	left: 46px;
	top: 91px;
	-webkit-transform:rotate(180deg);
}

.normalbg{
	background: url('../../content/img/fast/target-bg.jpg') no-repeat;
}
.avastinbg.avastinbubbles{
	background: url('../../content/img/fast/avastin.png') no-repeat,
				url('../../content/img/fast/target-bg.jpg') no-repeat;
}
.avastinbg.receptbubbles,
.avastinbg.vegfbubbles{
	background: url('../../content/img/fast/nothing.jpg') no-repeat,
				url('../../content/img/fast/target-bg.jpg') no-repeat;
}
.vegfbg.vegfbubbles{
	background: url('../../content/img/fast/vegf.png') no-repeat,
				url('../../content/img/fast/target-bg.jpg') no-repeat;
				
}
.vegfbg.receptbubbles,
.vegfbg.avastinbubbles{
	background: url('../../content/img/fast/nothing.jpg') no-repeat,
				url('../../content/img/fast/target-bg.jpg') no-repeat;
}
.receptbg.receptbubbles{
	background: url('../../content/img/fast/recept.png') no-repeat,
				url('../../content/img/fast/target-bg.jpg') no-repeat;				
}
.receptbg.vegfbubbles,
.receptbg.avastinbubbles{
	background: url('../../content/img/fast/nothing.jpg') no-repeat,
				url('../../content/img/fast/target-bg.jpg') no-repeat;
}
.hl-bubbles{
	z-index: -1;
	position: absolute;
	display:none;
}
.avastinbubble1.avastinbubbles{
	height: 220px;
	width: 220px;
	border-radius: 111px;
	top: 295px;
	left: 332px;
	background-position: -60px -78px, -223px -85px;
	display:block;
}
.avastinbubble1.normalbg{
	background-position: -223px -85px;
}
.avastinbubble2.avastinbubbles{
	height: 100px;
	width: 100px;
	border-radius: 51px;
	top: 222px;
	left: 267px;
	background-position: 5px -5px, -158px -12px;
	display:block;
}
.avastinbubble2.normalbg{
	background-position: -158px -12px;
}
.avastinbubble3.avastinbubbles{
	height: 120px;
	width: 120px;
	border-radius: 61px;
	top: 283px;
	left: 639px;
	background-position: -367px -66px, -530px -73px;
	display:block;
}
.avastinbubble3.normalbg{
	background-position: -530px -73px;
}
.vegfbubble1.vegfbubbles{
	height: 70px;
	width: 70px;
	border-radius: 36px;
	top: 337px;
	left: 142px;
	background-position: -2px -139px, -33px -127px;
	display:block;
}
.vegfbubble1.normalbg{
	background-position: -33px -127px;
}
.vegfbubble2.vegfbubbles{
	height: 50px;
	width: 50px;
	border-radius: 26px;
	top: 223px;
	left: 164px;
	background-position: -24px -25px, -55px -13px;
	display:block;
}
.vegfbubble2.normalbg{
	background-position: -55px -13px;
}
.vegfbubble3.vegfbubbles{
	height: 28px;
	width: 28px;
	border-radius: 15px;
	top: 205px;
	left: 286px;
	background-position: -146px -7px, -177px 5px;
	display:block;
}
.vegfbubble3.normalbg{
	background-position: -177px 5px;
}
.vegfbubble4.vegfbubbles{
	height: 30px;
	width: 30px;
	border-radius: 16px;
	top: 215px;
	left: 350px;
	background-position: -210px -17px, -241px -5px;
	display:block;
}
.vegfbubble4.normalbg{
	background-position: -241px -5px;
}
.vegfbubble5.vegfbubbles{
	height: 58px;
	width: 58px;
	border-radius: 29px;
	top: 263px;
	left: 340px;
	background-position: -200px -65px, -231px -53px;
	display:block;
}
.vegfbubble5.normalbg{
	background-position: -231px -53px;
}
.vegfbubble6.vegfbubbles{
	height: 58px;
	width: 58px;
	border-radius: 29px;
	top: 290px;
	left: 351px;
	background-position: -211px -92px, -242px -80px;
	display:block;
}
.vegfbubble6.normalbg{
	background-position: -242px -80px;
}
.vegfbubble7.vegfbubbles{
	height: 58px;
	width: 58px;
	border-radius: 29px;
	top: 216px;
	left: 420px;
	background-position: -280px -18px, -311px -6px;
	display:block;
}
.vegfbubble7.normalbg{
	background-position: -311px -6px;
}
.vegfbubble8.vegfbubbles{
	height: 58px;
	width: 58px;
	border-radius: 29px;
	top: 287px;
	left: 477px;
	background-position: -337px -89px, -368px -77px;
	display:block;
}
.vegfbubble8.normalbg{
	background-position: -368px -77px;
}
.vegfbubble9.vegfbubbles{
	height: 58px;
	width: 58px;
	border-radius: 29px;
	top: 236px;
	left: 501px;
	background-position: -361px -38px, -392px -26px;
	display:block;
}
.vegfbubble9.normalbg{
	background-position: -392px -26px;
}
.vegfbubble10.vegfbubbles{
	height: 30px;
	width: 30px;
	border-radius: 16px;
	top: 219px;
	left: 577px;
	background-position: -437px -21px, -468px -9px;
	display:block;
}
.vegfbubble10.normalbg{
	background-position: -468px -9px;
}
.vegfbubble11.vegfbubbles{
	height: 30px;
	width: 30px;
	border-radius: 16px;
	top: 255px;
	left: 665px;
	background-position: -525px -57px, -556px -45px;
	display:block;
}
.vegfbubble11.normalbg{
	background-position: -556px -45px;
}
.vegfbubble12.vegfbubbles{
	height: 40px;
	width: 40px;
	border-radius: 21px;
	top: 222px;
	left: 742px;
	background-position: -602px -24px, -633px -12px;
	display:block;
}
.vegfbubble12.normalbg{
	background-position: -633px -12px;
}
.vegfbubble13.vegfbubbles{
	height: 36px;
	width: 36px;
	border-radius: 19px;
	top: 273px;
	left: 744px;
	background-position: -604px -75px, -635px -63px;
	display:block;
}
.vegfbubble13.normalbg{
	background-position: -635px -63px;
}
.vegfbubble14.vegfbubbles{
	height: 74px;
	width: 74px;
	border-radius: 39px;
	top: 317px;
	left: 779px;
	background-position: -639px -119px, -670px -107px;
	display:block;
}
.vegfbubble14.normalbg{
	background-position: -670px -107px;
}
.vegfbubble15.vegfbubbles{
	height: 80px;
	width: 80px;
	border-radius: 41px;
	top: 483px;
	left: 814px;
	background-position: -674px -285px, -705px -273px;
	display:block;
}
.vegfbubble15.normalbg{
	background-position: -705px -273px;
}
.receptbubble1.receptbubbles{
	height: 150px;
	width: 150px;
	border-radius: 76px;
	top: 414px;
	left: 167px;
	background-position: 6px 0px, -58px -204px;
	display:block;
}
.receptbubble1.normalbg{
	background-position: -58px -204px;
}
.receptbubble2.receptbubbles{
	height: 70px;
	width: 70px;
	border-radius: 36px;
	top: 510px;
	left: 360px;
	background-position: -187px -96px, -251px -300px;
	display:block;
}
.receptbubble2.normalbg{
	background-position: -251px -300px;
}
.receptbubble3.receptbubbles{
	height: 34px;
	width: 34px;
	border-radius: 17px;
	top: 575px;
	left: 416px;
	background-position: -243px -161px, -307px -365px;
	display:block;
}
.receptbubble3.normalbg{
	background-position: -307px -365px;
}

.hideBubble{
	display:none;
}

.ug-slidetap ~ .ug-openreflist,
.ug-slidetap ~ .ug-openoverview,
.ug-slidetap ~ .ug-logobutton,
.ug-slidetap ~ .ug-xaxishand,
.ug-slidetap ~ .ug-jmdbbutton,
.ug-slidetap ~ .ug-sailbutton,
.ug-slidetap ~ .ug-ospfsswitch,
.ug-slidetap ~ .ug-continueavastin,
.ug-slidetap ~ .ug-centralbutton,
.ug-slidetap ~ .ug-prebutton,
.ug-slidetap ~ .ug-casebutton,
.ug-slidetap ~ .ug-addadversebox,
.ug-slidetap ~ .ug-firstzoombutton,
.ug-slidetap ~ .ug-simzoombutton{
	display:none;
}

.ug-penciltool ~ .ug-drawtoolbutton,
.ug-penciltool ~ .ug-opendrawtool{
	display:none;
}

.ug-openpdf ~ .ug-xaxishand,
.ug-openpdf ~ .ug-e45adeno,
.ug-openpdf ~ .ug-avastinnonsq,
.ug-openpdf ~ .ug-avastinadeno,
.ug-openpdf ~ .ug-jmdbnonsq,
.ug-openpdf ~ .ug-jmdbadeno,
.ug-openpdf ~ .ug-ospfsswitch,
.ug-openpdf ~ .ug-continueavastin,
.ug-openpdf ~ .ug-firsttablearea,
.ug-openpdf ~ .ug-simtablearea{
	display:none;
}

.ug-hypercontinue ~ .ug-percentagebar,
.ug-haemocontinue ~ .ug-percentagebar,
.ug-thrombcontinue ~ .ug-percentagebar,
.ug-proteincontinue ~ .ug-percentagebar{
	display:none;
}

.ug-gotodiseasecontrol ~ .ug-percentagebar{
	display:none;
}

.case-studies-popup .ug-reflistadd,
.case-studies-popup .ug-openpdf{
	display:none;
}

.ug-zoomoutimage ~ .ug-zoomimage,
.ug-firstzoomoutbutton ~ .ug-firstzoombutton,
.ug-simzoomoutbutton ~ .ug-simzoombutton{
	display:none;
}
