

.video-wrapper .video-controls {
  position: absolute;
  bottom: 9px;
  left: 9px;
  right: 10px;
  opacity: 0.85; 
  display: none;
  margin: 0; padding: 0;
  height: 33px;
  color: #fff; 
  border-top: 1px solid #404040;

  background: #242424;
  background: -moz-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(50%,#242424), color-stop(50%,#1f1f1f), color-stop(100%,#171717));
  background: -webkit-linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%);
  background: -o-linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%);
  background: -ms-linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%);
  background: linear-gradient(top, #242424 50%,#1f1f1f 50%,#171717 100%); 

  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.video-controls.show{
  display:block;
}

.video-wrapper .play-button { width: 5em; cursor: pointer !important; float:left; margin-left: -20px;}
.video-wrapper.video-paused .play-button div { width: 15px; height: 17px; background: url('../../content/img/video-js.png'); margin: 0.5em auto 0; }
.video-wrapper.video-playing .play-button div { width: 15px; height: 17px; background: url('../../content/img/video-js.png') -25px 0; margin: 0.5em auto 0; }

.video-wrapper div.progress-controller {
  position: absolute;
  left: 48px; right: 48px;
  height: 1.0em; width: auto;
  top: 7px;
  border-bottom: 1px solid #999;
  border-top: 1px solid #666;

  background: #999;
  background: -moz-linear-gradient(top, #666, #999);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#999));
  background: -webkit-linear-gradient(top, #666, #999);
  background: -o-linear-gradient(top, #999, #666);
  background: -ms-linear-gradient(top, #999, #666);
  background: linear-gradient(top, #999, #666);
}

.video-wrapper .progress-container {
  position: relative; cursor: pointer !important; overflow: hidden;
  padding: 0; margin: 0;
  height: 1.0em;
  -moz-border-radius: 0.6em; -webkit-border-radius: 0.6em; border-radius: 0.6em;

  background: #111;
  background: -moz-linear-gradient(top, #111, #262626);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#111), to(#262626));
  background: -webkit-linear-gradient(top, #111, #262626);
  background: -o-linear-gradient(top, #111, #262626);
  background: -ms-linear-gradient(top, #111, #262626);
  background: linear-gradient(top, #111, #262626);
  
}

.video-wrapper .progress-container .progress-bar{ /* Progress Bar */
  position: absolute; display: block; width: 0%; height: 1.0em; margin: 0; padding: 0;
  left: 0; top: 0;
  -moz-border-radius: 0.6em; -webkit-border-radius: 0.6em; border-radius: 0.6em;
}

.video-wrapper .progress-bar {
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #d6d6d6 50%, #fff 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%,#fff), color-stop(50%,#d6d6d6), color-stop(100%,#fff));
  background: -webkit-linear-gradient(top, #fff 0%,#d6d6d6 50%,#fff 100%);
  background: -o-linear-gradient(top, #fff 0%,#d6d6d6 50%,#fff 100%);
  background: -ms-linear-gradient(top, #fff 0%,#d6d6d6 50%,#fff 100%);
  background: linear-gradient(top, #fff 0%,#d6d6d6 50%,#fff 100%);

  background: #efefef;
  background: -moz-linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%,#efefef), color-stop(50%,#f5f5f5), color-stop(50%,#dbdbdb), color-stop(100%,#f1f1f1));
  background: -webkit-linear-gradient(top, #efefef 0%,#f5f5f5 50%,#dbdbdb 50%,#f1f1f1 100%);
  background: -o-linear-gradient(top, #efefef 0%,#f5f5f5 50%,#dbdbdb 50%,#f1f1f1 100%);
  background: -ms-linear-gradient(top, #efefef 0%,#f5f5f5 50%,#dbdbdb 50%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#f1f1f1',GradientType=0 );
  background: linear-gradient(top, #efefef 0%,#f5f5f5 50%,#dbdbdb 50%,#f1f1f1 100%);
}

.video-wrapper .fullscreen-button { width: 3.8em; cursor: pointer !important; float: right; margin-right: -10px;}
.video-wrapper .fullscreen-button div { width: 16px; height: 16px; background: url('../../content/img/video-js.png') -50px 0; margin: 0.5em auto 0; }

.video-wrapper.vjs-fullscreen .fullscreen-button div { background: url('../../content/img/video-js.png') -75px 0; }

.big-play-button {
  display: block;
  z-index: 2;
  position: absolute; top: 50%; left: 50%; width: 8.0em; height: 8.0em; margin: -43px 0 0 -43px; text-align: center; vertical-align: center; cursor: pointer !important;
  border: 0.3em solid #fff; opacity: 0.95;
  -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;

  background: #454545;
  background: -moz-linear-gradient(top, #454545 0%, #232323 50%, #161616 50%, #3f3f3f 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%,#454545), color-stop(50%,#232323), color-stop(50%,#161616), color-stop(100%,#3f3f3f));
  background: -webkit-linear-gradient(top, #454545 0%,#232323 50%,#161616 50%,#3f3f3f 100%);
  background: -o-linear-gradient(top, #454545 0%,#232323 50%,#161616 50%,#3f3f3f 100%);
  background: -ms-linear-gradient(top, #454545 0%,#232323 50%,#161616 50%,#3f3f3f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#3f3f3f',GradientType=0 );
  background: linear-gradient(top, #454545 0%,#232323 50%,#161616 50%,#3f3f3f 100%);

  -webkit-box-shadow: 4px 4px 8px #000; -moz-box-shadow: 4px 4px 8px #000; box-shadow: 4px 4px 8px #000;
}

.big-play-button span {
  position: absolute; top: 50%; left: 50%;
  display: block; width: 35px; height: 42px;
  margin: -20px 0 0 -15px; /* Using negative margin to center image. */
  background: url('../../content/img/video-js.png') -100px 0;
}

.big-play-button.hide{
  display:none;
}

.video-wrapper .video-timer {
  position: absolute;
  height: 1.0em;
  top: 0;
  font-size: 12px; line-height: 1.0em; font-weight: normal; font-family: Helvetica;
  margin-top:3px;
  color:black;
  z-index:1;
}

.video-wrapper .current-time { 
  left:0.4em;
}
.video-wrapper .total-time { 
  right:0.4em;
}