*{
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
}

a:focus, input:focus, button:focus{
	outline: 1px dotted rgba(0,0,0,0.5);
}

.content{
	display: none;
	font-family: 'Helvetica',Verdana,Sans-serif;
	position: relative;
	background: url('../_imgs/bg2.jpg') center repeat-y;
	box-sizing: border-box;
	width: 768px;
	min-height: 100%;
	margin: 0 auto;
	padding: 35px 52px; 
}

	.wNavTop-items{
		list-style: none;
		float: left;
	}
	
		.wNavTop-item{float: left;}
		
			.wNavTop-link{
				display: block;
				background-position: 0 0;
				background-repeat: no-repeat;
				width: 159px;
				height: 27px;
				margin-right: 4px;
			}
			
			.wNavTop-link.open{background-image: url('../_imgs/bt-abrir-apresentacao.jpg');}
			
			.wNavTop-link.new{background-image: url('../_imgs/nova-apresentacao.png');}
			
			.wNavTop-link.guide{
				background-image: url('../_imgs/bt-guia-personalizacao.jpg');
				width: 179px;
			}
			
.wSwipeselect{
	position: relative;
	width: 87px;
	height: 25px;
}

	.wSwipeSelect-input{
		opacity: 0;
		display: block;
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 1;
	}
	
	.wSwipeSelect-indicator{
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background: url('../_imgs/btn-off.png');
	}
	
	.wSwipeSelect-input:checked + .wSwipeSelect-indicator{
		background: url('../_imgs/btn-on.png');
	}
	
.wSliderMenu{
	display: table;
	width: 100%;
}

	.wSliderMenu-link{
		font-size: 12px;
		line-height: 16px;
		color: #6c6c6c;
		display: table;    
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		border-bottom: 2px solid #7d114d; 
		margin: 0 1px;
		background: #d7d7d7;
		position: relative;
		height: 59px;
		width: 92px;
		float: left;
	}
	
	.wSliderMenu-link.perjeta{
		border-color: #22a7a4;
	}
	
		.wSliderMenu-link-text{
			display: table-cell;
			vertical-align: middle;
			padding: 2px 5px;
		}
		
.wSliderMenuSelect{
	display: none;
	padding: 26px 0;
}

	.wSliderMenuSelect-img{
		display: block;
		height: 183px;
		margin: 0 auto;
	}
	
.wSelectSliders{
	margin-top: 30px;
	display: none;
}
	
	.wSelectSliders-titulo{
		display: block;
		margin-bottom: 20px;
	}
	
	.wSelectSliders-sliders{
		position: relative;
		padding-left: 145px;  
	}
	
		.wSelectSliders-slider-img{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 115px;
		}
		
		.wSelectSliders-showhidden{
			display: block;
			margin-bottom: 15px;
		}
		
			.wSelectSliders-showhidden-img{
				display: block;		
			}
			
		.wSelectSliders-slide{
			display: block;
			float: left;
			margin: 0 15px 9px 0;
		}
		
			.wSelectSliders-slide-link-con, .wOrderSliders-group .wSelectSliders-slide{
				position: relative;
				background: url('../_imgs/box-sombra.png');
				background-size: 100% 100%;
				padding-bottom: 13px;
			}
		
				.wSelectSliders-slide-link{
					display: block;
					border-width: 2px;
					border-style: solid;
					border-color: #EBEBEE;
					width: 117px;
					margin: 0 auto;
				}

				.wSelectSliders-slide-link-con.active .wSelectSliders-slide-link{border-color: #C34574;}
				.wSelectSliders-slide-link-con.active .wSelectSliders-slide-link.perjeta{border-color: #22a7a4;}

					.wSelectSliders-slide-img{
						display: block;
						width: 100%;
						-webkit-user-select: none !important;
						-webkit-touch-callout: none !important;
					}
					
				.wSelectSliders-slide-zoom{
					position: absolute;
					display: block;
					background: url('../_imgs/bt-zoom.png') center no-repeat;
					background-size: 100%; 100%;
					width: 24px; height: 24px;
					top: 0; right: 0;
				}
				
				.wSelectSliders-slide.delete .wSelectSliders-slide-zoom{display: none;}
				
				.wSelectSliders-slide-delete{
					position: absolute;
					display: none;
					background: url('../_imgs/bt-remove.png') center no-repeat;
					background-size: 100%; 100%;
					width: 26px; height: 25px;
					top: -10px; left: -10px;
					z-index: 100;
				}
				
				.wSelectSliders-slide.delete .wSelectSliders-slide-delete{display: block;}
				
				.wSelectSliders-slide.delete .wSelectSliders-slide-link-con{
					-webkit-animation-name: spaceboots;
					-webkit-animation-duration: 0.8s;
					-webkit-transform-origin:50% 50%;
					-webkit-animation-iteration-count: infinite;
					-webkit-animation-timing-function: linear;
				}
				
				.wSelectSliders-slide.moving .wSelectSliders-slide-link-con{
					opacity: 0.5;
				}
					
			.wSelectSliders-slide-name{
				display: block;
				font-size: 12px;
				line-height: 16px;
				color: #555555;
				text-overflow: ellipsis;
				text-transform: uppercase;
				text-align: center;
				white-space: nowrap;
				overflow: hidden;
				width: 121px;
			}

.wDialog{
	display: none;
	position: fixed;
	width: 100%; height: 100%;
	z-index: 1;
}

	.wDialog-con{
		display: none;
		position: absolute;
		margin: auto;
		top: 0; right: 0; bottom: 0; left: 0;
	}
	
		.wDialog-close-btn{
			position: absolute;
			background-image: url('../_imgs/bt-fechar.png');
			width:38px; height:38px;
			top: 11px;
			right: 12px;
		}
		
.wDialog-zoom-con .wDialog-zoom{
	display: block;
}
	
	.wDialog-zoom{
		background: url('../_imgs/box.png') no-repeat scroll 0 0;
		width: 474px;
		height: 379px;
	
		z-index: 2000;
}
	
		.wDialog-zoom-img{
			display: block;
			margin: 11px auto;
			height: 338px;
		}
		
.wDialog-alert-save-con .wDialog-alert-save{
	display: block;
}

	 .wDialog-alert-save{
		 width: 416px; height: 215px;
		 background: url('../_imgs/box-salvar.png') center no-repeat;
	 }
	 
	 	.wDialog-alert-name{
			font-family: 'Helvetica',Verdana,Sans-serif;
			font-size: 12px;
			position: absolute;
			border: none;
			border-radius: 13px;
			background: transparent;
			height: 21px; width: 241px;
			top: 55px; 
			right: 35px;
			padding: 2px 5px;
		}
		
		.wDialog-alert-save .wDialog-alert-btn{
			position: absolute;
			top: 117px;
		}
		
		.wDialog-alert-save .wDialog-alert-btn.cancel{left: 35px;}
		.wDialog-alert-save .wDialog-alert-btn.ok{right: 38px;}
		
		.wDialog-alert-btn{
			display: block;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: transparent;
			border: none;
			width: 162px; height: 56px;
		}
		
		.wDialog-alert-btn.cancel{background-image: url('../_imgs/botao-cancelar.png')}
		.wDialog-alert-btn.ok{background-image: url('../_imgs/botao-ok.png')}
		.wDialog-alert-btn.replace{background-image: url('../_imgs/botao-substituir.png')}
		.wDialog-alert-btn.save{background-image: url('../_imgs/botao-salvar-nova-ativo.png')}
		.wDialog-alert-btn.exit{background-image: url('../_imgs/botao-sair.png')}
		
.wDialog-alert-update-con .wDialog-alert-update{
	display: block;
}

	.wDialog-alert-update{
		width: 435px; height: 214px;
		background: url('../_imgs/box-substituir.png') center no-repeat;
	}
	 
	.wDialog-alert-update .wDialog-alert-btn{
	 	position: absolute;
		top: 113px;
	}
	 
	.wDialog-alert-update .wDialog-alert-btn.replace{left: 40px;}
	.wDialog-alert-update .wDialog-alert-btn.save{right: 40px;}

.wDialog-alert-exit-con .wDialog-alert-exit{
	display: block;
}

	.wDialog-alert-exit{
		width: 424px; height: 209px;
		background: url('../_imgs/box_temcerteza.png') center no-repeat;
	}
	 
	.wDialog-alert-exit .wDialog-alert-btn{
	 	position: absolute;
		
	 	top: 114px;
	}
	 
	.wDialog-alert-exit .wDialog-alert-btn.cancel{left: 40px;}
	.wDialog-alert-exit .wDialog-alert-btn.exit{right: 40px;}

/**/
.wOrderSliders-separator{
	display: block; 
    background-color: #C34574;
    opacity: 0.5;
	visibility: hidden;
}

.wOrderSliders-separator.ver{
	float: left;
	height: 90px;
    width: 5px;
	margin: 2px 5px;
}

.wOrderSliders-separator.hor{
	height: 5px;
	width: 117px;
	margin: 5px 2px;
}

.wOrderSliders-separator.active{
	visibility: visible;
}
		
.wOrderSliders-group{
	/* background: rgba(0,0,0,0.5); */
	float: left;
}

	.wOrderSliders-group .wSelectSliders-slide{
		float: none;
		margin: 0;
		background: url('../_imgs/box-sombra.png');
		background-size: 100% 100%;
	}

	.wOrderSliders-group .wSelectSliders-slide-link-con{
		background: none;
		padding: 0;
	}

/**/
.wList{
	font-size: 20px;
	font-weight: bold;
	color: #6C6D70;
	background: url('../_imgs/box-cinza.png');
	width: 621px; height: 556px;
	box-sizing: border-box;
	padding: 13px 0;
}

	.wList-scroll{
		height: 100%;
	}
	
	.wList-scroll .mCSB_inside > .mCSB_container{
		margin-right: 0;
	}

	.wList-none{
		display: none;
		margin: 7px 13px 0;
	}
	
	.wList-items{
		list-style: none;
		padding: 0 13px;
	}
	
		.wList-item{
			background: #fff url('../_imgs/box-itens-ico.jpg') 22px center no-repeat;
			border: 2px solid #d8d9db;
			border-radius: 2px;
			height: 65px;
			margin-bottom: 10px;
		}
		
			.wList-link{
				display: block;
				color: inherit;
				text-decoration: none;
				line-height: 65px;
				padding: 0 0px 0 50px;
				height: 100%;
			}
			
				.wList-item-name{
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					float: left;
					width: 236px;
				}
				
				.wList-item-date{
					float: right;
					font-weight: normal;
					position: relative;
					overflow: hidden;
					padding-right: 0;
					-webkit-transition: padding-right 0.25s;
				}
				
				.wList-item-delete-btn{
					position: absolute;
					width: 113px;
					height: 37px;
					background: url('../_imgs/bt-apagar.png') center no-repeat;
					margin: auto;
					top: 0; right: -123px; bottom: 0;
					-webkit-transition: right 0.25s;
				}
				
				.wList-item.show-delete .wList-item-date{
					padding-right: 123px;
				}
				
					.wList-item.show-delete .wList-item-date .wList-item-delete-btn{right: 0;}
				
/**/
.button{
	display: block;
	background-position: center;
	background-repeat: no-repeat;
}

.button-1{
	background-image: url('../_imgs/concluido.png');
	width: 45px; height: 44px;
}

.button-2, .button-3, .button-4{width: 59px; height: 58px;}

.button-2{background-image: url('../_imgs/salvar.png');}
.button-3{background-image: url('../_imgs/voltar.png');}
.button-4{background-image: url('../_imgs/btn-editar.png');}
.button-5{
	background-image: url('../_imgs/bt-sair.png');
	width: 47px; height: 45px;
}
			
/**/
.index-carousel-con{
	display: none;
	padding: 26px 0 26px 230px;
}

	.index-carousel{		
		width: 204px;
		height: 153px;
		position: relative;	
		-webkit-transform-style: preserve-3d;		
		-webkit-perspective: 700px;
	}
	
		
		.index-carousel .slide, .index-carousel-slide-img{
			width: 204px;
			height: 153px;
		}
			
.index-topbar{
	margin: 24px 0 15px 0;
}

	.index-titulo{
		float: left;
	}
	
	.index-topbar .wSwipeselect{
		float: right;
		top: -5px;
		margin-bottom: -5px;
	}
	
.index .button-1{
	float: right;
	margin-top: 16px;
}

/**/
.ordenar-topbar{
	margin-left: -53px;
}

	.ordenar-titulo{
		display: inline-block;
		vertical-align: bottom;
	}
	
	.ordenar-topbar-nombre{
		position: relative;
		display: inline-block;
		vertical-align: bottom;
		font-size: 15px;
		font-weight: bold;
		color: #6C6D70;
		line-height: 17px;
		background: url('../_imgs/icone-envelope.png') left center no-repeat;
		text-overflow: ellipsis; 
		overflow: hidden;
		white-space: nowrap;
		padding-left: 16px;
		height: 17px;
		width: 136px;
		top: 5px;
	}

.ordenar-sliders-none{
	display: none;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #6C6D70;
	margin-top: 31px;
	margin-bottom: 30px;
}

.ordenar-sliders-none, .ordenar-mensaje{
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	color: #6C6D70;
	margin: 18px 42px 0px;
}

.ordenar.empty .ordenar-sliders-none{display: block;}
.ordenar.empty .ordenar-mensaje{display: none;}

.ordenar-sliders{
	display: block;
	padding-top: 31px;
}

	.ordenar-sliders div:nth-child(8n+1){
		clear: both;
	}

.ordenar.empty .ordenar-sliders{display: none;}

.ordenar-slides-footer-nav{
	list-style: none;
	float: right;
}

	.ordenar-slides-footer-nav-item{
		display: none;
		float: left;
		margin-left: 15px;
	}
	
	.ordenar .ordenar-slides-footer-nav-item.save{display: block;}
	.ordenar .ordenar-slides-footer-nav-item.return{display: block;}
	
	.ordenar.empty .ordenar-slides-footer-nav-item.save{display: none;}
	.ordenar.empty .ordenar-slides-footer-nav-item.return{display: none;}
	.ordenar.empty .ordenar-slides-footer-nav-item.empty-edit{display: block;}

	.ordenar.edit .ordenar-slides-footer-nav-item.save{display: none;}
	.ordenar.edit .ordenar-slides-footer-nav-item.return{display: none;}
	.ordenar.edit .ordenar-slides-footer-nav-item.edit-save{display: block;}
	.ordenar.edit .ordenar-slides-footer-nav-item.edit-return{display: block;}
	.ordenar.edit .ordenar-slides-footer-nav-item.edit-edit{display: block;}
	
.ordenar-slides-footer{
	display: block;
	margin: 0 auto 10px;
	clear: both;
}
	
.ordenar-slides-footer-note{
	float: right;
	margin-bottom: 30px;
}

/**/
.abrir-titulo{
	display: block;
	margin: 42px 0 20px;
}

.abrir .button-5{
	float: right;
	position: relative;
	top: -9px;
}

/**/
.guide{padding: 0;}

	.guide-manual{display: block;}
	
	
	.guide-return{
		display: block;
		position: absolute;
		background: url('../_imgs/fechar-guia.png');
		width: 55px; height: 33px;
		top: 19px; right: 0;
	}
	
	.guide-pdf{
		display: block;
		position: absolute;
		background: url('../_imgs/bt-passo-a-passo.jpg');
		width: 185px; height: 32px;
		bottom: 26px; right: 0;
	}

/**/		
.clear-both{clear: both;}
.display-block{display: block;}
.display-none{display: none;}
.visibility-hidden{visibility: hidden;}

/**/
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.border-important{
	visibility: visible !important;
	border: 1px solid #000 !important;
}