.slide-popup {
  background-color:#fff;
  position:absolute;
  top:50px;
  opacity:0;
  -webkit-transition:opacity 1s;
}

.slide-popup.displaying {
  opacity:1;
}
.slide-popup.displaying {
  margin:0;
  overflow:hidden;
}

#discPopup.slide-popup{
	background-color: rgba(0, 0, 0, 0.5);
  top:0;
  z-index:4;
}
#discPopup .slide{
  height:702px;
}

#transPopup.slide-popup{
  background-color: rgba(0, 0, 0, 0);
  top:65px;
  z-index:3;
}

#transPopupInner.slide-popup{
  background-color: rgba(0, 0, 0, 0.1);
  top:0;
  z-index:3;
}

#servicePopup.slide-popup{
  -webkit-transition:opacity 0s;
  background-color: rgba(0, 0, 0, 0);
  top:110px;
  z-index:3;
}

#shoppingPopup.slide-popup{
  -webkit-transition:opacity 0s;
  background-color: rgba(0, 0, 0, 0);
  top:110px;
  z-index:3;
}

#servicePopup .slide,
#shoppingPopup .slide{
  height: 646px;
  margin-top:0px;
}

#patientPopup.slide-popup{
  -webkit-transition:opacity 0s;
  background-color: rgba(0, 0, 0, 0);
  top:65px;
  z-index:2;
}

#patientPopup .slide{
  height: 702px;
  margin-top:0px;
}

#ppHomeBtn{
  height: 59px;
  width: 120px;
  position: absolute;
  left: 4px;
  top: 184px;
  z-index: 2;
  visibility: hidden;
}


#caseStudiesPopup.slide-popup{
	background-color: rgba(0, 0, 0, 0.5);
	top:0;
	z-index:3;
}
#caseStudiesPopup .popup-content{
	position: relative;
	width: 940px;
	height: 600px;
	-webkit-border-radius: 12px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(50%,#ffffff), color-stop(100%,#ededed));
	padding: 40px;
	-webkit-box-sizing: border-box;
	margin: 25px auto;
}
#caseStudiesPopupCloseButton{
	background: url('../../content/img/caseStudies/popup_close_button.png') no-repeat;
	height: 44px;
	width: 44px;
	position: absolute;
	right: 61px;
	bottom: 94px;
	z-index: 2;
	visibility: hidden;
}