body, #presentation, #slideshows {
  font-family:helvetica;
  overflow:hidden;
}
.collection, .slideshow, .inline-slideshow {
  /* display:none; */
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  overflow:hidden;
  -webkit-transition:0.6s;
}
.collection .slideshow {
  display:block;
  -webkit-box-flex:0;
  width:1024px !important;
}
.slideWrap {
  height: 768px;
  width: 1024px;
}
.slideWrap .slide {
  display:none;
}
.slideWrap .slide.active {
  display:block;
}
.slide {
  /*-webkit-box-flex:0;*/
  width:1024px;
  height:768px;
  -webkit-transform:translate3d(0,0,0);
  float:left;
}
#mainmenu {
  position:absolute;
  top:0;
  left:0;
  height:40px;
  width:1024px;
  z-index:1;
}
#mainfooter {
  position:absolute;
  bottom:0;
  left:0;
  width:1024px;
  z-index:1;
}
@media only screen and (orientation:portrait){
   /* portrait styles here */
   .collection .slideshow {
     width:768px !important;
   }
   .slideWrap {
     height: 1024px;
     width: 768px;
   }
  .slide {
    width:768px;
    height:1024px;
  }
  #mainmenu, #mainfooter {
    width:768px;
  }
}
#debug {
  background-color: #3EB6DC;
  display:none;
  width: 60%;
  height: 60px;
  position: absolute;
  top: 40px;
/*  padding: 2%;*/
  left: 8%;
  border-radius: 0 0 14px 14px;
  border: 1px solid #eee;
}
#debug.showing {
  display:block;
  z-index:999;
}
#debug header {
  background: #27343A;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#27343A), color-stop(100%,#1E292E));
  background: -webkit-linear-gradient(top, #27343A 0%,#1E292E 100%);
  -webkit-box-shadow: inset 0px 17px 0px 0px rgba(255, 255, 255, .05), 0px 1px 1px 0px rgba(0, 0, 0, .6);
  color: #fff;
  font-size: 0.9em;
/*  margin-bottom:25px;*/
  padding: 10px 20px;
}
.state-bar {
  background-color: #555;
  color:#fff;
  font-size: 0.8em;
  word-spacing: 3px;
  margin-bottom:25px;
  padding: 5px 20px;
}
.state-bar span {
  margin-right: 10px;
}
.d-col {
  background-color: #fff;
  float:left;
  margin-left:2%;
  padding: 1%;
  width:45%;
}
.d-col.last {
  margin-left:20px;
}
