
.container {
	overflow: hidden;
}
.debugdiv {
	position: absolute;
	z-index: 2000;
	right: 20px;
	top: 20px;
	height:  100px;
	width: 300px;
	background-color: whitesmoke;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-style: dashed;
	border-color: #ff220e;
	overflow: auto;
	padding: 5px 5px 5px 5px;
	display: none;
}
.agendatitle {
	padding-top: 10px;
	margin-bottom: 22px;
	background-color: transparent;
	text-align: left;
	font: 28px/120% helvetica;
	padding-right: 50px;
}
.agendascroller {
    position:absolute;
	height:100%;
	padding:0;
	top: 0px;
	left:  0px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-transition: all 1s ease-out;
/*	overflow: hidden;*/
}
.slidethumbs {
	width: 1024px;
	min-height: 7180px;
    -webkit-transform: translate3d(0,0,0);
	margin-top: 100px;/*20px*/
	-webkit-transition: all 1s ease-out;
}
.slideitem {
	height: 115px;
	width: 175px;
	z-index:-1;
	left:  -100px;
	
   }
  
.sorted ul {
	position: relative;
	width: 258px;
	list-style: none;
	float: left;
	margin-left: -34px;
	margin-right: 32px;
}
.sorted li{
	margin: 10px;
	margin-left: 72px;
}
.buttons ul {
	position:absolute;
	top:  150px;
	left: 320px;
	overflow: hidden;
}
.buttons.pageone ul {
	position:absolute;
	top:  180px;
	left: 368px;
}

.agenda1 li.react {
	background-color: #767579;	
	
}
.agenda1 li {
	-webkit-box-sizing:border-box;
	height: 56px;
	width:  280px;

    font-family: helvetica;
    font-size: 22px;
    font-weight: normal;
    color: white;
	-webkit-border-radius: 6px;
	radius: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	background-image: -webkit-gradient(
		linear,
			left bottom,
			left top,
			color-stop(0.31, rgb(17,163,220)),
				color-stop(0.78, rgb(65,204,255)),
				color-stop(0.92, rgb(17,163,220))
			);
	text-align: Left;
	-webkit-user-select: none;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}

.chapters ul {
	position:absolute;
	top: 70px;
	left: 380px;
	-webkit-user-select: none;
}

.chaptertitle {
	-webkit-box-sizing:border-box;
	height: 43px;
    padding: 14px 18px 20px 18px;
    font-family: helvetica;
    font-size: 15px;
    font-weight: bold;
    -webkit-border-radius: 6px;
    color: white;
	margin-left: 5px;
	margin-bottom: 15px;
	overflow: hidden;
	display: block;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.31, rgb(17,163,220)),
		color-stop(0.78, rgb(65,204,255)),
		color-stop(0.92, rgb(17,163,220))
	);
	/*-webkit-transition: all 1s ease-out;*/
	text-align: center;
}
.chapters li.react {
	background-color: #767579;
}
.unsorted li {
	-webkit-box-sizing:border-box;
	height: 56px;
    padding: 20px 11px 0px 50px;
    color: white;
	margin-bottom: 15px;
	overflow: hidden;
	display: block;
	background: url(../../content/img/agenda/checkbox_placebo.png) no-repeat 11px 13px, -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.31, rgb(17,163,220)),
		color-stop(0.78, rgb(65,204,255)),
		color-stop(0.92, rgb(17,163,220))
	);
	text-align: left;
	-webkit-border-radius: 6px;
	font: bold 15px helvetica;
}
.unsorted .active {
	background: url(../../content/img/agenda/check-mark_blue.png) no-repeat 0px 0px, -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.31, rgb(17,163,220)),
		color-stop(0.78, rgb(65,204,255)),
		color-stop(0.92, rgb(17,163,220))
	);

}
.chapters .active{
	background: url(../../content/img/agenda/checkbox_blue.png) no-repeat 11px 13px, -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.31, rgb(17,163,220)),
			color-stop(0.78, rgb(65,204,255)),
			color-stop(0.92, rgb(17,163,220))	);}


.menuholder li:nth-child(1) {
	margin-left:  0px;
	margin-right: 580px;
}
li.buttonselected {
	color: #5B7F8D;
	background:-webkit-gradient(linear,left bottom,left top,color-stop(0.2, #fbf9f9),color-stop(1.0, #b3b3b3));}
.disabled {
	opacity:  0.7;
}
.savewindow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1200;
    display: none;
	background-image: url(../../content/img/app/popupWindow/popup-bg.png);
  	font-family: "FrutigerLTStd77BlackCondensed", sans-serif;
}
.errorwindow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1200;
    display: none;
	background-image: url(../../content/img/app/popupWindow/popup-bg.png);
  	font-family: "FrutigerLTStd77BlackCondensed", sans-serif;
}

#dialog h1 {
	margin-left: 0px;
	margin-top:-20px;
}

#dialog h2 {
	margin-left: 43px;/**/
	margin-top: 30px;
	margin-bottom:-10px;
	text-align: left;
	color: white;
	font: medium sans-serif;
}

#start_index input,
#builder input {
margin-top: 15px;
	width: 400px;
	height:  40px;
	border: 1px solid #ad9cc1;
/*	border-top-right-radius: 19px;
	border-bottom-left-radius: 19px;*/
	background-color: white;
	color: #55b3df;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

.dialog {
	width: 490px;
	height:  230px;
	border: 1px solid #ad9cc1;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	top: 170px;
	left: 250px;
	background-color: #55b3df;
/*	color: inherit;*/
	-webkit-box-shadow: 0 6px 6px rgba(0,0,0, 0.4);
	text-align: center;
	padding-top: 50px;
}


.errorwindow .dialog {
	width: 500px;
	height:  200px;
	border: 1px solid #ad9cc1;
	/*border-top-right-radius: 19px;
	border-bottom-left-radius: 19px;*/
	overflow: auto;
	position: absolute;
	top: 200px;
	left: 250px;
	background-color: white;
	color: white;
	-webkit-box-shadow: 0 6px 6px rgba(0,0,0, 0.4);
	text-align: center;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.31, rgb(17,163,220)), color-stop(0.78, rgb(65,204,255)), color-stop(0.92, rgb(17,163,220)));
	top: 1px;
	margin-top: 200px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	padding-top:0;
}

#errordialog h1 {
	color: white;
	margin-left: 10px;
}

.button {
	height: 43px;
    margin-left: 65px;
    font-family: "FrutigerLTStd77BlackCondensed", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: white;
	overflow: hidden;
	float: left;
	display: block;
}

h1#savetitle {
	margin-left:90px;
}

.save {
	margin-top: 40px;
	width: 90px;
	margin-left: 11px;
	margin-bottom: 50px;
	-webkit-border-radius: 6px;
	font-size: large;
	text-transform: uppercase;
	-moz-box-shadow: 0 0 6px rgba(7, 6, 6, 0.47);
	-webkit-box-shadow: 0 0 6px rgba(7, 6, 6, 0.47);
	box-shadow: 0 0 6px rgba(7, 6, 6, 0.47);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.31, rgb(17,163,220)), color-stop(0.78, rgb(65,204,255)), color-stop(0.92, rgb(17,163,220)));
	top: 1px;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}

.cancel {
	margin-top: 40px;
	width: 90px;
	margin-left: 253px;
	-webkit-border-radius: 6px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.31, rgb(17,163,220)),
		color-stop(0.78, rgb(65,204,255)),
		color-stop(0.92, rgb(17,163,220))
	);
	text-transform: uppercase;
	font-size: large;
	-moz-box-shadow: 0 0 6px rgba(7, 6, 6, 0.47);
	-webkit-box-shadow: 0 0 6px rgba(7, 6, 6, 0.47);
	box-shadow: 0 0 6px rgba(7, 6, 6, 0.47);
	text-align: center;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}

#showplaylist #dialog{
	height:127px;
	padding-top:25px;
	padding-bottom:10px;
}

#showplaylist #dialog h1{
	margin:0;
	text-align:center;
}

#showplaylist .save{

}

#showplaylist .cancel{
	
}

.show {
	display: block;
}
.hide {
	display: none;
}
#myList {
	position:absolute;
	height: 550px;
	left: 360px;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: all 3s ease-out;

}

#list_wrapper {
	position:absolute;
	height: 500px;
	left: 1px;
	top: 170px;
	width: 100%;
	overflow: hidden;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: all 3s ease-out;
}
#arrrowUp {
	position:absolute;
	height: 40px;
	left: 690px;
	width: 50px;
	top: 250px;
	background: url(img/agenda/arrows/up.png) no-repeat fixed;

}
#arrowDown {
	position:absolute;
	height: 40px;
	left: 690px;
	width: 50px;
	top: 500px;	
	background: url(img/agenda/arrows/down.png) no-repeat;
}
.listmenu {
	position: absolute;
	top: -50px;
	left: 110px;
	z-index: 999;
	width: 100%;
	background-color: white;
}
.listmenu li {
	float:left;
	padding: 17px 25px;
}
.listmenu .buttonselected {
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0.2, #FBF9F9),color-stop(1.0, #B3B3B3));
}