<article id="builder" class="slide bgbody" data-ag-name="">
<div class="agendatitle" id="agendatitle">
   <h1>Build New Presentation</h1>
</div>
 <div id="container" class="container">
  <div class="agendascroller" id="scroller">
    <div id="slidethumbs1" class="slidethumbs"></div>
    <div id="chapters" class="chapters unsorted"></div>
   </div>   
  </div>  
   <div id="savewindow" class="savewindow">
       <div id="dialog" class="dialog">
          <h1>Name:</h1><input type="text" value="" id="title" name="title" maxlength="35"/>
          <div id="link" class="link"></div>
          <div id="saveallbutton" class="button save">Save</div>
          <div id="cancelsave" class="button cancel">Cancel</div>
       </div>
    </div>

<div id="errorwindow" class="errorwindow">
   <div id="errordialog" class="dialog">
   </div>
</div>
</article>