<article id="showplaylist" class="slide bgbody" data-ag-name="Show custom presentation list">
 <div id="container" class="container">
 <div class="agendatitle" id="">
     <h1 class="agendatitleH1">My Presentations</h1>
  </div>
   <div class="agendascroller" id="scroller">
  <div id="slidethumbs1" class="slidethumbs">
  </div>
   <div id="list_wrapper" class="list_wrapper">
   
      	      <ul id="list" class="agenda1">
         	  </ul>
        
    </div>
    <div id="arrrowUp" class="arrrowUp"></div>
    <div id="arrowDown" class="arrowDown"></div>
   </div>
    <div id="savewindow" class="savewindow">
   <div id="dialog" class="dialog">
      <h1 id="savetitle"></h1>
      <div id="saveallbutton" class="button save">Save</div>
      <div id="cancelsave" class="button cancel">Cancel</div>
   </div>
</div> 
<div id="errorwindow" class="errorwindow">
   <div id="errordialog" class="dialog">
   </div>
</div>
   </div>
</article>