<article id="start_index" class="slide bgbody" data-ag-name="Start slide">
    <div id="buttons" class="buttons pageone">
    <ul id="agenda1" class="agenda1">
    	<li id="play">Play full presentation</li>
    	<li id="showplaylist">My presentations</li>
    	<li id="buildnew">Build presentation</li>
    </ul>
   </div>
</article>